@charset "UTF-8";
@use "sass:math";
@use '../configurations/mixins' as mixin;
@use '../configurations/bem' as bem;
@use '../configurations/config' as config;
@use '../configurations/variables' as var;
@use '../configurations/functions' as func;
@use '../configurations/colors/colors' as colors;
@use '../configurations/colors/colors-functions' as colorFunc;
@use '../vendor/grid/breakpoints' as breakpoint;
@use '../vendor/grid/grid' as grid;
@use '../vendor/baseline/plumber' as plumber;

@mixin indent($text-indent: var.$indent) {

}

@include bem.b(article) {
	@include bem.e(meta) {
		margin: func.rhythm(4) 0 func.rhythm(4.5);
	}

	@include bem.e(content) {
		> div:not(.wp-block-iis-grid):not(.wp-block-iis-hero),
		> figure {
			margin-bottom: func.rhythm(3);
		}

		> figure:not(.wp-block-iis-hero) img {
			border-radius: var.$border-radius;
		}

		@include bem.m(full-width) {
			.wp-block-iis-info {
				position: relative;
				z-index: func.z_index(middleground);
			}
		}
	}

	@include breakpoint.bp-up(lg) {
		@include bem.m(indent-basic) {
			> h1,
			> p {
				margin-left: func.rhythm(3);
			}
		}

		@include bem.e(content) {
			> p:not(.preamble),
			> h2,
			> h3,
			> h4,
			> h5,
			> h6,
			> ul,
			> ol,
			> div:not(.wp-block-iis-info):not(.wp-block-image):not(.wp-block-iis-hero):not(.wp-block-iis-grid):not([class*='accordion']),
			> .wp-block-iis-card,
			> .wp-block-image > figure,
			> figure,
			> blockquote {
				&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide):not(.wp-block-iis-hero)  {
					max-width: calc(#{func.to_rem(612px)} + #{(var.$indent * 2)});
					margin-right: math.div(var.$grid-gutter-width, 2);
					margin-left: var.$indent * 2;
				}
			}

			> [class*='meta'] {
				margin-left: var.$indent;
			}

			> p.preamble {
				max-width: func.to_rem(612px);
				margin-left: var.$indent;
			}

			> [class*='accordion'] {
				@include breakpoint.bp-up(lg) {
					max-width: none;
					margin-left: 0;
				}
			}

			@include bem.m(full-width) {
				> p:not(.preamble),
				> h2,
				> h3,
				> h4,
				> h5,
				> h6,
				> ul,
				> ol,
				> div:not(.wp-block-iis-info):not(.wp-block-image):not(.wp-block-iis-hero):not(.wp-block-iis-grid):not([class*='accordion']),
				> .wp-block-iis-card,
				> figure,
				> blockquote {
					&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide):not(.wp-block-iis-hero)  {
						max-width: 46.364%;
					}
				}

				.wp-block-iis-info {
					max-width: calc(46.364% + #{(var.$indent * 2)});
					margin-left: var.$indent;
				}
			}
		}

		@include bem.e(indent) {
			$grid-indent: 5.6703%;
			$grid-margin-right: 20.335%;

			> p:not(.preamble),
			> h2,
			> h3,
			> h4,
			> h5,
			> h6,
			> ul,
			> ol,
			> div:not(.wp-block-iis-info):not(.wp-block-image):not(.wp-block-iis-hero):not(.wp-block-iis-grid):not([class*='accordion']),
			> .wp-block-iis-card,
			> figure,
			> blockquote {
				&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide):not(.wp-block-iis-hero) {
					margin-right: $grid-margin-right;
					margin-left: $grid-indent * 2;
				}
			}

			> .wp-block-iis-info {
				margin-right: $grid-margin-right;
				margin-left: $grid-indent;
			}

			> [class*='meta'] {
				margin-left: $grid-indent;
			}

			> p.preamble {
				margin-right: $grid-margin-right;
				margin-left: $grid-indent;
			}
		}

		@include bem.m(no-title) {
			@include bem.e(content) {
				margin-left: 0;
			}
		}
	}

	@include mixin.molecule(card) {
		margin-bottom: func.rhythm(4);
	}
}
