$indent: 3.78825%;

@mixin indent($text-indent: $indent) {

}

@include b(article) {
	@include e(meta) {
		margin: rhythm(4) 0 rhythm(4.5);
	}

	@include e(content) {
		> div:not(.wp-block-iis-grid),
		> figure {
			margin-bottom: rhythm(3);
		}

		> figure img {
			border-radius: $border-radius;
		}
	}

	@include bp-up(md) {
		@include m(indent-basic) {
			> h1,
			> p {
				margin-left: rhythm(3);
			}
		}

		@include e(content) {
			> p:not(.preamble),
			> h2,
			> h3,
			> h4,
			> h5,
			> h6,
			> ul,
			> ol,
			> div:not(.wp-block-iis-info):not(.wp-block-image):not(.wp-block-iis-hero):not(.wp-block-iis-grid),
			> .wp-block-image > figure,
			> figure,
			> blockquote {
				&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide) {
					max-width: calc(#{rem(612px)} + #{($indent * 2)});
					margin-right: $grid-gutter-width / 2;
					margin-left: $indent * 2;
				}
			}

			> p.preamble {
				max-width: rem(612px);
				margin-left: $indent;
			}

			@include m(full-width) {
				> p:not(.preamble),
				> h2,
				> h3,
				> h4,
				> h5,
				> h6,
				> ul,
				> ol,
				> div:not(.wp-block-iis-info):not(.wp-block-image):not(.wp-block-iis-hero):not(.wp-block-iis-grid),
				> figure,
				> blockquote {
					&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide) {
						max-width: 46.364%;
					}
				}

				> .wp-block-iis-info {
					max-width: calc(46.364% + #{($indent * 2)});
					margin-left: $indent;
				}
			}
		}

		@include m(no-title) {
			@include e(content) {
				margin-left: 0;
			}
		}
	}

	@include molecule(card) {
		margin-bottom: rhythm(4);
	}
}
