@charset "UTF-8";
@use '../configurations/mixins' as mixin;
@use '../configurations/bem' as bem;
@use '../configurations/config' as config;
@use '../configurations/variables' as var;
@use '../configurations/functions' as func;
@use '../configurations/colors/colors' as colors;
@use '../configurations/colors/colors-functions' as colorFunc;
@use '../vendor/grid/breakpoints' as breakpoint;
@use '../vendor/grid/grid' as grid;
@use '../vendor/baseline/plumber' as plumber;

@include bem.b(section) {
	margin-top: func.rhythm(8);

	@include bem.m(tight) {
		margin-top: func.rhythm(2);

		@include breakpoint.bp-up(md) {
			margin-top: func.rhythm(4);
		}
	}

	@include bem.m(no-margin) {
		margin-top: 0;
	}

	@include bem.m(peacock) {
		p > a {
			background-color: colors.$color-peacock-light;
		}

		::selection {
			background-color: colors.$color-peacock-light;
		}

		::-moz-selection {
			background-color: colors.$color-peacock-light;
		}
	}

	@include bem.m(jade) {
		p > a {
			background-color: colors.$color-jade-light;
		}

		::selection {
			background-color: colors.$color-jade-light;
		}

		::-moz-selection {
			background-color: colors.$color-jade-light;
		}
	}

	@include bem.e(title) {
		margin-bottom: func.rhythm(3);
		padding-right: func.to_rem(15px);
		padding-left: func.to_rem(15px);
	}

	@include bem.e(label) {
		text-transform: uppercase;
	}
}
