@charset 'UTF-8';

/// @group Tags
@include b(tag) {
	display: inline-block;
	padding: rhythm(1) rhythm(2);
	border: 1px solid $color-cyberspace;
	border-radius: rem(17.5px);
	font-size: $small-text;
	text-transform: uppercase;
}
