@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.molecule(form-control) {

	// Modifier for large form fields
	@include bem.m(large) {
		// Inputs
		@include mixin.atom(input) {
			padding-top: rhythm(1.85);
			padding-bottom: rhythm(1.85);
			padding-left: rhythm(2);
			font-size: to_rem(20px);

			&.has-icon {
				padding-right: rhythm(6);
			}
		}

		// Input icon
		@include bem.b(input-icon) {
			> svg {
				transform: translateY(-#{rhythm(4.6)}) translateX(-#{rhythm(2)});
			}
		}

		// Buttons
		@include mixin.atom(button) {
			padding: rhythm(1.6) rhythm(4);

			@include bem.b(a-button__text) {
				font-size: to_rem(24px);
			}
		}

		// Checkbox
		@include mixin.atom(checkbox) {
			+ label {
				font-size: to_rem(20px);

				&::before {
					width: var.$icon-size;
					height: var.$icon-size;
					margin-top: to_rem(3px);
				}
			}

			&:checked {
				+ label {
					&::after {
						top: to_rem(10px);
						left: to_rem(8px);
						width: to_rem(8px);
						height: to_rem(15px);
						border-width: 0 4px 4px 0;
					}
				}
			}
		}

		// Radiobutton
		@include mixin.atom(radio) {
			&[type='radio'] {
				+ label {
					font-size: to_rem(20px);

					&::before {
						width: var.$icon-size;
						height: var.$icon-size;
						border-width: 3px;
					}
				}
			}
		}

		// Select
		@include mixin.atom(select) {
			padding-top: rhythm(1.85);
			padding-bottom: rhythm(1.85);
			padding-left: rhythm(2);
			background-position: calc(100% - #{rhythm(2)}) 50%;
			background-size: var.$icon-size var.$icon-size;
			font-size: to_rem(20px);
		}

		// Textarea
		@include mixin.atom(textarea) {
			height: rhythm(15);
			font-size: to_rem(20px);
		}
	}

	// Modifier for small form fields
	@include bem.m(small) {
		// Inputs
		@include bem.b(a-input) {
			padding-top: rhythm(0.5);
			padding-bottom: rhythm(0.8);
			font-size: to_rem(16px);
		}

		// Input icon
		@include bem.b(input-icon) {
			> svg {
				width: var.$icon-size-medium;
				height: var.$icon-size-medium;
				transform: translateY(-#{rhythm(3.1)}) translateX(-#{rhythm(1)});
			}
		}

		// Buttons
		@include mixin.atom(button) {
			padding: rhythm(0.6) rhythm(1.5);
		}

		// Select
		@include mixin.atom(select) {
			padding-top: rhythm(0.5);
			padding-bottom: rhythm(0.8);
			background-size: var.$icon-size-small var.$icon-size-small;
			font-size: to_rem(16px);
		}

		// Textarea
		@include mixin.atom(textarea) {
			height: rhythm(12);
			font-size: to_rem(16px);
		}
	}
}
