<div class="m-continue-video-guide js-guide-continue {{#if additional_classes}}{{additional_classes}}{{/if}}">
	<div class="m-continue-video-guide__inner">
		<a href="/components/preview/video-guide" class="m-continue-video-guide__continue js-guide-continue-link" data-alt-text="Fortsätt den guidade turen">
			<span class="u-visuallyhidden">Guidad tur</span>
			<div class="m-continue-video-guide__arrow"></div>
		</a>
		<progress-ring class="m-continue-video-guide__progressbar" stroke="4" radius="50" progress="70"></progress-ring>
		<img class="m-continue-video-guide__image js-guide-continue-image" src="/assets/images/sticky-guide.png" alt="Fortsätt den guidade turen">
	</div>
</div>
