<div class="m-sticky-guide js-guide-continue">
	<div class="m-sticky-guide__inner">
		<a href="" class="m-sticky-guide__continue js-guide-continue-link">
			<span class="u-visuallyhidden">Fortsätt den guidade turen</span>
			<div class="m-sticky-guide__continue__arrow"></div>
		</a>
		<progress-ring class="m-sticky-guide__progressbar" stroke="4" radius="50" progress="70"></progress-ring>
		<img class="m-sticky-guide__image" src="/assets/images/sticky-guide.png" alt="Fortsätt den guidade turen">
	</div>
</div>
