<div class="row no-gutters align-items-center">
	<div class="grid-auto">
		<input class="a-input" type="text" placeholder="Adress" aria-describedby="tooltip" />
	</div>
	<div class="grid-auto display-flex align-items-center">
		<span tabindex="0" class="a-tooltip a-button a-button--standalone-icon a-button--icon" id="tooltip" role="tooltip">
			<span class="a-tooltip__text" data-tooltip>{{{text}}}</span>
			<svg class="icon a-button__icon">
				<use xlink:href="#icon-link"></use>
			</svg>
		</span>
	</div>
</div>
