{{#if version1}}
<div class="background-snow u-border-radius u-p-y-5 u-p-x-4">
	<ul class="u-list-clean">

		<li class="display-flex">
			<div class="u-m-r-4">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>Max 40 personer</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="display" additional_classes="u-icon"}}</div>
			<div>Bildskärm med anslutning via HDMI eller Mini Display Port.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="headset" additional_classes="u-icon"}}</div>
			<div>Lång text för att testa radbryt och så. Sunt dolores aliquam non repellat sed nihil
				doloribus placeat. Autem debitis ut veniam
				est enim quo et ab accusamus. Et corrupti magni ut id dolores eligendi blanditiis aliquid quis.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="headset" additional_classes="u-icon"}}</div>
			<div>5 headsets och 4 handmikrofoner</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="streaming" additional_classes="u-icon"}}</div>
			<div>Riggat för livesändning</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="accessibility" additional_classes="u-icon"}}</div>
			<div>Rullstolsanpassad lokal med ramp</div>
		</li>
	</ul>

	<div class="grid-18 row">
		<button href="http://www.google.se"
			class="a-button a-button--lemon a-button--icon display-flex u-flex-grow-1 grid-18 u-m-t-4">
			<span class="a-button__text u-align-center u-flex-grow-1">Skapa event</span>
			<svg class="icon a-button__icon">
				<use xlink:href="#icon-plus"></use>
			</svg>
		</button>
	</div>

</div>
{{/if}}

{{#if version2}}
<div class="background-snow u-border-radius u-p-3">

	<h2 class="u-m-b-2">Vårt utbud i Stockholm</h2>

	<ul class="u-list-clean">

		<li class="display-flex">
			<div class="u-m-r-4">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>3 fullt utrustade eventlokaler med plats för upp till 99 personer.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="wifi" additional_classes="u-icon"}}</div>
			<div>Öppet coworking space med fritt wifi.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="podcast" additional_classes="u-icon"}}</div>
			<div>Fullt utrustad poddcaststudio.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="3d" additional_classes="u-icon"}}</div>
			<div>Tillgång till 3D-skrivare.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>Bokningsbara mötesrum.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="accessibility" additional_classes="u-icon"}}</div>
			<div>Rullstolsanpassad lokal med ramp</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="cafe" additional_classes="u-icon"}}</div>
			<div>Ekologiskt café med lunchservering.</div>
		</li>
	</ul>

	<div class="grid-18 row">
		<button href="http://www.google.se"
			class="a-button a-button--lemon a-button--icon display-flex u-flex-grow-1 grid-18 u-m-t-4">
			<span class="a-button__text u-align-center u-flex-grow-1">Skapa event</span>
			<svg class="icon a-button__icon">
				<use xlink:href="#icon-plus"></use>
			</svg>
		</button>
	</div>

</div>
{{/if}}

{{#if version3}}
<div class="background-lemon u-border-radius u-p-6">

	<h2 class="u-m-b-3 supersize">Vårt utbud i Stockholm</h2>

	<ul class="u-list-clean preamble">

		<li class="display-flex">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>3 fullt utrustade eventlokaler med plats för upp till 99 personer.</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="wifi" additional_classes="u-icon"}}</div>
			<div>Öppet coworking space med fritt wifi.</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="podcast" additional_classes="u-icon"}}</div>
			<div>Fullt utrustad poddcaststudio.</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="3d" additional_classes="u-icon"}}</div>
			<div>Tillgång till 3D-skrivare.</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>Bokningsbara mötesrum.</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="accessibility" additional_classes="u-icon"}}</div>
			<div>Rullstolsanpassad lokal med ramp</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4 u-m-t-1">{{> @icon id="cafe" additional_classes="u-icon"}}</div>
			<div>Ekologiskt café med lunchservering.</div>
		</li>
	</ul>

</div>
{{/if}}

{{#if version4}}

<div class="background-snow u-border-radius u-p-y-5 u-p-x-4">
	<ul class="u-list-clean u-display-table">

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">Arrangör:</div>
			<div class="u-display-table-cell"><a href="https://example.com">Creator Circle</a></div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">Språk:</div>
			<div class="u-display-table-cell">Svenska</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="time" additional_classes="u-icon"}}</div>
			<div class="u-display-table-cell">24 januari 2020 18:20-21:30</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="pin" additional_classes="u-icon"}}</div>
			<div class="u-display-table-cell">
				<span>Gradängen, Goto10</span>
				<br /><span class="color-granit">Hammarby Slussväg 4, 118 60 Stockholm</span>
			</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="streaming" additional_classes="u-icon"}}
			</div>
			<div class="u-display-table-cell">Sänds live</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="info" additional_classes="u-icon"}}</div>
			<div class="u-display-table-cell"><a href="#">Spara i din kalender (.ics)</a></div>
		</li>
	</ul>

	<div class="grid-18 row">
		<button href="http://www.google.se" class="a-button a-button--lemon display-flex u-flex-grow-1 grid-18 u-m-t-4">
			<span class="a-button__text u-align-center u-flex-grow-1">Anmäl dig</span>
		</button>
	</div>

</div>
{{/if}}