<div class="background-snow u-border-radius u-p-y-5 u-p-x-4">
	<ul class="u-list-clean">

		<li class="display-flex">
			<div class="u-m-r-4">{{> @icon id="pin" additional_classes="u-icon"}}</div>
			<div>
				<span>Gradängen, Goto10</span>
				<br /><span class="color-granit">Hammarby Slussväg 4, 118 60 Stockholm</span>
			</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4">{{> @icon id="time" additional_classes="u-icon"}}</div>
			<div>
				Vardagar: 8:00-17:00
				<br />Helger: Stängt
			</div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4">{{> @icon id="email" additional_classes="u-icon"}}</div>
			<div><a href="mailto:info@goto10.se">info@goto10.se</a></div>
		</li>

		<li class="display-flex u-m-t-2">
			<div class="u-m-r-4">{{> @icon id="phone" additional_classes="u-icon"}}</div>
			<div><a href="tel:08-10 10 10">08–10 10 10</a></div>
		</li>
	</ul>

	<div class="grid-18 row u-m-t-4">
		{{> @button el="button" text="Alla kontaktuppgifter" modifiers="lemon"}}
	</div>
</div>