<div class="background-snow u-border-radius u-p-y-5 u-p-x-4">
	<ul class="u-list-clean u-display-table">

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-display-table-cell">Arrangör:</div>
			<div class="u-display-table-cell"><a href="https://example.com">Creator Circle</a></div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">Språk:</div>
			<div class="u-display-table-cell">Svenska</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="time" additional_classes="u-icon"}}</div>
			<div class="u-display-table-cell">24 januari 2020 18:20-21:30</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="pin" additional_classes="u-icon"}}</div>
			<div class="u-display-table-cell">
				<span>Gradängen, Goto10</span>
				<br /><span class="color-granit">Hammarby Slussväg 4, 118 60 Stockholm</span>
			</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="streaming" additional_classes="u-icon"}}
			</div>
			<div class="u-display-table-cell">Sänds live</div>
		</li>

		<li class="u-display-table-row">
			<div class="u-p-r-3 u-p-t-2 u-display-table-cell">{{> @icon id="info" additional_classes="u-icon"}}</div>
			<div class="u-display-table-cell"><a href="#">Spara i din kalender (.ics)</a></div>
		</li>
	</ul>

	<div class="grid-18 row">
		<button href="http://www.google.se" class="a-button a-button--lemon display-flex u-flex-grow-1 grid-18 u-m-t-4">
			<span class="a-button__text u-align-center u-flex-grow-1">Anmäl dig</span>
		</button>
	</div>

</div>