<div class="background-snow u-border-radius u-p-3">

	<h2 class="u-m-b-2">Vårt utbud i Stockholm</h2>

	<ul class="u-list-clean">

		<li class="display-flex">
			<div class="u-m-r-4">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>3 fullt utrustade eventlokaler med plats för upp till 99 personer.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="wifi" additional_classes="u-icon"}}</div>
			<div>Öppet coworking space med fritt wifi.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="podcast" additional_classes="u-icon"}}</div>
			<div>Fullt utrustad poddcaststudio.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="3d" additional_classes="u-icon"}}</div>
			<div>Tillgång till 3D-skrivare.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="capacity" additional_classes="u-icon"}}</div>
			<div>Bokningsbara mötesrum.</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="accessibility" additional_classes="u-icon"}}</div>
			<div>Rullstolsanpassad lokal med ramp</div>
		</li>

		<li class="display-flex u-m-t-1">
			<div class="u-m-r-4">{{> @icon id="cafe" additional_classes="u-icon"}}</div>
			<div>Ekologiskt café med lunchservering.</div>
		</li>
	</ul>

	<div class="grid-18 row">
		<button href="http://www.google.se"
			class="a-button a-button--lemon a-button--icon display-flex u-flex-grow-1 grid-18 u-m-t-4">
			<span class="a-button__text u-align-center u-flex-grow-1">Skapa event</span>
			<svg class="icon a-button__icon">
				<use xlink:href="#icon-plus"></use>
			</svg>
		</button>
	</div>

</div>