@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;

@include mixin.molecule(modal) {
	display: flex;
	position: fixed;
	z-index: func.z_index(foreground);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;

	&[aria-hidden='true'] {
		display: none;
	}

	// Adjust close button position
	@include bem.m(has-overlay) {
		&::after {
			content: '';
			position: absolute;
			z-index: func.z_index(foregroundMinus);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
		}
	}

	@include bem.e(container) {
		display: flex;
		position: relative;
		z-index: func.z_index(foreground);
		flex-direction: column;
		width: 100%;
		max-height: calc(100vh - #{func.rhythm(2)});
		margin: func.rhythm(1);
		padding: func.rhythm(4) func.rhythm(2) func.rhythm(4) func.rhythm(2);
		overflow-y: auto;
		border-radius: var.$border-radius;
		background: var(--snow-color);

		> button {
			position: absolute;
			z-index: func.z_index(background);
			top: func.rhythm(1);
			right: func.rhythm(1);
		}

		@include breakpoint.bp-up(sm) {
			padding: func.rhythm(4) func.rhythm(4) func.rhythm(6) func.rhythm(4);
			width: auto;
			min-width: func.to_rem(576px);
		}

		@include breakpoint.bp-up(md) {
			padding: func.rhythm(8) func.rhythm(8) func.rhythm(6) func.rhythm(8);
		}

		@include breakpoint.bp-up(lg) {
			max-width: func.to_rem(961px);
		}

		@include bem.m(no-max-width) {
			max-width: none;
		}

		@include bem.m(dynamic-width) {
			width: 100%;
			max-width: calc(100vw);
			min-width: 0;
			max-height: calc(100% - #{func.rhythm(2)});
			padding: 0;
			overflow: auto;

			svg {
				pointer-events: none;
			}
		}
	}

	@include breakpoint.bp-up(md) {
		@include bem.e(input-wrapper) {
			display: flex;
			justify-content: space-between;
			margin-bottom: func.rhythm(2);
		}
	}

	@include bem.e(content) {
		position: relative;
		margin-right: func.rhythm(2);

		@include breakpoint.bp-up(sm) {
			margin-right: 0;
		}

		@include bem.m(form-name) {
			flex: 0 0 45%;
		}

		@include bem.m(form-lname) {
			flex: 0 0 45%;
		}

		@include bem.e(input-wrapper) {
			display: flex;
			justify-content: space-between;
			margin-bottom: func.rhythm(2);
		}

		@include breakpoint.bp-up(md) {

			@include bem.m(form-email) {
				margin-bottom: func.rhythm(2);
			}

			@include bem.m(form-username) {
				margin-bottom: func.rhythm(2);
			}
		}
		@include bem.m(form-check) {
			display: flex;
		}

		@include bem.m(form-text) {
			display: flex;
			justify-content: center;
			margin-top: func.rhythm(2);
		}
	}

	@include bem.e(buttons) {
		display: flex;
		flex-shrink: 0;
		justify-content: flex-end;
	}

	@include bem.e(button-primary) {
		color: var(--m-modal-button-primary-color) !important;
		box-shadow: 0 0 0 1px inset var(--m-modal-button-primary-border-color) !important;

		> [class*='text'] {
			color: var(--m-modal-button-primary-text-color) !important;
		}

		&:hover,
		&:focus {
			color: var(--m-modal-button-primary-hover-color) !important;
		}
	}

	@include bem.e(button-secondary) {
		color: var(--m-modal-button-secondary-color) !important;
		box-shadow: 0 0 0 1px inset var(--m-modal-button-secondary-border-color) !important;

		> [class*='text'] {
			color: var(--m-modal-button-secondary-text-color) !important;
		}

		&:hover,
		&:focus {
			color: var(--m-modal-button-secondary-hover-color) !important;
		}
	}

	@include bem.e(graph-button) {
		padding: 0;
		position: relative;

		&:hover,
		&:focus {
			@extend %input-focus;
		}

		&::after {
			content: attr(data-zoom);
			color: colors.$color-snow;
			padding: func.rhythm(1) func.rhythm(2) func.rhythm(1) func.rhythm(4);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border-top-left-radius: var.$border-radius;
			border-bottom-right-radius: var.$border-radius;
			width: auto;
			line-height: 1;
			height: var.$icon-size-large * 1.4;
			background-color: rgba(colors.$color-cyberspace, 0.7);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-search' viewbox='0 0 32 32' width='32' height='32' fill='%23ffffff'%3E%3Cpath d='M24,21.8l8,8L29.9,32l-8-8c-5.9,4.6-14.3,3.6-19-2.2S-0.7,7.6,5.1,2.9S19.3-0.7,24,5.1C27.9,10,27.9,16.9,24,21.8L24,21.8z M13.4,23.9c5.8,0,10.5-4.7,10.5-10.5S19.2,3,13.4,3S3,7.7,3,13.4S7.7,23.9,13.4,23.9z'/%3E%3C/svg%3E");
			background-position: func.rhythm(1) center;
			background-size: var.$icon-size-medium var.$icon-size-medium;
			background-repeat: no-repeat;

		}
	}

	@include bem.e(button-fixed) {
		position: fixed !important;
		top: func.rhythm(2) !important;
		right: func.rhythm(3) !important;
		z-index: func.z_index(foreground) !important;
	}

	@include bem.e(overlay-button) {
		position: fixed !important;
		color: colors.$color-snow;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		padding: 0;
		z-index: func.z_index(foregroundMinus) !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		background: rgba(0, 0, 0, 0.5);
		text-shadow: 0 0 func.rhythm(0.5) colors.$color-cyberspace;
		font-family: var.$font-family-headings;
		border: 0;
		width: 100vw;

		&.is-hidden {
			display: none;
		}

		@include breakpoint.bp-up(xxl) {
			display: none;
		}
	}

	@include bem.b(field-group) {
		margin-bottom: func.rhythm(1);
	}
}
