@include molecule(modal) {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow-y: auto;
	background: $color-snow;

	// Adjust close button position
	@include m(has-overlay) {
		&::after {
			content: '';
			position: absolute;
			z-index: z_index(foregroundMinus);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
		}
	}

	@include e(container) {
		display: flex;
		position: relative;
		z-index: z_index(foreground);
		flex-direction: column;
		max-height: 100vh;
		margin-right: rhythm(1);
		margin-left: rhythm(1);
		padding: rhythm(4) rhythm(4) rhythm(6) rhythm(4);
		border-radius: $border-radius;
		background: $color-snow;

		> button {
			position: absolute;
			z-index: z_index(background);
			top: rhythm(1);
			right: rhythm(1);
		}
		@media screen and (min-width: 576px) {
			padding: rhythm(8) rhythm(8) rhythm(6) rhythm(8);
		}
	}

	@media screen and (min-width: 576px) {

		@include e(input-wrapper) {
			display: flex;
			justify-content: space-between;
			margin-bottom: rhythm(2);
		}
	}

	@include e(content) {
		position: relative;

		@include m(form-name) {
			flex: 0 0 45%;
		}

		@include m(form-lname) {
			flex: 0 0 45%;
		}

		@include e(input-wrapper) {
			display: flex;
			justify-content: space-between;
			margin-bottom: rhythm(2);
		}

		@media screen and (min-width: 576px) {

			@include m(form-email) {
				margin-bottom: rhythm(2);
			}

			@include m(form-username) {
				margin-bottom: rhythm(2);
			}
		}
		@include m(form-check) {
			display: flex;
		}

		@include m(form-text) {
			display: flex;
			justify-content: center;
			margin-top: rhythm(2);
		}
	}

	@include e(buttons) {
		display: flex;
		flex-shrink: 0;
		justify-content: flex-end;
	}

	@include b(field-group) {
		margin-bottom: rhythm(1);
	}

	@include b(h1) {
		@media screen and (max-width: 576px) {
			margin-bottom: 0.5rem;
		}
	}
}
