@charset 'UTF-8';
@use "sass:color";

// Forwards / backwards
/// @group Paging
@include atom(paging-wrapper) {
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;

	@include e(text) {
		flex: 1;
		font-family: $font-family-mono;
		font-size: rem($size-medium-plus);
		text-align: center;
		text-transform: uppercase;
	}
}

@include atom(paging) {
	display: inline-flex;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: rhythm(4);
	height: rhythm(4);
	border: 1px solid $color-ash;
	border-radius: 50%;
	background-color: $color-snow;
	box-shadow: 0 3px 5px color.adjust($color-granit, $lightness: 15%);

	@include bp-up(sm) {
		width: rhythm(6);
		height: rhythm(6);
	}

	&:focus,
	&:hover {
		background-color: $color-ash;
	}

	@include e(icon) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $icon-size-small;
		height: $icon-size-small;

		@include bp-up(sm) {
			width: $icon-size-medium;
			height: $icon-size-medium;
		}
	}
}
