@charset "UTF-8";
@use "sass:color";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../vendor/grid/breakpoints' as breakpoint;

// Forwards / backwards
/// @group Paging
@include mixin.atom(paging-wrapper) {
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;

	@include bem.e(text) {
		flex: 1;
		font-family: var.$font-family-mono;
		font-size: to_rem(var.$size-medium-plus);
		text-align: center;
		text-transform: uppercase;
	}
}

@include mixin.atom(paging) {
	display: inline-flex;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: rhythm(4);
	height: rhythm(4);
	border: 1px solid colors.$color-ash;
	border-radius: 50%;
	background-color: colors.$color-snow;
	box-shadow: 0 3px 5px color.adjust(colors.$color-granit, $lightness: 15%);

	@include breakpoint.bp-up(sm) {
		width: rhythm(6);
		height: rhythm(6);
	}

	&:focus,
	&:hover {
		background-color: colors.$color-ash;
	}

	@include bem.e(icon) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: var.$icon-size-small;
		height: var.$icon-size-small;

		@include breakpoint.bp-up(sm) {
			width: var.$icon-size-medium;
			height: var.$icon-size-medium;
		}
	}
}
