@charset 'UTF-8';

// Forwards / backwards
/// @group Paging
@include atom(paging-wrapper) {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;

	@include e(text) {
		flex: 1;
		text-align: center;
	}
}

@include atom(paging) {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: rhythm(6);
	height: rhythm(6);
	border: 1px solid $color-ash;
	border-radius: 50%;
	background-color: $color-snow;
	box-shadow: 0 3px 5px lighten($color-granit, 15%);

	&:focus,
	&:hover {
		background-color: $color-ash;
	}

	@include e(icon) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $icon-size-medium;
		height: $icon-size-medium;
	}
}
