@charset 'UTF-8';

// Fonts
@font-face {
	font-family: 'HK Grotesk';
	font-style: normal;
	font-weight: normal;
	src:
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-regular-webfont.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk Medium';
	font-style: normal;
	font-weight: normal;
	src:
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-medium-webfont.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk Semibold';
	font-style: normal;
	font-weight: normal;
	src:
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-semibold-webfont.woff2') format('woff2'),
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-semibold-webfont.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk Bold';
	font-style: normal;
	font-weight: normal;
	src:
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
		url('https://static.iis.se/internetstiftelsen/fonts/hkgrotesk-bold-webfont.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono Regular';
	font-style: normal;
	font-weight: normal;
	src: url('https://static.iis.se/internetstiftelsen/fonts/RobotoMono-Regular.ttf') format('truetype');
	font-display: swap;
}
