@charset "UTF-8";

// Fonts
@font-face {
	font-family: 'HK Grotesk';
	src: url('HKGrotesk-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk Bold';
	src: url('HKGrotesk-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
