@charset 'UTF-8';

@include atom(select) {
	@extend %input;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-down' viewBox='0 0 32 18.9' width='100%25' height='100%25'%3E%3Cpolygon points='32,2.9 16,18.9 0,2.9 2.9,0 16,13.1 29.1,0 '%3E%3C/polygon%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: calc(100% - #{rhythm(1)}) 50%;
	background-size: $icon-size-medium $icon-size-medium;

	&:focus {
		@extend %input-focus;
	}

	&::-ms-expand {
		display: none;
	}
}

@include b(select) {
	@include m(transparent) {
		border-color: transparent;
		background-color: transparent;
		box-shadow: none;
	}
}
