<div class="js-o-accordion o-accordion">
	{{#each accordion_item}}
	<h3 class="js-accordion__header{{#if color}} o-accordion__header--background background-{{color}}{{/if}}"{{#if is_expanded}} data-accordion-opened="true"{{/if}}>
		{{#if time}}<time class="a-meta o-accordion__header__time">{{time}}</time>{{/if}}
		{{#if heading}}
		{{heading}}
		{{/if}}
	</h3>
	<div class="js-accordion__panel">
		<div class="o-accordion__panel__content">
			{{{content}}}
		</div>
	</div>
	{{/each}}
</div>
{{#unless has_background}}
<div style="padding: 20px">
	<button type="button" class="a-button" id="addAccordion"><span class="a-button__text">Lägg till</span></button>
</div>
<script>
	document.getElementById('addAccordion').addEventListener('click', function () {
		const html = `
			<h3 class="js-accordion__header">
				Quisque non molestie arcu
			</h3>
			<div class="js-accordion__panel">
				<div class="o-accordion__panel__content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut elit lacinia, feugiat felis sit amet, congue ante. Morbi vel egestas mi. Nulla urna sapien, gravida et nisl ac, maximus euismod ipsum. Vivamus condimentum, massa non convallis hendrerit, orci mi porttitor nisi, at commodo purus magna non nisi. Duis feugiat lectus in sapien mollis, ac volutpat leo elementum. Nullam euismod massa a nulla placerat sagittis. Integer id purus a dolor fermentum mollis vel feugiat dui. Nullam neque diam, mattis nec cursus at, facilisis nec diam.</p><p>Proin faucibus pretium orci, eu tristique augue condimentum at. Suspendisse potenti. Donec ut luctus eros. Nam justo nunc, facilisis lobortis hendrerit sodales, fermentum at purus. Proin eget elementum nulla, nec tincidunt lacus. Mauris massa eros, interdum eget nunc id, molestie semper libero. Vivamus tortor ex, viverra ut varius vel, finibus hendrerit nunc. Morbi pulvinar arcu erat, consectetu mollis leo vulputate eu.</p>
				</div>
			</div>
		`;

		const wrapper = document.querySelector('.o-accordion');

		wrapper.insertBefore(document.createRange().createContextualFragment(html), wrapper.firstElementChild);
	});
</script>
{{/unless}}
