<div class="js-accordion">
	{{#each accordion_item}}
	<h3 class="js-accordion__header">
		{{heading}}
	</h3>
	<div class="js-accordion__panel">
		<div class="o-accordion__panel__content">
			{{{content}}}
		</div>
	</div>
	{{/each}}
</div>
