<div class="wrapper u-p-x-0">
	<div class="glider-contain glider-contain--single">
		<div class="glider{{#if single}} js-glider-single{{else}} js-glider{{/if}}">
			<div class="glider-slide glider-slide--single">
				<div class="row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							{{>@meta text="Introduktion"}}
							<h1>Känn igen ett bluffmejl</h1>
							{{>@meta--lower-case text="3 min" icon="read"}}
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						{{> @button el="button" button_type="button" icon="arrow-forwards" additional_classes="a-button--peacock glider-single-next js-glider-next" text="Starta kursen"}}
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1">
						<img src="/assets/images/hero.jpg" alt="kursbild" class="u-border-radius">
					</div>
				</div>
			</div>
			<div class="glider-slide glider-slide--single">
				<div class="row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							{{>@meta text="Känn igen ett bluffmejl - Steg 1 av 3"}}
							<h2 class="alpha">Varför får man bluffmelj?</h2>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						{{> @button el="button" button_type="button" icon="arrow-backwards" additional_classes="a-button--icon-left a-button--peacock-light glider-single-prev js-glider-prev" text="Gå bakåt"}}
						{{> @button el="button" button_type="button" icon="arrow-forwards" additional_classes="a-button--peacock glider-single-next js-glider-next" text="Gå framåt" }}
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1">
						<img src="/assets/images/hero.jpg" alt="kursbild" class="u-border-radius">
					</div>
				</div>
			</div>
			<div class="glider-slide glider-slide--single">
				<div class="row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							{{>@meta text="Känn igen ett bluffmejl - Steg 2 av 3"}}
							<h2 class="alpha">Hur känner man igen ett bluffmejl?</h2>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						{{> @button el="button" button_type="button" icon="arrow-backwards" additional_classes="a-button--icon-left a-button--peacock-light glider-single-prev js-glider-prev" text="Gå bakåt"}}
						{{> @button el="button" button_type="button" icon="arrow-forwards" additional_classes="a-button--peacock glider-single-next js-glider-next" text="Gå framåt"}}
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1">
						<img src="/assets/images/hero.jpg" alt="kursbild" class="u-border-radius">
					</div>
				</div>
			</div>
			<div class="glider-slide glider-slide--single">
				<div class="row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							{{>@meta text="Känn igen ett bluffmejl - Steg 3 av 3"}}
							<h2 class="alpha">Bra, nu kan du känna igen ett bluffmejl!</h2>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						{{> @button el="button" button_type="button" icon="arrow-backwards" additional_classes="a-button--icon-left a-button--peacock-light glider-single-prev js-glider-prev" text="Gå bakåt"}}
						{{> @button el="a" url="#" additional_classes="a-button--peacock" text="Avsluta kursen"}}
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1">
						<img src="/assets/images/hero.jpg" alt="kursbild" class="u-border-radius">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
