<div class="wrapper">
	<div class="glider-contain-single">
		<div class="glider{{#if single}} js-glider-single{{else}} js-glider{{/if}}">
			<div class="glider-slide glider-slide--single">
				<div class="row flex-column-reverse flex-lg-row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							{{>@meta text="Introduktion"}}
							<h1>Känn igen ett bluffmejl</h1>
							<div class="a-meta a-meta--lowercase">
								<svg class="icon">
									<use xlink:href="#icon-read"></use>
								</svg>
								 3 min läsning
							 </div>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						<div id="slide-1-ImageContainerMobile"></div>
						<nav>
							{{> @button el="button" button_type="button" icon="arrow-forwards" additional_classes="a-button--jade-light glider-single-next js-glider-next" text="Starta kursen"}}
						</nav>
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1 u-hide-md" id="slide-1-ImageContainer">
						<div class="wp-block-image" data-responsive="xs:slide-1-ImageContainerMobile,lg:slide-1-ImageContainer">
							<figure class="size-large">
								<img src="/assets/images/hero.jpg" alt="kursbild" class="u-border-radius">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="glider-slide glider-slide--single">
				<div class="row flex-column-reverse flex-lg-row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							<div class="a-meta a-meta--wrap">
								Känn igen ett bluffmejl - Steg 1 av 3
							 </div>
							<h2 class="alpha">Varför får man bluffmelj?</h2>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						<div id="slide-2-ImageContainerMobile"></div>
						<nav>
							{{> @button el="button" button_type="button" icon="arrow-backwards" additional_classes="a-button--icon-left a-button--transparent a-button--transparent--small-icon glider-single-prev js-glider-prev" text="Gå bakåt"}}
							{{> @button el="button" button_type="button" icon="arrow-forwards" additional_classes="a-button--peacock-light glider-single-next js-glider-next" text="Gå framåt" }}
						</nav>
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1 u-hide-md" id="slide-2-ImageContainer">
						<div class="wp-block-image" data-responsive="xs:slide-2-ImageContainerMobile,lg:slide-2-ImageContainer">
							<figure class="size-large">
								<figcaption class="u-m-b-1">Exempel på bluffmejl</figcaption>
								<img src="/assets/images/bluffmejl.png" alt="kursbild" class="u-border-radius">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="glider-slide glider-slide--single">
				<div class="row flex-column-reverse flex-lg-row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							<div class="a-meta a-meta--wrap">
								Känn igen ett bluffmejl - Steg 2 av 3
							 </div>
							<h2 class="alpha">Hur känner man igen ett bluffmejl?</h2>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						<div id="slide-3-ImageContainerMobile"></div>
						<nav>
							{{> @button el="button" button_type="button" icon="arrow-backwards" additional_classes="a-button--icon-left a-button--transparent a-button--transparent--small-icon glider-single-prev js-glider-prev" text="Gå bakåt"}}
							{{> @button el="button" button_type="button" icon="arrow-forwards" additional_classes="a-button--peacock-light glider-single-next js-glider-next" text="Gå framåt"}}
						</nav>
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1 u-hide-md" id="slide-3-ImageContainer">
						<div class="wp-block-image"  data-responsive="xs:slide-3-ImageContainerMobile,lg:slide-3-ImageContainer">
							<figure>
								<figcaption class="u-m-b-1">Se filmen om bluffmejl</figcaption>
								<div class="m-icon-overlay m-card__image m-card__media" data-youtube="n8hPhZwV8a0">
									<button type="button" class="m-icon-overlay__button" aria-label="play">
										<svg class="icon m-icon-overlay__icon">
										<use xlink:href="#icon-play"></use>
									</svg>
									</button>
									<img src="https://i3.ytimg.com/vi/n8hPhZwV8a0/maxresdefault.jpg" alt="video"><iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/n8hPhZwV8a0?playsinline=1&amp;rel=0&amp;widget_referrer=http%3A%2F%2Flocalhost%3A3000%2Fcomponents%2Fdetail%2Fcard--with-youtube-video&amp;enablejsapi=1&amp;origin=http%3A%2F%2Flocalhost%3A3000&amp;widgetid=1" id="widget2"></iframe>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="glider-slide glider-slide--single">
				<div class="row flex-column-reverse flex-lg-row">
					<div class="grid-18 grid-lg-8">
						<div class="u-m-b-2">
							<div class="a-meta a-meta--wrap">
								Känn igen ett bluffmejl - Steg 3 av 3
							 </div>
							<h2 class="alpha">Bra, nu kan du känna igen ett bluffmejl!</h2>
						</div>
						<p>Bluffmejl ser oftast ut som vanliga mejl. Avsändaren vill att du ska klicka på länkar och lämna privat information utan att tänka. Du kan uppmanas uppge ditt lösenord, dina kontokortsuppgifter eller annan personlig information.</p>
						<div id="slide-4-ImageContainerMobile"></div>

						{{> @rating additional_classes='u-m-b-2'}}
						<nav>
							{{> @button el="button" button_type="button" icon="arrow-backwards" additional_classes="a-button--icon-left a-button--transparent a-button--transparent--small-icon glider-single-prev js-glider-prev" text="Gå bakåt"}}
							{{> @button el="a" url="#" additional_classes="a-button--jade-light" icon="check" text="Avsluta kursen"}}
						</nav>
					</div>
					<div class="grid-18 grid-lg-9 offset-lg-1 u-hide-md" id="slide-4-ImageContainer">
						<div class="wp-block-image" data-responsive="xs:slide-4-ImageContainerMobile,lg:slide-4-ImageContainer">
							<figure class="size-large">
								<img src="/assets/images/ALX_0876.jpg" alt="kursbild" class="u-border-radius">
							</figure>
						</div>
					</div>
				</div>
				<div class="row u-p-t-2 u-m-t-3 u-b-t-1 u-b-b-0 u-b-x-0 u-b-solid u-b-concrete">
					<div class="grid">
						{{> @share}}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
