<div class="u-m-t-0">
	<div class="glider-hero-contain u-p-x-0">
		{{> @paging el="button" button_type="button" icon="arrow-backwards" additional_classes="glider-nav glider-nav--hero glider-prev js-glider-prev" text="Bakåt"}}

		<div class="glider js-glider-hero" >
			<div class="glider-slide glider-slide--hero">
				<div class="glider-slide__text">
					<span><a href="#" class="color-jade">Datadamer</a> – Kvinnorna som digitaliserade världen</span>
				</div>
				<img src="/assets/images/Reprogramming_ENIAC2.png" class="glider-slide__image" alt="Datadamer">
			</div>
			<div class="glider-slide glider-slide--hero">
				<div class="glider-slide__text">
					<span><a href="#" class="color-lemon">Onlinespel</a> – Från moralpanik till e-sport</span>
				</div>
				<img src="/assets/images/Screen-Shot-2016-06-07-at-11.30.29.png" class="glider-slide__image" alt="Onlinespel">
			</div>
			<div class="glider-slide glider-slide--hero">
				<div class="glider-slide__text">
					<span><a href="#" class="color-jade">Datadamer</a> – Kvinnorna som digitaliserade världen</span>
				</div>
				<img src="/assets/images/Reprogramming_ENIAC2.png" class="glider-slide__image" alt="Datadamer">
			</div>
			<div class="glider-slide glider-slide--hero">
				<div class="glider-slide__text">
					<span><a href="#" class="color-lemon">Onlinespel</a> – Från moralpanik till e-sport</span>
				</div>
				<img src="/assets/images/Screen-Shot-2016-06-07-at-11.30.29.png" class="glider-slide__image" alt="Onlinespel">
			</div>
		</div>

		{{> @paging el="button" button_type="button" icon="arrow-forwards" additional_classes="glider-nav glider-nav--hero glider-next js-glider-next" text="Framåt"}}
	</div>
</div>
