@charset 'UTF-8';

@include molecule(download) {
	position: relative;
	padding: rhythm(2.5);
	border: 1px solid $color-peacock;
	border-radius: $border-radius;
	background-color: var(--snow-color);

	@include e(link) {
		display: block;
		margin-bottom: rhythm(1);
		color: currentcolor;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color-peacock;
			text-decoration: underline;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: z_index(background);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	@include e(icon-file) {
		margin-bottom: rhythm(1);
		line-height: 0;

		@include bp-up(sm) {
			margin-right: rhythm(0.5);
			margin-bottom: 0;
		}
	}

	@include e(icon-download) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rhythm(3.5);
		height: rhythm(3.5);
		margin-left: rhythm(1);
		border-radius: $border-radius;
		background-color: $color-peacock-light;
	}

	@include e(text) {
		white-space: nowrap;
	}

	@include b(icon) {
		width: to_rem(57px);
		height: to_rem(78px);
		color: var(--cyberspace-color);
		fill: currentColor;
	}

	@include e(trigger) {
		margin-top: rhythm(1);
		margin-left: 0;

		@include b(icon) {
			width: $icon-size-medium;
			height: $icon-size-medium;
			color: var(--dark-color);
			fill: currentColor;
		}

		@include bp-up(sm) {
			margin-top: 0;
			margin-left: rhythm(1);
		}
	}
}
