@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;

@include m.molecule(download) {
	position: relative;
	padding: rhythm(2.5);
	border: 1px solid c.$color-peacock;
	border-radius: v.$border-radius;
	background-color: var(--snow-color);

	@include m2.e(link) {
		display: block;
		margin-bottom: rhythm(1);
		color: currentcolor;
		text-decoration: none;

		&:hover,
		&:focus {
			color: c.$color-peacock;
			text-decoration: underline;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: z_index(background);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	@include m2.e(icon-file) {
		margin-bottom: rhythm(1);
		line-height: 0;

		@include bp.bp-up(sm) {
			margin-right: rhythm(0.5);
			margin-bottom: 0;
		}
	}

	@include m2.e(icon-download) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rhythm(3.5);
		height: rhythm(3.5);
		margin-left: rhythm(1);
		border-radius: v.$border-radius;
		background-color: c.$color-peacock-light;
	}

	@include m2.e(text) {
		white-space: nowrap;
	}

	@include m2.b(icon) {
		width: to_rem(57px);
		height: to_rem(78px);
		color: var(--cyberspace-color);
		fill: currentColor;
	}

	@include m2.e(trigger) {
		margin-top: rhythm(1);
		margin-left: 0;

		@include m2.b(icon) {
			width: v.$icon-size-medium;
			height: v.$icon-size-medium;
			color: var(--dark-color);
			fill: currentColor;
		}

		@include bp.bp-up(sm) {
			margin-top: 0;
			margin-left: rhythm(1);
		}
	}
}
