<div class="m-download">
	<div class="row align-items-center">
		<div class="grid-auto">
			<figure class="m-download__icon-file">
				{{> @icon id="file"}}
			</figure>
		</div>
		<div class="grid">
			<a href="{{url}}" class="beta m-download__link" download>
                {{link_text}}
            </a>
            <div class="display-flex flex-row justify-content-between align-items-end">
                <p>{{description}}</p>
                <div class="align-self-end display-flex flex-nowrap align-items-center m-download__trigger">
                    <strong class="m-download__text">{{download}}</strong>
                    <figure class="m-download__icon-download">
                        {{> @icon id="download"}}
                    </figure>
                </div>
            </div>
		</div>
	</div>
</div>
