@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.atom(progress) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	pointer-events: none;
	cursor: none;
	border-radius: var.$border-radius;
	overflow: hidden;

	&[value] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		color: colors.$color-ocean;
		background: colors.$color-concrete;
		border: none;
		width: 100%;
		border-radius: var.$border-radius;
		height: func.rhythm(1);
		position: relative;

		@include breakpoint.bp-up(md) {
			height: func.rhythm(2);
		}
	}

	&[value]::-moz-progress-value,
	&[value]::-moz-meter-optimum {
		border-radius: 0;
		background: colors.$color-ocean;
		transition: padding-bottom 5s ease;
		padding-left: 60px;
		padding-bottom: var(--value);
		height: 0;
		transform-origin: 0 0;
		transform: rotate(-90deg) translateX(-60px) ;
	}

	&[value]::-webkit-progress-bar,
	&[value]::-webkit-meter-bar,
	&[value]::-webkit-meter-optimum-value
	{
		border-radius: 0;
		background: colors.$color-concrete;
		transition: width 5s ease;
		block-size: func.rhythm(1);

		@include breakpoint.bp-up(md) {
			block-size: func.rhythm(2);
		}
	}

	&[value]::-webkit-progress-value,
	&[value]::-webkit-meter-optimum-value {
		background: colors.$color-ocean;
	}

	&::-moz-progress-bar {
		background: colors.$color-ocean;
	}

	&::-moz-meter-bar {
		background: colors.$color-ocean;
	}

	&:-moz-meter-optimum::slider-fill {
		background: colors.$color-ocean;
	}

	@include bem.m(large) {
		&[value],
		&[value]::-webkit-progress-bar,
		&[value]::-webkit-meter-bar,
		&[value]::-webkit-meter-optimum-value {
			height: func.rhythm(4);
			block-size: func.rhythm(4);
		}
	}

	@include bem.m(heat) {
		&[value]::-webkit-progress-value,
		&[value]::-webkit-meter-optimum-value {
			border-radius: 0;
			transition: width 5s ease;
			background: linear-gradient(90deg, rgba(217, 0, 47, 1) 0%, rgba(217, 0, 47, 1) 19.99%, rgba(255, 64, 105, 1) 20%, rgba(255, 64, 105, 1) 39.99%, rgba(249, 153, 99, 1) 40%, rgba(249, 153, 99, 1) 59.99%, rgba(255, 206, 46, 1) 60%, rgba(255, 206, 46, 1) 79.99%, rgba(37, 194, 121, 1) 80%, rgba(37, 194, 121, 1) 89.99%, rgba(25, 135, 84, 1) 90%, rgba(25, 135, 84, 1) 100%);
			background-size: var(--progressbar-width) 100%; /* This is calculated by JS and set in the DOM */
			background-repeat: no-repeat;
		}

		&::-moz-progress-bar {
			transition: width 5s ease;
			background: linear-gradient(90deg, rgba(217, 0, 47, 1) 0%, rgba(217, 0, 47, 1) 19.99%, rgba(255, 64, 105, 1) 20%, rgba(255, 64, 105, 1) 39.99%, rgba(249, 153, 99, 1) 40%, rgba(249, 153, 99, 1) 59.99%, rgba(255, 206, 46, 1) 60%, rgba(255, 206, 46, 1) 79.99%, rgba(37, 194, 121, 1) 80%, rgba(37, 194, 121, 1) 89.99%, rgba(25, 135, 84, 1) 90%, rgba(25, 135, 84, 1) 100%);
			background-size: var(--progressbar-width) 100%; /* This is calculated by JS and set in the DOM */
			background-repeat: no-repeat;
		}
	}
}

@include mixin.atom(progress-label) {
	display: flex;
	align-items: center;

	> progress,
	> meter {
		margin-left: func.rhythm(1);
	}

	@include bem.m(large) {
		font-size: var.$size-base * 1.5;
	}
}
