{{#if has_label}}<label class="a-progress-label"> label: {{/if}}<progress class="a-progress{{#if additional_classes}} {{additional_classes}}{{/if}}" max="{{max}}" value="{{value}}" {{#if max_width}}style="max-width:{{max_width}}"{{/if}}></progress>{{#if has_label}}</label>{{/if}}
