<form>
	<fieldset class="a-rating{{#if additional_classes}} {{additional_classes}}{{/if}}">
		<legend>Vad tyckte du om kursen?</legend>
		<input type="radio" name="rating" value="1" class="a-rating__radio" id="rating-1">
		<label for="rating-1" class="a-rating__label "><span class="u-visuallyhidden">1</span></label>
		<input type="radio" name="rating" value="2" class="a-rating__radio" id="rating-2">
		<label for="rating-2" class="a-rating__label "><span class="u-visuallyhidden">2</span></label>
		<input type="radio" name="rating" value="3" class="a-rating__radio" id="rating-3">
		<label for="rating-3" class="a-rating__label "><span class="u-visuallyhidden">3</span></label>
		<input type="radio" name="rating" value="4" class="a-rating__radio" id="rating-4">
		<label for="rating-4" class="a-rating__label "><span class="u-visuallyhidden">4</span></label>
		<input type="radio" name="rating" value="5" class="a-rating__radio" id="rating-5">
		<label for="rating-5" class="a-rating__label"><span class="u-visuallyhidden">5</span></label>
	</fieldset>
</form>
