<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// CHART 1

var chart1 = am4core.create("chartdiv1", am4charts.XYChart);

var data = [];
var value = 50;
for(var i = 0; i < 300; i++){
  var date = new Date();
  date.setHours(0,0,0,0);
  date.setDate(i);
  value -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
  data.push({date:date, value: value});
}

chart1.data = data;

// Create axes
var dateAxis1 = chart1.xAxes.push(new am4charts.DateAxis());

dateAxis1.renderer.minGridDistance = 60;

var valueAxis1 = chart1.yAxes.push(new am4charts.ValueAxis());

// Create series
var series1 = chart1.series.push(new am4charts.LineSeries());

series1.dataFields.valueY = "value";
series1.dataFields.dateX = "date";
series1.tooltipText = "{value}"
series1.tooltip.pointerOrientation = "vertical";

// CHART 2
var chart2 = am4core.create("chartdiv2", am4charts.XYChart);

// Add data
chart2.data = [{
	"year": 2005,
	"income": 23.5,
	"expenses": 18.1
},{
	"year": 2006,
	"income": 26.2,
	"expenses": 22.8
},{
	"year": 2007,
	"income": 30.1,
	"expenses": 23.9
},{
	"year": 2008,
	"income": 29.5,
	"expenses": 25.1
},{
	"year": 2009,
	"income": 24.6,
	"expenses": 25
}];

// Create axes
var categoryAxis = chart2.yAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "year";
categoryAxis.numberFormatter.numberFormat = "#";
categoryAxis.renderer.inversed = true;
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.cellStartLocation = 0.1;
categoryAxis.renderer.cellEndLocation = 0.9;

var  valueAxis = chart2.xAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.opposite = true;

// Create series
function createSeries(field, name) {
	var series = chart2.series.push(new am4charts.ColumnSeries());
	series.dataFields.valueX = field;
	series.dataFields.categoryY = "year";
	series.name = name;
	series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
	series.columns.template.height = am4core.percent(100);
	series.sequencedInterpolation = true;

	var valueLabel = series.bullets.push(new am4charts.LabelBullet());
	valueLabel.label.text = "{valueX}";
	valueLabel.label.horizontalCenter = "left";
	valueLabel.label.dx = 10;
	valueLabel.label.hideOversized = false;
	valueLabel.label.truncate = false;

	var categoryLabel = series.bullets.push(new am4charts.LabelBullet());
	categoryLabel.label.text = "{name}";
	categoryLabel.label.horizontalCenter = "right";
	categoryLabel.label.dx = -10;
	categoryLabel.label.fill = am4core.color("#fff");
	categoryLabel.label.hideOversized = false;
	categoryLabel.label.truncate = false;
}

createSeries("income", "Income");
createSeries("expenses", "Expenses");

});

// CHART 3
var chart3 = am4core.create("chartdiv3", am4charts.XYChart);

// Add data
chart3.data = [{
	"year": "2016",
	"europe": 2.5,
	"namerica": 2.5,
	"asia": 2.1,
	"lamerica": 0.3,
	"meast": 0.2,
	"africa": 0.1
}, {
	"year": "2017",
	"europe": 2.6,
	"namerica": 2.7,
	"asia": 2.2,
	"lamerica": 0.3,
	"meast": 0.3,
	"africa": 0.1
}, {
	"year": "2018",
	"europe": 2.8,
	"namerica": 2.9,
	"asia": 2.4,
	"lamerica": 0.3,
	"meast": 0.3,
	"africa": 0.1
}];

// Create axes
var categoryAxis = chart3.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "year";
categoryAxis.renderer.grid.template.location = 0;


var valueAxis = chart3.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.inside = true;
valueAxis.renderer.labels.template.disabled = true;
valueAxis.min = 0;

// Create series
function createSeries(field, name) {

	// Set up series
	var series = chart3.series.push(new am4charts.ColumnSeries());
	series.name = name;
	series.dataFields.valueY = field;
	series.dataFields.categoryX = "year";
	series.sequencedInterpolation = true;

	// Make it stacked
	series.stacked = true;

	// Configure columns
	series.columns.template.width = am4core.percent(60);
	series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";

	// Add label
	var labelBullet = series.bullets.push(new am4charts.LabelBullet());
	labelBullet.label.text = "{valueY}";
	labelBullet.locationY = 0.5;
	labelBullet.label.hideOversized = true;

	return series;
}

createSeries("europe", "Europe");
createSeries("namerica", "North America");
createSeries("asia", "Asia-Pacific");
createSeries("lamerica", "Latin America");
createSeries("meast", "Middle-East");
createSeries("africa", "Africa");

// Legend
chart3.legend = new am4charts.Legend();


// CHART 4
var chart4 = am4core.create("chartdiv4", am4charts.PieChart);

// Add data
chart4.data = [ {
	"country": "Lithuania",
	"litres": 501.9
}, {
	"country": "Czechia",
	"litres": 301.9
}, {
	"country": "Ireland",
	"litres": 201.1
}, {
	"country": "Germany",
	"litres": 165.8
}, {
	"country": "Australia",
	"litres": 139.9
}, {
	"country": "Austria",
	"litres": 128.3
}, {
	"country": "UK",
	"litres": 99
}, {
	"country": "Belgium",
	"litres": 60
}, {
	"country": "The Netherlands",
	"litres": 50
} ];

// Add and configure Series
var pieSeries = chart4.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "litres";
pieSeries.dataFields.category = "country";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;

// This creates initial animation
pieSeries.hiddenState.properties.opacity = 1;
pieSeries.hiddenState.properties.endAngle = -90;
pieSeries.hiddenState.properties.startAngle = -90;

</script>

<div class="wrapper">
	<div class="row">
		<div class="grid">
			<h2>År 2019 har 98 procent av de svenska hushållen tillgång till internet</h2>
		</div>
	</div>
	<div class="row">
		<div class="grid-18 grid-lg-9 u-m-t-2">
			<div class="background-snow u-p-2">
				<div class="soi-graph">
					<div class="soi-graph__inner">
						<div id="chartdiv1" class="iis-graph" style="min-height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-18 grid-lg-9 u-m-t-2">
			<div class="background-snow u-p-2">
				<div class="soi-graph">
					<div class="soi-graph__inner">
						<div id="chartdiv2" class="iis-graph" style="min-height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="grid-18 grid-lg-9 u-m-t-2">
			<div class="background-snow u-p-2">
				<div class="soi-graph">
					<div class="soi-graph__inner">
						<div id="chartdiv3" class="iis-graph" style="min-height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-18 grid-lg-9 u-m-t-2">
			<div class="background-snow u-p-2">
				<div class="soi-graph">
					<div class="soi-graph__inner">
						<div id="chartdiv4" class="iis-graph" style="min-height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
