@charset 'UTF-8';

@include molecule(breadcrumb) {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: rhythm(1) 0;
	list-style: none;

	@include e(item) {
		display: none;
		align-items: center;
		align-self: stretch;

		&:nth-last-child(2) {
			display: flex;

			@include b(icon) {
				display: none;

				@include bp-up(md) {
					display: flex;
				}
			}
		}

		&:last-child {
			@include b(icon) {
				display: none;
			}
		}

		@include bp-up(md) {
			display: flex;
			position: static;
			flex-shrink: 0;
			width: auto;
			min-height: 0;
		}
	}

	@include b(icon) {
		width: $icon-size / 2;
		height: $icon-size / 2;
		margin: 0 rhythm(1);
		transform: translateY(rem(1px));

		&:first-child {
			margin: 0 rhythm(1) 0 0;

			@include bp-up(md) {
				display: none;
			}
		}
	}

	@include e(link) {
		@extend %normalize-links;

		max-width: rhythm(30);
		overflow: hidden;
		color: $color-cyberspace;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;

		&[aria-current] {
			color: $color-granit;
			pointer-events: none;

			&::before {
				font-weight: 400;
			}
		}

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		@include bp-up(md) {
			max-width: rhythm(25);
		}

		@include bp-up(xl) {
			max-width: none;
		}
	}
}
