@charset "UTF-8";
@use "sass:color";
@use "sass:math";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;

@include m.molecule(breadcrumb) {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: rhythm(1) 0;
	list-style: none;

	&::before {
		content: '';
		display: flex;
		width: math.div(v.$icon-size, 2);
		height: math.div(v.$icon-size, 2);
		margin-right: rhythm(1);
		transform: translateY(to_rem(1px));
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-backwards' viewBox='0 0 18.1 32'%3E%3Cpolygon points='16,32 0,16 16,0 18.9,2.9 5.9,16 18.9,29.1 '%3E%3C/polygon%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;

		@include bp.bp-up(md) {
			display: none;
		}
	}

	@include m2.e(item) {
		display: none;
		align-items: center;
		align-self: stretch;

		&:nth-last-child(2) {
			display: flex;

			@include m2.b(icon) {
				display: none;

				@include bp.bp-up(md) {
					display: flex;
				}
			}
		}

		&:last-child {
			@include m2.b(icon) {
				display: none;
			}
		}

		@include bp.bp-up(md) {
			display: flex;
			position: static;
			flex-shrink: 0;
			width: auto;
			max-width: to_rem(250px);
			min-height: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		@include bp.bp-up(sm) {
			max-width: to_rem(300px);
		}

		@include bp.bp-up(lg) {
			max-width: to_rem(350px);
		}

		@include bp.bp-up(xl) {
			max-width: to_rem(400px);
		}
	}

	@include m2.b(icon) {
		width: math.div(v.$icon-size, 2);
		height: math.div(v.$icon-size, 2);
		margin: 0 rhythm(1);
		transform: translateY(to_rem(1px));
		color: var(--cyberspace-color);
		fill: currentColor;

		&:first-child {
			margin: 0 rhythm(1) 0 0;

			@include bp.bp-up(md) {
				display: none;
			}
		}
	}

	@include m2.e(link) {
		@extend %normalize-links;

		max-width: rhythm(30);
		overflow: hidden;
		color: var(--cyberspace-color);
		text-overflow: ellipsis;
		white-space: nowrap;

		&[aria-current] {
			pointer-events: none;
			text-decoration: none;

			&::before {
				font-weight: 400;
			}
		}

		&:hover,
		&:focus {
			color: c.$color-ruby;
		}

		@include bp.bp-up(md) {
			max-width: rhythm(25);
		}

		@include bp.bp-up(xl) {
			max-width: none;
		}
	}
}
