<nav aria-label="Breadcrumb">
	<ol class="m-breadcrumb">
		{{> @icon id="arrow-backwards"}}
		{{#each breadcrumb_item}}
		<li class="m-breadcrumb__item">
			<a href="{{url}}" class="m-breadcrumb__link" {{#if is_current}}aria-current="page"{{/if}}>
				{{title}}
			</a>
			{{> @icon id="arrow-forwards"}}
		</li>
		{{/each}}
	</ol>
</nav>
