{{#unless multipleInputs}}
	<div class="m-input-group">
		{{#if before}}
			<span class="m-input-group__label">{{before}}</span>
		{{/if}}
		<input type="{{type}}" placeholder="{{placeholder}}" class="a-input">
		{{#if after}}
			<span class="m-input-group__label">{{after}}</span>
		{{/if}}
	</div>
{{/unless}}
{{#if multipleInputs}}
	<div class="m-input-group">
		<input type="text" placeholder="Name" class="a-input">
		<span class="m-input-group__label">@</span>
		<input type="text" placeholder="Server" class="a-input">
	</div>
{{/if}}
