{
    "presets": [
        ["babel-preset-env", { "modules": "commonjs" }]
    ],
    "plugins": [
        "babel-plugin-syntax-dynamic-import",
        "transform-class-properties",
        "babel-plugin-transform-object-rest-spread",
        "transform-custom-element-classes",
        "transform-es2015-classes"
    ]
}
