{
    "parser": "babel-eslint",
    "extends": "@internetstiftelsen/eslint-config",
    "env": {
        "browser": true
    },
    "globals": {
        "YT": true
    },
    "rules": {
        "no-param-reassign": [2, { "props": false }],
    }
}
