<div class="site__main" id="siteMain">
	<div class="site__main__content">
		<div class="wrapper">
			<div class="row justify-content-center">
				<div class="grid-18">
					<div class="section section--tight">
						<div class="row">
							<div class="grid-18 grid-lg-12">
								<main role="main" class="article">
									<h1 class="supersize">Goto 10</h1>

									<div class="article__content">
										<p class="preamble">Goto 10 är en mötesplats för att bygga nätverk, testa idéer, jobba med nya projekt, produkter, evenemang och utbildningar – allt som främjar internet i Sverige.</p>
										<p>Mötesplatsen är öppen för alla och medlemskap är kostnadsfritt. Goto 10 finns i Hammarby Sjöstad och på goto10.se samt på sociala medier.</p>
										<h2>Logotyp</h2>

										<figure class="wp-block-image">
											<img src="/assets/images/goto10_exempel1-1024x580.jpg" alt="Goto 10 logotyp">
											<figcaption>Logotyp med gul text mot grå botten.</figcaption>
										</figure>
										<figure class="wp-block-image">
											<img src="/assets/images/goto10_exempel2-1024x580.jpg" alt="Goto 10 logotyp stående">
											<figcaption>En stående version av logotypen finns tillgänglig. Används i undantagsfall.</figcaption>
										</figure>
										<figure class="wp-block-image">
											<img src="/assets/images/goto10_exempel3-1024x580.jpg" alt="Goto 10 logotyp, grå, vit och svartvit version">
											<figcaption>Grå, vit och svart version av logotypen.</figcaption>
										</figure>

										<div class="m-download">
											<div class="row align-items-center justify-content-center">
												<div class="grid-auto">
													<figure class="m-download__icon-file">
														<svg class="icon">
															<use xlink:href="#icon-file"></use>
														</svg>
													</figure>
												</div>
												<div class="grid u-position-static">
													<div class="row flex-column">
														<div class="grid-18 u-position-static">
															<a href="/assets/zip/goto10-logo.zip" class="beta m-download__link" download>
																Logotyp för nedladdning
															</a>
														</div>
														<div class="grid-18  display-flex flex-column flex-sm-row justify-content-between align-items-start">
															<p class="u-m-b-0">Ladda ner logotyp som EPS</p>
															<div class="display-flex align-self-end flex-nowrap m-download__trigger">
																<strong class="m-download__text">Ladda ner</strong>
																<figure class="m-download__icon-download">
																	<svg class="icon">
																		<use xlink:href="#icon-download"></use>
																	</svg>
																</figure>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<h3>Logotypens anatomi</h3>
										<figure class="wp-block-image">
											<img src="/assets/images/goto10_grid-1024x580.jpg" alt="Logotypens anatomi vilandes på ett osynligt kvadratiskt rutsystem">
											<figcaption>Logotypens bokstäver vilar på ett osynligt kvadratiskt rutsystem.</figcaption>
										</figure>

										<h3>Rutmönster</h3>
										<figure class="wp-block-image">
											<img src="/assets/images/goto10_monster-1024x580.jpg" alt="Logotypen i form av ett mönster">
											<figcaption>Logotypen i form av ett mönster.</figcaption>
										</figure>

										<div class="m-download">
											<div class="row align-items-center justify-content-center">
												<div class="grid-auto">
													<figure class="m-download__icon-file">
														<svg class="icon">
															<use xlink:href="#icon-file"></use>
														</svg>
													</figure>
												</div>
												<div class="grid u-position-static">
													<div class="row flex-column">
														<div class="grid-18 u-position-static">
															<a href="/assets/zip/Goto_10_monster.zip" class="beta m-download__link" download>
																Mönster för nedladdning
															</a>
														</div>
														<div class="grid-18  display-flex flex-column flex-sm-row justify-content-between align-items-start">
															<p class="u-m-b-0">Ladda ner mönster som EPS</p>
															<div class="display-flex align-self-end flex-nowrap m-download__trigger">
																<strong class="m-download__text">Ladda ner</strong>
																<figure class="m-download__icon-download">
																	<svg class="icon">
																		<use xlink:href="#icon-download"></use>
																	</svg>
																</figure>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</main>
							</div>
							<div class="grid-18 grid-lg-6">
								<aside class="sidebar u-position-sticky-top-4">
									<div class="row">
										<div class="grid-18 grid-md-9 grid-lg-18 u-m-b-2">
											<section class="m-card m-card--padded">
												<div class="m-card__content">
													<h1 class="beta">Brandbook</h1>
													<div class="textwidget">
														<dl>
															<dt>Internetstiftelsen</dt>
															<dd class="u-m-l-0">
																<ol class="u-list-clean u-p-l-2">
																	<li><a href="/components/preview/identitet.html">Identitét</a></li>
																	<li><a href="/components/preview/bildmaner.html">Bildmanér</a></li>
																	<li><a href="/components/preview/tonalitet-och-sprakbruk.html">Tonalitet och språkbruk</a></li>
																</ol>
															</dd>
															<dd class="u-m-l-0">
																<ol class="u-list-clean">
																	<li><a class="is-active" href="/components/preview/goto10.html">Goto 10</a></li>
																</ol>
															</dd>
														</dl>
													</div>
												</div>
											</section>
										</div>
									</div>
								</aside>
							</div>
							<div class="row">
								<div class="grid-18">
									<h2>Färger</h2>
									<table class="colors">
										<tbody>
											<tr>
												<td style="background-color: #ffe100;color:#000">
													Gul <br>
													HEX #ffe100 <br>
													RGB 255/225/0 <br>
													PMS 108 <br>
													CMYK 0/10/100/0 <br>
													<br>
													<br>
													<br>
												</td>
												<td style="background-color: #4c4c4c;color:#fff">
													Grå <br>
													HEX #4c4c4c <br>
													RGB 76/76/76 <br>
													PMS Warm Gray 11 <br>
													CMYK 0/0/0/70 <br>
													<br>
													<br>
													<br>
												</td>
												<td style="background-color: #000000;color:#fff">
													Svart <br>
													HEX #000 <br>
													RGB 0/0/0 <br>
													PMS Process Black <br>
													CMYK 0/30/0/100 <br>
													<br>
													<br>
													<br>
												</td>
												<td style="background-color: #ffffff">
													Vit <br>
													HEX #fff <br>
													RGB 250/250/250 <br>
													PMS – <br>
													CMYK 0/0/0/0 <br>
													<br>
													<br>
													<br>
												</td>
											</tr>
											<tr>
												<td style="background-color: #ffe419">
													#ffe419
												</td>

												<td style="background-color: #5e5e5e;color:#fff">
													#5e5e5e
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #ffe733">
													#ffe733
												</td>

												<td style="background-color: #707070">
													#707070
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #ffea4c">
													#ffea4c
												</td>

												<td style="background-color: #818181">
													#818181
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #ffed66">
													#ffed66
												</td>

												<td style="background-color: #949494">
													#949494
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #fff07f">
													#fff07f
												</td>

												<td style="background-color: #a5a5a5">
													#a5a5a5
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #fff399">
													#fff399
												</td>

												<td style="background-color: #b7b7b7">
													#b7b7b7
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #fff6b2">
													#fff6b2
												</td>

												<td style="background-color: #c9c9c9">
													#c9c9c9
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #fff9cc">
													#fff9cc
												</td>

												<td style="background-color: #dbdbdb">
													#dbdbdb
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
											<tr>
												<td style="background-color: #fffce5">
													#fffce5
												</td>

												<td style="background-color: #ededed">
													#ededed
												</td>

												<td style="background-color: #eee">
												</td>

												<td style="background-color: #eee">
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
