@charset "UTF-8";

@include organism(schedule-filter)  {
	margin-bottom: rhythm(2);
	position: sticky;
	top: -1px;
	padding-top: 1px;
	background-color: $color-ash;
	z-index: z_index(foregroundMinus);
	transition: box-shadow 0.25s ease, border-width 0.25s ease, background-color 0.25s ease;

	&.is-sticky {
		border-bottom: 1px solid $color-concrete;
		margin-left: -#{$grid-gutter-width};
		margin-right: -#{$grid-gutter-width};
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		background-color: $color-snow;
		@extend %box-shadow;

		@include bp-up(xxl) {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	@include e(button) {
		font-size: $size-base;

		@include bp-up(md) {
			pointer-events: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}

			svg {
				display: none;
			}
		}
	}
	@include e(list) {
		padding: 0 0 rhythm(1) 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		&[aria-hidden='true'] {
			display: none;

			@include bp-up(md) {
				display: flex;
			}
		}

		dt {
			width: 100%;
			flex-basis: 100%;
			font-family: $font-family-headings;
		}

		dt,
		dd {
			margin: 0;
			padding: 0;
		}
	}
}

@include organism(schedule) {
	@include e(item) {
		background-color: $color-snow;
		border-right: $border-radius;
		padding: rhythm(1) rhythm(3) rhythm(1) rhythm(2);
		border-left-width: 4px;
		border-left-style: solid;
		border-radius: $border-radius;
		margin-bottom: rhythm(2);

		&__full {
			display: none;

			&[aria-hidden='true'] {
				display: none;
			}

			&[aria-hidden='false'] {
				display: block;

				& + [class*='short'] {
					display: none;
				}
			}
		}

		p:last-child {
			margin-bottom: 0;
		}

		@include m(keynote) {
			background-color: $color-cyberspace;
			color: $color-snow;
			border-color: $color-cyberspace;
			padding: rhythm(2) rhythm(3) rhythm(2) rhythm(2);
		}

		@include m(granit) {
			border-color: $color-granit;
		}

		@include m(lemon) {
			border-color: $color-lemon;
		}

		@include m(jade) {
			border-color: $color-jade;
		}

		@include m(ruby) {
			border-color: $color-ruby;
		}

		@include m(peacock) {
			border-color: $color-peacock;
		}

		@include m(ocean) {
			border-color: $color-ocean;
		}

		@include m(transparent) {
			background-color: transparent;
			border-color: transparent;
		}

		@include e(image-wrapper) {
			width: rem(50px);
			height: rem(50px);
			margin-right: rhythm(2);
			position: relative;

			@include bp-up(md) {
				margin-right: 0;
			}

			@include m(medium) {
				width: rem(75px);
				height: rem(75px);

			}

			@include m(large) {
				width: rem(125px);
				height: rem(125px);
				margin-bottom: rhythm(2);

				@include bp-up(md) {
					margin-bottom: 0;
				}
			}

			@include m(multiple) {
				margin-right: rhythm(3);
				flex-grow: 0;
				flex-shrink: 0;

				@include bp-up(md) {
					margin-right: 0;
				}

				&::before,
				&::after {
					content: '';
					display: block;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					top: 0;
					left: rhythm(1.25);
					background-color: $color-ash;
					position: absolute;
					z-index: 2;
					transform: scale(0.95);
					box-shadow: 0 0 0 3px $color-snow;
				}

				&::after {
					left: rhythm(2.5);
					z-index: 1;
					transform: scale(0.9);
				}
			}
		}

		@include e(image) {
			border-radius: 50%;
			width: rem(50px);
			height: rem(50px);
			position: relative;
			z-index: 3;
			box-shadow: 0 0 0 3px $color-snow;

			@include bp-up(lg) {
				margin-right: 0;
			}

			@include m(medium) {
				width: rem(75px);
				height: rem(75px);

			}

			@include m(large) {
				width: rem(125px);
				height: rem(125px);
				margin-bottom: rhythm(2);
				box-shadow: none;

				@include bp-up(md) {
					margin-bottom: 0;
				}
			}
		}

		@include e(close-btn) {
			position: absolute;
			top: 0;
			right: 0;
			z-index: z_index(middleGround);
		}

		@include e(owner) {
			display: flex;
			margin-bottom: rhythm(1);
			align-items: center;

			> span {
				line-height: 1.2;
			}

			@include bp-up(lg) {
				margin-bottom: 0;
			}

			@include bp-up(md) {
				flex-wrap: wrap;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				> span {
					text-align: center;
					margin-top: rhythm(0.5);
				}
			}
		}
	}
}
