@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;
@use '../../vendor/baseline/plumber' as plumber;

@include mixin.organism(schedule-filter)  {
	margin-bottom: func.rhythm(2);
	background-color: colors.$color-ash;
	z-index: func.z_index(foregroundMinus);
	transition: box-shadow 0.25s ease, border-width 0.25s ease, background-color 0.25s ease;

	@include bem.e(button) {
		font-size: var.$size-base;

		@include breakpoint.bp-up(md) {
			pointer-events: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}

			svg {
				display: none;
			}
		}

		&[aria-expanded='true'] {
			> svg {
				transform: rotate(-180deg);
				transform-origin: 50%;
				top: 21%;
			}
		}
	}
	@include bem.e(list) {
		padding: 0 0 func.rhythm(1) 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		&[aria-hidden='true'] {
			display: none;

			@include breakpoint.bp-up(md) {
				display: flex;
			}
		}

		dt {
			width: 100%;
			flex-basis: 100%;
			font-family: var.$font-family-headings;
		}

		dt,
		dd {
			margin: 0;
			padding: 0;
		}
	}
}

@include mixin.organism(schedule) {
	@include bem.e(item) {
		background-color: colors.$color-snow;
		border-right: var.$border-radius;
		padding: func.rhythm(1) func.rhythm(3) func.rhythm(1) func.rhythm(2);
		border-left-width: 4px;
		border-left-style: solid;
		border-radius: var.$border-radius;
		margin-bottom: func.rhythm(2);

		a {
			&:hover,
			&:focus {
				span {
					color: colors.$color-ruby;
				}
			}
		}

		&__full {
			display: none;

			&[aria-hidden='true'] {
				display: none;
			}

			&[aria-hidden='false'] {
				display: block;

				& + [class*='short'] {
					display: none;
				}
			}
		}

		p:last-child {
			margin-bottom: 0;
		}

		@include bem.m(keynote) {
			background-color: colors.$color-cyberspace;
			color: colors.$color-snow;
			border-color: colors.$color-cyberspace;
			padding: func.rhythm(2) func.rhythm(3) func.rhythm(2) func.rhythm(2);

			svg  {
				fill: colors.$color-snow !important;
			}

			span {
				color: colors.$color-snow;
			}
		}

		@include bem.m(granit) {
			border-color: colors.$color-granit;
		}

		@include bem.m(lemon) {
			border-color: colors.$color-lemon;
		}

		@include bem.m(jade) {
			border-color: colors.$color-jade;
		}

		@include bem.m(ruby) {
			border-color: colors.$color-ruby;
		}

		@include bem.m(peacock) {
			border-color: colors.$color-peacock;
		}

		@include bem.m(ocean) {
			border-color: colors.$color-ocean;
		}

		@include bem.m(sandstone) {
			border-color: colors.$color-sandstone;
		}

		@include bem.m(transparent) {
			background-color: transparent;
			border-color: transparent;
		}

		@include bem.e(image-wrapper) {
			width: func.to_rem(50px);
			height: func.to_rem(50px);
			margin-right: func.rhythm(2);
			position: relative;

			@include breakpoint.bp-up(md) {
				margin-right: 0;
			}

			@include bem.m(medium) {
				width: func.to_rem(75px);
				height: func.to_rem(75px);

			}

			@include bem.m(large) {
				width: func.to_rem(125px);
				height: func.to_rem(125px);
				margin-bottom: func.rhythm(2);

				@include breakpoint.bp-up(md) {
					margin-bottom: 0;
				}
			}

			@include bem.m(multiple) {
				margin-right: func.rhythm(3);
				flex-grow: 0;
				flex-shrink: 0;

				@include breakpoint.bp-up(md) {
					margin-right: 0;
				}

				&::before,
				&::after {
					content: '';
					display: block;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					top: 0;
					left: func.rhythm(1.25);
					background-color: colors.$color-ash;
					position: absolute;
					z-index: 2;
					transform: scale(0.95);
					box-shadow: 0 0 0 3px colors.$color-snow;
				}

				&::after {
					left: func.rhythm(2.5);
					z-index: 1;
					transform: scale(0.9);
				}
			}
		}

		@include bem.e(image) {
			border-radius: 50%;
			width: func.to_rem(50px);
			height: func.to_rem(50px);
			position: relative;
			z-index: 3;
			box-shadow: 0 0 0 3px colors.$color-snow;

			@include breakpoint.bp-up(lg) {
				margin-right: 0;
			}

			@include bem.m(medium) {
				width: func.to_rem(75px);
				height: func.to_rem(75px);

			}

			@include bem.m(large) {
				width: func.to_rem(125px);
				height: func.to_rem(125px);
				margin-bottom: func.rhythm(2);
				box-shadow: none;

				@include breakpoint.bp-up(md) {
					margin-bottom: 0;
				}
			}
		}

		@include bem.e(close-btn) {
			position: absolute;
			top: 0;
			right: 0;
			z-index: func.z_index(middleGround);
		}

		@include bem.e(owner) {
			display: flex;
			margin-bottom: func.rhythm(1);
			align-items: center;

			> span {
				line-height: 1.2;
			}

			@include breakpoint.bp-up(lg) {
				margin-bottom: 0;
			}

			@include breakpoint.bp-up(md) {
				flex-wrap: wrap;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				> span {
					text-align: center;
					margin-top: func.rhythm(0.5);
				}
			}
		}
	}
}
