@charset "UTF-8";

@include organism(schedule)  {
	@include e(filter) {
		margin-bottom: rhythm(2);

		@include e(button) {
			font-size: $size-base;

			@include bp-up(md) {
				pointer-events: none;

				&:hover,
				&:focus {
					text-decoration: none;
				}

				svg {
					display: none;
				}
			}
		}
		@include e(list) {
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;

			&[aria-hidden='true'] {
				display: none;

				@include bp-up(md) {
					display: flex;
				}
			}

			dt {
				width: 100%;
				flex-basis: 100%;
				font-family: $font-family-headings;
			}

			dt,
			dd {
				margin: 0;
				padding: 0;
			}
		}
	}

	@include e(item) {
		background-color: $color-snow;
		border-right: $border-radius;
		padding: rhythm(1) rhythm(3) rhythm(1) rhythm(2);
		border-left-width: 4px;
		border-left-style: solid;
		border-radius: $border-radius;
		margin-bottom: rhythm(2);

		p {
			margin-bottom: 0;
		}

		@include m(keynote) {
			background-color: $color-cyberspace;
			color: $color-snow;
			border-color: $color-cyberspace;
			padding: rhythm(2) rhythm(3) rhythm(2) rhythm(2);
		}

		@include m(granit) {
			border-color: $color-granit;
		}

		@include m(lemon) {
			border-color: $color-lemon;
		}

		@include m(jade) {
			border-color: $color-jade;
		}

		@include m(ruby) {
			border-color: $color-ruby;
		}

		@include m(peacock) {
			border-color: $color-peacock;
		}

		@include m(ocean) {
			border-color: $color-ocean;
		}

		@include m(transparent) {
			background-color: transparent;
			border-color: transparent;
		}

		@include e(image) {
			border-radius: 50%;
			width: rem(50px);
			height: rem(50px);

			@include m(large) {
				width: rem(125px);
				height: rem(125px);
				margin-bottom: rhythm(2);

				@include bp-up(md) {
					margin-bottom: 0;
				}
			}
		}
	}
}
