<div class="wrapper">
	<header class="alpha">Måndag 20 november</header>

	<nav class="o-schedule-filter js-filter">
		<button class="a-button a-button--transparent u-p-l-0 a-button--icon o-schedule-filter__button" aria-controls="schedule-filter-options" data-a11y-toggle="schedule-filter-options" aria-expanded="true">
			<span class="a-button__text">Filtrera efter fokusområde</span>
			<svg class="icon a-button__icon">
				<use xlink:href="#icon-arrow-down"></use>
			</svg>
		</button>
		<dl class="o-schedule-filter__list" id="schedule-filter-options" aria-expanded="true" data-focus-trap="false">
			<dt class="u-visuallyhidden">
				Filtrera efter ämne
			</dt>
			<dd>
				<a href="#" class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon">
					<svg class="icon u-m-r-1">
						<use xlink:href="#icon-share"></use>
					</svg>
					<span class="a-tag__text">Kommunikation</span>
				</a>
			</dd>
			<dd>
				<a href="#" class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade">
					<svg class="icon u-m-r-1 color-jade-dark">
						<use xlink:href="#icon-world"></use>
					</svg>
					<span class="a-tag__text">Omvärldsbevakning</span>
				</a>
			</dd>
			<dd>
				<a href="#" class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby">
					<svg class="icon u-m-r-1 color-ruby-dark">
						<use xlink:href="#icon-padlock"></use>
					</svg>
					<span class="a-tag__text">Säkerhet</span>
				</a>
			</dd>
			<dd>
				<a href="#" class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock">
					<svg class="icon u-m-r-1 color-peacock-dark">
						<use xlink:href="#icon-capacity"></use>
					</svg>
					<span class="a-tag__text">Digital kompetens</span>
				</a>
			</dd>
			<dd>
				<a href="#" class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ocean">
					<svg class="icon u-m-r-1 color-ocean-dark">
						<use xlink:href="#icon-streaming"></use>
					</svg>
					<span class="a-tag__text">AI</span>
				</a>
			</dd>
		</dl>
	</nav>

	<section class="o-schedule">
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						08.30-09.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--granit">
						<span class="a-meta u-hide-lg-up u-m-b-1">
							<svg class="icon">
								<use xlink:href="#icon-time"></use>
							</svg>
							08.30-09.00
						</span>
						<h2 class="delta">Försnack ☕️</h2>
						<p>Måns Jonasson och Aisha Mossberg inleder dagen och intervjuar några av dagens talare.</p>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						09.00-10.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--keynote">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 grid-md-12">
								<span class="a-meta u-hide-lg-up color-snow u-m-b-1">
									<svg class="icon">
										<use xlink:href="#icon-time" fill="#ffffff"></use>
									</svg>
									09.00-10.00
								</span>
								<h2><a href="#" class="u-link-area color-snow"><span class="u-weight-normal">Keynote:</span> Rachel Tabac</a></h2>
								<p>Känner du till säkerhetsluckorna i din organisation? Lyssna på den etiska hackaren Rachel Tobac som hjälper företag att skydda sig mot cyberattacker genom att hacka sig in och avslöja deras säkerhetsluckor och sårbarheter.</p>
							</div>
							<div class="grid-18 grid-md-auto">
								<img class="o-schedule__item__image o-schedule__item__image--large" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MzMxOTIwMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Rachel Tabac">
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						10.00-11.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--lemon">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div id="long" class="grid-18 o-schedule__item__full u-p-y-2 u-p-x-4">
								<button type="button" class="a-button a-button--icon a-button--standalone-icon o-schedule__item__close-btn" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
									<span class="a-button__text">Stäng</span>
									<svg class="icon a-button__icon">
										<use xlink:href="#icon-close"></use>
									</svg>
								</button>
								<span class="a-meta">Måndag 20 november 10.00-11.00</span>
								<h2>Annonsering utan pixeldata – win-win för dig och din målgrupp</h2>
								<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-m-b-2 u-pointer-events-none">
									<svg class="icon u-m-r-1">
										<use xlink:href="#icon-share"></use>
									</svg>
									<span class="a-tag__text">Kommunikation</span>
								</span>
								<p>
									Presenteras av:
									<a target="_blank" href="https://digitalsnack.se">Digitalsnack Social mediebyrå &amp; Podcast
										<svg class="icon o-mega-menu__link__icon">
											<use xlink:href="#icon-external-link"></use>
										</svg>
									</a>
								</p>
								<p>Annonsering i sociala medier blir allt mer utmanande när integriteten ökar för användarna. Men beroende på hur det tacklas kan det faktiskt leda till ett ännu bättre resultat för dig som annonsör. Under det här spårpasset kommer Digitalsnacks ägare annonsstrateg Jenni, dela med sig av hur du kan vända konsekvenserna av den ökade integriteten till din fördel. Så att ännu fler personer hittar och ditt varumärke övertygas av vad det har att erbjuda.</p>
								<h3 class="beta">Talare</h3>
								<div class="row u-m-t-0 u-m-b-0">
									<div class="grid-lg-3 grid-md-9 grid-18 u-m-b-0 u-p-1 u-p-l-2">
										<img class="o-schedule__item__image o-schedule__item__image--medium" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
									</div>
									<div class="grid-lg-15 grid-md-9 grid-18 u-m-b-0 u-p-1 u-p-l-2">
										<h4>Moderator: Anne-Marie Eklund Löwinder, CISO Internetstiftelsen</h4>
										<p class="u-font-size-medium-plus u-m-b-0">Frida Berry Eklund är talesperson och politisk påverkansansvarig för Våra barns klimat och medgrundare till det digitala verktyget, Klimatkollen.se. Hon har även skrivit boken "Prata med barn om klimatet" (Natur &amp; Kultur, 2020) och är grundare och senior rådgivare för den internationella plattformen Our Kids' Climate.</p>
									</div>
								</div>
								<div class="row u-m-t-0 u-m-b-0">
									<div class="grid-lg-3 grid-md-9 grid-18 u-m-b-0 u-p-1 u-p-l-2">
										<img class="o-schedule__item__image o-schedule__item__image--medium" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MzMxOTIwMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder" class="internetdagarna-m-speaker__image">
									</div>
									<div class="grid-lg-15 grid-md-9 grid-18 u-m-b-0 u-p-1 u-p-l-2">
										<h4>Louise Callenberg, Vd Singula / grundare ARTS</h4>
										<p class="u-font-size-medium-plus">Expert inom svensk tillämpad digitalisering, AI etik och ledarskap för förändring i en snabbt föränderlig tid. Teolog, beteendevetare och ex politiker med en bakgrund som chef för samverkan och förnyelse på SKR och chef för verksamhetsutveckling och digital förvaltning på Stockholm stad. Grundare av ARTS, som tränar förändringsförmågor för ledare och verksamhetsutvecklare samt vd på Singula, ett nystartat konsultbolag med fokus på den mänskliga kompetensen hos IT-professionella.</p>
									</div>
								</div>
							</div>
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Kommunikation</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--jade">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-world"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Omvärldsbevakning</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ruby">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--peacock">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-capacity"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Digital kompetens</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ocean">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-streaming"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="grid-18 grid-md-auto">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						11.00-11.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--transparent">
						<h2 class="delta">Paus 🧁️</h2>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						11.15-12.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--lemon">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Kommunikation</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--jade">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-world"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Omvärldsbevakning</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ruby">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--peacock">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-capacity"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Digital kompetens</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ocean">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-streaming"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="grid-18 grid-md-auto">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						12.15-13.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--transparent">
						<h2 class="delta">Lunch 🍜️</h2>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						13.00-14.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--lemon">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Kommunikation</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--jade">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-world"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Omvärldsbevakning</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ruby">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--peacock">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-capacity"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Digital kompetens</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ocean">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-streaming"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						14.00-14.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--transparent">
						<h2 class="delta">Paus 🧁️</h2>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						14.15-15.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--keynote">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 grid-md-12">
								<span class="a-meta u-hide-lg-up color-snow u-m-b-1">
									<svg class="icon">
										<use xlink:href="#icon-time" fill="#ffffff"></use>
									</svg>
									09.00-10.00
								</span>
								<h2><a href="#" class="u-link-area color-snow"><span class="u-weight-normal">Keynote:</span> Rachel Tabac</a></h2>
								<p>Känner du till säkerhetsluckorna i din organisation? Lyssna på den etiska hackaren Rachel Tobac som hjälper företag att skydda sig mot cyberattacker genom att hacka sig in och avslöja deras säkerhetsluckor och sårbarheter.</p>
							</div>
							<div class="grid-18 grid-md-auto">
								<img class="o-schedule__item__image o-schedule__item__image--large" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MzMxOTIwMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Rachel Tabac">
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						15.00-15.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--granit">
						<h2 class="delta">Eftersnack 🍾</h2>
						<p>Måns Jonasson och Aisha Mossberg sammanfattar dagen.</p>
					</div>
				</article>
			</div>
		</div>
	</section>

	<header class="alpha u-m-b-2">Tisdag 21 november</header>

	<section class="o-schedule">
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						08.30-09.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--granit">
						<span class="a-meta u-hide-lg-up u-m-b-1">
							<svg class="icon">
								<use xlink:href="#icon-time"></use>
							</svg>
							08.30-09.00
						</span>
						<h2 class="delta">Försnack ☕️</h2>
						<p>Måns Jonasson och Aisha Mossberg inleder dagen och intervjuar några av dagens talare.</p>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						09.00-10.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--keynote">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 grid-md-12">
								<span class="a-meta u-hide-lg-up color-snow u-m-b-1">
									<svg class="icon">
										<use xlink:href="#icon-time" fill="#ffffff"></use>
									</svg>
									09.00-10.00
								</span>
								<h2><a href="#" class="u-link-area color-snow"><span class="u-weight-normal">Keynote:</span> Rachel Tabac</a></h2>
								<p>Känner du till säkerhetsluckorna i din organisation? Lyssna på den etiska hackaren Rachel Tobac som hjälper företag att skydda sig mot cyberattacker genom att hacka sig in och avslöja deras säkerhetsluckor och sårbarheter.</p>
							</div>
							<div class="grid-18 grid-md-auto">
								<img class="o-schedule__item__image o-schedule__item__image--large" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MzMxOTIwMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Rachel Tabac">
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						10.00-11.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--lemon">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Kommunikation</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--jade">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-world"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Omvärldsbevakning</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ruby">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--peacock">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-capacity"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Digital kompetens</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ocean">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											10.00-11.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-streaming"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="grid-18 grid-md-auto">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						11.00-11.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--transparent">
						<h2 class="delta">Paus 🧁️</h2>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						11.15-12.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--lemon">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Kommunikation</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--jade">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-world"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Omvärldsbevakning</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ruby">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--peacock">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-capacity"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Digital kompetens</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ocean">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											11.15-12.15
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-streaming"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="grid-18 grid-md-auto">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						12.15-13.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--transparent">
						<h2 class="delta">Lunch 🍜️</h2>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						13.00-14.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--lemon">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area" aria-controls="long" data-a11y-toggle="long" aria-expanded="true">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-lemon background-lemon-light a-tag--hover-dark color-lemon u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Kommunikation</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--jade">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-jade background-jade-light a-tag--hover-dark color-jade u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-world"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Omvärldsbevakning</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ruby">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ruby background-ruby-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-share"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--peacock">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta"><a href="#" class="color-cyberspace u-link-area">Att kartlägga livsvillkor för ökad hållbarhet</a></h2>
										<span class="a-tag u-b-solid u-b-peacock background-peacock-light a-tag--hover-dark color-peacock u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-capacity"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Digital kompetens</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiJjYXJvbGluZS1zdW5kYmVyZy0xNjYxOTcwODQ0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19" alt="Caroline Sundberg">
										<span class="u-font-size-medium">Caroline Sundberg</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="o-schedule__item o-schedule__item--ocean">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 o-schedule__item__short">
								<div class="row row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
									<div class="grid-18 grid-md-12 u-position-static">
										<span class="a-meta u-hide-lg-up u-m-b-1">
											<svg class="icon">
												<use xlink:href="#icon-time"></use>
											</svg>
											13.00-14.00
										</span>
										<h2 class="delta">
											<a href="#" class="color-cyberspace u-link-area">
												Annonsering utan pixeldata – win-win för dig och din målgrupp</a>
										</h2>
										<span class="a-tag u-b-solid u-b-ocean background-ocean-light a-tag--hover-dark color-ruby u-pointer-events-none">
											<svg class="icon u-m-r-1">
												<use xlink:href="#icon-streaming"></use>
											</svg>
											<span class="a-tag__text u-font-size-small">Säkerhet</span>
										</span>
									</div>
									<div class="o-schedule__item__owner grid-18 grid-md-4 grid-xxl-3 u-position-static">
										<img class="o-schedule__item__image" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MTk2ODQ1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Anne-Marie Eklund Löwinder">
										<span class="u-font-size-medium">Anne-Marie Eklund Löwinder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						14.00-14.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--transparent">
						<h2 class="delta">Paus 🧁️</h2>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						14.15-15.00
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--keynote">
						<div class="row flex-column-reverse flex-md-row justify-content-md-between align-items-center">
							<div class="grid-18 grid-md-12">
								<span class="a-meta u-hide-lg-up color-snow u-m-b-1">
									<svg class="icon">
										<use xlink:href="#icon-time" fill="#ffffff"></use>
									</svg>
									09.00-10.00
								</span>
								<h2><a href="#" class="u-link-area color-snow"><span class="u-weight-normal">Keynote:</span> Rachel Tabac</a></h2>
								<p>Känner du till säkerhetsluckorna i din organisation? Lyssna på den etiska hackaren Rachel Tobac som hjälper företag att skydda sig mot cyberattacker genom att hacka sig in och avslöja deras säkerhetsluckor och sårbarheter.</p>
							</div>
							<div class="grid-18 grid-md-auto">
								<img class="o-schedule__item__image o-schedule__item__image--large" src="https://ddgppes8y88eh.cloudfront.net/eyJidWNrZXQiOiJpbnRlcm5ldHN0aWZ0ZWxzZW4tZXZlbnQtYWRtaW4iLCJrZXkiOiItMTY2MzMxOTIwMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0IjoyMDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Rachel Tabac">
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row u-m-b-2">
			<div class="grid-18 grid-md-auto u-hide-md">
				<div class="u-p-2-y u-p-r-2">
					<div class="a-meta u-m-b-1 u-m-t-0">
						<svg class="icon">
							<use xlink:href="#icon-time"></use>
						</svg>
						15.00-15.15
					</div>
				</div>
			</div>
			<div class="grid-18 grid-lg-14 grid-xl-12">
				<article>
					<div class="o-schedule__item o-schedule__item--granit">
						<h2 class="delta">Eftersnack 🍾</h2>
						<p>Måns Jonasson och Aisha Mossberg sammanfattar dagen.</p>
					</div>
				</article>
			</div>
		</div>
	</section>
	<div class="row u-p-b-8">
		<div class="grid-18 grid-lg-12 u-align-center u-m-l-auto u-m-r-auto">
			<figure class="wp-block-image size-full">
				<img decoding="async" width="451" height="112" src="/assets/images/omdome-internetdagarna.png" alt="Stjärnor som visar betyg">
			</figure>
			<h2 class="wp-block-heading">Betyg Internetdagarna 2022</h2>
			<p class="wp-block-iis-preamble preamble">4,4 av 5 i deltagarenkäten</p>
			<p class="wp-block-iis-preamble preamble">Internetdagarna är Sveriges viktigaste event för kunskap om internet och digitaliseringens påverkan på individ och samhälle.</p>
			<div><a href="/medlemskap/bli-medlem/" class="a-button a-button--lemon a-button--large" target="_self"><span class="a-button__text">Köp biljett</span></a></div>
		</div>
	</div>
</div>
