<form class="wrapper">
	<h1 data-if="type" data-if-effect="text" data-if-values="podd:Bokning av poddutrustning">Håll event</h1>
	<p data-if="type:podd" style="display: none">Den här texten visas bara om podd är vald.</p>
	<p data-if="type:podd|type:workshop" style="display: none">Den här texten visas om podd eller workshop är vald.</p>
	<p data-if="type" style="display: none">Den här texten visas ifall "Typ" har ett värde</p>

	<div class="field-group">
		<label for="select">Typ</label>
		<select id="select" class="a-select" name="type">
			<option value="" disabled selected>Välj</option>
			<option value="podd">Podd</option>
			<option value="presentation">Presentation</option>
			<option value="workshop">Workshop</option>
		</select>
	</div>
	<div class="field-group">
		<label for="select2">Stad</label>
		<select id="select2" class="a-select" name="city">
			<option value="" selected disabled>Välj</option>
			<option value="stockholm">Stockholm</option>
			<option value="malmo">Malmö</option>
			<option value="online">Online</option>
		</select>
	</div>
	<div class="field-group">
		<label for="select3">Lokal</label>
		<select id="select3" class="a-select" data-if="city" data-if-effect="disable">
			<option value="" selected disabled>Välj</option>
			<option data-if-chain="stockholm" value="1">Gradängen</option>
			<option data-if-chain="stockholm" value="2">Annexet</option>
			<option data-if-chain="malmo" value="3">Gradängen</option>
			<option data-if-chain="malmo" value="4">Hörsalen</option>
			<option data-if-chain="online" value="5">Online</option>
		</select>
	</div>
</form>
