@charset 'UTF-8';

/// @group Tags
@include atom(tag) {
	@extend %normalize-links;

	@extend %tag;

	display: inline-flex;
	align-items: center;
	position: relative;
	z-index: z_index(middleground);
	margin-right: rhythm(1);
	margin-bottom: rhythm(1);
	padding: rhythm(1) rhythm(2);
	font-size: $small-text;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;

	&--background {
		@include color_values($colors, 'background-color', $separator: '-');
		@include color_values($colors, 'border-color', $separator: '-');
	}

	@include e(text) {
		color: var(--cyberspace-color);
		letter-spacing: 0.025rem;
	}

	@include m(light) {
		@extend %tag-light;

		@include e(text) {
			color: $color-snow;
		}
	}

	> svg {
		width: $icon-size-small;
		height: $icon-size-small;
	}

	@include m(hover-light) {
		&:hover,
		&:focus {
			background-color: currentColor !important;

			[class*=text] {
				color: $color-snow;
			}
		}
	}

	@include m(hover-dark) {
		&:hover,
		&:focus {
			background-color: currentColor !important;

			[class*=text] {
				color: $color-cyberspace;
			}
		}
	}
}
