@charset 'UTF-8';

/// @group Tags
@include atom(tag) {
	display: inline-block;
	position: relative;
	z-index: 2;
	margin-bottom: rhythm(1);
	padding: rhythm(0.5) rhythm(2);
	border: 1px solid $color-cyberspace;
	border-radius: rem(17.5px);
	color: $color-cyberspace;
	font-size: $small-text;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: $color-cyberspace;
		color: $color-snow;
	}
}
