<a href="{{href}}" class="a-tag{{#if is_light}} a-tag--light{{/if}}{{#if background_color}} a-tag--background-{{background_color}}{{/if}}{{#if border}} u-b-solid u-b-sandstone background-sandstone-light{{/if}}">{{text}}</a>
