<div class="wrapper u-p-y-4">
	<div class="row">
		<div class="grid-18">
			<h1 class="supersize">UTM-generator</h1>
			<p class="preamble">UTM används för att märka upp våra betalda marknadsföringssatsningar. Det möjliggör att vi ser var trafiken kommer ifrån och var vi presterar bra.</p>
			<div class="field-group">
				<label for="URL" class="{{labelClasses}}">URL</label>
				<input type="url" id="URL" placeholder="https://www.exempel.se" autocomplete="off" class="a-input a-input--large" pattern="https://.*" required>
			</div>
		</div>
	</div>
</div>
