<section id="emailTarget" class="u-aria-hidden">
	<h1 class="u-m-b-2">Nyhetsbrev</h1>
	<h2>Steg 3: Välj vilket nyhetsbrev</h2>
	<div class="row">
		<div class="grid-18 grid-sm-12 grid-lg-9">
			<div class="display-flex flex-column">
				<label for="brandEmail">Välj nyhetsbrev</label>
				<select name="brandEmail" id="brandEmail" class="a-select a-select--full-width">
					<option value="" disabled selected>Välj nyhetsbrev</option>
					<option value="internetstiftelsens almänna nyhetsbrev">Internetstiftelsens allmänna nyhetsbrev</option>
					<option value="digitala lektioners nyhetsbrev">Digitala lektioner</option>
					<option value="internetkunskaps nyhetbrev">Internetkunskap</option>
					<option value="internetdagarnas kunder">Internetdagarnas kunder</option>
					<option value="internetdagarnas intresselista">Internetdagarnas intresselista</option>
					<option value="svenskarna och internets intresselista">Svenskarna och internets intresselista</option>
				</select>
				<button data-a11y-toggle="editEmailsContainer" aria-controls="editEmailsContainer" aria-expanded="false" type="button" id="editEmailsContainer" data-toggle-target="editEmailsContainer" data-toggle-text="Redigera nyhetsbrev|Dölj" class="a-button--transparent align-self-end u-font-size-medium u-p-x-0 u-align-left u-nowrap" style="max-width: none;">
					Redigera nyhetsbrev
				</button>
			</div>
			<div id="editEmailsContainer" aria-hidden="true" class="u-aria-hidden">
				<div class="row">
					<div class="grid-18">
						<div class="display-flex u-m-t-2">
							<input type="text" class="a-input u-m-r-1" placeholder="Nytt nyhetsbrev">
							<button type="button" class="a-button a-button--icon a-button--jade-light u-flex-shrink-0">
								<span class="a-button__text">Lägg till</span>
								<svg class="icon a-button__icon u-icon--medium">
									<use xlink:href="#icon-plus"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="row u-m-t-3">
					<div class="grid-18">
						<div class="table-container">
							<table class="m-table m-table--tight">
								<thead>
								<tr>
									<th>Nyhetsbrev</th>
									<th class="u-align-center" style="width:110px;">Ta bort</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Internetstiftelsen</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetkunskap</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetdagarna</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetmuseum</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Goto 10</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Svenskarna & internet</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-18 grid-sm-12 grid-lg-9">
			<div class="display-flex flex-column">
				<label for="campaignEmail">Kampanjnamn</label>
				<select name="campaignEmail" id="campaignEmail" class="a-select a-select--full-width">
					<option value="" disabled selected>Välj kampanjnamn</option>
					<option value="INTS">Tänk säkert</option>
					<option value="INK">Internetkunskap säkerhetsmånaden</option>
					<option value="IND">Internetdagarna 2024</option>
					<option value="IMUS">Internetmuseum</option>
					<option value="G10">Goto 10</option>
					<option value="SOI">Svenskarna & internet 2024</option>
				</select>
				<button data-a11y-toggle="editCampaignEmailContainer" aria-controls="editCampaignEmailContainer" aria-expanded="false" type="button" id="editCampaignEmailContainer" data-toggle-target="editCampaignEmailContainer" data-toggle-text="Redigera kampanjer|Dölj" class="a-button--transparent align-self-end u-font-size-medium u-p-x-0 u-align-left u-nowrap" style="max-width: none;">
					Redigera kampanjer
				</button>
			</div>
			<div id="editCampaignEmailContainer" aria-hidden="true" class="u-aria-hidden u-m-t-2">
				<div class="row">
					<div class="grid-18">
						<div class="display-flex">
							<input type="text" class="a-input u-m-r-1" placeholder="Ny kampanj">
							<button type="button" class="a-button a-button--icon a-button--jade-light u-flex-shrink-0">
								<span class="a-button__text">Lägg till</span>
								<svg class="icon a-button__icon u-icon--medium">
									<use xlink:href="#icon-plus"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="row u-m-t-3">
					<div class="grid-18">
						<div class="table-container">
							<table class="m-table m-table--tight">
								<thead>
								<tr>
									<th>Kampanj</th>
									<th class="u-align-center" style="width:110px;">Ta bort</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Tänk säkert</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetkunskap säkerhetsmånaden</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetdagarna 2024</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetmuseum</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Goto 10</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Svenskarna & internet 2024</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row u-m-t-4">
		<div class="grid-18 grid-sm-12 grid-lg-9">
			<h2>Steg 4: Vad handlar innehållet om?</h2>
			<label for="campaignContentEmail">Innehåll</label>
			<input type="text" class="a-input" name="campaignContentEmail" id="campaignContentEmail" placeholder="t.ex. ''Tidigare kunder''">
			<div class="input-help">
				Beskriv kortfattat målgruppen du skickar mejlet till. T.ex. “Tidigare kunder"
			</div>
		</div>
	</div>
</section>
