<section id="metaTarget" class="u-aria-hidden">
	<h1 class="u-m-b-2">Meta</h1>
	<h2>Steg 3: Välj vad ambitionen med kampanjen är</h2>
	<div class="row">
		<div class="grid-18 grid-sm-12 grid-lg-9">
			<div class="display-flex flex-column">
				<label for="brandMeta">Välj varumärke</label>
				<select name="brandMeta" id="brandMeta" class="a-select a-select--full-width">
					<option value="" disabled selected>Välj varumärke</option>
					<option value="INTS">Internetstiftelsen (INTS)</option>
					<option value="INK">Internetkunskap (INK)</option>
					<option value="IND">Internetdagarna (IND)</option>
					<option value="IMUS">Internetmuseum (IMUS)</option>
					<option value="G10">Goto 10 (G10)</option>
					<option value="SOI">Svenskarna & internet (SOI)</option>
				</select>
				<button data-a11y-toggle="editBrandsMetaContainer" aria-controls="editBrandsMetaContainer" aria-expanded="false" type="button" id="editBrandsMeta" data-toggle-text="Redigera varumärken|Dölj" class="a-button--transparent align-self-end u-font-size-medium u-p-x-0 u-align-left u-nowrap" style="max-width: none;">
					Redigera varumärken
				</button>
			</div>
			<div id="editBrandsMetaContainer" aria-hidden="true" class="u-aria-hidden">
				<div class="row">
					<div class="grid-18">
						<div class="display-flex u-m-t-2">
							<input type="text" class="a-input u-m-r-1" placeholder="Nytt varumärke">
							<input type="text" class="a-input u-m-r-1" placeholder="Värde" style="max-width: 70px;">
							<button type="button" class="a-button a-button--icon a-button--jade-light u-flex-shrink-0">
								<span class="a-button__text">Lägg till</span>
								<svg class="icon a-button__icon u-icon--medium">
									<use xlink:href="#icon-plus"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="row u-m-t-3">
					<div class="grid-18">
						<div class="table-container">
							<table class="m-table m-table--tight">
								<thead>
								<tr>
									<th>Varumärke</th>
									<th>Värde</th>
									<th class="u-align-center" style="width:110px;">Ta bort</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Internetstiftelsen</td>
									<td>INTS</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetkunskap</td>
									<td>INK</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetdagarna</td>
									<td>IND</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetmuseum</td>
									<td>IMUS</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Goto 10</td>
									<td>G10</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Svenskarna & internet</td>
									<td>SOI</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-18 grid-sm-12 grid-lg-9">
			<div class="display-flex flex-column">
				<label for="campaignMeta">Kampanjnamn</label>
				<select name="campaignMeta" id="campaignMeta" class="a-select a-select--full-width">
					<option value="" disabled selected>Välj kampanjnamn</option>
					<option value="INTS">Tänk säkert</option>
					<option value="INK">Internetkunskap säkerhetsmånaden</option>
					<option value="IND">Internetdagarna 2024</option>
					<option value="IMUS">Internetmuseum</option>
					<option value="G10">Goto 10</option>
					<option value="SOI">Svenskarna & internet 2024</option>
				</select>
				<button data-a11y-toggle="editCampaignMetaContainer" aria-controls="editCampaignMetaContainer" aria-expanded="false" type="button" id="editCampaignMeta" data-toggle-text="Redigera kampanjer|Dölj" class="a-button--transparent align-self-end u-font-size-medium u-p-x-0 u-align-left u-nowrap" style="max-width: none;">
					Redigera kampanjer
				</button>
			</div>
			<div id="editCampaignMetaContainer" aria-hidden="true" class="u-aria-hidden u-m-t-2">
				<div class="row">
					<div class="grid-18">
						<div class="display-flex">
							<input type="text" class="a-input u-m-r-1" placeholder="Ny kampanj">
							<input type="text" class="a-input u-m-r-1" placeholder="Värde" style="max-width: 70px;">
							<button type="button" class="a-button a-button--icon a-button--jade-light u-flex-shrink-0">
								<span class="a-button__text">Lägg till</span>
								<svg class="icon a-button__icon u-icon--medium">
									<use xlink:href="#icon-plus"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="row u-m-t-3">
					<div class="grid-18">
						<div class="table-container">
							<table class="m-table m-table--tight">
								<thead>
								<tr>
									<th>Kampanj</th>
									<th>Värde</th>
									<th class="u-align-center" style="width:110px;">Ta bort</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Tänk säkert</td>
									<td>INTS</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetkunskap säkerhetsmånaden</td>
									<td>INK</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetdagarna 2024</td>
									<td>IMD</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Internetmuseum</td>
									<td>IMUS</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Goto 10</td>
									<td>G10</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								<tr>
									<td>Svenskarna & internet 2024</td>
									<td>SOI</td>
									<td class="u-align-center">
										<button type="button" class="a-button a-button--standalone-icon">
											<span class="a-button__text">Ta bort</span>
											<svg class="icon a-button__icon u-icon--medium">
												<use xlink:href="#icon-trash"></use>
											</svg>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
