<div class="o-pre-footer">
	<div class="wrapper">
		<div class="row justify-content-between">
			<div class="grid-lg-5">
				<dl class="u-list-clean u-font-size-medium">
					<dt class="u-weight-bold u-m-b-1">Powered by</dt>
					<dd class="u-m-l-0">
						<img src="/assets/images/internet-nl_logo_en.svg" alt="Internet NL logotype">
					</dd>
					<dd class="u-m-l-0 u-m-t-1">
						<a href="https://internet.nl" target="_blank" class="u-link-normal color-cyberspace">Internet.nl</a> is an initiative of the Internet community and the Dutch government.
					</dd>
				</dl>
			</div>
			<div class="grid-auto">
				<dl class="u-list-clean u-font-size-medium">
					<dt class="u-weight-bold">Programversion</dt>
					<dd class="u-m-l-0 u-m-b-1">v1.1.0.6</dd>
					<dt class="u-weight-bold">API-version</dt>
					<dd class="u-m-l-0">Internetkollen-API 1.0</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
