<div class="o-pre-footer">
	<div class="wrapper">
		<div class="row">
			<div class="grid-lg-5">
				<dl class="u-list-clean u-font-size-medium">
					<dt class="u-weight-bold u-m-b-1">Powered by</dt>
					<dd class="u-m-l-0">
						<img src="/assets/images/internet-nl_logo_en.svg" alt="Internet NL logotype">
					</dd>
					<dd class="u-m-l-0 u-m-t-1">
						Internet.nl is an initiative of the Internet community and the Dutch government.
					</dd>
				</dl>
			</div>
			<div class="grid-auto u-m-l-auto">
				<dl class="u-list-clean u-font-size-medium">
					<dt class="u-weight-bold">Programversion</dt>
					<dd class="u-m-l-0 u-m-b-1">v1.1.0.6</dd>
					<dt class="u-weight-bold">Om internet.nl</dt>
					<dd class="u-m-l-0"><a href="https://internet.nl" target="_blank" class="u-link">OInternet.nl</a></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
