@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;

@include m.molecule(teaser-news) {
	height: 100%;
	padding: rhythm(2);
	border-radius: v.$border-radius;
	background-color: var(--snow-color);

	@include bp.bp-up(md) {
		padding: rhythm(2) rhythm(4);
	}

	@include m2.e(list) {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@include m2.e(item) {
		position: relative;

		&:not(:last-child) {
			margin-bottom: rhythm(3);
		}
	}

	@include m2.e(link) {
		@extend %normalize-links;

		color: currentcolor;
		text-decoration: none;

		&:hover,
		&:focus {
			color: c.$color-ruby;
			text-decoration: underline;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
