@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.molecule(teaser-news) {
	height: 100%;
	padding: rhythm(2);
	border-radius: var.$border-radius;
	background-color: var(--snow-color);

	@include breakpoint.bp-up(md) {
		padding: rhythm(2) rhythm(4);
	}

	@include bem.e(list) {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@include bem.e(item) {
		position: relative;

		&:not(:last-child) {
			margin-bottom: rhythm(3);
		}
	}

	@include bem.e(link) {
		@extend %normalize-links;

		color: currentcolor;
		text-decoration: none;

		&:hover,
		&:focus {
			color: colors.$color-ruby;
			text-decoration: underline;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
