@charset 'UTF-8';

@include atom(read-time) {
	display: flex;
	position: relative;
	align-items: center;
	margin-left: rhythm(1);
	font-family: $font-family-headings;
	font-size: rem($size-medium);
	white-space: nowrap;

	span {
		margin-left: rem(3px);
	}

	@include b(icon) {
		display: flex;
		align-items: center;
		width: $icon-size;
		height: $icon-size;
		margin-right: rhythm(1);
	}

	@include m(light) {
		color: $color-snow;

		@include b(icon) {
			fill: $color-snow;
		}
	}
}
