@charset 'UTF-8';

@include organism(footer) {

	@include b(logotype) {
		width: 100%;
		padding: 0 rhythm(2);

		@include bp-up(lg) {
			padding: rhythm(2);
		}
	}

	@include b(svenskarna-och-internet) {
		max-width: rem(130px);
	}

	@include b(internetdagarna) {
		max-width: rem(170px);
	}

	@include b(bredbandskollen) {
		max-width: rem(170px);
	}

	@include b(internetmuseum) {
		max-width: rem(170px);
	}

	@include b(digitala-lektioner) {
		max-width: rem(180px);
	}

	@include b(goto10) {
		max-width: rem(125px);
	}

	@include bp-up(sm) {
		@include b(svenskarna-och-internet) {
			max-width: rem(170px);
		}

		@include b(internetdagarna) {
			max-width: rem(220px);
		}

		@include b(bredbandskollen) {
			max-width: rem(220px);
		}

		@include b(internetmuseum) {
			max-width: rem(220px);
		}

		@include b(digitala-lektioner) {
			max-width: rem(225px);
		}

		@include b(goto10) {
			max-width: rem(165px);
		}
	}

	@include bp-up(lg) {
		@include b(svenskarna-och-internet) {
			max-width: rem(160px);
		}

		@include b(goto10) {
			max-width: rem(150px);
		}
	}

	@include bp-up(xl) {
		@include b(svenskarna-och-internet) {
			max-width: rem(220px);
		}

		@include b(internetdagarna) {
			max-width: rem(290px);
		}

		@include b(bredbandskollen) {
			max-width: rem(295px);
		}

		@include b(internetmuseum) {
			max-width: rem(295px);
		}

		@include b(digitala-lektioner) {
			max-width: rem(300px);
		}

		@include b(goto10) {
			max-width: rem(210px);
		}
	}

	@include e(info) {
		background-color: $color-cyberspace;
		color: $color-snow;

		a {
			@extend %normalize-links;

			color: $color-jade;
		}

		@include e(inner) {
			padding: rhythm(3);

			@include bp-up(md) {
				padding: rhythm(4) rhythm(5);

				p {
					max-width: none;
				}
			}

			@include bp-down(md) {
				p {
					max-width: 70%;
				}
			}

			@include bp-down(sm) {
				p {
					max-width: none;
				}
			}
		}
	}

	@include e(logotypes) {
		background-color: $color-snow;
	}

	@include e(grid-row) {
		height: 100%;
		overflow: hidden;

		@include e(item) {
			display: flex;
			flex-basis: 50%;
			flex-grow: 1;
			flex-shrink: 1;
			justify-content: center;
			border-bottom: 1px solid $color-ash;
			border-left: 1px solid $color-ash;

			@include bp-up(md) {
				flex-basis: 33.333333%;
			}
		}
	}

	@include e(contact) {
		ul {
			margin-bottom: rhythm(2);
		}

		li {
			font-size: 80%;
		}

		@include bp-up(xxl) {
			padding-right: rhythm(1);

			& + & {
				padding-right: 0;
				padding-left: rhythm(1);
			}
		}
	}

	@include e(logo-link) {
		display: flex;
		justify-content: center;
	}
}
