<div class="wrapper-fluid">
	<div class="row o-footer">
		<div class="grid-xl-4 grid-lg-6 grid-18 o-footer__info">
			<div class="o-footer__info__inner">
				{{{footer_text}}}
				<div class="row no-gutters">
					<div class="grid-xxl-9 grid-18 o-footer__contact">
						{{{contact_1}}}
					</div>
					<div class="grid-xxl-9 grid-18 o-footer__contact">
						{{{contact_2}}}
					</div>
				</div>
			</div>
		</div>
		<div class="grid-xl-14 grid-lg-12 grid-18 o-footer__logotypes">
			<div class="row o-footer__grid-row u-m-r-0">
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link">{{>@ logotype id="svenskarna-och-internet" additional_classes="logotype--padded"}}</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link">{{>@ logotype id="internetdagarna"}}</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link">{{>@ logotype id="goto10" additional_classes="logotype--padded"}}</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link">{{>@ logotype id="bredbandskollen"}}</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link">{{>@ logotype id="internetmuseum"}}</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link">{{>@ logotype id="digitala-lektioner"}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
