<div class="wrapper-fluid">
	<div class="row o-footer">
		<div class="grid-xl-6 grid-lg-8 grid-18 o-footer__info">
			<div class="o-footer__info__inner">
				{{{footer_text}}}
				<div class="row no-gutters">
					<div class="grid-xxl-9 grid-18 o-footer__contact">
						{{{contact_1}}}
					</div>
					<div class="grid-xxl-9 grid-18 o-footer__contact">
						{{{contact_2}}}
					</div>
				</div>
			</div>
		</div>
		<div class="grid-xl-12 grid-lg-10 grid-18 o-footer__logotypes">
			<div class="row o-footer__grid-row u-m-r-0">
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link"><img class="o-footer__logotype" alt="Svenskarna och internet" src="/assets/images/svenskarna-och-internet.svg"></a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link"><img class="o-footer__logotype" alt="Internetdagarna" src="/assets/images/internetdagarna.svg"></a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link"><img class="o-footer__logotype"  alt="Goto10" src="/assets/images/goto-10.svg"></a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link"><img class="o-footer__logotype"  alt="Bredbandskollen" src="/assets/images/bredbandskollen.svg"></a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link"><img class="o-footer__logotype"  alt="Internetmuseum" src="/assets/images/internetmuseum.svg"></a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="#" class="o-footer__logo-link"><img class="o-footer__logotype"  alt="Digitala lektioner" src="/assets/images/digitala-lektioner.svg"></a>
				</div>
			</div>
		</div>
	</div>
</div>
