@charset 'UTF-8';

@include organism(search-result) {
	@include e(list) {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@include e(item) {
		position: relative;
		padding: rhythm(3) rhythm(2);

		&:not(:first-child) {
			border-top: 1px solid $color-concrete;
		}

		div > a:not([class*=tag]) {
			@extend %reset-link-style;
		}

		@include m(article) {
			article {
				display: flex;
				align-items: flex-start;
			}

			header {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				margin-bottom: rhythm(1);
			}

			p {
				margin-bottom: 0;
			}

			@include bp-up(xl) {
				> h2,
				p {
					@include make-col(14);
				}
			}

			@include e(content) {
				@include bp-up(sm) {
					margin-right: rhythm(2);
				}

				@include bp-up(md) {
					margin-right: 0;
				}
			}
		}

		@include m(page) {
			padding-right: rhythm(2);
			padding-left: rhythm(2);
		}

		@include m(file) {
			@include e(content) {
				margin: 0 rhythm(3);

				@include bp-up(xl) {
					> h2,
					p {
						@include make-col(12);
					}
				}
			}
		}

		@include e(content) {
			flex: 0 1 100%;
		}

		@include e(link) {
			@extend %reset-link-style;

			color: $color-cyberspace;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	@include e(image) {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: rhythm(2);
		border-radius: $border-radius;

		@include bp-up(sm) {
			margin-right: rhythm(2);
		}

		@include bp-up(md) {
			margin-right: rhythm(2);
			margin-bottom: 0;
		}

		@include bp-up(lg) {
			margin-right: rhythm(3);
		}

		@include bp-up(xl) {
			margin-right: rhythm(4);
		}
	}

	@include bp-up(md) {
		@include e(item) {
			padding: rhythm(3);
		}
	}
}
