@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;
@use '../../vendor/grid/grid' as g;

@includem. molecule(context-menu) {
	display: inline-flex;
	position: relative;
	flex-direction: column;

	button {
		span {
			pointer-events: none;
		}
	}

	@include m2.e(list) {

		@extend %box-shadow;

		position: absolute;
		top: 100%;
		left: rhythm(1);
		width: auto;
		min-width: calc(100% - #{rhythm(1)});
		border: 1px solid c.$color-concrete;
		background-color: c.$color-snow;
		white-space: nowrap;

		&[aria-hidden='true'],
		&:not([aria-hidden]) {
			display: none;
		}
	}

	@include m2.e(item) {
		padding: 0;

		& + & {
			border-top: 1px solid c.$color-concrete;
		}

		a {
			display: block;
			padding: rhythm(1) rhythm(2);
			color: c.$color-cyberspace;
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: c.$color-ash;
			}
		}
	}
}

.no-js {
	@include m.molecule(context-menu) {
		@include m2.e(list) {
			display: initial;
		}
	}
}
