@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;

@includem. molecule(context-menu) {
	display: inline-flex;
	position: relative;
	flex-direction: column;

	button {
		span {
			pointer-events: none;
		}
	}

	@include bem.e(list) {

		@extend %box-shadow;

		position: absolute;
		top: 100%;
		left: rhythm(1);
		width: auto;
		min-width: calc(100% - #{rhythm(1)});
		border: 1px solid colors.$color-concrete;
		background-color: colors.$color-snow;
		white-space: nowrap;

		&[aria-hidden='true'],
		&:not([aria-hidden]) {
			display: none;
		}
	}

	@include bem.e(item) {
		padding: 0;

		& + & {
			border-top: 1px solid colors.$color-concrete;
		}

		a {
			display: block;
			padding: rhythm(1) rhythm(2);
			color: colors.$color-cyberspace;
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: colors.$color-ash;
			}
		}
	}
}

.no-js {
	@include mixin.molecule(context-menu) {
		@include bem.e(list) {
			display: initial;
		}
	}
}
