<nav class="m-context-menu js-context-menu">
	<button type="button" class="a-button a-button--icon a-button--transparent a-button--icon js-context-menu-btn" aria-expanded="false" data-a11y-toggle="{{controls}}" aria-controls="{{controls}}">
		<span class="a-button__text">Exportera</span>
		<svg class="icon a-button__icon">
			<use xlink:href="#icon-download"></use>
		</svg>
	</button>
	<ul class="m-context-menu__list u-list-clean" id="contextMenu">
		<li><a href="#">PDF</a></li>
		<li><a href="#">JSON</a></li>
		<li><a href="#">PNG</a></li>
		<li><a href="#">Excel</a></li>
	</ul>
</nav>

<nav class="m-context-menu js-context-menu">
	<button type="button" class="a-button a-button--icon a-button--transparent a-button--icon js-context-menu-btn" aria-expanded="false" data-a11y-toggle="contextMenu2" aria-controls="contextMenu2">
		<span class="a-button__text">Exportera</span>
		<svg class="icon a-button__icon">
			<use xlink:href="#icon-download"></use>
		</svg>
	</button>
	<ul class="m-context-menu__list u-list-clean" id="contextMenu2">
		<li><a href="#">PDF</a></li>
		<li><a href="#">JSON</a></li>
		<li><a href="#">PNG</a></li>
		<li><a href="#">Excel</a></li>
	</ul>
</nav>
