<nav class="m-context-menu js-context-menu">
	<button type="button" class="a-button a-button--icon a-button--transparent a-button--icon js-context-menu-btn" aria-expanded="false" data-toggle-icon-target="contextMenuIcon" data-toggle-icon="download|close" data-a11y-toggle="{{controls}}" aria-controls="{{controls}}" {{#if outsideClick}}data-close-on-outside-click="true"{{/if}}>
		<span class="a-button__text">Exportera</span>
		<svg class="icon a-button__icon m-context-me__icon" id="contextMenuIcon">
			<use xlink:href="#icon-download"></use>
		</svg>
	</button>
	<ul class="m-context-menu__list u-list-clean" id="{{controls}}" {{#unless focusTrap}}data-focus-trap="false"{{/unless}}>
		<li class="m-context-menu__item"><a href="#">PDF</a></li>
		<li class="m-context-menu__item"><a href="#">JSON</a></li>
		<li class="m-context-menu__item"><a href="#">PNG</a></li>
		<li class="m-context-menu__item"><a href="#">Excel</a></li>
	</ul>
</nav>
