<div class="wrapper">
	<h1 class="supersize">Grid Block</h1>
	<div class="wp-block-iis-grid u-p-x-1">
		<div class="row">


			<div class="grid-18 grid-lg-12 article__content article__indent u-p-x-0">


				<p class="wp-block-iis-preamble preamble">Internetdagarna är Sveriges viktigaste kunskapsnav för alla som älskar internet. Internetdagarna arrangeras av Internetstiftelsen och i år går konferensen av stapeln 22-23 november.</p>



				<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
					<iframe loading="lazy" title="Om Internetdagarna |&nbsp;För alla som älskar internet" width="500" height="281" src="https://www.youtube.com/embed/79lnA_aKpDY?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
				</div></figure>



				<p>Internetdagarna är en konferens där människor under två dagar får nya och fördjupade kunskaper om internet och digitaliseringens påverkan på samhället.&nbsp;Vårt mål är att så många som möjligt av de som vill delta på Internetdagarna ska få chans att göra det utan att plånboken sätter stopp.</p>



				<h2>Välj det som passar dig bäst</h2>



				<p>Konferensen är ordnad så att du kan välja att gå en eller två dagar. Genom att dela upp dagen i olika tematiska spår kan allt från breda till smala ämnen få plats på agendan. Välj det spår som passar dig och dina intressen bäst.</p>



				<h2>Vi tror på internet</h2>



				<p>Internetstiftelsen som står bakom konferensen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället.</p>



				<p>Vi ansvarar för internets svenska toppdomän .se och sköter även drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt och att ge kunskap om internetanvändningen i Sverige samt digitaliseringens påverkan på samhället.</p>



				<p>Vi tillhandahåller evenemang och utbildningsinsatser som gör det enklare att förstå och använda internets tjänster och som bidrar till ökad kompetens och fler möten som främjar internetinnovation.&nbsp;<a href="https://internetstiftelsen.se/om-oss/vi-ar-internetstiftelsen/">Läs mer om Internetstiftelsen här.</a></p>



				<h2>Hållbarhet och mångfald</h2>



				<p>För oss är det viktigt att bidra till ett mer hållbart samhälle och därför arbetar vi för att på olika sätt minska vår belastning på bland annat miljön. Våra fokusområden är ekologisk, ekonomisk och social hållbarhet.&nbsp;<a href="https://internetdagarna.se/om/hallbarhet/">Här kan du läsa mer om vårt hållbarhetsarbete.</a></p>



				<p>Alla på Internetdagarna ska bemötas med respekt, oavsett om de står på scen som talare, deltar i diskussioner via sociala medier eller minglar i pauserna. Det är viktigt att alla ska känna sig välkomna att delta och bidra till innehållet på Internetdagarna.<a href="https://internetdagarna.se/om/mangfald/">&nbsp;Här kan du läsa mer om vår mångfaldspolicy.</a></p>



				<h2>Följ oss på sociala medier</h2>



				<p>Följ Internetdagarna på&nbsp;<a href="https://twitter.com/internetdagarna">Twitter</a>,&nbsp;<a href="https://www.instagram.com/internetdagarna/">Instagram</a>&nbsp;och&nbsp;<a href="http://www.facebook.com/internetdagarna">Facebook</a>.</p>



				<h2>Integritetspolicy</h2>



				<p>Läs hela&nbsp;<a href="https://internetdagarna.se/wordpress/wp-content/uploads/integritetspolicy-internetdagarna.pdf">integritetspolicyn för Internetdagarna här</a>.</p>

			</div>




			<div class="grid-18 grid-md-6 ">

				<div class="u-border-radius background-snow u-p-y-2 u-p-x-3 u-b-t-4 u-b-b-0 u-b-x-0 u-b-solid u-b-peacock ">
					<h2>Vanliga frågor</h2>
					<ul class="u-list-clean">
						<li class="u-p-y-1 u-b-b-1 u-b-t-0 u-b-x-0 u-b-solid u-b-concrete">
							<a class="js-faq-anchor display-flex align-items-center color-cyberspace u-weight-bold u-decoration-no-underline" data-id="iis-faq-222" href="#iis-faq-222">
								<svg class="icon u-icon--large u-m-r-1 u-flex-shrink-0" fill="#c27fec">
									<use xlink:href="#icon-arrow-variant"></use>
								</svg>
								Är Internetdagarna helt digitalt?						</a>
							</li>
							<li class="u-p-y-1 ">
								<a class="js-faq-anchor display-flex align-items-center color-cyberspace u-weight-bold u-decoration-no-underline" data-id="iis-faq-224" href="#iis-faq-224">
									<svg class="icon u-icon--large u-m-r-1 u-flex-shrink-0" fill="#c27fec">
										<use xlink:href="#icon-arrow-variant"></use>
									</svg>
									När är Internetdagarna 2021?						</a>
								</li>
							</ul>
						</div>


						<article class="wp-block-iis-card m-card m-card--padded u-m-t-4">
							<div class="m-card__content">
								<h1 class="beta">
									Internetdagarna i siffror			</h1>


									<ul class="u-list-clean u-m-b-3"><li>200 talare</li><li>6 keynotes</li><li>2000+ kollegor att nätverka med</li><li>Lågt pris</li></ul>


									<div><a href="#" class="a-button a-button--lemon"><span class="a-button__text">Köp biljett</span></a></div>
								</div>
							</article>


							<article class="wp-block-iis-card m-card m-card--padded u-m-t-4">
								<div class="m-card__content">
									<h1 class="beta">
									</h1>


									<h2 class="alpha">De helt digitala Internetdagarna 2020 hade nöjdare besökare än något annat år</h2>
									<img src="https://stage.internetdagarna.se/app/uploads/2021/05/omdome-internetdagarna-2020.png" alt="Omdöme 4,4 av 5 för Internetdagarna 2020">



									<p><strong>4,4 av 5 i deltagarenkäten</strong></p>

								</div>
							</article>


							<article class="wp-block-iis-card m-card m-card--padded u-m-t-4">
								<img width="700" height="406" src="https://stage.internetdagarna.se/app/uploads/2021/05/internethjarta-scaled-1-700x406.jpg" class="m-card__image m-card__media" alt="Pixelhjärta ligger i kupade händer." loading="lazy" srcset="https://stage.internetdagarna.se/app/uploads/2021/05/internethjarta-scaled-1-700x406.jpg 700w, https://stage.internetdagarna.se/app/uploads/2021/05/internethjarta-scaled-1-726x420.jpg 726w, https://stage.internetdagarna.se/app/uploads/2021/05/internethjarta-scaled-1-500x290.jpg 500w, https://stage.internetdagarna.se/app/uploads/2021/05/internethjarta-scaled-1-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px">		<div class="m-card__content">
									<h1 class="beta">
										Det här är Internetstiftelsen			</h1>


										<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället.</p>

									</div>
								</article>

							</div>




							<div class="grid-18 grid-md-12 u-m-y-8">

								<div class="js-o-accordion o-accordion u-border-radius u-overflow-hidden" aria-multiselectable="true" role="tablist" id="zhundk40ktp" data-hashaccordion-id="jls543mjdc">
									<h3 id="iis-faq-222" class="o-accordion__title" data-accordion-opened="false"><button class="js-accordion__header o-accordion__header" role="tab" id="o-accordionzvioa7isn86_tab1" aria-controls="o-accordionzvioa7isn86_panel1" aria-selected="false" type="button" data-hashaccordion-id="jls543mjdc" aria-expanded="false">
										Är Internetdagarna helt digitalt?				</button></h3>
										<div class="js-accordion__panel o-accordion__panel" role="tabpanel" aria-labelledby="o-accordionzvioa7isn86_tab1" id="o-accordionzvioa7isn86_panel1" data-hashaccordion-id="jls543mjdc" aria-hidden="true">
											<div class="o-accordion__panel__content">

												<p>Pellentesque sed magna dapibus, aliquam urna eget, ultrices lectus. Donec vitae fringilla eros. In id enim at ipsum suscipit feugiat. Curabitur est augue, aliquet ut hendrerit nec, malesuada ut lorem.</p>



												<p>Vivamus rhoncus congue accumsan. Sed lacinia leo nec dui facilisis, sit amet accumsan elit porta. Cras vulputate sit amet ante eget rutrum. Nullam porttitor tempor nunc. Proin ultrices tempus neque id ultricies. Etiam sagittis, libero et mollis consequat, tortor tellus iaculis ligula, ac placerat quam lectus vel nulla. Aenean purus leo, pulvinar sed leo eget, interdum consequat purus. Suspendisse potenti.</p>
											</div>
										</div>
										<h3 id="iis-faq-224" class="o-accordion__title" data-accordion-opened="false"><button class="js-accordion__header o-accordion__header" role="tab" id="o-accordionzvioa7isn86_tab2" aria-controls="o-accordionzvioa7isn86_panel2" aria-selected="false" type="button" data-hashaccordion-id="jls543mjdc" aria-expanded="false">
											När är Internetdagarna 2021?				</button></h3>
											<div class="js-accordion__panel o-accordion__panel" role="tabpanel" aria-labelledby="o-accordionzvioa7isn86_tab2" id="o-accordionzvioa7isn86_panel2" data-hashaccordion-id="jls543mjdc" aria-hidden="true">
												<div class="o-accordion__panel__content">

													<p>Vivamus rhoncus congue accumsan. Sed lacinia leo nec dui facilisis, sit amet accumsan elit porta. Cras vulputate sit amet ante eget rutrum. Nullam porttitor tempor nunc. Proin ultrices tempus neque id ultricies. Etiam sagittis, libero et mollis consequat, tortor tellus iaculis ligula, ac placerat quam lectus vel nulla.</p>



													<p>Aenean purus leo, pulvinar sed leo eget, interdum consequat purus. Suspendisse potenti. Pellentesque sed magna dapibus, aliquam urna eget, ultrices lectus. Donec vitae fringilla eros. In id enim at ipsum suscipit feugiat. Curabitur est augue, aliquet ut hendrerit nec, malesuada ut lorem.</p>
												</div>
											</div>
										</div>

									</div>


								</div>
							</div>

</div>
