@charset 'UTF-8';

h1,
.alpha {
	@include plumber(
		$font-size: 3,
		$line-height: 4,
		$leading-bottom: 2,
		$baseline: $headings-baseline
	);

	font-family: $font-family-headings;

	@include bp-up(sm) {
		@include plumber(
			$font-size: 4,
			$line-height: 5,
			$leading-bottom: 1,
			$baseline: $headings-baseline
		);
	}
}

h2,
.beta {
	@include plumber(
		$font-size: 2,
		$line-height: 3,
		$leading-bottom: 1,
		$baseline: $headings-baseline
	);

	font-family: $font-family-headings;

	@include bp-up(sm) {
		@include plumber(
			$font-size: 2.5,
			$leading-bottom: 1
		);

		line-height: 1.75rem;
	}
}

h3 {
	@include plumber(
		$font-size: 2.4,
		$line-height: 3,
		$leading-top: 0,
		$leading-bottom: 1
	);
}

h4 {
	@include plumber(
		$font-size: 2,
		$line-height: 3,
		$leading-top: 0,
		$leading-bottom: 1
	);

	font-family: $font-family-headings;
}

%reset-link-style {
	padding: unset;
	border-bottom: unset;
	color: unset;
	text-decoration: unset;

	&:hover,
	&:focus {
		border-bottom: unset;
		border-radius: unset;
		background-color: unset;
	}
}

p a,
li a,
td a,
th a {
	padding: rhythm(0) rhythm(0.5);
	border-bottom: rem(2px) solid $color-peacock;
	color: $color-black;
	text-decoration: none;

	&:hover,
	&:focus {
		border-bottom: rem(2px) solid $color-ocean-light;
		border-radius: $border-radius;
		background-color: $color-ocean-light;
	}
}

li > a {
	&.is-active {
		border-radius: $border-radius;
		border-color: $color-peacock-light;
		background-color: $color-peacock-light;
	}
}

li ul,
li ol {
	margin-top: rhythm(1);
	margin-left: rhythm(2);
	padding-top: 0;
	padding-left: 0;
}

p,
ul,
ol,
dl {
	@include plumber(
		$leading-bottom: 3
	);
}

ul,
ol,
dl {
	+ h2,
	+ .beta {
		margin-top: rhythm(5);
	}
}

.supersize {
	@include plumber(
		$font-size: 3,
		$line-height: 4,
		$leading-bottom: 1,
		$baseline: $headings-baseline
	);

	font-family: $font-family-bold;

	@include bp-up(sm) {
		@include plumber(
			$font-size: 4.5,
			$line-height: 5,
			$leading-bottom: 1
		);
	}

	@include bp-up(md) {
		@include plumber(
			$font-size: 7,
			$line-height: 8,
			$leading-bottom: 2
		);
	}
}

.preamble,
%preamble {

	@include plumber(
		$font-size: 2.5,
		$line-height: 3,
		$leading-bottom: 4
	);

	letter-spacing: rem(-0.47px);

	@include bp-up(sm) {
		@include plumber(
			$font-size: 3,
			$line-height: 4,
			$leading-bottom: 4
		);
	}
}

.small,
small {
	@include plumber(
		$font-size: 1.5,
		$line-height: 2,
		$leading-bottom: 0
	);
}

.meta {
	@include plumber(
		$font-size: 1.75,
		$baseline: $mono-baseline
	);

	font-family: $font-family-mono;
	letter-spacing: rem(0.5px);
	text-transform: uppercase;
}

::selection {
	background-color: $color-ruby-light;
}

::-moz-selection {
	background-color: $color-ruby-light;
}

blockquote {

	@include color_classes (
		$map: $colors,
		$prefix: '-',
		$attribute: 'fill',
		$element: 'svg'
	);

	display: flex;
	position: relative;
	flex-direction: column;
	margin-top: rhythm(6);
	margin-right: 0;
	margin-bottom: rhythm(5);
	margin-left: 0;
	padding-left: rem(40px);

	p {
		@include plumber(
			$font-size: 2.5,
			$line-height: 3,
			$leading-top: 1,
			$leading-bottom: 0,
			$baseline: $headings-baseline
		);
	}

	svg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: rhythm(2);
		height: rhythm(4);
		fill: $color-black;

		@include bp-up(md) {
			width: rhythm(3);
			height: rhythm(6);
		}
	}

	.meta {
		@include plumber(
			$font-size: 1.5,
			$leading-bottom: 0
		);

		// Apparently not allowed to use decimals in plumber...
		margin-top: rhythm(1);
		line-height: rhythm(2.5);
	}

	@include bp-up(sm) {
		padding-right: rhythm(3);
	}

	@include bp-up(md) {
		margin-top: rhythm(6.5);
		padding-left: rem(52px);

		p {
			@include plumber(
				$font-size: 3,
				$line-height: 4,
				$leading-bottom: 0,
				$leading-top: 1
			);
		}

		.meta {
			@include plumber(
				$font-size: 1.77778,
				$leading-bottom: 0
			);

			// Apparently not allowed to use decimals in plumber...
			margin-top: rhythm(0.5);
			line-height: rhythm(3.5);
		}
	}
}

b,
strong,
legend {
	font-family: $font-family-headings;
	font-weight: normal;
}
