@charset 'UTF-8';

@include atom(meta) {
	@include plumber(
		$font-size: 1.7,
		$baseline: $mono-baseline,
		$leading-bottom: 0
	);

	@include color_values($colors, 'fill', $prefix: '--', $separator: '-');

	display: flex;
	position: relative;
	align-items: center;
	color: var(--cyberspace-color);
	font-family: $font-family-mono;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	span {
		margin-left: rem(3px);
	}

	@include b(icon) {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		width: $icon-size;
		height: $icon-size;
		margin-right: rhythm(1);
		fill: inherit;
		color: var(--color-cyberspace);
		fill: currentColor;
	}

	@include m(light) {
		color: $color-snow;

		@include b(icon) {
			fill: $color-snow;
		}
	}

	@include m(lowercase) {
		text-transform: initial;
	}

	@include m(wrap) {
		white-space: normal;
	}

	@include m(responsive) {
		@include plumber(
			$font-size: 1.4,
			$baseline: $mono-baseline,
			$leading-bottom: 0
		);

		@include bp-up(md) {
			@include plumber(
				$font-size: 1.6,
				$baseline: $mono-baseline,
				$leading-bottom: 0
			);
		}

		@include bp-up(lg) {
			@include plumber(
				$font-size: 1.7,
				$baseline: $mono-baseline,
				$leading-bottom: 0
			);
		}
	}
}
