<div class="a-meta{{#if is_light}} a-meta--light{{/if}}{{#if color}} a-meta--{{color}}{{/if}}{{#if lowercase}} a-meta--lowercase{{/if}}">{{#if icon}}{{>@icon id=this.icon}} {{/if}}{{{text}}}</span></div>
