@charset 'UTF-8';

@include atom(section) {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;

	@include m(grey) {
		background-color: $color-ash;

		&::after {
			background-image: linear-gradient(to right top, $color-snow 0%, $color-snow 50%, transparent 50.1%);
		}
	}

	@include m(white) {
		background-color: $color-snow;

		&::after {
			background-image: linear-gradient(to right top, $color-ash 0%, $color-ash 50%, transparent 50.1%);
		}
	}

	@include b(wrapper) {
		position: relative;
		z-index: 1;
	}

	&::after {
		content: '';
		display: block;
		flex-shrink: 0;
		min-width: 100%;
		height: rhythm(10);
	}
}

@include atom(section) {
	@include bp-up(md) {
		&::after {
			height: rhythm(15);
		}
	}

	@include bp-up(lg) {
		&::after {
			height: rhythm(20);
		}
	}

	@include bp-up(xl) {
		&::after {
			height: rhythm(25);
		}
	}
}
