@charset 'UTF-8';

@include atom(section) {
	position: relative;

	@include m(grey) {
		background-color: $color-ash;

		&::after {
			background-image: linear-gradient(to right top, $color-snow 0%, $color-snow 50%, transparent 50.1%);
		}
	}

	@include m(white) {
		background-color: $color-snow;

		&::after {
			background-image: linear-gradient(to right top, $color-ash 0%, $color-ash 50%, transparent 50.1%);
		}
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rhythm(10);
	}
}

@include atom(section) {
	@include bp-up(md) {
		&::after {
			height: rhythm(15);
		}
	}

	@include bp-up(lg) {
		&::after {
			height: rhythm(20);
		}
	}

	@include bp-up(xl) {
		&::after {
			height: rhythm(25);
		}
	}
}
