<style>
	.a-section {
		height: 50vh;
	}
</style>
<section class="a-section a-section--grey">
	<div class="wrapper">
		Section grey
	</div>
</section>
<section class="a-section a-section--white">
	<div class="wrapper">
		Section white
	</div>
</section>
