@charset 'UTF-8';

@include b(field-group) {
	position: relative;
	margin-bottom: rhythm(4);

	&:last-child {
		margin-bottom: 0;
	}

	input,
	textarea,
	select {
		+ .button {
			margin-top: rhythm(1);
		}
	}

	&.is-invalid {
		input,
		select,
		textarea {
			@extend %invalid;
		}

		@include b(input-help) {
			background-color: $color-ruby-light;
		}
	}
}

@include b(input-help) {
	width: 100%;
	padding: rhythm(0.5) rhythm(1);
	transform: translateY(rem(-3px));
	border-bottom-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	background-color: $color-concrete;
	font-size: rem(16px);

	&:empty {
		display: none;
	}
}

fieldset {
	&[disabled] {
		input,
		textarea,
		select,
		button {
			@extend %disabled;
		}

		[type='checkbox'],
		[type='radio'] {
			+ label {
				@extend %disabled;
			}
		}
	}
}
