@charset "UTF-8";
@use "sass:color";
@use '../bem' as bem;
@use '../variables' as var;
@use '../functions' as func;
@use '../extends';
@use '../colors/colors' as colors;

@include bem.b(field-group) {
	position: relative;
	margin-bottom: func.rhythm(4);

	&:last-child {
		margin-bottom: 0;
	}

	input,
	textarea,
	select {
		+ .button {
			margin-top: func.rhythm(1);
		}
	}

	&.is-invalid {
		input,
		select,
		textarea,
		[class*='a-textarea--rich-text'] {
			@extend %invalid;
		}

		@include bem.b(input-help) {
			background-color: colors.$color-ruby-light;

			&::selection {
				background-color: colors.$color-ruby;
			}

			&::-moz-selection {
				background-color: colors.$color-ruby;
			}
		}
	}
}

@include bem.b(input-help) {
	width: 100%;
	padding: func.rhythm(0.5) func.rhythm(1);
	transform: translateY(func.to_rem(-3px));
	border-bottom-right-radius: var.$border-radius;
	border-bottom-left-radius: var.$border-radius;
	background-color: colors.$color-concrete;
	font-size: func.to_rem(16px);

	&:empty {
		display: none;
	}
}

fieldset[disabled] {
	input,
	textarea,
	select,
	button,
	.ql-editor {
		@extend %disabled;
	}

	button {
		&:hover,
		&:focus {
			svg {
				fill: colors.$color-cyberspace;
			}
		}
	}

	.ql-editor {
		pointer-events: none;
	}

	[type='file'] {
		+ label {
			@extend %disabled;

			background-color: colors.$color-granit;
			box-shadow: 0 0 0 1px inset colors.$color-granit;
			color: colors.$color-granit;

			&:hover,
			&:focus {
				cursor: not-allowed;
			}
		}
	}

	[type='checkbox'] {
		+ label {
			@extend %disabled;

			&::before {
				background-color: color.adjust(colors.$color-concrete, $lightness: -5%) !important;
			}
		}
	}

	[type='radio'] {
		+ label {
			@extend %disabled;

			&::before {
				background-color: color.adjust(colors.$color-concrete, $lightness: -5%);
			}

			&:hover,
			&:focus {
				/* stylelint-disable */
				&::before {
					background-color: color.adjust(colors.$color-concrete, $lightness: -5%);
				}
				/* stylelint-enable */
			}
		}

		&:checked {
			+ label {
				@extend %disabled;

				/* stylelint-disable */
				&::before {
					background-color: colors.$color-cyberspace;
				}
				/* stylelint-enable */
			}
		}
	}
}
