@charset 'UTF-8';

@include b(field-group) {
	position: relative;
	margin-bottom: rhythm(4);

	&:last-child {
		margin-bottom: 0;
	}

	input,
	textarea,
	select {
		+ .button {
			margin-top: rhythm(1);
		}
	}

	&.is-invalid {
		input,
		select,
		textarea {
			@extend %invalid;
		}

		@include b(input-help) {
			background-color: $color-ruby-light;
		}
	}
}

@include b(input-help) {
	width: 100%;
	padding: rhythm(0.5) rhythm(1);
	transform: translateY(rem(-3px));
	border-bottom-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	background-color: $color-concrete;
	font-size: rem(16px);

	&:empty {
		display: none;
	}
}

fieldset[disabled] {
	input,
	textarea,
	select,
	button,
	.ql-editor {
		@extend %disabled;
	}

	button {
		&:hover,
		&:focus {
			svg {
				fill: $color-cyberspace;
			}
		}
	}

	[type='file'] {
		+ label {
			@extend %disabled;

			background-color: $color-granit;
			box-shadow: 0 0 0 1px inset $color-granit;
			color: $color-granit;

			&:hover,
			&:focus {
				cursor: not-allowed;
			}
		}
	}

	[type='checkbox'] {
		+ label {
			@extend %disabled;

			&::before {
				background-color: darken($color-concrete, 5%) !important;
			}
		}
	}

	[type='radio'] {
		+ label {
			@extend %disabled;

			&::before {
				background-color: darken($color-concrete, 5%);
			}

			&:hover,
			&:focus {
				/* stylelint-disable */
				&::before {
					background-color: darken($color-concrete, 5%);
				}
				/* stylelint-enable */
			}
		}

		&:checked {
			+ label {
				@extend %disabled;

				/* stylelint-disable */
				&::before {
					background-color: $color-cyberspace;
				}
				/* stylelint-enable */
			}
		}
	}

	// [type='checkbox'] {
	// 	+ label {
	// 		/* stylelint-disable */
	// 		&::before {
	// 			background-color: darken($color-concrete, 5%);
	// 		}
	// 		/* stylelint-enable */
	// 	}
	// }
	//
	// [type='radio'] {
	// 	+ label {
	// 		@extend %disabled;
	//
	// 		/* stylelint-disable */
	// 		&:checked {
	// 			&::before {
	// 				background-color: $color-cyberspace;
	// 			}
	// 		}
	// 		/* stylelint-enable */
	// 	}
	// }
}
