@charset 'UTF-8';

@include atom(input) {
	@extend %input;

	&:focus {
		@extend %input-focus;
	}

	&.has-icon {
		padding-right: rhythm(5);
	}

	&[disabled] {
		@extend %disabled;
	}

	@include m(small) {
		padding-top: rhythm(0.5);
		padding-bottom: rhythm(0.8);
		font-size: rem(16px);
	}

	@include m(large) {
		padding-top: rhythm(1.85);
		padding-bottom: rhythm(1.85);
		font-size: rem(20px);
	}
}

@include b(input-icon) {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 0;

	> svg {
		width: $icon-size;
		height: $icon-size;
		transform: translateY(-#{rhythm(3.7)}) translateX(-#{rhythm(1)});
	}

	@include m(small) {
		> svg {
			width: $icon-size-medium;
			height: $icon-size-medium;
			transform: translateY(-#{rhythm(3.1)}) translateX(-#{rhythm(1)});
		}
	}

	@include m(large) {
		> svg {
			transform: translateY(-#{rhythm(4.6)}) translateX(-#{rhythm(1)});
		}
	}
}
