@charset 'UTF-8';

@include atom(input) {
	@extend %input;

	&:focus {
		@extend %input-focus;
	}

	&:invalid {
		@extend %invalid;
	}

	&.has-icon {
		padding-right: rhythm(5);
	}

	&[disabled] {
		@extend %disabled;
	}
}

@include b(input-icon) {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 0;

	> svg {
		position: relative;
		z-index: z_index(middleground);
		width: $icon-size;
		height: $icon-size;
		transform: translateY(-#{rhythm(3.7)}) translateX(-#{rhythm(1)});
	}
}
