@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;

@include mixin.atom(input) {
	@extend %input;

	&:focus {
		@extend %input-focus;
	}

	&.has-icon {
		padding-right: func.rhythm(5);
	}

	&[disabled] {
		@extend %disabled;

		&[disabled] {
			+ figure svg {
				opacity: 0.3;
				cursor: not-allowed;
			}
		}
	}

	@include bem.m(discreet) {
		@extend %discreet;
	}
	@include bem.m(small) {
		font-size: var.$size-medium;
		padding: func.rhythm(0.5);
	}

	@include bem.m(large) {
		font-size: func.to_rem(32px);
		padding: func.rhythm(1) func.rhythm(2);
	}
}

@include bem.b(input-icon) {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 0;

	> svg {
		position: relative;
		z-index: func.z_index(middleground);
		width: var.$icon-size;
		height: var.$icon-size;
		transform: translateY(-#{func.rhythm(3.7)}) translateX(-#{func.rhythm(1)});
	}
}
