@charset 'UTF-8';

// High contrast colors
@include b(high-contrast) {
	span:not([class*='header__logo']),
	a:not([class*='logo-link']),
	strong,
	em,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	time,
	address,
	li,
	dd,
	dt,
	button,
	input,
	select,
	[class*='color-'] {
		background-color: $color-cyberspace !important;
		color: $color-snow !important;
	}

	a {
		text-decoration: underline !important;
	}

	[class*='background-'],
	div {
		//filter: grayscale(100%);
	}

	[class*='icon-'] {
		z-index: 1 !important;
		color: $color-snow !important;

		&::before,
		&::after {
			color: $color-snow !important;
		}
	}

	svg:not([class*='logotype']),
	svg:not([class*='logotype']) svg,
	svg:not([class*='logotype']) path,
	svg:not([class*='logotype']) polygon {
		fill: $color-snow !important;
	}

	[class*='a-button__icon'] {
		fill: $color-snow !important;
	}

	::-webkit-input-placeholder {
		color: $color-snow !important;
	}

	::-moz-placeholder {
		color: $color-snow !important;
	}

	:-ms-input-placeholder {
		color: $color-snow !important;
	}

	:-moz-placeholder {
		color: $color-snow !important;
	}

	::placeholder {
		color: $color-snow !important;
	}
}
