@charset 'UTF-8';

.u-display-block {
	display: block !important;
}

.u-display-inline-block {
	display: inline-block !important;
}

.u-display-inline {
	display: inline !important;
}

.u-display-flex {
	display: flex !important;
}

.u-display-inline-flex {
	display: inline-flex !important;
}

.u-display-grid {
	display: grid !important;
}

.u-display-table {
	display: table !important;
}

.u-display-table-row {
	display: table-row !important;
}

.u-display-table-cell {
	display: table-cell !important;
}
