@charset "UTF-8";
@use '../configurations/colors/colors' as c;

.u-fill-snow {
	fill: c.$color-snow !important;
}

.u-fill-concrete {
	fill: c.$color-concrete !important;
}

.u-fill-granit {
	fill: c.$color-granit !important;
}

.u-fill-ocean-dark {
	fill: c.$color-ocean-dark !important;
}
