@charset "UTF-8";

.u-fill-snow {
	fill: $color-snow !important;
}

.u-fill-concrete {
	fill: $color-concrete !important;
}

.u-fill-granit {
	fill: $color-granit !important;
}

.u-fill-ocean-dark {
	fill: $color-ocean-dark !important;
}
