@charset "UTF-8";
@use '../configurations/colors/colors' as colors;

.u-fill-snow {
	fill: colors.$color-snow !important;
}

.u-fill-concrete {
	fill: colors.$color-concrete !important;
}

.u-fill-granit {
	fill: colors.$color-granit !important;
}

.u-fill-ocean-dark {
	fill: colors.$color-ocean-dark !important;
}

.u-fill-jade {
	fill: colors.$color-jade !important;
}

.u-fill-jade-dark {
	fill: colors.$color-jade-dark !important;
}

.u-fill-ruby {
	fill: colors.$color-ruby !important;
}

.u-fill-ruby-dark {
	fill: colors.$color-ruby-dark !important;
}

.u-fill-sandstone {
	fill: colors.$color-sandstone !important;
}

.u-fill-success {
	fill: colors.$color-success !important;
}

.u-fill-success-dark {
	fill: colors.$color-success-dark !important;
}
