@charset 'UTF-8';

.u-flex-grow-0 {
	flex-grow: 0 !important;
}

.u-flex-grow-1 {
	flex-grow: 1 !important;
}

.u-flex-shrink-0 {
	flex-shrink: 0 !important;
}

.u-flex-shrink-1 {
	flex-shrink: 1 !important;
}
