@charset "UTF-8";
@use '../configurations/variables' as var;
@use '../configurations/functions' as func;
.u-font-size-small {
	font-size: var.$size-small !important;
	line-height: 1.5;
}

.u-font-size-medium {
	font-size: var.$size-medium !important;
	line-height: 1.5;
}

.u-font-size-medium-plus {
	font-size: var.$size-medium-plus !important;
	line-height: 1.5;
}

.u-font-size-base {
	font-size: var.$size-base !important;
}
