@charset 'UTF-8';

.u-weight-normal {
	font-family: $font-family-base !important;
	font-weight: normal !important;
}

.u-weight-bold {
	font-family: $font-family-headings !important;
	font-weight: normal !important;
}

.u-weight-bolder {
	font-family: $font-family-bold !important;
	font-weight: normal !important;
}
