@charset "UTF-8";
@use '../configurations/variables' as v;

.u-font-size-small {
	font-size: v.$size-small !important;
	line-height: 1.5;
}

.u-font-size-medium {
	font-size: v.$size-medium !important;
	line-height: 1.5;
}

.u-font-size-medium-plus {
	font-size: v.$size-medium-plus !important;
	line-height: 1.5;
}

.u-font-size-base {
	font-size: v.$size-base !important;
}
