@charset "UTF-8";

.u-font-size-small {
	font-size: $size-small !important;
}

.u-font-size-medium {
	font-size: $size-medium !important;
}

.u-font-size-medium-plus {
	font-size: $size-medium-plus !important;
}

.u-font-size-base {
	font-size: $size-base !important;
}
