@charset "UTF-8";
@use '../configurations/functions' as func;

$gutter-width: func.rhythm(3);

.u-gutter {
	display: flex;
	flex-wrap: wrap;
	margin: (-$gutter-width) 0 0 (-$gutter-width);

	> * {
		margin: $gutter-width 0 0 $gutter-width;
	}
}
