@charset 'UTF-8';

// Hide visually but not for screen readers
/// @group Utilities
%u-visuallyhidden,
.u-visuallyhidden {
	@include visuallyhidden;
}

// Hide on certain breakpoint
/// @group Utilities
@mixin hide-on-screen-width($bp) {
	@include bp-down($bp) {
		@include visuallyhidden;
	}
}

// Hide for all
/// @group Utilities
.is-hidden {
	display: none !important;
}

// Hide on mobile
/// @group Utilities
.u-hidden-mobile {
	@include bp-down(lg) {
		display: none !important;
	}
}

// Visibility-hidden
.u-visibility-hidden {
	visibility: hidden !important;
}

.u-hide-xs {
	@include bp-down(xs) {
		display: none !important;
	}
}

.u-hide-sm {
	@include bp-down(sm) {
		display: none !important;
	}
}

.u-hide-md {
	@include bp-down(md) {
		display: none !important;
	}
}

.u-hide-lg {
	@include bp-down(lg) {
		display: none !important;
	}
}

.u-hide-xs-up {
	@include bp-up(xs) {
		display: none !important;
	}
}

.u-hide-sm-up {
	@include bp-up(sm) {
		display: none !important;
	}
}

.u-hide-md-up {
	@include bp-up(md) {
		display: none !important;
	}
}

.u-hide-lg-up {
	@include bp-up(lg) {
		display: none !important;
	}
}

.u-hide-xl-up {
	@include bp-up(xl) {
		display: none !important;
	}
}

.u-overflow-hidden {
	overflow: hidden !important;
}
