@charset "UTF-8";
@use '../vendor/grid/breakpoints' as breakpoint;
@use '../configurations/variables' as var;
@use '../configurations/functions' as func;
.u-indent-0 {
	@include breakpoint.bp-up(lg) {
		margin-left: 0;
	}
}

.u-indent-1 {
	@include breakpoint.bp-up(lg) {
		margin-left: var.$indent;
	}
}

.u-indent-2 {
	@include breakpoint.bp-up(lg) {
		margin-left: var.$indent * 2;
	}
}
