@charset 'UTF-8';

/* Force normalize links */
.u-link-normal,
.u-link-normal * {
	padding: 0;
	border: 0;
	border-radius: 0;
	word-wrap: normal;
	word-break: normal;
	hyphens: none;
	overflow-wrap: normal;

	&:hover,
	&:focus {
		border: 0;
		border-radius: 0;
		background-color: transparent;
	}
}

/* Force body text link link-styles */
.u-link {
	@extend %link-styles;
}
