@charset "UTF-8";

@use '../configurations/variables' as var;
@use '../configurations/functions' as func;@use '../configurations/colors/colors' as colors;
@use '../configurations/mixins' as mixin;
@use '../configurations/bem' as bem;

%list-clean {
	margin: 0;
	padding: 0;
	list-style: none;
}

.u-list-clean {
	@extend %list-clean;

	> li ul,
	> li ol {
		margin-top: func.rhythm(1);
		margin-left: func.rhythm(2);
	}
}

%list-striped {
	display: block;
	width: 100%;

	li {
		display: flex;
		align-items: center;
		padding: func.rhythm(1);

		&:nth-child(odd) {
			background-color: colors.$color-ash;
		}

		&:nth-child(even) {
			background-color: colors.$color-snow;
		}
	}
}

.u-list-striped {
	@extend %list-striped;
}

@include mixin.b(u-list__icon) {
	flex-shrink: 0;
	width: var.$icon-size;
	height: var.$icon-size;
	margin-right: func.rhythm(2);

	@include bem.m(green) {
		fill: colors.$color-jade;
	}

	@include bem.m(red) {
		fill: colors.$color-ruby;
	}
}
