@charset "UTF-8";

@use '../configurations/variables' as v;
@use '../configurations/colors/colors' as c;
@use '../configurations/mixins' as m;
@use '../configurations/bem' as m2;

%list-clean {
	margin: 0;
	padding: 0;
	list-style: none;
}

.u-list-clean {
	@extend %list-clean;

	> li ul,
	> li ol {
		margin-top: rhythm(1);
		margin-left: rhythm(2);
	}
}

%list-striped {
	display: block;
	width: 100%;

	li {
		display: flex;
		align-items: center;
		padding: rhythm(1);

		&:nth-child(odd) {
			background-color: c.$color-ash;
		}

		&:nth-child(even) {
			background-color: c.$color-snow;
		}
	}
}

.u-list-striped {
	@extend %list-striped;
}

@include m.b(u-list__icon) {
	flex-shrink: 0;
	width: v.$icon-size;
	height: v.$icon-size;
	margin-right: rhythm(2);

	@include m2.m(green) {
		fill: c.$color-jade;
	}

	@include m2.m(red) {
		fill: c.$color-ruby;
	}
}
