@charset "UTF-8";
@use '../configurations/config' as config;
@use '../configurations/variables' as var;
@use '../configurations/functions' as func;

/// @group Utilities
$class-m: u-m !default;
$class-m-t: u-m-t !default;
$class-m-r: u-m-r !default;
$class-m-b: u-m-b !default;
$class-m-l: u-m-l !default;
$class-m-x: u-m-x !default;
$class-m-y: u-m-y !default;

@for $i from 0 through 8 {
	// Margin all
	.#{$class-m}-#{$i} {
		margin: func.rhythm($i) !important;
	}

	// Margin top
	.#{$class-m-t}-#{$i} {
		margin-top: func.rhythm($i) !important;
	}

	// Margin right
	.#{$class-m-r}-#{$i} {
		margin-right: func.rhythm($i) !important;
	}

	// Margin bottom
	.#{$class-m-b}-#{$i} {
		margin-bottom: func.rhythm($i) !important;
	}

	// Margin left
	.#{$class-m-l}-#{$i} {
		margin-left: func.rhythm($i) !important;
	}

	// Margin x (left and right)
	.#{$class-m-x}-#{$i} {
		margin-right: func.rhythm($i) !important;
		margin-left: func.rhythm($i) !important;
	}

	// Margin y (top and bottom)
	.#{$class-m-y}-#{$i} {
		margin-top: func.rhythm($i) !important;
		margin-bottom: func.rhythm($i) !important;
	}
}

.u-m-default {
	margin: config.$default-margin !important;
}

.u-m-t-default {
	margin-top: config.$default-margin !important;
}

.u-m-b-default {
	margin-bottom: config.$default-margin !important;
}

.u-m-l-default {
	margin-left: config.$default-margin !important;
}

.u-m-r-default {
	margin-right: config.$default-margin !important;
}

.u-m-offset-0 {
	margin-left: 0 !important;
}

.u-m-offset-1 {
	margin-left: var.$indent !important;
}

.u-m-offset-2 {
	margin-left: var.$indent * 2 !important;
}

.u-m-l-auto {
	margin-left: auto !important;
}

.u-m-r-auto {
	margin-right: auto !important;
}
