@charset "UTF-8";
@use '../configurations/colors/colors' as colors;

// Adds a divider between two words, like a pipe (|) character.
// Example usage:
// `Gradängen, Stockholm <span class="u-divider-pipe"></span> Svenska`
// Output will be like:
// `Gradängen, Stockholm | Svenska`
.u-divider-pipe {
	display: inline-block;
	position: relative;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	padding: 0.7em 0;
	background: colors.$color-black;
	vertical-align: sub;
}

.u-object-fit-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.u-height-full {
	height: 100%;
}
