@charset "UTF-8";
@use '../configurations/config' as config;
@use '../configurations/variables' as var;
@use '../configurations/functions' as func;

/* @group Utilities */
$class-p: u-p !default;
$class-p-t: u-p-t !default;
$class-p-r: u-p-r !default;
$class-p-b: u-p-b !default;
$class-p-l: u-p-l !default;
$class-p-x: u-p-x !default;
$class-p-y: u-p-y !default;

/* stylelint-disable */
@for $i from 0 through 8 {
	/* Padding all */
	.#{$class-p}-#{$i} {
		padding: func.rhythm($i) !important;
	}

	/* Padding top */
	.#{$class-p-t}-#{$i} {
		padding-top: func.rhythm($i) !important;
	}

	/* Padding right */
	.#{$class-p-r}-#{$i} {
		padding-right: func.rhythm($i) !important;
	}

	/* Padding bottom */
	.#{$class-p-b}-#{$i} {
		padding-bottom: func.rhythm($i) !important;
	}

	/* Padding left */
	.#{$class-p-l}-#{$i} {
		padding-left: func.rhythm($i) !important;
	}

	/* Padding x (left and right) */
	.#{$class-p-x}-#{$i} {
		padding-right: func.rhythm($i) !important;
		padding-left: func.rhythm($i) !important;
	}

	/* Padding x (left and right) */
	.#{$class-p-y}-#{$i} {
		padding-top: func.rhythm($i) !important;
		padding-bottom: func.rhythm($i) !important;
	}
}

.u-p-default {
	padding: config.$default-padding !important;
}

.u-p-t-default {
	padding-top: config.$default-padding !important;
}

.u-p-b-default {
	padding-bottom: config.$default-padding !important;
}

.u-p-l-default {
	padding-left: config.$default-padding !important;
}

.u-p-r-default {
	padding-right: config.$default-padding !important;
}
