@charset "UTF-8";
@use '../configurations/functions' as func;

.u-position-absolute {
	position: absolute !important;
}

.u-position-relative {
	position: relative !important;
}

.u-position-fixed {
	position: fixed !important;
}

.u-position-static {
	position: static !important;
}

.u-position-sticky-top-0 {
	position: sticky !important;
	top: 0 !important;
}

.u-position-sticky-top-4 {
	position: sticky !important;
	top: func.rhythm(4) !important;
}
