@charset "UTF-8";

.u-decoration-underline {
	text-decoration: underline !important;
}

.u-decoration-no-underline {
	text-decoration: none !important;
}

.u-style-italic {
	font-family: 'HK Grotesk Light Italic' !important;
}

.u-style-no-italic {
	font-style: normal !important;
}

.u-uppercase {
	text-transform: uppercase !important;
}

.u-lowercase {
	text-transform: lowercase !important;
}

.u-capitalize {
	text-transform: capitalize !important;
}
