@charset "UTF-8";

.u-valign-baseline {
	vertical-align: baseline !important;
}

.u-valign-top {
	vertical-align: top !important;
}

.u-valign-middle {
	vertical-align: middle !important;
}

.u-valign-bottom {
	vertical-align: bottom !important;
}

.u-valign-text-top {
	vertical-align: text-top !important;
}

.u-valign-text-bottom {
	vertical-align: text-bottom !important;
}
