@charset 'UTF-8';

@include molecule(cookie-disclaimer) {
	display: none;

	&.is-visible {
		display: block;
	}

	@include bp-up(lg) {
		position: fixed;
		z-index: z_index(foreground);
		right: 0;
		bottom: 0;
		left: 0;
	}
}
