@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;
@use '../../vendor/grid/grid' as g;

@include m.molecule(cookie-disclaimer) {
	display: none;
	position: relative;
	z-index: z_index(foreground);

	&.is-visible {
		display: block;
	}

	@include bp.bp-up(lg) {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
	}

	@include m2.e(wrapper) {
		width: 100%;
		margin-bottom: 0 !important;
		padding: rhythm(2) 0;
	}

	@include m2.e(inner) {
		display: flex;
		flex-wrap: wrap;
		margin-right: auto;
		margin-left: auto;

		@include g.make-container-max-widths();

		@include bp.bp-down(xl) {
			padding-right: v.$grid-gutter-width;
			padding-left: v.$grid-gutter-width;
		}
	}

	@include m2.e(inner-first) {
		display: flex;
		align-items: center;
		width: 100%;

		a {
			padding: 0 0.25rem;
			border-bottom: 0.11111rem solid c.$color-peacock;
			color: c.$color-black;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		@include bp.bp-up(md) {
			@include g.make-col(12);

			padding-right: rhythm(3);
		}
	}

	@include m2.e(inner-second) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		padding-top: rhythm(2);

		button {
			font-size: 18px;
		}

		@include bp.bp-up(md) {
			@include g.make-col(6);

			padding-top: 0;
		}
	}

	@include m2.e(text) {
		margin-bottom: 0;
	}
}
