@charset 'UTF-8';

@include molecule(cookie-disclaimer) {
	display: none;
	position: relative;
	z-index: z_index(foreground);

	&.is-visible {
		display: block;
	}

	@include bp-up(lg) {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
	}

	@include e(wrapper) {
		width: 100%;
		margin-bottom: 0 !important;
		padding: rhythm(2) 0;
	}

	@include e(inner) {

		@include make-container-max-widths();

		display: flex;
		flex-wrap: wrap;
		margin-right: auto;
		margin-left: auto;

		@include bp-down(xl) {
			padding-right: $grid-gutter-width;
			padding-left: $grid-gutter-width;
		}
	}

	@include e(inner-first) {
		display: flex;
		align-items: center;
		width: 100%;

		a {
			padding: 0 0.25rem;
			border-bottom: 0.11111rem solid $color-peacock;
			color: $color-black;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		@include bp-up(md) {
			@include make-col(12);

			padding-right: rhythm(3);
		}
	}

	@include e(inner-second) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		padding-top: rhythm(2);

		button {
			font-size: 18px;
		}

		@include bp-up(md) {
			@include make-col(6);

			padding-top: 0;
		}
	}

	@include e(text) {
		margin-bottom: 0;
	}
}
