<div class="m-cookie-disclaimer js-cookie-disclaimer">
	<div{{#if role}} role="{{role}}"{{/if}} class="m-cookie-disclaimer__wrapper m-alert m-alert--{{type}}{{#if is_dismissable}} m-alert--dismissable{{/if}}{{#if js_class}} {{js_class}}{{/if}}">
		<div class="m-cookie-disclaimer__inner">
			<div class="m-cookie-disclaimer__inner-first">
				<p class="m-cookie-disclaimer__text">{{{text}}}</p>
			</div>
			{{#if is_dismissable}}
			<div class="m-cookie-disclaimer__inner-second">
				{{> @button el="button" modifiers="is-static" text="Jag förstår" id="js-accept-cookies"}}
			</div>
			{{/if}}
		</div>
	</div>
</div>
