<div class="wrapper">
	<div class="row no-gutters">
		<div class="grid-18 grid-lg-10 u-p-t-8">
			<h1 class="supersize">Internetmuseum</h1>
			<p class="preamble">
				Välkommen till Internetmuseum! Här tar vi dig med på en resa genom den svenska internethistorien. Vilka var pionjärerna? Vad har vi älskat, hatat och skrattat åt. Hur blev Sverige ett av världens mest digitalt utvecklade länder? Kort och gott… hur kom vi hit?
			</p>
		</div>
	</div>
	<div class="row align-items-stretch">
			<div class="a-timeline a-timeline--first">
				<span>1960</span>
			</div>
			<div class="u-p-y-8"></div>
	</div>
</div>
{{> @hero hero_image="https://internetdagarna.se/app/uploads/2021/08/ind19-2-2.jpg" no_image_class="o-hero--timeline" has_link=false has_radius=false heading="1960" text="Långt innan internet läggs de första grunderna för framtidens IT-utveckling. Redan nu börjar Sverige bli bra på datorteknik – bland annat skapar vi en hålremsstans som blir en exportsuccé."}}
<div class="wrapper">
	<div class="row align-items-stretch">
		<div class="a-timeline"></div>
		<div class="grid-15 grid-sm-16 grid-lg-17 offset-xs-1 u-m-b-2 u-p-t-8">

			{{> @card id="1963" modifier="u-m-b-8 a-timeline-item m-card--wide--flipped" title="<span class=color-ocean>1963</span> Här kläcks idén om ett ”intergalaktiskt nätverk”" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1967" modifier="u-m-b-8 a-timeline-item"  title="<span class=color-ocean>1967</span> Starten på internet heter Arpanet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1969" modifier="u-m-b-8 a-timeline-item m-card--wide--flipped"  title="<span class=color-ocean>1969</span> Svensk uppfinning byggs in i Arpanet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

		</div>
	</div>
</div>
{{> @hero hero_image="https://internetdagarna.se/app/uploads/2021/08/ind19-17-1-e1629797772570-1920x1080.jpg" no_image_class="o-hero--timeline" has_link=false has_radius=false heading="1970" text="På sjuttiotalet fortsätter utvecklandet av föregångare till dagens internet, både i Sverige och i USA. I slutet av årtiondet skapar Jacob Palme KOM-systemet, ett slags tidigt chattrum."}}
<div class="wrapper">
	<div class="row align-items-stretch">
		<div class="a-timeline"></div>
		<div class="grid-15 grid-sm-16 grid-lg-17 offset-xs-1 u-m-b-2">

			{{> @card id="1971" modifier="u-m-b-8 u-m-t-8 a-timeline-item m-card--wide--flipped" title="<span class=color-sandstone>1971</span> Här kläcks idén om ett ”intergalaktiskt nätverk”" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1973" modifier="u-m-b-8 a-timeline-item"  title="<span class=color-sandstone>1973</span> Starten på internet heter Arpanet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1974" modifier="u-m-b-8 a-timeline-item m-card--wide--flipped"  title="<span class=color-sandstone>1974</span> Svensk uppfinning byggs in i Arpanet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1982" modifier="u-m-b-8 a-timeline-item"  title="<span class=color-ruby>1982</span> Datavidion är ett ”text-tv-indenter”" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1986" modifier="u-m-b-8 a-timeline-item m-card--wide--flipped"  title="<span class=color-ruby>1986</span> Björn Eriksen kniper toppdomänen – så blir Sverige .se på internet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card id="1989" modifier="u-m-b-8 a-timeline-item"  title="<span class=color-ruby>1989</span> World wide web skapas – nu kan internet bli en publiksuccé" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}
		</div>
	</div>
</div>
