<div class="wrapper">
	<div class="row align-items-stretch">
		<div class="a-timeline a-timeline--first">
			<span>1960</span>
		</div>
	</div>
	<div class="row align-items-stretch">
		<div class="a-timeline"></div>
		<div class="grid-15 grid-sm-16 grid-lg-17 offset-xs-1 u-m-b-2">

			{{> @card modifier="m-card--wide--flipped u-m-b-8 a-timeline-item" title="1963 Här kläcks idén om ett ”intergalaktiskt nätverk”" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card modifier="u-m-b-8 a-timeline-item"  title="1969 Starten på internet heter Arpanet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card modifier="m-card--wide--flipped u-m-b-8 a-timeline-item"  title="1973 Svensk uppfinning byggs in i Arpanet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card modifier="u-m-b-8 a-timeline-item"  title="1982 Datavidion är ett ”text-tv-indenter”" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card modifier="m-card--wide--flipped u-m-b-8 a-timeline-item"  title="1986 Björn Eriksen kniper toppdomänen – så blir Sverige .se på internet" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}

			{{> @card modifier="u-m-b-8 a-timeline-item"  title="1989 World wide web skapas – nu kan internet bli en publiksuccé" excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum."}}
		</div>
	</div>
</div>
