@charset 'UTF-8';

@include molecule(card) {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;
	border-radius: $border-radius;

	@include e(image) {
		display: block;
		border-radius: $border-radius;
	}

	@include e(link) {
		color: $color-cyberspace;
		text-decoration: none;

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0,;
			bottom: 0;
			left: 0;
			cursor: pointer;
		}

		&:hover,
		&:focus {
			color: $color-ruby;
			text-decoration: underline;
		}
	}

	@include e(meta) {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: rhythm(1);
	}

	@include e(content) {
		&:first-child {
			padding: rhythm(3) 0;
		}

		&:not(:first-child) {
			margin-top: rhythm(2);
			padding-bottom: rhythm(3);
		}

		:last-child {
			margin-bottom: 0;
		}
	}

	@include e(text) {
		margin-top: rhythm(1);
	}

	@include m(shadow) {
		@include card-shadow($color-cyberspace, 0.2);
	}

	@include m(padded) {
		background-color: $color-snow;

		@include e(image) {
			width: 100%;
			max-width: 100%;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		@include e(content) {
			padding-right: rhythm(2);
			padding-left: rhythm(2);

			p {
				margin-top: rhythm(1);
			}

			@include bp-up(md) {
				padding-right: rhythm(4);
				padding-left: rhythm(4);
			}
		}
	}

	@include m(bordered) {
		border-top: rem(4px) solid $color-ocean;
	}

	@include e(bottom) {
		margin-top: rhythm(2);
	}

	@include m(wide) {
		height: auto;

		@include bp-up(md) {
			@include e(link) {
				h1,
				h2 {
					font-size: rem(32px);
					line-height: 1.2;
				}
			}
		}

		@include bp-up(lg) {
			flex-direction: row;
			height: auto;

			@include e(content) {
				display: flex;
				flex-basis: 50%;
				flex-direction: column;
				padding-top: rhythm(2);
			}

			@include e(image) {
				max-width: 50%;
				height: 100%;
				margin-bottom: 0;
				border-top-left-radius: $border-radius;
				border-top-right-radius: 0;
				border-bottom-left-radius: $border-radius;
			}

			@include e(bottom) {
				margin-top: 0;
			}
		}
	}
}
