@charset 'UTF-8';

@include molecule(card) {
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: $border-radius;

	@include e(image) {
		display: block;
		margin-bottom: rhythm(2);
		border-radius: $border-radius;
	}

	@include e(link) {
		color: $color-cyberspace;
		text-decoration: underline;

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0,;
			bottom: 0;
			left: 0;
			cursor: pointer;
		}

		&:hover,
		&:focus {
			color: $color-ruby;
		}
	}

	@include m(padded) {
		background-color: $color-snow;

		@include e(image) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		@include e(content) {
			padding-right: rhythm(4);
			padding-left: rhythm(4);
		}
	}

	@include e(bottom) {
		margin-top: rhythm(2);
		padding-bottom: rhythm(4);
	}
}
