<div class="m-card{{#if is_padded}} m-card--padded{{/if}}">
	<img src="/assets/images/card.png" class="m-card__image" alt="{{alt}}">
	<div class="m-card__content">
		{{> @meta text="2018-10-05" }}
		<a href="{{url}}" class="m-card__link"><h2 class="m-card__heading-link__heading">{{title}}</h2></a>
		<div class="m-card__bottom">
			{{> @tag text="Utbildning" href="#" }}
			{{> @tag text="goto10" href="#" }}
		</div>
	</div>
</div>
