<div
	class="m-card{{#if is_padded}} m-card--padded{{/if}}{{#if is_wide}} m-card--wide{{/if}}{{#if has_shadow}} m-card--shadow{{/if}}{{#if has_border}} m-card--bordered{{/if}}">
	<div class="m-card__map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8147.136286742923!2d18.0823964!3d59.3031634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9fb0cec146dfb7a!2sGoto%2010!5e0!3m2!1sen!2sse!4v1587631996713!5m2!1sen!2sse"
			class="m-card__map__elm" width="600" height="450" allowfullscreen="" aria-hidden="false"
			tabindex="0"></iframe>
	</div>

	<div class="m-card__content">
		{{render '@features-box--contact-info'}}
	</div>
</div>