<div class="o-card">
	<img src="/assets/images/card.png" class="o-card__image" alt="{{alt}}">
	<div class="o-card__content">
		{{> @time time="2018-10-05" }}
		<h2>{{title}}</h2>
		{{> @tag text="Utbildning" href="#" }}
		{{> @tag text="goto10" href="#" }}
	</div>
</div>
