@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/baseline/plumber' as plumber;

@include mixin.molecule(system-error) {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: func.rhythm(8) 0;

	@include breakpoint.bp-up(md) {
		justify-content: center;
	}

	@include bem.e(content) {
		max-width: 600px;
		padding-right: var.$grid-gutter-width;
		padding-left: var.$grid-gutter-width;
		text-align: left;
	}

	@include bem.e(heading) {

		@include plumber.plumber(
			var.$font-size: 10,
			$line-height: 11,
			$leading-bottom: 2
		);

		animation: rumble 4s infinite linear;
		font-family: var.$font-family-mono;
		text-shadow: 0 1px 0 rgba(colors.$color-snow, 0.8), 0 30px 100px rgba(colors.$color-cyberspace, 0.5);

		@include breakpoint.bp-up(md) {

			@include plumber.plumber(
				var.$font-size: 15,
				$line-height: 16,
				$leading-bottom: 4
			);
		}
	}
}
