@charset 'UTF-8';

@include molecule(system-error) {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: rhythm(8) 0;

	@include bp-up(md) {
		justify-content: center;
	}

	@include e(content) {
		max-width: 600px;
		padding-right: $grid-gutter-width;
		padding-left: $grid-gutter-width;
		text-align: left;
	}

	@include e(heading) {

		@include plumber(
			$font-size: 10,
			$line-height: 11,
			$leading-bottom: 2
		);

		animation: rumble 4s infinite linear;
		font-family: $font-family-mono;
		text-shadow: 0 1px 0 rgba($color-snow, 0.8), 0 30px 100px rgba($color-cyberspace, 0.5);

		@include bp-up(md) {

			@include plumber(
				$font-size: 15,
				$line-height: 16,
				$leading-bottom: 4
			);
		}
	}
}