@charset 'UTF-8';

@include organism(domain-search) {
	padding: rhythm(3) 0;
	background-color: $color-snow;

	&:not([class*='is-in-mega-menu']) {
		display: none;
		position: absolute;
		z-index: z_index(middlegroundImportant);
		bottom: 0;
		transform: translateY(0);
		transition: transform 0.25s ease-out;

		&[aria-hidden='false'] {
			transform: translateY(100%);
			box-shadow: 0 rhythm(0.5) rhythm(0.5) rgba($color-cyberspace, 0.1);
		}

		@include bp-up(xl) {
			display: flex;
		}
	}

	&[tabindex='-1'] {
		a,
		button,
		input {
			visibility: hidden;
		}
	}

	a {
		text-align: underline;

		&:hover,
		&:focus {
			border-bottom: rem(2px) solid $color-jade;
			border-radius: 0;
			background-color: transparent;
			text-decoration: none;
		}

		[class*='icon'] {
			transform: translateY(rem(2px));
		}
	}

	@include e(list-container) {
		padding: 0 rhythm(1) 0 rhythm(1);
	}

	@include e(input) {
		display: block;
		width: calc(100% - #{rhythm(2)});
		margin-right: rhythm(2);
		padding: rhythm(1);
		transition: padding 0.25s ease-out;
		border: 0;
		border-radius: $border-radius;
		background-color: $color-snow;
		letter-spacing: -0.1px;
		-webkit-appearance: none;

		@include bp-up(md) {
			font-size: rem(32px);

			&:focus {
				padding-left: rhythm(2);
				background-color: lighten($color-ash, 4%);
			}
		}

		@include m(force-focus-look) {
			background-color: lighten($color-ash, 4%);

			&:focus {
				background-color: lighten($color-ash, 4%);
			}
		}
	}

	@include e(list) {
		display: flex;
		flex-wrap: wrap;
		padding: rhythm(1) 0 0 0;

		li {
			padding: rhythm(1) 0 0;
			white-space: nowrap;

			a {
				border-bottom: 0;
				font-size: rem($size-medium-plus);
				text-decoration: underline;
			}
		}
	}

	@include bp-up(md) {

		@include e(pretext) {
			font-size: rem(32px);
		}
	}

	@include e(submit) {
		flex-shrink: 0;
		padding-right: rhythm(4);
		padding-left: rhythm(4);
		font-size: rem(24px);

		@include bp-down(md) {
			font-size: rem($size-base);
		}

		@include bp-down(sm) {
			padding: rhythm(0.6) rhythm(1);
			font-size: rem($size-small);
		}
	}

	@include bp-up(xl) {
		display: none;
	}
}
