@charset 'UTF-8';

@include organism(domain-search) {
	padding: rhythm(3) 0;

	&:not(.is-in-mega-menu) {
		display: none;
		position: absolute;
		z-index: 1;
		transform: translateY(-107%);
		transition: transform 0.25s ease-out;
		box-shadow: 0 rhythm(0.5) rhythm(0.5) rgba($color-cyberspace, 0.1);

		&[aria-hidden='false'] {
			transform: translateY(0);
		}

		@include bp-up(xl) {
			display: flex;
		}
	}

	@include e(input) {
		display: block;
		width: calc(100% - #{rhythm(2)});
		padding: rhythm(1) rhythm(1) rhythm(1) 0;
		transition: padding 0.25s ease-out;
		border: 0;
		background-color: transparent;
		letter-spacing: -0.1px;
		-webkit-appearance: none;

		&:focus {
			margin-right: rhythm(2);
			padding-left: rhythm(1);
			background-color: lighten($color-ash, 4%);
		}

		@include bp-up(md) {
			font-size: rem(32px);

			&:focus {
				padding-left: rhythm(2);
			}
		}
	}

	@include bp-up(md) {

		@include e(pretext) {
			font-size: rem(32px);
		}
	}

	@include e(submit) {
		flex-shrink: 0;

		@include bp-down(md) {
			padding: rhythm(0.6) rhythm(1);
			font-size: $size-small;
		}
	}

	@include bp-up(xl) {
		display: none;
	}
}
