@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;

$alert-success-border: colors.$color-jade;
$alert-success-bg: colors.$color-jade-light;
$alert-info-border: colors.$color-ocean;
$alert-info-bg: colors.$color-ocean-light;
$alert-warning-border: colors.$color-lemon;
$alert-warning-bg: colors.$color-lemon-light;
$alert-error-border: colors.$color-ruby;
$alert-error-bg: colors.$color-ruby-light;
$alert-text: colors.$color-cyberspace;

@include mixin.molecule(alert) {
	position: relative;
	margin-bottom: rhythm(4);
	padding: rhythm(2) rhythm(2) rhythm(3) rhythm(2);
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: rhythm(2) 50%;

	> h2,
	> p {
		max-width: to_rem(600px);
	}

	> p:last-child {
		margin-bottom: rhythm(0.5);
	}

	a {
		@extend %normalize-links;

		color: colors.$color-cyberspace;
		font-family: var.$font-family-headings;
		text-decoration: underline;
	}

	@include bem.m(dismissable) {
		padding-right: rhythm(4);

		// Adjust close button position
		button:not(.a-button--is-static) {
			position: absolute;
			z-index: z_index(background);
			top: rhythm(1);
			right: rhythm(1);
		}

		&[aria-hidden="true"] {
			display: none;
		}
	}

	// Alternate styles
	//
	// Generate contextual modifier classes for colorizing the alert.

	@include bem.m(success) {
		@include mixin.alert-variant($alert-success-border, $alert-success-bg, $alert-text);
	}

	@include bem.m(info) {
		@include mixin.alert-variant($alert-info-border, $alert-info-bg, $alert-text);
	}

	@include bem.m(warning) {
		@include mixin.alert-variant($alert-warning-border, $alert-warning-bg, $alert-text);
	}

	@include bem.m(error) {
		@include mixin.alert-variant($alert-error-border, $alert-error-bg, $alert-text);

		::selection {
			background-color: colors.$color-ruby;
		}

		::-moz-selection {
			background-color: colors.$color-ruby;
		}
	}
}
