@charset 'UTF-8';

@include atom(checkbox) {
	&[type='checkbox'] {
		+ label {
			display: inline-flex;
			position: relative;
			align-items: flex-start;
			padding-top: rhythm(0.5);
			padding-right: rhythm(2);
			padding-bottom: rhythm(0.5);
			font-family: $font-family-base;

			&::before {
				content: '';
				display: block;
				flex-shrink: 0;
				width: $icon-size-small;
				height: $icon-size-small;
				margin-top: rem(5px);
				margin-right: rhythm(1);
				border: 1px solid $color-cyberspace;
				border-radius: $border-radius;
				background-color: $color-snow;
			}
		}

		&:focus,
		&:hover {
			+ label {
				&::before {
					background-color: darken($color-ash, 5%);
				}
			}
		}

		&:checked {
			+ label {
				&::after {
					content: '';
					display: block;
					position: absolute;
					top: rem(12.5px);
					left: rem(6px);
					width: rem(5px);
					height: rem(9px);
					transform: rotate(45deg);
					border: solid $color-cyberspace;
					border-width: 0 2px 2px 0;
				}
			}
		}

		&[disabled] {
			+ label {
				@extend %disabled;
			}
		}

		&:invalid {
			+ label {
				&::before {
					border-color: $color-ruby;
					background-color: $color-ruby-light;
				}
			}
		}
	}
}

@include b(checkbox) {
	@include m(inline) {
		padding-top: 0;
		padding-bottom: 0;

		input[type='checkbox'] {
			+ label {
				margin-top: rhythm(1);
				margin-bottom: rhythm(1);
			}
		}
	}
}
