@charset "UTF-8";

@include organism(podcast-episodes) {

	// Episode
	@include e(episode) {
		justify-content: center;
		margin-right: 0;
		margin-left: 0;
		padding: rhythm(2);
		border-radius: $border-radius;
		background-color: $color-snow;

		@include bp-up(sm) {
			padding-right: rhythm(2);
			padding-left: rhythm(2);
		}

		@include bp-up(md) {
			justify-content: flex-start;
		}

		@include bp-up(md) {
			padding: rhythm(3);
		}

		@include m(list) {
			margin-bottom: rhythm(2);

			@include e(image) {
				display: none;

				@include bp-up(md) {
					display: block;
					width: rem(170px);
					height: rem(170px);
				}
			}
		}

		@include m(hero) {
			padding-right: 0;
			padding-left: 0;
			border-radius: 0;
			background-color: transparent;

			@include bp-up(md) {
				flex-direction: row-reverse;
				align-items: center;
			}

			@include e(image) {
				width: rem(310px);
				height: rem(310px);
				margin-right: 0;
				margin-left: rhythm(4);
			}

			@include e(info) {
				> p {
					overflow: visible;
					text-overflow: inherit;
					white-space: normal;
				}
			}
		}

		@include e(image) {
			margin-bottom: rhythm(2);
			border-radius: $border-radius;

			@include bp-down(sm) {
				display: none;
			}

			@include bp-up(sm) {
				display: block;
				width: rem(255px);
				height: rem(255px);
				margin-right: rhythm(3);
			}
		}

		@include e(meta) {
			display: flex;
			margin-bottom: rhythm(1);
		}

		@include e(info) {
			h1 span {
				pointer-events: none;
			}

			h1 svg {
				width: $icon-size-large * 1.5;
				height: $icon-size-large * 1.5;
			}

			h2 svg {
				width: $icon-size-large * 1.2;
				height: $icon-size-large * 1.2;
			}

			> p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				@include bp-up(sm-xs) {
					overflow: visible;
					text-overflow: inherit;
					white-space: normal;
				}
			}
		}

		@include e(link) {
			color: $color-cyberspace;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		@include e(button) {
			display: flex;
			align-items: center;
			margin: 0 rhythm(1);
			padding: 0;
			border: 0;
			background-color: transparent;

			&:hover {
				> svg {
					fill: $color-ruby;
				}
			}

			* {
				pointer-events: none;
			}
		}

		@include e(share) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: rhythm(1);

			@include e(spacer) {
				display: none;
				margin-bottom: rhythm(2);

				@include bp-up(lg) {
					display: block;
					margin-right: rhythm(2);
					margin-bottom: 0;
					margin-left: rhythm(2);
					line-height: 1;
				}
			}

			@include e(list) {
				display: flex;
				flex-basis: 100%;

				> dt {
					margin-right: rhythm(2);
				}

				> dd {
					margin-left: 0;
				}

				@include bp-up(lg) {
					flex-basis: auto;
				}
			}
		}

		@include e(listen-link) {
			margin-right: rhythm(2);
			color: $color-cyberspace;
		}

		@include e(download-link) {
			display: flex;
			flex-basis: 100%;
			flex-grow: 1;
			margin-bottom: rhythm(2);
			color: $color-cyberspace;

			> span {
				font-family: $font-family-base;
				font-size: $size-base;
				text-decoration: underline;
			}

			> svg {
				transform: translateY(3px);
			}

			@include bp-up(lg) {
				margin-bottom: 0;
			}

			@include bp-up(md) {
				flex-basis: auto;
				flex-grow: 0;
			}
		}

		@include e(download-icon) {
			width: $icon-size;
			height: $icon-size;
			margin-right: rhythm(1);
			padding: 3px;
			border-radius: $border-radius;
		}
	}
}

// Track list (Prototype)
@include organism(podcast-track-list) {
	display: flex;
	flex-direction: column;

	> li {
		display: flex;
		padding: rhythm(1) rhythm(2);

		+ li {
			border-top: 1px solid $color-concrete;
		}

		> button {
			display: flex;
			align-items: center;
		}
	}
}
