<div class="o-podcast-episodes">
	<ul class="o-podcast-episodes__episode-list u-list-clean">
		{{#each episodes}}
			{{> @podcast--single-episode el="li" modifiers="list" variant="Episode list"}}
		{{/each}}
	</ul>
</div>
{{> '@podcast--player' hidden=true}}
