<article class="{{containerClasses}} {{containerPadding}} u-b-{{borderColor}}">

	<div class="row">
		<div class="grid-18 grid-sm u-m-b-2 u-p-t-0">
			<p class="meta u-m-b-0">22 januari 17:00-20:00</p>

			<h3 class="beta">FooCoding Graduation</h3>

			<div><strong>Av:</strong> FooCoding</div>
		</div>

		<div class="grid-18 grid-sm-auto u-m-b-2">
			{{> @button text="Spara" modifiers="lemon " }}
		</div>
	</div>

	<div class="row">
		<div class="grid-18 grid-sm u-m-b-1">
				{{> @icon id="pin" additional_classes="u-icon u-icon--medium u-display-inline-block u-m-r-1 u-valign-text-top"}}
				Gradängen, Stockholm <span class="u-divider-pipe"></span> Svenska
		</div>

		<div class="grid-auto">
			<a href="#" class="u-link display-flex align-items-center">
				{{> @icon id="streaming" additional_classes="u-icon u-icon--medium u-display-inline-block u-m-r-1 u-valign-text-top"}}
				Sänds live
			</a>
		</div>
	</div>
</article>
