<article class="o-event-listing-item u-b-{{borderColor}}">
	<div class="row">
		<div class="o-event-listing-item__upper grid-18">
			<span class="meta">22 januari 2021, 17:00-20:00</span>

			<h3 class="o-event-listing-item__heading"><a href="#" class="u-link-area">Förvaltning och ansvar kring öppna data</a></h3>

			<strong>Arrangeras av:</strong> Job Tech Dev (Arbetsförmedlingen), TrafikLab (Samtrafiken)</div>
		</div>
	</div>

	<div class="row o-event-listing-item__lower">
		<div class="grid-auto u-position-static">
			<div class="o-event-listing-item__footer row no-gutters flex-wrap">
				<div class="o-event-listing-item__icon-wrapper grid-auto">
					{{> @icon id="pin" additional_classes="o-event-listing-item__icon u-icon u-icon--medium"}}
					Stockholm <span class="u-divider-pipe u-m-x-2"></span>
				</div>
				<div class="o-event-listing-item__icon-wrapper grid-auto">
					{{> @icon id="streaming" additional_classes="o-event-listing-item__icon u-icon u-icon--medium"}}
					Sänds live
				</div>
			</div>
		</div>
		{{> @button text="Läs mer" modifiers="lemon" additional_classes="o-event-listing-item__button" }}
	</div>
</article>
