@charset "UTF-8";

@include organism(filter) {
	@include e(title) {
		padding: 0 0 0 rhythm(3);
	}

	@include e(column) {
		margin-bottom: rhythm(4);

		@include bp-up(lg) {
			margin-bottom: 0;
		}
	}

	@include e(clear) {
		position: absolute;
		top: -#{rem(50px)};
		right: rhythm(3);
	}
}
