@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;
@use '../../vendor/grid/grid' as g;

@include m.molecule(icon-overlay) {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: v.$border-radius;

	> img {
		display: block;
		width: 100%;
		object-fit: cover;
		object-position: 50% center;
		min-height: 100%;
	}

	img {
		position: relative;
		z-index: 2;
	}

	iframe {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}

	@include m2.e(button) {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		width: rhythm(7);
		height: rhythm(7);
		padding: 0;
		transform: translateX(-50%) translateY(-50%);
		border: 0;
		background-color: transparent;

		&:hover,
		&:focus {
			> svg {
				fill: c.$color-concrete;
			}
		}

		@include bp.bp-up(sm) {
			width: rhythm(10);
			height: rhythm(10);
		}
	}

	@include m2.e(icon) {
		width: rhythm(7);
		height: rhythm(7);
		fill: c.$color-snow;
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
		cursor: pointer;

		@include bp.bp-up(sm) {
			width: rhythm(10);
			height: rhythm(10);
		}
	}

	@include m2.e(message) {
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 4;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: c.$color-concrete;
		padding-left: rhythm(2);
		padding-right: rhythm(2);
	}
}
