<div class="m-icon-overlay{{#if additional_classes}} {{additional_classes}}{{/if}}">
	<img src="{{img_url}}" alt="{{alt}}" />
	{{> @icon id=overlay_icon additional_classes="m-icon-overlay__icon"}}
</div>
