@charset "UTF-8";
@use "sass:color";
@use "sass:math";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.organism(selectable) {
	fieldset button {
		margin-bottom: func.rhythm(1);

		@include breakpoint.bp-up(md) {
			margin-bottom: 0;
		}
	}

	@include bem.e(item) {
		border-top: 1px solid colors.$color-concrete;
		padding-top: func.rhythm(2);
		margin-top: func.rhythm(1.5);

		@include breakpoint.bp-up(lg) {
			padding-top: func.rhythm(4);
			margin-top: func.rhythm(3);
		}

		.js &:not(:first-child):not([aria-hidden]) {
			display: none;
		}

		&[aria-hidden="true"] {
			display: none;
		}
	}

	@include bem.m(padded) {
		padding: func.rhythm(2);

		@include bem.e(item) {
			.wp-block-graph .wrapper {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@include bem.m(border-radius) {
		border-radius: var.$border-radius;
	}

	@include bem.m(shadow-small) {
		@include mixin.box-shadow(colors.$color-cyberspace, 0.2);
	}

	@include bem.m(shadow-large) {
		@include mixin.card-shadow(colors.$color-cyberspace, 0.2);
	}

	@include bem.m(article-indent) {
		@include breakpoint.bp-up(lg) {
			@include bem.e(item) {
				> p:not(.preamble),
				> h2,
				> h3,
				> h4,
				> h5,
				> h6,
				> ul,
				> ol,
				> .wp-block-image > figure,
				> figure,
				> blockquote {
					&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide):not(.wp-block-iis-hero) {
						max-width: 46.364%;
						margin-right: math.div(var.$grid-gutter-width, 2);
						margin-left: calc(var.$indent * 2 - func.rhythm(2));
					}
				}

				> [class*='meta'] {
					margin-left: calc(var.$indent * 2 - func.rhythm(2));
				}

				> p.preamble {
					max-width: 46.364%;
					margin-left: calc(var.$indent * 2 - func.rhythm(2));
				}

				.wp-block-iis-info {
					max-width: calc(46.364% + #{(var.$indent * 2)});
					margin-left: calc(var.$indent * 2 - func.rhythm(2));
				}
			}
		}
	}
}
