@charset "UTF-8";
@use "sass:color";
@use "sass:math";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.organism(selectable) {
	[aria-hidden="true"] {
		display: none;
	}

	@include bem.e(item) {
		border-top: 1px solid colors.$color-concrete;
		padding-top: func.rhythm(4);
		margin-top: func.rhythm(3);

		.js &:not(:first-child):not([aria-hidden]) {
			display: none;
		}
	}

	@include bem.m(padded) {
		padding: func.rhythm(1);

		@include breakpoint.bp-up(md) {
			padding: func.rhythm(2);
		}
	}

	@include bem.m(border-radius) {
		border-radius: var.$border-radius;
	}

	@include bem.m(shadow-small) {
		@include mixin.box-shadow(colors.$color-cyberspace, 0.2);
	}

	@include bem.m(shadow-large) {
		@include mixin.card-shadow(colors.$color-cyberspace, 0.2);
	}

	@include bem.m(article-indent) {
		@include breakpoint.bp-up(lg) {
			@include bem.e(item) {
				> p:not(.preamble),
				> h2,
				> h3,
				> h4,
				> h5,
				> h6,
				> ul,
				> ol,
				> div:not(.wp-block-iis-info):not(.wp-block-image):not(.wp-block-iis-hero):not(.wp-block-iis-grid):not([class*='accordion']),
				> .wp-block-iis-card,
				> .wp-block-image > figure,
				> figure,
				> blockquote {
					&:not(.alignfull):not(.alignleft):not(.alignright):not(.alignwide):not(.wp-block-iis-hero) {
						max-width: calc(#{func.to_rem(612px)} + #{(var.$indent * 2)});
						margin-right: math.div(var.$grid-gutter-width, 2);
						margin-left: var.$indent * 2;
					}
				}

				> [class*='meta'] {
					margin-left: var.$indent;
				}

				> p.preamble {
					max-width: func.to_rem(612px);
					margin-left: var.$indent;
				}
			}
		}
	}
}
