<div class="wrapper u-m-t-4">
	<div class="row">
		<div class="grid">
			<figure class="o-hero o-hero--border-radius">
				<img src="/assets/images/bildmaner.jpg" alt="hero" class="o-hero__image">
			</figure>
			<div class="site__main" id="siteMain">
				<div class="site__main__content">
					<div class="wrapper">
						<div class="row justify-content-center">
							<div class="grid-18">
								<div class="section section--tight">
									<div class="row">
										<div class="grid-18 grid-lg-12">
											<h1 class="supersize">Bildmanér</h1>

											<div class="article__content">
												<h2>Do</h2>
												<ul>
													<li><strong>Kort skärpedjup</strong> Där det går, jobba med organiskt skärpedjup och inte retuscherat skärpedjup&nbsp;</li>
													<li><strong>Färgstarka foton</strong></li>
													<li><strong>Autentiska bilder och motiv&nbsp;</strong>Motiv som speglar naturligt förekommande situationer kopplat till Internetstiftelsens verksamhet Modellerna bör ha vardaglig klädsel, dvs inte allt för fixade eller uppklätt.</li>
													<li>Ett inkluderande förhållningssätt till personer och objekt i bilden; ålder, kön, etnicitet och funktionsvariation</li>
												</ul>

												<h2>Don't</h2>
												<ul>
													<li><strong>Bilderna får inte vara överexponerade</strong></li>
													<li><strong>Vi ska inte jobba med duotonebilder</strong></li>
													<li><strong>Modellerna ska inte klä upp sig</strong> för fotografitillfället, utan vi använder ett mer vardagligt uttryck</li>
													<li><strong>Undvik stereotypa motiv</strong></li>
												</ul>
											</div>
										</div>
										<div class="grid-18 grid-lg-6">
											<aside class="sidebar u-position-sticky-top-4">
												<div class="row">
													<div class="grid-18 grid-md-9 grid-lg-18 u-m-b-2">
														<section class="m-card m-card--padded">
															<div class="m-card__content">
																<h1 class="beta">Brandbook</h1>
																<div class="textwidget">
																	<dl>
																		<dt>Internetstiftelsen</dt>
																		<dd class="u-m-l-0">
																			<ol class="u-list-clean u-p-l-2">
																				<li><a href="/components/preview/identitet.html" class="u-link">Identitet</a></li>
																				<li><a href="/components/preview/bildmaner.html" class="u-link"><strong>Bildmanér</strong></a></li>
																				<li><a href="/components/preview/tonalitet-och-sprakbruk.html" class="u-link">Tonalitet och språkbruk</a></li>
																			</ol>
																		</dd>
																		<dd class="u-m-l-0">
																			<ol class="u-list-clean">
																				<li><a href="/components/preview/goto10.html" class="u-link">Goto 10</a></li>
																			</ol>
																		</dd>
																	</dl>
																</div>
															</div>
														</section>
													</div>
												</div>
											</aside>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
