<div class="article u-m-t-0 u-p-t-2">
	<div class="wrapper">
		<div class="grid-18">
			<div class="article__content article__content--full-width">
				<h1>Testsida för wordpress gutenberg blocks</h1>
				<p class="wp-block-iis-preamble preamble">Så gott som alla svenskar använder internet och digitala tjänster idag. Både unga och äldre, de som gillar teknik och de som inte alls gör det. Alla behöver kunna hantera digitala tjänster, förstå hur de fungerar och hur de påverkar samhället.</p>
				<div class="wp-block-image">
					<figure class="alignfull size-large">
						<img alt="lemon" src="/assets/images/ALX_0876.jpg">
					</figure>
				</div>

				<div class="m-card m-card--padded m-card--wide alignwide">
					<img src="/assets/images/ALX_0876.jpg" class="m-card__image m-card__media" alt="Hands typing on laptop">

					<div class="m-card__content">
						<a href="http://www.google.se" class="m-card__link"><h2 class="m-card__heading-link__heading">Gymnasieskolor med hög bandbredd har bättre skolresultat</h2></a>
						<p class="m-card__text">Eget nulla <strong>facilisi etiam</strong> dignissim diam quis enim lobortis scelerisque. Faucibus a pellentesque sit amet porttitor.</p>

						<div class="m-card__bottom">
						</div>
					</div>
				</div>

				<div class="wp-block-image">
					<figure class="alignright size-medium">
						<img alt="lemon" src="/assets/images/ALX_0876.jpg">
					</figure>
				</div>
				<p>Internetstiftelsen har som ett av sina mål att bidra till kunniga och medvetna internetanvändare. Alla som köper ett domännamn som slutar på .se eller .nu är med och bidrar till det.</p>

				<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med inriktning på internet. Läs mer om vår verksamhet här.</p>

				<div class="wp-block-iis-grid">
					<div class="row">
						<div class="grid-18 grid-md-12 u-m-b-4">
							{{> @card}}
						</div>
						<div class="grid-18 grid-md-6 u-m-b-4">
							{{> @card}}
							<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation.</p>
						</div>
					</div>
				</div>

				<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med inriktning på internet. Läs mer om vår verksamhet här.</p>
				{{>@info-box text="Sit sunt id cillum consequat sint ut voluptate eu consequat occaecat est eiusmod anim anim." additional_classes="wp-block-iis-info"}}
				<section class="alignfull o-section background-ocean-light">
				  <div class="wrapper">
					<div class="grid-18 wp-blocks">
					  <p class="wp-block-paragraph">Artiklarna och filmerna på den här sajten är framtagna av oss på Internetstiftelsen tillsammans med produktionsbyrån KIT Creative Studio. Syftet är att dela med oss av den kunskap vi har om internet, och sprida den på sociala medier, en bit i taget.</p>
					</div>
				  </div>
				</section>
			</div>
		</div>
	</div>
</div>
