<div class="article u-m-t-0 u-p-t-2">
	<div class="wrapper">
		<div class="grid-18">
			<div class="article__content article__content--full-width">
				<h1>Testsida för wordpress gutenberg blocks</h1>
				<p class="wp-block-iis-preamble preamble">Så gott som alla svenskar använder internet och digitala tjänster idag. Både unga och äldre, de som gillar teknik och de som inte alls gör det. Alla behöver kunna hantera digitala tjänster, förstå hur de fungerar och hur de påverkar samhället.</p>
				<figure class="wp-block-image alignfull size-large">
				  <img alt="lemon" src="https://images.unsplash.com/photo-1534531173927-aeb928d54385?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2440&q=80" width="2440" height="1627" class="wp-image-">
				</figure>
				<figure class="wp-block-image alignright size-medium">
				  <img alt="lemon" src="https://images.unsplash.com/photo-1534531173927-aeb928d54385?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" width="400" height="267" class="wp-image-">
				</figure>
				<p>Internetstiftelsen har som ett av sina mål att bidra till kunniga och medvetna internetanvändare. Alla som köper ett domännamn som slutar på .se eller .nu är med och bidrar till det.</p>

				<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med inriktning på internet. Läs mer om vår verksamhet här.</p>
				<section class="alignfull o-section background-ocean-light">
				  <div class="wrapper">
					<div class="grid-18 wp-blocks">
					  <p class="wp-block-paragraph">Artiklarna och filmerna på den här sajten är framtagna av oss på Internetstiftelsen tillsammans med produktionsbyrån KIT Creative Studio. Syftet är att dela med oss av den kunskap vi har om internet, och sprida den på sociala medier, en bit i taget.</p>
					</div>
				  </div>
				</section>
			</div>
		</div>
	</div>
</div>
