<div class="o-section background-jade-light alignfull u-m-b-8">
	<div class="wrapper iis-o-section__content">
		<div class="grid-18">
			<div class="article">
				<div class="article__content">
					<div class="alignfull">
						<div class="wrapper">
							<div class="grid-18 grid-lg-12 u-m-offset-1">
								<strong class="a-meta">hjärtefråga</strong>
									<h1 class="supersize">Testsida för wordpress gutenberg blocks</h1>
									<p>Visste du att internet är skitstort?</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="article__content article__content--full-width">
		<h1>Testsida för wordpress gutenberg blocks</h1>
		<p class="wp-block-iis-preamble preamble">Så gott som alla svenskar använder internet och digitala tjänster idag. Både unga och äldre, de som gillar teknik och de som inte alls gör det. Alla behöver kunna hantera digitala tjänster, förstå hur de fungerar och hur de påverkar samhället.</p>
	</div>
</div>
<div class="row justify-content-center">
	<div class="grid-9">
		<div class="wp-block-image">
			<figure>
				<img alt="lemon" src="/assets/images/ALX_0876.jpg">
			</figure>
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="article__content article__content--full-width">
		<div class="m-card m-card--padded m-card--wide alignwide">
			<img src="/assets/images/ALX_0876.jpg" class="m-card__image m-card__media" alt="Hands typing on laptop">

			<div class="m-card__content">
				<a href="http://www.google.se" class="m-card__link"><h2 class="m-card__heading-link__heading">Gymnasieskolor med hög bandbredd har bättre skolresultat</h2></a>
				<p class="m-card__text">Eget nulla <strong>facilisi etiam</strong> dignissim diam quis enim lobortis scelerisque. Faucibus a pellentesque sit amet porttitor.</p>

				<div class="m-card__bottom">
				</div>
			</div>
		</div>

		<div class="wp-block-image">
			<figure class="alignright size-medium">
				<img alt="lemon" src="/assets/images/ALX_0876.jpg">
			</figure>
		</div>
		<p>Internetstiftelsen har som ett av sina mål att bidra till kunniga och medvetna internetanvändare. Alla som köper ett domännamn som slutar på .se eller .nu är med och bidrar till det.</p>

		<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med inriktning på internet. Läs mer om vår verksamhet här.</p>

		<div class="wp-block-iis-grid">
			<div class="row">
				<div class="grid-18 grid-md-12 u-m-b-4">
					{{> @card}}
				</div>
				<div class="grid-18 grid-md-6 u-m-b-4">
					{{> @card excerpt="Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation."}}
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="o-section">
	<div class="wrapper">
		<div class="alignfull">
			<div class="wrapper">
				<div class="row">
					<div class="grid-18 grid-md-12 grid-lg-8 offset-md-1">
						<h1 class="supersize">Asymmetric grid</h1>
						<p>
							Ett domännamn är som en gatuadress på internet och gör att alla nätsurfare enkelt hittar till din sida. Internetstiftelsen ser till så att alla .se- och .nu-domäner fungerar som de ska. Innan du skaffar en egen adress på nätet är det ett par saker som kan vara bra att tänka på.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="wp-block-iis-grid ">
			<div class="row asymmetric-md">


				<div class="grid-18 grid-lg-6 ">

					<article class="wp-block-iis-card m-card m-card--padded m-card--shadow ">
						<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-700x406.jpg" class="optanon-category-C0004 m-card__image m-card__media ls-is-cached lazyloaded" alt="Kvinna arbetar framför dator på Internetstiftelsens kontor." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-8x5.jpg 8w">
						<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna arbetar framför dator på Internetstiftelsens kontor." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2020/03/kvinna-dator-2-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
						<div class="m-card__content">
							<a href="/sok-doman/" class="m-card__link" target="_self">
								<h1 class="beta">Är domännamnet ledigt?</h1>
							</a>

							<p>Kolla här om domännamnet du vill registrera är upptaget.</p>

						</div>
					</article>

				</div>




				<div class="grid-18 grid-lg-6 ">

					<article class="wp-block-iis-card m-card m-card--padded m-card--shadow ">
						<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-700x406.jpg" class="optanon-category-C0004 m-card__image m-card__media lazyloaded" alt="Adresskylt för Hammarby Kaj." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-8x5.jpg 8w">
						<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-700x406.jpg" class="m-card__image m-card__media" alt="Adresskylt för Hammarby Kaj." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2019/01/KPA_0790-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
						<div class="m-card__content">
							<a href="/domaner/registrera-ett-domannamn/tips-innan-du-registrerar-ett-domannamn/" class="m-card__link" target="_self">
								<h1 class="beta">Tips innan du registrerar ett domännamn</h1>
							</a>

							<p>Innan du skaffar en egen adress på nätet är det ett par saker som kan vara bra att tänka på. Därför ha vi samlat några handfasta råd för dig som vill registrera ett domännamn.</p>

						</div>
					</article>

				</div>


				<div class="grid-18 grid-lg-6 ">

					<article class="wp-block-iis-card m-card m-card--padded m-card--shadow ">
						<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-700x406.jpg" class="optanon-category-C0004 m-card__image m-card__media ls-is-cached lazyloaded" alt="Ryggtavla av man syns stående framför en laptop." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-700x406.jpg" class="m-card__image m-card__media" alt="Ryggtavla av man syns stående framför en laptop." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2020/02/man-vid-laptop-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
						<div class="m-card__content">
							<a href="/domaner/domannamn-vad-ar-det/" class="m-card__link" target="_self">
								<h1 class="beta">Så fungerar domännamn	</h1>
							</a>

							<p>Ett domännamn är en blandning av en adress och en identitet på internet. Domännamnet är det du skriver in i din webbläsare för att komma till webbplatsen du vill besöka.</p>

						</div>
					</article>

				</div>


			</div>
		</div>
	</div>
</div>
<div class="o-section">
	<div class="wrapper">
		<div class="alignfull">
			<div class="wrapper">
				<div class="row">
					<div class="grid-18 grid-md-12 grid-lg-10 offset-md-1">
						<h1 class="supersize">Reversed asymmetric grid</h1>
						<p>
							Ett domännamn är som en gatuadress på internet och gör att alla nätsurfare enkelt hittar till din sida. Internetstiftelsen ser till så att alla .se- och .nu-domäner fungerar som de ska. Innan du skaffar en egen adress på nätet är det ett par saker som kan vara bra att tänka på.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wp-block-iis-grid">
			<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4" style="margin-bottom:15%">

				<div class="grid-18 grid-sm-8 grid-md-5">

					<article class="wp-block-iis-card m-card">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-peacock-color">1970</span></div>
								<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
									<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
								</a>

								<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
						</div>
					</article>

				</div>

				<div class="grid-18 grid-sm-8 grid-md-5">

					<article class="wp-block-iis-card m-card">
						<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
						<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
						<div class="m-card__content">
							<div class="a-meta"><span class="has-peacock-color">1974</span></div>
							<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
								<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
							</a>

							<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

						</div>
					</article>

				</div>

				<div class="grid-18 grid-sm-12 grid-md-5">

					<article class="wp-block-iis-card m-card">
						<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
						<div class="m-card__content">
							<div class="a-meta"><span class="has-peacock-color">1978</span></div>
							<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
								<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
							</a>

							<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

						</div>
					</article>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="wrapper">
		<div class="article__content article__content--full-width">
		<p>Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med inriktning på internet. Läs mer om vår verksamhet här.</p>
		{{>@info-box text="Sit sunt id cillum consequat sint ut voluptate eu consequat occaecat est eiusmod anim anim." additional_classes="wp-block-iis-info"}}
		<section class="alignfull o-section background-ocean-light u-m-b-4">
		<div class="wrapper">
			<div class="grid-18 wp-blocks">
			<p class="wp-block-paragraph">Artiklarna och filmerna på den här sajten är framtagna av oss på Internetstiftelsen tillsammans med produktionsbyrån KIT Creative Studio. Syftet är att dela med oss av den kunskap vi har om internet, och sprida den på sociala medier, en bit i taget.</p>
			</div>
		</div>

		</section>

		<div class="m-card m-card--padded alignright">
			<img src="/assets/images/ALX_0876.jpg" class="m-card__image m-card__media" alt="Hands typing on laptop">
			<div class="m-card__content">
			<a href="http://www.google.se" class="m-card__link">
				<h2 class="">
					Gymnasieskolor med hög bandbredd har bättre skolresultat
				</h2>
			</a>
			</div>
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis hendrerit ante tincidunt vestibulum. Nullam nec enim congue mauris accumsan pellentesque. Praesent ut tincidunt lacus. Proin tincidunt nunc et ligula mollis, at auctor quam consectetur. Vivamus interdum est in felis rhoncus, in sodales metus dapibus. Suspendisse faucibus et arcu a gravida. Aliquam vehicula sem est, quis accumsan leo ultricies sed. Quisque aliquet pharetra sapien nec fermentum.</p>

		<p>Nullam et sem id est feugiat dignissim scelerisque in leo. Pellentesque dapibus sem quis pellentesque consectetur. Donec nec quam venenatis, congue sapien non, mattis metus. Nunc auctor lectus turpis. Morbi vitae mi mollis, vestibulum dolor id, molestie nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc condimentum, tortor ut interdum pulvinar, lacus orci tincidunt nibh, id venenatis nisi lorem quis odio. Integer purus lorem, imperdiet id pretium vel, mattis vel turpis. Fusce pharetra bibendum magna. Duis pellentesque risus et lectus condimentum faucibus. Sed luctus ac mauris consequat ullamcorper.</p>

		<p>Mauris felis risus, tempus eget ornare at, scelerisque non ipsum. Nulla eu interdum ligula. Maecenas volutpat efficitur accumsan. Mauris tincidunt eleifend molestie. Nam metus dolor, semper vitae massa posuere, faucibus pulvinar dui. Sed maximus nisi convallis orci rhoncus, id tempus diam egestas. Donec libero leo, bibendum nec faucibus et, feugiat at eros. Proin porttitor purus ac volutpat imperdiet. Ut suscipit metus ornare dolor consectetur tincidunt. Morbi vestibulum, orci in cursus aliquam, velit nunc tincidunt enim, vitae semper nibh leo nec sem.</p>

		<div class="wp-block-image">
			<img src="/assets/images/ALX_0876.jpg" alt="">
		</div>
	</div>
</div>
