<div class="m-card m-card--padded m-card--wide">
	<div data-youtube="n8hPhZwV8a0" class="m-icon-overlay m-card__image m-card__media">
		<svg class="icon m-icon-overlay__icon">
			<use xlink:href="#icon-play"></use>
		</svg>
	</div>
	<div class="m-card__content">
		<div class="m-card__meta">
			<div class="a-meta">2018-10-05</div>

		</div>
		<a href="http://www.google.se" class="m-card__link">
			<h2 class="">
				Gymnasieskolor med hög bandbredd har bättre skolresultat
			</h2>
		</a>
		<p class="m-card__text">Eget nulla <strong>facilisi etiam</strong> dignissim diam quis enim lobortis scelerisque. Faucibus a pellentesque sit amet porttitor.</p>
	</div>
</div>
