@charset 'UTF-8';

input[type='radio'] {
	+ label {
		display: inline-block;
		padding-top: rhythm(1);
		padding-bottom: rhythm(1);
		padding-left: rhythm(3);
		background-image: url(../images/icon-radiobutton.svg);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: $icon-size-small $icon-size-small;
		font-weight: normal;
	}

	&:focus,
	&:hover {
		+ label {
			color: $color-ocean;
			text-decoration: underline;
		}
	}

	&:checked {
		+ label {
			background-image: url(../images/icon-radiobutton-checked.svg);
		}
	}

	&[disabled] {
		+ label {
			@extend %disabled;
		}
	}
}

@include b(radio) {
	@include m(inline) {
		padding-top: 0;
		padding-bottom: 0;

		input[type='radio'] {
			+ label {
				margin-top: rhythm(1);
				margin-bottom: rhythm(1);
			}
		}
	}
}
