@charset "UTF-8";
@use "sass:color";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;

@include mixin.atom(radio) {
	&[type='radio'] {
		+ label {
			display: inline-flex;
			position: relative;
			align-items: flex-start;
			padding-top: rhythm(0.5);
			padding-right: rhythm(2);
			padding-bottom: rhythm(0.5);
			font-family: var.$font-family-base;

			&::before {
				content: '';
				display: block;
				flex-shrink: 0;
				width: to_rem(15px);
				height: to_rem(15px);
				margin-top: to_rem(3px);
				margin-right: rhythm(1);
				transform: translateX(to_rem(1px));
				border: 2px solid transparent;
				border-radius: 50%;
				background-color: colors.$color-snow;
				box-shadow: 0 0 0 1px colors.$color-cyberspace;
			}
		}

		&:focus,
		&:hover {
			+ label {
				&::before {
					background-color: color.adjust(colors.$color-snow, $lightness: -5%);
				}
			}
		}

		&:checked {
			+ label {
				&::before {
					border: 2px solid colors.$color-ash;
					background-color: colors.$color-cyberspace;
				}
			}
		}

		&[disabled] {
			+ label {
				@extend %disabled;

				&::before {
					background-color: color.adjust(colors.$color-concrete, $lightness: -5%);
				}
			}

			&:checked {
				+ label {
					&::before {
						background-color: colors.$color-cyberspace;
					}
				}
			}
		}

		&:invalid {
			+ label {
				&::before {
					background-color: colors.$color-ruby-light;
					box-shadow: 0 0 0 1px colors.$color-ruby-dark;
				}
			}
		}
	}
}

@include bem.b(radio) {
	&.is-invalid {
		[type='radio'] {
			+ label {
				&::before {
					background-color: colors.$color-ruby-light;
					box-shadow: 0 0 0 1px colors.$color-ruby-dark;
				}
			}
		}
	}

	@include bem.m(inline) {
		padding-top: 0;
		padding-bottom: 0;

		input[type='radio'] {
			+ label {
				margin-top: rhythm(1);
				margin-bottom: rhythm(1);
			}
		}
	}
}
