@charset 'UTF-8';

/// @group Colors
$color-black: #000 !default;
$color-snow: #fff !default;
$color-granit: #8e9297 !default;
$color-ash: #ededed !default;
$color-ruby: #ff4069 !default;
$color-ruby-light: #ff9fb4 !default;
$color-peacock: #c27fec !default;
$color-peacock-light: #e0bff5 !default;
$color-jade: #55c7b4 !default;
$color-jade-light: #aae3d9 !default;
$color-sandstone: #f99963 !default;
$color-sandstone-light: #fcccb1 !default;
$color-lemon: #ffce2e !default;
$color-lemon-light: #ffe696 !default;
$color-ocean: #50b2fc !default;
$color-ocean-light: #a7d8fd !default;
$color-cyberspace: #1f2a36 !default;
