<div class="a-height-limit js-height-limit" data-height="300">
	<div class="a-height-limit__inner">
		<p>Morbi ac arcu nisi. Praesent nec condimentum risus. Nulla facilisi. Fusce pharetra dui consequat, ullamcorper neque fermentum, tristique libero. Vestibulum vel tristique nisl. Praesent rutrum dictum lectus quis dignissim. Aenean eget risus fringilla, egestas purus at, tincidunt quam. Ut erat ex, interdum a mauris nec, egestas luctus quam.</p>
		<p>Maecenas ut convallis elit. Sed mattis vel est sed dignissim. Vivamus eu diam bibendum, tincidunt nisl at, tempor massa. Praesent malesuada id ligula eu finibus. Sed ultricies tellus ligula, in interdum arcu vulputate non. Donec nunc orci, commodo sed turpis in, congue vestibulum ante. Etiam vel dolor eget ex aliquet porta non nec dolor.</p>
	</div>
	<div class="row justify-content-center">
		<button type="button" class="a-height-limit__btn">
			<span class="a-height-limit__btn__text">Läs mer</span>
			{{>@icon id="arrow-down"}}
		</button>
	</div>
</div>
