<div class="a-height-limit js-height-limit u-p-2" data-height="300">
	<div class="a-height-limit__inner is-limited">
		<p>Morbi ac arcu nisi. Praesent nec condimentum risus. Nulla facilisi. Fusce pharetra dui consequat, ullamcorper neque fermentum, tristique libero. Vestibulum vel tristique nisl. Praesent rutrum dictum lectus quis dignissim. Aenean eget risus fringilla, egestas purus at, tincidunt quam. Ut erat ex, interdum a mauris nec, egestas luctus quam.</p>
		<p>Maecenas ut convallis elit. Sed mattis vel est sed dignissim. Vivamus eu diam bibendum, tincidunt nisl at, tempor massa. Praesent malesuada id ligula eu finibus. Sed ultricies tellus ligula, in interdum arcu vulputate non. Donec nunc orci, commodo sed turpis in, congue vestibulum ante. Etiam vel dolor eget ex aliquet porta non nec dolor.</p>
		<p>Fusce bibendum risus nisi. Praesent nec condimentum risus. Nulla facilisi. Fusce pharetra dui consequat, ullamcorper neque fermentum, tristique libero. Vestibulum vel tristique nisl. Praesent rutrum dictum lectus quis dignissim. Aenean eget risus fringilla, egestas purus at, tincidunt quam. Ut erat ex, interdum a mauris nec, egestas luctus quam.</p>
	</div>
	<div class="row justify-content-center">
		<button type="button" class="a-height-limit__btn is-hidden js-toggle-height">
			<span class="a-height-limit__btn__text">Visa mer</span>
			{{>@icon id="arrow-down"}}
		</button>
	</div>
</div>
