@charset "UTF-8";
@use '../../configurations/bem' as m2;
@use '../../configurations/colors/colors' as c;

@include m2.b(skip) {
	position: relative;
	z-index: 1001;
	height: 0;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		height: 0;
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		border: 0;

		&:focus {
			width: 100%;
			height: auto;
			padding-top: rhythm(1);
			padding-bottom: rhythm(1.5);
			background-color: c.$color-cyberspace;
			color: c.$color-snow;
			text-align: center;
			text-indent: 0;
		}
	}
}
