$border-color: darken($color-jade, 5%);

@include organism(mega-menu) {
	z-index: z_index(middlegroundImportant);
	padding-right: 0;
	padding-left: 0;
	transition: transform 0.25s ease-out;
	background-color: $color-jade-light;

	&[aria-hidden='true'] {
		display: none;
		transform: translateY(-115%);
	}

	&[aria-hidden='false'] {
		transform: translateY(0);

		+ {
			@include organism(domain-search) {
				display: none;
			}
		}
	}

	&[tabindex='-1'] {
		a,
		button,
		input {
			visibility: hidden;
		}
	}

	@include e(wrapper) {
		padding-top: rhythm(3);

		@include bp-down(md) {
			padding-right: rhythm(1);
			padding-left: rhythm(1);
		}
	}

	@include e(list) {
		margin-top: rhythm(1);

		@include e(topic) {
			margin-top: rhythm(2);
			margin-bottom: rhythm(0.5);
			padding: rhythm(1) rhythm(1);
			border-bottom: 1px solid $border-color;
			font-family: $font-family-headings;

			&:first-child {
				margin-top: 0;
			}
		}

		@include e(item) {
			margin: 0 0 rhythm(0.5) 0;
			padding: rhythm(1) rhythm(1);

			& + & {
				border-top: 1px solid $border-color;
			}
		}

		@include bp-up(lg) {

			@include e(topic) {
				padding: 0;
				border-bottom: 0;
			}

			@include e(item) {
				margin-bottom: rhythm(1);
				padding: 0;
				line-height: 1.3;

				& + & {
					border-top: 0;
				}
			}
		}
	}

	@include e(link) {
		display: inline-flex;
		align-items: center;
		color: $color-cyberspace;
		text-decoration: none;

		&:hover {
			&:not(span) {
				text-decoration: underline;
			}
		}

		@include m(large) {
			display: block;
			padding: 0 rhythm(1);
			font-family: $font-family-headings;
			font-size: rem(23px);
			white-space: nowrap;

			@include bp-up(lg) {
				padding: 0;
			}
		}

		@include e(icon) {
			width: $icon-size-smallest;
			height: $icon-size-smallest;
			margin-top: rem(2px);
			margin-left: rhythm(0.5);
		}
	}

	@include bp-up(lg) {
		padding-bottom: 0;

		@include e(link) {
			@include m(large) {
				padding: 0;
			}
		}
	}

	@include e(search) {
		@include e(wrapper) {
			padding: rhythm(2) rhythm(1);

			@include bp-up(md) {
				padding: rhythm(3) rhythm(2);
			}
		}
	}
}
