<div class="wrapper-fluid o-mega-menu" aria-hidden="{{hidden}}" id="mega-menu" tabindex="-1">
	{{> @domain-search hidden="true" input_id="search-domain-2" addidional_classes="is-in-mega-menu" id=false}}
	<div class="wrapper o-mega-menu__wrapper">
		<div class="row align-items-start">
			<div class="grid-lg-4 grid-18">
				<a href="#" class="o-mega-menu__link o-mega-menu__link--large">Domäner</a>
				<dl class="o-mega-menu__list">
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">Är domänen ledig?</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Regler och beskrivning av whois</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Registrera en domän</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Villkor och regler</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">.se-/.nu-domäner som snart kan bli lediga</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Tips innan du registrerar en domän/Inspiration och tips</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Återförsäljare</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Kontakta din kundtjänst</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Så fungerar ett domännamn</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Oseriösa metoder</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Tvistlösning</a></dd>
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">Domännamnsbranschen</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Tjänster </a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Domänstatistik</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Bli registrar</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Registrars.se</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Testverksamhet</a></dd>
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">Tekniska artiklar</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">IDN för .se/.nu</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Felstavade domännamn</a></dd>
				</dl>
			</div>
			<div class="grid-lg-4 grid-18">
				<a href="#" class="o-mega-menu__link o-mega-menu__link--large">Kunskap</a>
				<dl class="o-mega-menu__list">
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">För skolan</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Digitala lektioner</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Lärarfortbildning</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Fördjupning</a></dd>
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">För samhället</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Svenskarna och internet</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Projekt internetaccess</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Federationer</a></dd>
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">För allmänheten</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Digitala lektioner</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Lärarfortbildning</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Fördjupning</a></dd>
				</dl>
			</div>
			<div class="grid-lg-4 grid-18">
				<a href="#" class="o-mega-menu__link o-mega-menu__link--large">Mötesplatser</a>
				<dl class="o-mega-menu__list">
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Internetdagarna</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Goto 10</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Forskningssamarbeten</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Internetstiftelsen stöttar</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Investeringar</a></dd>
				</dl>
			</div>
			<div class="grid-lg-4 grid-18">
				<a href="#" class="o-mega-menu__link o-mega-menu__link--large">Om oss</a>
				<dl class="o-mega-menu__list">
					<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">Presentation</a></dt>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Jobba hos oss</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Press</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Pressbilder och biografier</a></dd>
					<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">Kontakt</a></dd>
				</dl>
			</div>
			<div class="grid-lg-auto grid-18">
				<a href="#" class="o-mega-menu__link o-mega-menu__link--large">Sök</a>
			</div>
		</div>
	</div>
</div>
