@charset 'UTF-8';

@include organism(header) {
	position: relative;
	z-index: z_index(foreground);
	border-bottom: 1px solid $color-ash;
	background-color: $color-snow;

	@include e(logo-link) {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0;

		@include bp-up(md) {
			padding: rhythm(2) 0;
		}
	}

	@include b(logotype) {
		width: 100%;
		max-width: rhythm(10);
		height: rhythm(2.96);
		overflow: visible;
	}

	@include bp-up(md) {
		@include b(logotype) {
			max-width: rhythm(20);
			height: rhythm(5.92);
		}
	}
}
