<header class="o-header">
	<div class="wrapper">
		<div class="row justify-content-between align-items-center flex-nowrap">
			<div class="grid-auto">
				<a href="{{logo_link_href}}" class="o-header__logo-link">
					<span class="o-header__logo">{{> @logotype id="default"}}</span>
					<span class="u-visuallyhidden">{{logo_link_text}}</span>
				</a>
			</div>
			<div class="grid">
				{{ render '@main-menu'}}
			</div>
		</div>
	</div>
</header>
{{> @mega-menu hidden="true"}}
{{> @domain-search hidden="true"}}
