@charset 'UTF-8';

@include molecule(natural-language-form) {
	@include e(select) {
		padding-right: 0;
		padding-left: 0;
		border: 0;
		border-radius: 0;
		background: transparent;
		text-decoration: underline;
		cursor: pointer;

		&[data-color='ocean'] {
			color: $color-ocean;
		}

		&[data-color='peacock'] {
			color: $color-peacock;
		}

		&[data-color='jade'] {
			color: $color-jade;
		}

		@include m(arrow) {
			padding-right: rhythm(4);
			border-bottom: 2px solid currentColor;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-down' viewBox='0 0 32 18.9' width='100%25' height='100%25'%3E%3Cpolygon points='32,2.9 16,18.9 0,2.9 2.9,0 16,13.1 29.1,0 '%3E%3C/polygon%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: calc(95%) 60%;
			background-size: $icon-size-medium $icon-size-medium;
			text-decoration: none;

			&[data-color='ocean'] {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-down' fill='#50b2fc' viewBox='0 0 32 18.9' width='100%25' height='100%25'%3E%3Cpolygon points='32,2.9 16,18.9 0,2.9 2.9,0 16,13.1 29.1,0 '%3E%3C/polygon%3E%3C/svg%3E%0A");
			}

			&[data-color='peacock'] {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-down' fill='#c27fec' viewBox='0 0 32 18.9' width='100%25' height='100%25'%3E%3Cpolygon points='32,2.9 16,18.9 0,2.9 2.9,0 16,13.1 29.1,0 '%3E%3C/polygon%3E%3C/svg%3E%0A");
			}

			&[data-color='jade'] {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow-down' fill='#55c7b4' viewBox='0 0 32 18.9' width='100%25' height='100%25'%3E%3Cpolygon points='32,2.9 16,18.9 0,2.9 2.9,0 16,13.1 29.1,0 '%3E%3C/polygon%3E%3C/svg%3E%0A");
			}

			@include bp-up(sm) {
				border-bottom: 4px solid currentColor;
				background-position: calc(100%) 60%;
			}

			@include bp-up(lg) {
				border-bottom: 5px solid currentColor;
			}
		}
	}

	@include e(temp-text) {
		display: inline-block;
	}

	@include e(input) {
		width: auto;
		min-width: none;
		max-width: none;
		border: 0;
		background: transparent;
		text-decoration: underline;
		cursor: pointer;

		&[data-color='ocean'] {
			color: $color-ocean;
		}

		&[data-color='peacock'] {
			color: $color-peacock;
		}

		&[data-color='jade'] {
			color: $color-jade;
		}
	}
}
