@charset "UTF-8";
@use '../configurations/colors/colors' as colors;

@mixin dark-mode {
	& {
		--cyberspace-color: #{colors.$color-snow};
		--snow-color: #{colors.$color-cyberspace};
		--ash-color: #{colors.$color-black};

		--concrete-color: #{colors.$color-granit};
		--granit-color: #{colors.$color-concrete};
		--ocean-dark-color: #{colors.$color-ocean};
	}

	.background-snow {
		background-color: colors.$color-cyberspace !important;
	}

	.background-ash {
		background-color: colors.$color-black !important;
	}

	.u-border-top {
		border-top: 1px solid colors.$color-black;
	}

	.color-granit {
		color: colors.$color-concrete;
	}

	.color-ocean-dark {
		color: colors.$color-ocean !important;
	}

	svg {
		fill: colors.$color-snow;
	}
}

@media (prefers-color-scheme: dark) {
	html:not(.light-theme) {
		@include dark-mode;
	}
}

html.dark-theme {
	@include dark-mode;
}
