@charset 'UTF-8';

:root {
	--snow-color: #{$color-snow};
	--cyberspace-color: #{$color-cyberspace};
	--black-color: #{$color-black};
	--ash-color: #{$color-ash};
	--dark-color: #{$color-cyberspace};
	--white-color: #{$color-snow};
}

@media (prefers-color-scheme: dark) {
	:root {
		--cyberspace-color: #{$color-snow};
		--snow-color: #{$color-cyberspace};
		--ash-color: #{$color-black};
	}
}
