@charset 'UTF-8';

@import '../configurations/colors/colors';

$namespace: '';

// Theme palette
$theme-palette: (
	background: $color-ash
) !default;

@function theme_palette($key: 'background') {
	@return map-get($theme-palette, $key);
}

@include b(site) {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include e(header) {
		display: flex;
		position: relative;
		flex-direction: column;
	}

	@include e(main) {
		flex: 1 0 auto;
		transition: opacity 0.2s ease-out, height 0.2s ease-out;
		opacity: 1;

		&.fade-out {
			overflow: hidden;
			opacity: 0;
		}
	}
}

:root {
	--m-submenu-background-color: #{$color-ocean-light};
	--m-submenu-icon-fill-color: #{$color-cyberspace};
	--m-submenu-icon-background-hover-color: #{$color-ocean-light};
	--m-info-box-border-color: #{$color-peacock};
	--m-modal-button-primary-color: #{$color-peacock-light};
	--m-modal-button-primary-hover-color: #{$color-peacock};
	--m-modal-button-primary-border-color: #{$color-peacock};
	--m-modal-button-primary-text-color: #{$color-cyberspace};
	--m-modal-button-secondary-color: #{$color-ruby-light};
	--m-modal-button-secondary-hover-color: #{$color-ruby};
	--m-modal-button-secondary-border-color: #{$color-ruby};
	--m-modal-button-secondary-text-color: #{$color-cyberspace};

	--snow-color: #{$color-snow};
	--cyberspace-color: #{$color-cyberspace};
	--black-color: #{$color-black};
}
