@charset 'UTF-8';

@import '../configurations/colors/colors';

$namespace: '';

// Theme palette
$theme-palette: (
	background: $color-ash
) !default;

@function theme_palette($key: 'background') {
	@return map-get($theme-palette, $key);
}

@include b(site) {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include e(header) {
		display: flex;
		position: relative;
		z-index: 3;
		flex-direction: column;
	}

	@include e(main) {
		flex: 1 0 auto;
		transition: opacity 0.2s ease-out, height 0.2s ease-out;
		opacity: 1;

		&.fade-out {
			overflow: hidden;
			opacity: 0;
		}
	}
}
