@charset "UTF-8";

@include molecule(overview-navigation) {
	overflow: visible;
	min-width: 300px;
	max-width: 453px;
	display: flex;
	flex-direction: column;
	border-radius: $border-radius;
	transition: left 0.25s ease-out, top 0.5s ease-out;
	box-shadow: 0 0 0 1px $color-ash;

	@include e(list) {
		overflow: hidden;
		border-radius: $border-radius;
		background-color: $color-snow;
		margin: 0;
		padding: 0;
		width: 100%;
		max-height: calc(100dvh - rem(130px));
		overflow-y: auto;
	}

	@include e(title) {
		margin-bottom: rhythm(2);
	}

	@include e(item) {
		display: flex;
		align-items: center;
		margin-top: rhythm(1);
		margin-bottom: rhythm(1);
		margin-left: 0;

		&:last-child {
			margin-bottom: rhythm(3);
		}
	}

	@include e(item__link) {
		padding: 0 rhythm(2);
		border: none;
		border-radius: 0;
		background-color: initial;
		color: $color-cyberspace;
		display: flex;
		align-items: center;
		text-decoration: none;

		&:hover,
		&:focus {
			border: none !important;
			border-radius: 0 !important;
			background-color: inherit !important;
			text-decoration: underline;
		}

		> svg {
			height: $icon-size-small;
			width: $icon-size-small;
			margin-right: rhythm(1);
			flex-shrink: 0;
		}
	}

	@include e(button) {
		position: fixed;
		bottom: auto;
		right: auto;
		display: flex;
		opacity: 0;
		pointer-events: none;
		padding: 0;
		border: 0;
		width: rem(60px);
		height: rem(60px);
		flex-shrink: 0;
		flex-grow: 0;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $color-snow;
		box-shadow: inset 0 0 0 4px currentColor, 0 0 0 1px $color-snow, 0 0 6px rgba($color-cyberspace, 30%);

		&:hover,
		&:focus {
			transform: scale(1.1);
		}


		> svg {
			width: $icon-size-large;
			height: $icon-size-large;
			flex-shrink: 0;
			opacity: 1;

			& + svg {
				display: none;
			}
		}

		&::after {
			content: attr(data-title);
			position: absolute;
			bottom: -#{rhythm(3)};
			text-transform: uppercase;
			text-align: center;
			font-size: $size-small;
			font-family: $font-family-mono;
			text-shadow: 0 1px 0 $color-snow;
			color: $color-cyberspace;
			background-color: $color-snow;
			border-radius: $border-radius;
			padding-left: rhythm(0.5);
			padding-right: rhythm(0.5);
		}

		&.is-fixed {
			//top: calc(100vh - rhythm(11)) !important;
			//top: auto !important;
			bottom: calc(env(safe-area-inset-bottom) + rhythm(5)) !important;
			//left: auto !important;
			right: rhythm(2) !important;
			pointer-events: auto;

			@include bp-up(xxl) {
				//left: auto !important;
				right: calc(50vw - 680px)  !important;
			}
		}
	}

	&[aria-hidden="true"] {
		box-shadow: none;

		> dl {
			display: none;
		}
	}

	&[aria-hidden="false"] {
		> dl {
			display: block;
		}

		button {
			&::after {
				content: attr(data-title-alt);
			}

			svg {
				display: none;

				& + svg {
					display: block;
				}
			}
		}
	}

	&.is-minimized {
		position: fixed;
		right: rhythm(2);
		bottom: rhythm(13);
		z-index: z_index(foregroundMinus);
		margin-top: 0;
		margin-bottom: 0;
		margin-left: rhythm(2);

		@include bp-up(xxl) {
			right: calc(50vw - 680px)  !important;
		}
	}
}

