@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;

@include mixin.molecule(overview-navigation) {
	overflow: visible;
	min-width: 300px;
	max-width: 453px;
	display: flex;
	flex-direction: column;
	border-radius: var.$border-radius;
	transition: left 0.25s ease-out, top 0.5s ease-out;
	box-shadow: 0 0 0 1px colors.$color-ash;

	@include bem.e(list) {
		overflow: hidden;
		border-radius: var.$border-radius;
		background-color: colors.$color-snow;
		margin: 0;
		padding: 0;
		width: 100%;
		max-height: calc(100dvh - func.to_rem(130px));
		overflow-y: auto;
	}

	@include bem.e(title) {
		margin-bottom: func.rhythm(2);
	}

	@include bem.e(item) {
		display: flex;
		align-items: center;
		margin-top: func.rhythm(1);
		margin-bottom: func.rhythm(1);
		margin-left: 0;

		&:last-child {
			margin-bottom: func.rhythm(3);
		}
	}

	@include bem.e(item__link) {
		padding: 0 func.rhythm(2);
		border: none;
		border-radius: 0;
		background-color: initial;
		color: colors.$color-cyberspace;
		display: flex;
		align-items: center;
		text-decoration: none;

		&:hover,
		&:focus {
			border: none !important;
			border-radius: 0 !important;
			background-color: inherit !important;
			text-decoration: underline;
		}

		> svg {
			height: var.$icon-size-small;
			width: var.$icon-size-small;
			margin-right: func.rhythm(1);
			flex-shrink: 0;
		}
	}

	@include bem.e(button) {
		position: fixed;
		bottom: auto;
		right: auto;
		display: flex;
		opacity: 0;
		pointer-events: none;
		padding: 0;
		border: 0;
		width: func.to_rem(60px);
		height: func.to_rem(60px);
		flex-shrink: 0;
		flex-grow: 0;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: colors.$color-snow;
		box-shadow: inset 0 0 0 4px currentColor, 0 0 0 1px colors.$color-snow, 0 0 6px rgba(colors.$color-cyberspace, 30%);

		&:hover,
		&:focus {
			transform: scale(1.1);
		}


		> svg {
			width: var.$icon-size-large;
			height: var.$icon-size-large;
			flex-shrink: 0;
			opacity: 1;

			& + svg {
				display: none;
			}
		}

		&::after {
			content: attr(data-title);
			position: absolute;
			bottom: -#{func.rhythm(3)};
			text-transform: uppercase;
			text-align: center;
			font-size: var.$size-small;
			font-family: var.$font-family-mono;
			text-shadow: 0 1px 0 colors.$color-snow;
			color: colors.$color-cyberspace;
			background-color: colors.$color-snow;
			border-radius: var.$border-radius;
			padding-left: func.rhythm(0.5);
			padding-right: func.rhythm(0.5);
		}

		&.is-fixed {
			//top: calc(100vh - func.rhythm(11)) !important;
			//top: auto !important;
			bottom: calc(env(safe-area-inset-bottom) + func.rhythm(5)) !important;
			//left: auto !important;
			right: func.rhythm(2) !important;
			pointer-events: auto;

			@include breakpoint.bp-up(xxl) {
				//left: auto !important;
				right: calc(50vw - 680px)  !important;
			}
		}
	}

	&[aria-hidden="true"] {
		box-shadow: none;

		> dl {
			display: none;
		}
	}

	&[aria-hidden="false"] {
		> dl {
			display: block;
		}

		button {
			&::after {
				content: attr(data-title-alt);
			}

			svg {
				display: none;

				& + svg {
					display: block;
				}
			}
		}
	}

	&.is-minimized {
		position: fixed;
		right: func.rhythm(2);
		bottom: func.rhythm(13);
		z-index: func.z_index(foregroundMinus);
		margin-top: 0;
		margin-bottom: 0;
		margin-left: func.rhythm(2);

		@include breakpoint.bp-up(xxl) {
			right: calc(50vw - 680px)  !important;
		}
	}
}

