<nav class="m-overview-navigation u-m-t-2 alignright color-peacock-light js-overview-navigation is-minimized" aria-hidden="true" id="overviewMenu">
	<dl class="m-overview-navigation__list">
		<dt class="m-overview-navigation__title background-peacock-light">
			<span class="m-submenu__title__link u-pointer-events-none">
				<span>Översikt</span>
			</span>
		</dt>
		<dd class="m-overview-navigation__item">
			<a href="#kort-sammanfattning" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Kort sammanfattning</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#internetanvandning" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Internetanvändning</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#e-legitimation-och-mobil-bank-id" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>E-legitimation och mobilt bank-id</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#digital-brevlada" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Digital brevlåda</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Otrygghet</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Att skydda sin integritet</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Vilka klickar ur cookies?</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Vilka undviker sociala medier?</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Vilka undviker vissa appar?</span>
			</a>
		</dd>
		<dd class="m-overview-navigation__item">
			<a href="#" class="m-overview-navigation__item__link">
				{{>@icon id="arrow-variant"}}
				<span>Vad tänker vi om våra digitala spår?</span>
			</a>
		</dd>
	</dl>
	<button type="button" class="m-overview-navigation__button js-overview-navigation-button is-fixed" data-title="Översikt" data-title-alt="Stäng" aria-expanded="false" data-a11y-toggle="overviewMenu" aria-controls="overviewMenu">
		{{>@icon id="richtext-bullet-list"}}
		{{>@icon id="close"}}
	</button>
</nav>
