@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;


@include m.atom(quote) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: to_rem(500px);
	margin: 0;
	padding: 0;

	@include m2.e(footer) {
		display: flex;
		align-items: center;
		padding-top: rhythm(1);
		font-family: v.$font-family-headings;
	}

	@include m2.e(avatar) {
		width: rhythm(4);
		height: rhythm(4);
		margin-right: rhythm(2);
		border-radius: 50%;
		background-color: c.$color-snow;
	}
}
