@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;
@use '../../vendor/baseline/plumber' as plumber;

@include mixin.organism(mailchimp) {
	clear: both;

	@include bem.e(wrapper) {
		@include mixin.card-shadow(colors.$color-cyberspace, 0.2);

		margin-top: func.rhythm(4);
		margin-bottom: func.rhythm(8);
		padding: func.rhythm(2);
		border-radius: var.$border-radius;
		background-color: colors.$color-snow;
	}

	@include bem.e(close) {
		display: none;
	}

	@include bem.e(image-container) {
		margin-bottom: func.rhythm(2);

		@include breakpoint.bp-up(lg) {
			display: flex;
			display: -webkit-box; /* Weird Sarafi bug needs this */
			width: 50%;
			margin-bottom: 0;
		}
	}

	@include bem.e(image) {
		display: block;
		flex-grow: 0;
		border-radius: var.$border-radius;
		object-fit: cover;
	}

	@include bem.e(image-missing) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: func.rhythm(4);
		border-radius: var.$border-radius;
		background-color: colors.$color-cyberspace;

		svg {
			width: 80%;
			height: 80%;
			min-height: func.rhythm(20);
			fill: colors.$color-jade;
		}
	}

	@include bem.e(content) {
		padding: 0 func.rhythm(3) 0 func.rhythm(3);

		@include breakpoint.bp-up(lg) {
			padding-right: func.rhythm(4);
		}
	}

	@include bem.m(sliding) {
		position: fixed;
		z-index: func.z_index(foregroundMinus);
		top: func.rhythm(1);
		right: -500px;
		bottom: func.rhythm(1);
		max-width: 420px;
		transition: right ease-out 0.35s;

		&.is-visible {
			right: 0;

			@include bem.e(wrapper) {
				display: block;
				border: 1px solid colors.$color-ash;
			}
		}

		@include breakpoint.bp-up(sm) {
			top: auto;
		}

		@include bem.e(wrapper) {
			display: none;
			margin-top: 0;
			margin-bottom: 0;
		}

		@include bem.e(row-bottom) {
			max-height: calc(100vh - 94px);
			overflow-x: hidden;
			overflow-y: auto;

			@include breakpoint.bp-up(sm) {
				max-height: none;
				overflow: visible;
			}
		}

		@include bem.e(close) {
			display: flex;
		}

		@include bem.e(image-container) {
			display: none;
		}

		@include bem.e(content) {
			flex: 0 0 100%;
			width: 100%;
			max-width: 100%;
			padding-right: func.rhythm(3);
			padding-bottom: func.rhythm(2);
			overflow-y: auto;
			max-height: calc(100vh - 77px);
		}

		@include bem.b(m-form__row) {
			flex: 0 0 100%;
			width: 100%;
			max-width: 100%;
		}
	}
}
