<div class="wrapper">
	<div class="row">
		<div class="grid-9">
			{{render '@teaser-bg'}}
		</div>
		<div class="grid-9">
			{{render '@teaser-bg'}}
		</div>
	</div>
</div>


<div class="wrapper">
	<div class="row">
		<div class="grid-md-10 offset-md-1 u-m-t-6">

			<h1 class="supersize">Våra lokaler i Stockholm</h1>

			<p class="preamble">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui et urna dignissim
				sollicitudin. Praesent
				faucibus purus venenatis eros interdum aliquet.</p>

		</div>
	</div>

	<div class="row">
		<div class="grid-lg-11 u-m-t-4">
			<img class="u-border-radius" src="/assets/images/ALX_7251.jpg" alt="">
		</div>
		<div class="grid-lg-7 u-m-t-4">
			{{render '@features-box'}}
		</div>
	</div>

</div>