@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;

@include m.molecule(info-box) {
	margin: rhythm(4) 0;
	padding: rhythm(4);
	border-top: to_rem(4px) solid c.$color-lemon;
	border-radius: v.$border-radius;
	background-color: var(--snow-color);

	> p,
	> ul,
	> ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@include bp.bp-up(md) {
		padding-right: rhythm(5.5);
		padding-left: rhythm(5.5);
	}

	@include m2.m(big) {
		border-color: c.$color-jade;

		p {
			@extend %preamble;
		}
	}

	@include m2.m(basic) {
		margin-top: 0;
		padding: rhythm(2);
		border-top: 0;
		border-color: none;

		@include bp.bp-up(md) {
			padding: rhythm(4);
		}

		@include bp.bp-up(lg) {
			padding-top: rhythm(6);
			padding-right: rhythm(8);
			padding-bottom: rhythm(6);
			padding-left: rhythm(8);
		}
	}

	@include m2.m(custom-border) {
		border-color: var(--m-info-box-border-color);
	}
}
