@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.molecule(info-box) {
	margin: rhythm(4) 0;
	padding: rhythm(4);
	border-top: to_rem(4px) solid colors.$color-lemon;
	border-radius: var.$border-radius;
	background-color: var(--snow-color);

	> p,
	> ul,
	> ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@include breakpoint.bp-up(md) {
		padding-right: rhythm(5.5);
		padding-left: rhythm(5.5);
	}

	@include bem.m(big) {
		border-color: colors.$color-jade;

		p {
			@extend %preamble;
		}
	}

	@include bem.m(basic) {
		margin-top: 0;
		padding: rhythm(2);
		border-top: 0;
		border-color: none;

		@include breakpoint.bp-up(md) {
			padding: rhythm(4);
		}

		@include breakpoint.bp-up(lg) {
			padding-top: rhythm(6);
			padding-right: rhythm(8);
			padding-bottom: rhythm(6);
			padding-left: rhythm(8);
		}
	}

	@include bem.m(custom-border) {
		border-color: var(--m-info-box-border-color);
	}
}
