<style media="screen">
:root {
	--m-info-box-border-color: #c27fec;
}
</style>
<div class="m-info-box{{#if modifiers}} {{getmodifiers modifiers "m-info-box"}}{{/if}}{{#if additional_classes}} {{additional_classes}}{{/if}}">
	{{{text}}}
</div>
