@charset 'UTF-8';

@import '../configurations/colors/colors';
@import '../configurations/colors/colors-functions';

/// Namespace
/// Prepended to all outputted classes
///
/// @group Config
$namespace: '' !default;

/// Theme path
/// For images and other media
///
/// @group Config
$theme-path: '/app/themes/internetstiftelsen' !default;

/// Responsive breakpoints
/// @group Config
$breakpoints: (
	'sm': 0,
	'md': 640px,
	'lg': 1100px
);

/// Default margin and padding
///
/// @group Config
$default-margin: rhythm(2) !default;
$default-padding: rhythm(2) !default;

/// Theme colors
///
/// @group Config
$theme-colors: (
	primary: $color-ruby,
	secondary: $color-jade,
	subtle: $color-granit
);

/// Text colors
///
/// @group Config
.color {
	@include color_values($theme-colors, 'color', $separator: '-');
}

// Default text-shadow
$text-shadow: 0 0 rhythm(2) rgba($color-black, 0.5);
