@charset 'UTF-8';

%normalize-links {
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: initial;

	&:hover,
	&:focus {
		background-color: inherit;
	}
}

%input {
	display: block;
	width: 100%;
	min-width: 0;
	padding: rhythm(1);
	border: 1px solid $color-granit;
	border-radius: $border-radius;
	background-color: lighten($color-ash, 4%);
	-webkit-appearance: none;
}

%input-focus {
	border-color: $color-ocean;
	box-shadow: 0 0 0 inset rgba($color-cyberspace, 0.2), 0 1px 2px rgba($color-cyberspace, 0.2), 0 0 0 3px $color-ocean-light;
}

%disabled {
	opacity: 0.6;
	cursor: not-allowed;

	&:hover {
		color: currentColor;
		text-decoration: none;
	}
}

%word-break {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}
