@charset 'UTF-8';
@use "sass:color";

%normalize-links {
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: initial;

	&:hover,
	&:focus {
		border: none;
		border-radius: 0;
		background-color: inherit;
	}
}

%link-styles {
	padding: rhythm(0) rhythm(0.5);
	border-bottom: rem(2px) solid $color-peacock;
	color: var(---cyberspace-color);
	text-decoration: none;

	&:hover,
	&:focus {
		border-bottom: rem(2px) solid $color-ocean-light;
		border-radius: $border-radius;
		background-color: $color-ocean-light;
	}

	&[href^='mailto'] {
		hyphens: none;
	}
}

%break-long-links {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;

	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;

	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

%input {
	display: block;
	position: relative;
	z-index: z_index(middleground);
	width: 100%;
	min-width: 0;
	padding: rhythm(1);
	border: 1px solid $color-granit;
	border-radius: $border-radius;
	background-color: color.adjust($color-ash, $lightness: 4%);
	-webkit-appearance: none;
	font-size: rem(16px);
}

%input-focus {
	border-color: $color-ocean;
	box-shadow: 0 0 0 inset rgba($color-cyberspace, 0.2), 0 1px 2px rgba($color-cyberspace, 0.2), 0 0 0 3px $color-ocean-light;
}

%invalid {
	border-color: $color-ruby;
	background-color: color.adjust($color-ruby-light, $lightness: 16%);
}

%disabled {
	opacity: 0.5;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: currentColor;
		text-decoration: none;
	}
}

%discreet {
	border-style: dashed;
	border-color: color.adjust($color-granit, $lightness: 20%);
	background-color: transparent;

	&:focus {
		border-style: solid;
		background-color:  color.adjust($color-ash, $lightness: 4%);
	}
}

%word-break {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

%tag {
	@include tag;
}

%tag-light {
	@include tag-light;
}

%box-shadow {
	box-shadow: 0 rhythm(0.5) rhythm(0.5) rgba($color-cyberspace, 0.1) !important;
}

%button-toolbar {
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: rhythm(4);
	height: rhythm(4);
	margin: 0;
	padding: rhythm(1);
	overflow: hidden;
	border: 0;
	border-radius: 0;
	border-radius: $border-radius;
	background-color: $color-snow;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active,
	&.is-active {
		background-color: $color-cyberspace;

		svg {
			fill: $color-snow;
		}
	}

	&:disabled {
		background-color: $color-concrete !important;
		box-shadow: none;
		cursor: not-allowed;

		[class*='text'] {
			color: $color-snow !important;
		}

		svg {
			fill: $color-granit;
		}
	}

	svg {
		width: rhythm(2);
		height: rhythm(2);
		fill: $color-cyberspace;
	}
}

%is-fixed,
.is-fixed {
	position: fixed !important;
}

%prevent-scroll,
.prevent-scroll {
	overflow: hidden !important;
}
