@charset "UTF-8";
@use "sass:color";
@use 'colors/colors' as colors;
@use 'variables' as var;
@use 'functions' as func;
@use 'mixins' as mixin;

%normalize-links {
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: initial;

	&:hover,
	&:focus {
		border: none;
		border-radius: 0;
		background-color: inherit;
	}
}

%link-styles {
	padding: func.rhythm(0) func.rhythm(0.5);
	border-bottom: func.to_rem(2px) solid colors.$color-peacock;
	color: var(---cyberspace-color);
	text-decoration: none;

	&:hover,
	&:focus {
		border-bottom: func.to_rem(2px) solid colors.$color-ocean-light;
		border-radius: var.$border-radius;
		background-color: colors.$color-ocean-light;
	}

	&[href^='mailto'] {
		hyphens: none;
	}
}

%break-long-links {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;

	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;

	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

%input {
	display: block;
	position: relative;
	z-index: z_index(middleground);
	width: 100%;
	min-width: 0;
	padding: func.rhythm(1);
	border: 1px solid colors.$color-granit;
	border-radius: var.$border-radius;
	background-color: color.adjust(colors.$color-ash, $lightness: 4%);
	-webkit-appearance: none;
	font-size: func.to_rem(16px);
}

%input-focus {
	border-color: colors.$color-ocean;
	box-shadow: 0 0 0 inset rgba(colors.$color-cyberspace, 0.2), 0 1px 2px rgba(colors.$color-cyberspace, 0.2), 0 0 0 3px colors.$color-ocean-light;
}

%invalid {
	border-color: colors.$color-ruby;
	background-color: color.adjust(colors.$color-ruby-light, $lightness: 16%);
}

%disabled {
	opacity: 0.5;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: currentColor;
		text-decoration: none;
	}
}

%discreet {
	border-style: dashed;
	border-color: color.adjust(colors.$color-granit, $lightness: 20%);
	background-color: transparent;

	&:focus {
		border-style: solid;
		background-color:  color.adjust(colors.$color-ash, $lightness: 4%);
	}
}

%word-break {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

%tag {
	@include mixin.tag;
}

%tag-light {
	@include mixin.tag-light;
}

%box-shadow {
	box-shadow: 0 func.rhythm(0.5) func.rhythm(0.5) rgba(colors.$color-cyberspace, 0.1) !important;
}

%button-toolbar {
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: func.rhythm(4);
	height: func.rhythm(4);
	margin: 0;
	padding: func.rhythm(1);
	overflow: hidden;
	border: 0;
	border-radius: 0;
	border-radius: var.$border-radius;
	background-color: colors.$color-snow;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active,
	&.is-active {
		background-color: colors.$color-cyberspace;

		svg {
			fill: colors.$color-snow;
		}
	}

	&:disabled {
		background-color: colors.$color-concrete !important;
		box-shadow: none;
		cursor: not-allowed;

		[class*='text'] {
			color: colors.$color-snow !important;
		}

		svg {
			fill: colors.$color-granit;
		}
	}

	svg {
		width: func.rhythm(2);
		height: func.rhythm(2);
		fill: colors.$color-cyberspace;
	}
}

%is-fixed,
.is-fixed {
	position: fixed !important;
}

%prevent-scroll,
.prevent-scroll {
	overflow: hidden !important;
}
