@charset "UTF-8";

/// Create an atom with the given name. Alias for the block mixin that autoprefixes the class with a-.
///@group General
@use "sass:math";
@use 'variables' as var;
@use 'functions' as func;
@use 'bem' as bem;
@use 'colors/colors' as colors;

@mixin atom($name) {
	@include bem.b(a-#{$name}) {
		@content;
	}
}

/// Create a molecule with the given name. Alias for the block mixin that autoprefixes the class with m-.
/// @group General
@mixin molecule($name) {
	@include bem.b(m-#{$name}) {
		@content;
	}
}

/// Create an organism with the given name. Alias for the block mixin that autoprefixes the class with o-.
/// @group General
@mixin organism($name) {
	@include bem.b(o-#{$name}) {
		@content;
	}
}

/// Create a Block with the given name.
/// @group General
@mixin b($name) {
	.#{var.$namespace}#{$name} {
		@content;
	}
}

// Hide visually but not for screen readers
/// @group Hide
@mixin visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
}

// Box shadows
@mixin box-shadow($shadow-color, $color-opacity) {
	box-shadow: 0 func.rhythm(math.div(1, 3)) func.rhythm(1 * 0.75) rgba($shadow-color, $color-opacity);
}

@mixin card-shadow($shadow-color, $color-opacity) {
	box-shadow: 0 func.rhythm(8) func.rhythm(12) rgba(colors.$color-cyberspace, 0.2);
}

// Alerts
@mixin alert-variant($border, $bg-color, $text-color) {
	border-color: $border;
	background-color: $bg-color;
	color: $text-color;
}

// Tags
@mixin tag {
	border: 1px solid colors.$color-granit;
	border-radius: func.to_rem(17.5px);
	color: colors.$color-cyberspace;

	&:hover,
	&:focus {
		border: 1px solid colors.$color-granit;
		border-radius: func.to_rem(17.5px);
		background-color: colors.$color-granit;
		color: colors.$color-snow;

		[class*=text] {
			color: colors.$color-snow;
		}
	}
}

@mixin tag-light {
	border-color: colors.$color-snow;
	color: colors.$color-snow;

	&:hover,
	&:focus {
		border: 1px solid transparent;
		background-color: rgba(colors.$color-snow, 0.5);

		[class*=text] {
			color: colors.$color-cyberspace;
		}
	}
}

@mixin value-range($from, $to) {
	@for $i from $from through $to {
		// main element
		@at-root #{&}[value="#{$i}"] {
			@content;
		}

		// WebKit progress bar (Chrome, Safari, Edge)
		@at-root #{&}[value="#{$i}"]::-webkit-progress-value {
			@content;
		}

		// Firefox progress bar
		@at-root #{&}[value="#{$i}"]::-moz-progress-bar {
			@content;
		}
	}
}
