@charset 'UTF-8';

/// Create an atom with the given name. Alias for the block mixin that autoprefixes the class with a-.
///@group General
@mixin atom($name) {
	@include b(a-#{$name}) {
		@content;
	}
}

/// Create a molecule with the given name. Alias for the block mixin that autoprefixes the class with m-.
/// @group General
@mixin molecule($name) {
	@include b(m-#{$name}) {
		@content;
	}
}

/// Create an organism with the given name. Alias for the block mixin that autoprefixes the class with o-.
/// @group General
@mixin organism($name) {
	@include b(o-#{$name}) {
		@content;
	}
}

/// Create a Block with the given name.
/// @group General
@mixin b($name) {
	.#{$namespace}#{$name} {
		@content;
	}
}

// Hide visually but not for screen readers
/// @group Hide
@mixin visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
}

// Box shadows
@mixin box-shadow($shadow-color, $color-opacity) {
	box-shadow: 0 rhythm(1 / 3) rhythm(1 * 0.75) rgba($shadow-color, $color-opacity);
}

@mixin card-shadow($shadow-color, $color-opacity) {
	box-shadow: 0 rhythm(8) rhythm(12) rgba($color-cyberspace, 0.2);
}

// Alerts
@mixin alert-variant($border, $bg-color, $text-color) {
	border-color: $border;
	background-color: $bg-color;
	color: $text-color;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		border-width: 0 rhythm(15) rhythm(8) 0;
		border-style: solid;
		border-color: transparent $border transparent transparent;;
	}
}
