@charset 'UTF-8';

//
// Modifies Wordpress Core classes
//
@use "sass:math";

.wp-caption {
	margin-bottom: rhythm(3);
}

// Customize
.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto rhythm(3);
}

@include bp-up(lg) {
	.alignright {
		width: calc(#{make_col(6)} - 13px); // <== You ugly magic number you, we hates it!
		margin: 0 0 rhythm(3) 0;
		float: right;
		clear: right;
	}

	.alignleft {
		width: calc(#{make_col(6)} - 13px); // <== You ugly magic number you, we hates it!
		margin: 0 rhythm(2) rhythm(3) 0;
		float: left;
		clear: left;
	}
}

.alignfull {
	position: relative;
	right: 50%;
	left: 50%;
	width: 100vw;
	margin-right: -50vw;
	margin-left: -50vw;
	clear: both;
}

.alignwide {
	clear: both;
}

.wp-block-image {
	margin-bottom: rhythm(3);

	figcaption {
		@include plumber(
			$font-size: 1.7,
			$line-height: 2,
			$leading-bottom: 0
		);
	}

	figure {
		&.aligncenter {
			figcaption {
				text-align: center;
			}
		}

		&.alignfull {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.wp-embed-aspect-9-16,
.wp-embed-aspect-16-9,
.wp-embed-aspect-4-3 {
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.embed-container,
	[class*='wp-block-embed__wrapper'] {
		position: relative;
		max-width: 100%;
		height: 0;
		overflow: hidden;
	}
}

.wp-embed-aspect-9-16 {
	.embed-container,
	[class*='wp-block-embed__wrapper'] {
		padding-bottom: 177.78%;
	}
}

.wp-embed-aspect-16-9,
.wp-embed-aspect-4-3 {
	.embed-container,
	[class*='wp-block-embed__wrapper'] {
		padding-bottom: 56.25%;
	}
}

.wp-block-embed-spotify {
	.embed-container,
	[class*='wp-block-embed__wrapper'] {
		padding-bottom: 113%;
	}
}

.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: rhythm(2) 0;
	padding: 0;
	list-style: none;

	.blocks-gallery-item {
		width: 48%;
		margin-bottom: rhythm(2);

		img {
			display: block;
			width: 100%;
		}

		figcaption {
			padding: rhythm(1);
			font-size: $size-small;
			line-height: 1.4;

			@include bp-up(sm) {
				padding-bottom: rhythm(2);
				font-size: $size-medium;
			}

			@include bp-up(lg) {
				font-size: $size-base;
			}
		}
	}
}

.wp-block-embed {
	figcaption {
		@include plumber(
			$font-size: 1.5,
			$line-height: 2,
			$leading-bottom: 0
		);
	}
}

.vcard {
	text-transform: capitalize;
}

.wp-block-iis-grid {
	clear: both;

	> .row {
		> [class*='grid'] {
			margin-bottom: rhythm(2);

			> *:only-child {
				margin-bottom: 0;
			}

			@include molecule(card) {
				&:not(:only-child) {
					height: auto;
				}
			}
		}

		> .align-self-center {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

// WP Core Column Block/Group Styles

.wp-block-group {
	display: flex;
	flex-wrap: wrap;
	margin-right: math.div($grid-gutter-width, -2);
	margin-bottom: rhythm(2);
	margin-left: math.div($grid-gutter-width, -2);

	&.alignfull {
		right: auto;
		left: auto;
		width: auto;
	}

	.wp-block-columns {
		margin-right: 0;
		margin-left: 0;
	}
}

.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
	margin-right: math.div($grid-gutter-width, -2);
	margin-bottom: rhythm(2);
	margin-left: math.div($grid-gutter-width, -2);

	&.alignfull {
		right: auto;
		left: auto;
		width: auto;
	}
}
@include bp-up(md) {
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	margin-right: math.div($grid-gutter-width, 2);
	margin-left: math.div($grid-gutter-width, 2);
	word-break: break-word;
	overflow-wrap: break-word;
}
@include bp-down(sm) {
	.wp-block-column {
		flex-basis: 100% !important;
	}
}

@include bp-up(md) {
	.wp-block-column {
		flex-basis: 0;
		flex-grow: 1;
	}

	.wp-block-column[style*='flex-basis'] {
		flex-grow: 0;
	}

	.wp-block-column:not(:first-child) {
		margin-left: math.div($grid-gutter-width, 2);
	}
}

@include bp-between(sm, md) {
	.wp-block-column:nth-child(even) {
		margin-left: math.div($grid-gutter-width, 2);
	}
}

.wp-block-column:nth-child(even) {
	margin-left: math.div($grid-gutter-width, 2);
}

.wp-block-columns.are-vertically-aligned-top {
	align-items: flex-start;
}

.wp-block-columns.are-vertically-aligned-center {
	align-items: center;
}

.wp-block-columns.are-vertically-aligned-bottom {
	align-items: flex-end;
}

.wp-block-column.is-vertically-aligned-top {
	align-self: flex-start;
}

.wp-block-column.is-vertically-aligned-center {
	-ms-grid-row-align: center;
	align-self: center;
}

.wp-block-column.is-vertically-aligned-bottom {
	align-self: flex-end;
}

.wp-block-column.is-vertically-aligned-bottom,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-top {
	width: 100%;
}

.wp-block-table {
	td {
		padding-top: rhythm(2) !important;
		padding-bottom: rhythm(2) !important;
	}

	[class*='lines'],
	&[class*='lines'] {
		td {
			border-bottom-width: 0 !important;
		}

		tr {
			background-image:
				linear-gradient(
					to right,
					$color-cyberspace,
					$color-cyberspace 2px,
					transparent 2px,
					transparent 6px
				);
			background-repeat: repeat-x;
			background-position: bottom left;
			background-size: 6px 1px;
		}
	}
}

.wp-block-image,
.wp-block-image:not(.is-style-rounded) {
	img {
		border-radius: $border-radius;
	}
}

.wp-block-embed-youtube {
	border-radius: $border-radius;
	overflow: hidden;
}
