@charset 'UTF-8';

//
// Modifies Wordpress Core classes
//

// Normalize
.alignnone:not(img),
.aligncenter:not(img),
div.aligncenter,
.alignright:not(img),
.alignleft:not(img),
a img.alignright,
a img.alignnone,
a img.alignleft,
a img.aligncenter,
.wp-caption:not(img),
.wp-caption.alignnone,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption img,
.wp-caption p.wp-caption-text {
	max-width: none;
	margin: 0;
	padding: 0;
	float: none;
	background: none;
	font-size: initial;
	line-height: initial;
}

// Customize
.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	margin: 0 0 0 rhythm(2);
	float: right;
}

.alignleft {
	margin: 0 rhythm(2) 0 0;
	float: left;
}

.wp-block-image {
	figure {
		@include bp-down(sm) {
			&.alignright,
			&.aligncenter,
			&.alignleft {
				margin: 0;
				float: none;
			}
		}
	}
}

.wp-embed-aspect-9-16,
.wp-embed-aspect-16-9 {
	&.alignright,
	&.aligncenter,
	&.alignleft {
		margin: 0;
		float: none;
	}

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.embed-container {
		position: relative;
		max-width: 100%;
		height: 0;
		overflow: hidden;
	}
}

.wp-embed-aspect-9-16 {
	.embed-container {
		padding-bottom: 177.78%;
	}
}

.wp-embed-aspect-16-9 {
	.embed-container {
		padding-bottom: 56.25%;
	}
}

.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: rhythm(2) 0;
	padding: 0;
	list-style: none;

	.blocks-gallery-item {
		width: 48%;
		margin-bottom: rhythm(2);

		img {
			display: block;
			width: 100%;
		}

		figcaption {
			padding: rhythm(1);
			font-size: $size-small;
			line-height: 1.4;

			@include bp-up(sm) {
				padding-bottom: rhythm(2);
				font-size: $size-medium;
			}

			@include bp-up(lg) {
				font-size: $size-base;
			}
		}
	}
}

.vcard {
	text-transform: capitalize;
}
