a {
	color: #0477ce;
}

a:hover,
a:focus {
	color: #50b2fc;
}

.Pen-previewLink svg {
	fill: #000;
}

.Header {
	background-color: #000;
}

.Header-title {
	width: 100%;
	max-width: 250px;
	height: 100%;
	max-height: 47px;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456.9 37.1" width="100%25" height="100%25"%3E%3Cpath fill="%23ff4069" d="M456.9 5.3v10.6h-4.8v5.3h-4.8v5.3h-4.8v5.3h-4.8v5.3h-5.2v-5.3h-4.8v-5.3h-4.8v-5.3h-4.8v-5.3h-4.8V5.3h4.8V0h14.4v5.3h5.2V0h14.4v5.3z"%3E%3C/path%3E%3Cpath fill="%23fff" fill-rule="evenodd" d="M450.7 8.9v3.4H444v-7h3.4v3.6z" clip-rule="evenodd"%3E%3C/path%3E%3Cpath fill="%23fff" d="M204.7 24.7c0 4.5-4.2 7.7-9.9 7.7-6 0-10-3.2-10.4-8.4v-.3h4.2v.2c.4 3.9 3.6 4.7 6.1 4.7 2.7 0 5.8-1 5.8-3.9 0-2-1.1-3.1-3.7-3.9l-5.1-1.4c-4.4-1.2-6.5-3.6-6.5-7.6 0-4.2 3.9-7.1 9.2-7.1 5.7 0 9.2 2.9 9.6 7.9v.3h-4.2v-.3c-.3-2.8-2.1-4.2-5.5-4.2-3.1 0-5.1 1.3-5.1 3.4 0 2.1 1 3.1 4 3.9l4.2 1.2c1.8.5 3.6 1.2 5 2.3 1.4 1.2 2.3 2.9 2.3 5.5zM225.9 5.3v3.8h-7.8v22.7h-4.2V9.1h-7.7V5.3zM256.8 9.1v7.3h11.4v3.8h-11.4v11.6h-4.2V5.3h16.5v3.8zM292.2 5.3v3.8h-7.7v22.7h-4.2V9.1h-7.7V5.3zM299.9 9.1v7.3h11.8v3.8h-11.8V28h13.6v3.8h-17.8V5.3h17.8v3.8zM333.7 28v3.8h-15.9V5.3h4.2V28zM355.1 24.7c0 4.5-4.2 7.7-9.9 7.7-6 0-10-3.2-10.4-8.4v-.3h4.2v.2c.4 3.9 3.6 4.7 6.1 4.7 2.7 0 5.8-1 5.8-3.9 0-2-1.1-3.1-3.7-3.9l-5.1-1.4c-4.4-1.2-6.5-3.6-6.5-7.6 0-4.2 3.9-7.1 9.2-7.1 5.7 0 9.2 2.9 9.6 7.9v.3h-4.2v-.3c-.2-2.8-2.1-4.2-5.5-4.2-3.1 0-5.1 1.3-5.1 3.4 0 2.1 1 3.1 4 3.9l4.2 1.2c3.7 1 7.3 2.7 7.3 7.8zM363.4 9.1v7.3h11.9v3.8h-11.9V28H377v3.8h-17.7V5.3H377v3.8zM401.3 5.3v26.5h-5.6l-10-20.3-.4-.8v21.1h-4V5.3h5.5l10.4 21v-21zM241.1 9.1V28h6.7v3.8h-17.7V28h6.8V9.1h-6.8V5.3h17.7v3.8zM42.9 5.3v26.5h-5.6l-10-20.3-.4-.8v21.1h-4.1V5.3h5.6l10.4 21v-21zM66.3 5.3v3.8h-7.8v22.7h-4.1V9.1h-7.8V5.3zM74.2 9.1v7.3H86v3.8H74.2V28h13.6v3.8H70V5.3h17.8v3.8zM105 20.7l.3-.1c1.6-.3 2.8-.9 3.8-1.9 1.3-1.3 2-3.2 2-5.7 0-2.6-.7-4.5-2-5.8-1.4-1.3-3.5-1.9-6.4-1.9h-10v26.5h4.2v-11h3.8l.1.1 6 10.9h4.8L105 20.7zm-8.2-3.5V9.1h7.2c1.7 0 2.7 1 2.7 2.6v2.8c0 1.4-.8 2.7-2.7 2.7h-7.2zM136.4 5.3v26.5h-5.6l-10-20.3-.4-.8v21.1h-4V5.3h5.5l10.4 21v-21zM145.6 9.1v7.3h11.9v3.8h-11.9V28h13.6v3.8h-17.8V5.3h17.8v3.8zM182.7 5.3v3.8H175v22.7h-4.2V9.1h-7.7V5.3zM11 9.1v18.8h6.7v3.9H0v-3.9h6.8V9.1H0V5.3h17.7v3.8z"%3E%3C/path%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center center;
	color: #000;
	font-size: 0;
}

.Frame-panel--sidebar,
.select2-results__option--highlighted[aria-selected] {
	background-color: #1f2a36 !important;
}

.Tree-item span,
.Tree-title {
	color: #fff;
}

.Tree-item .Tree-entityLink span,
.Tree-item .Tree-entityLink:hover,
.Tree-item .Tree-entityLink:focus {
	color: #55c7b4;
}

.Tree-collectionLabel {
	color: #fff;
}

.Tree-collapse svg {
	fill: #fff;
}

.Tree-item .Tree-entityLink:hover,
.Tree-item .Tree-entityLink:focus,
.Tree-collectionLabel:hover,
.Tree-item.is-current .Tree-entityLink {
	background-color: #000;
}

.Status-dot[style='border-color: #29CC29;'] {
	background-color: #29cc29;
}

.Status-dot[style='border-color: #FF3333;'] {
	background-color: #f33;
}

.Status-dot[style='border-color: #FF9233;'] {
	background-color: #ff9233;
}

.Preview {
	background-color: #fff;
}

.Browser-panel,
.Browser-panel .Code pre,
.Browser-panel .Code {
	background-color: #ededed;
}

.FileBrowser-selectWrapper {
	background-color: #1f2a36;
}

.Browser-tab.is-active a {
	border-color: #50b2fc;
}

.FileBrowser-select-label {
	color: #fff;
}

ul.Tree-items {
	display: flex;
	flex-direction: column;
	counter-reset: nav-counter;
}

/* ul.Tree-items > li > h4 > span::before {
	content: counter(nav-counter) '.';
	counter-increment: nav-counter;
	opacity: 1;
	position: static;
}

ul.Tree-items > li > h4 > span::first-letter {
	visibility: hidden;
} */

#tree-components-collection-configurations {
	order: 0;
}

#tree-components-collection-atoms {
	order: 1;
}

#tree-components-collection-molecules {
	order: 2;
}

#tree-components-collection-organisms {
	order: 3;
}

#tree-components-collection-pages {
	order: 4;
}

#tree-components-collection-brandbook {
	order: 5;
}

#tree-components-collection-brandbook .Tree-collectionLabel {
	cursor: auto;
	pointer-events: none;
}

#tree-components-collection-brandbook .Tree-collectionLabel:hover {
	background-color: transparent;
}

#tree-components-collection-brandbook .Tree-collection .Tree-collectionLabel {
	cursor: pointer;
	pointer-events: all !important;
}

#tree-components-collection-brandbook > .Tree-depth-2 .Tree-collectionLabel,
#tree-components-collection-brandbook > .Tree-depth-2 .Tree-entityLink,
#tree-components-collection-brandbook .Tree-depth-3 .Tree-collectionLabel span {
	padding-left: 0.75rem !important;
}

.Tree-collectionItems {
	padding-left: 0.75rem;
}

[dir=ltr] .Tree-depth-2 .Tree-entityLink {
	padding-left: 0.75rem;
}

#tree-components-collection-brandbook .Tree-depth-3 .Tree-collectionLabel,
#tree-components-collection-brandbook .Tree-depth-3 .Tree-entityLink,
#tree-components-collection-brandbook .Tree-depth-2 .Tree-collectionLabel,
#tree-components-collection-brandbook .Tree-depth-2 .Tree-entityLink {
	padding-left: 2rem;
}

#tree-components-collection-brandbook > .Tree-collectionItems {
	display: flex;
	flex-direction: column;
}

#tree-components-collection-brandbook .Tree-collection {
	order: 0;
}

#tree-components-collection-brandbook .Tree-entity {
	order: 1;
}

#tree-components-collection-brandbook :not(data-behaviour) .Tree-entityLink {
	padding-left: 1rem;
}

#tree-components-collection-brandbook > button {
	margin-top: 1rem;
	margin-bottom: 0;
	font: normal 0.75rem/1.66667 'Open Sans', Helvetica, Arial, sans-serif;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	font-feature-settings: 'dlig' 1;
	-webkit-padding-start: 1rem;
	padding-inline-start: 1rem;
}

.Tree-item.Tree-collection > button::before {
	display: none;
}

#tree-components-collection-brandbook.is-closed ul {
	display: initial;
}

.Tree-item.Tree-collection.Tree-depth-3.is-closed > ul {
	display: none !important;
}

.Tree-item.Tree-collection.Tree-depth-3 > button {
	padding-left: 0.75rem !important;
}

.Search {
	margin-bottom: 1rem;
}

.Search-label {
	color: #fff;
}
