<form class="wrapper">
	<div id="location1" style="background: #aae3d9; padding: 40px">
		<div data-responsive="xs:location1,smxs:location2,lg:location3">I am text</div>
	</div>
	<div id="location2" style="background: #fcccb1; padding: 40px"></div>
	<div id="location3" style="background: #ffe696; padding: 40px"></div>
</form>
