<button type="button" class="a-button a-button--lemon a-button--icon js-toggle-dark-mode">
	<span class="a-button__text">Toggle Dark Mode</span>
	{{> @icon id="contrast" additional_classes="a-button__icon"}}
</button>
