<ol class="m-simple-flow-chart m-simple-flow-chart--{{#if color}}{{color}}{{/if}}">
	<li class="m-simple-flow-chart__item">Tillgänglighet</li>
	<li class="m-simple-flow-chart__item">Snabb återkoppling</li>
	<li class="m-simple-flow-chart__item">Går att anpassa till särskilda behov</li>
	<li class="m-simple-flow-chart__item">Ökad lust att lära / motivera</li>
</ol>
