<button class="a-button a-button--standalone-icon a-button--icon {{trigger_class}}">
	<span class="a-button__text">{{button_text}}</span>
	<svg class="icon a-button__icon">
		<use xlink:href="#icon-contrast"></use>
	</svg>
</button>
