@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;

@include mixin.organism(haveibeenpwned) {
	@include bem.e(result) {
		table {
			th:first-child {
				padding-right: 0;
			}
		}

		@include bem.e(item) {
			background-color: colors.$color-ash;

			> td {
				border-color: colors.$color-concrete;

				&:first-child {
					font-family: "HK Grotesk Semibold", sans-serif;
					padding-right: 0;
				}
			}

			@include bem.m(severe) {
				background-color: colors.$color-ruby-light;

				> td {
					border-color: colors.$color-ruby;

					img {
						border: 1px solid colors.$color-ruby;
					}
				}
			}

			@include bem.m(medium) {
				background-color: colors.$color-sandstone-light;
				color: colors.$color-sandstone;

				> td {
					border-color: colors.$color-sandstone;

					img {
						border: 1px solid colors.$color-sandstone;
					}
				}
			}

			@include bem.m(low) {
				background-color: colors.$color-lemon-light;

				> td {
					border-color: colors.$color-lemon;

					img {
						border: 1px solid colors.$color-lemon;
					}
				}
			}

			@include bem.e(link) {
				margin: 0 auto;

				padding: 0 !important;
				border: 0 !important;
				border-radius: 0 !important;
				word-wrap: normal !important;
				word-break: normal !important;
				hyphens: none !important;
				overflow-wrap: normal !important;
				background-color: transparent;
				appearance: none;

				&::after {
					display: none;
					content: attr(data-tooltip);
				}

				&:hover,
				&:focus {
					border: 0 !important;
					background-color: transparent !important;
					text-decoration: underline !important;

					&::after {
						display: block;
						position: absolute;
						background-color: colors.$color-cyberspace;
						color: colors.$color-snow;
						padding: func.rhythm(0.5) func.rhythm(1);
						border-radius: var.$border-radius;
						white-space: nowrap;
						z-index: func.z_index(foreground);
						font-size: var.$size-medium;
						font-family: var.$font-family-base;
					}
				}
			}

			@include bem.e(logo) {
				display: flex;
				align-items: center;
				gap: func.rhythm(1);
				flex-direction: column;

				@include breakpoint.bp-up(md) {
					hyphens: none;
					padding-right: func.rhythm(2);
				}

				> img {
					object-fit: cover;
					object-position: center center;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					border: 1px solid currentColor;
					padding: func.rhythm(0.5);

					@include breakpoint.bp-up(md) {
						width: 75px;
						height: 75px;
					}
				}
			}

			@include bem.e(servicename) {
				max-width: 15ch;
				text-overflow: ellipsis;
				overflow:hidden;
				white-space: nowrap;
			}
		}

		@include bem.e(first-col) {
			width: 100px;
			text-align: center !important;

			@include breakpoint.bp-up(md) {
				width: 130px;
			}
		}
	}

	@include bem.e(info) {
		&[aria-hidden="true"] {
			display: none
		}
	}

	@include bem.e(actions) {
		&[aria-hidden="true"] {
			display: none;
		}
	}

	@include bem.e(btn-icon) {
		position: static;
		padding-right: 0;
		transform: none;
		margin-left: func.rhythm(1);
	}
}
