@charset 'UTF-8';

// Forwards / backwards
/// @group Paging
@include b(paging) {
	display: inline-flex;
	position: relative;
	width: rhythm(6);
	height: rhythm(6);
	border: 1px solid $color-ash;
	border-radius: 50%;
	box-shadow: 3px 3px 5px $color-ash;

	&:focus,
	&:hover {
		background-color: $color-ocean-light;
	}
}
