{{render '@hero'}}
<div class="o-timeline">
	<div class="o-timeline__progress-bar js-progress-bar"></div>
	<div class="o-timeline__decades-container js-decade-container"></div>
</div>
<div class="o-section">
	<div class="wrapper">
		<div class="alignfull">
			<div class="wrapper">
				<div class="row">
					<div class="grid-18 grid-md-12 grid-lg-10 offset-md-1">
						<h1 class="supersize">Timeline</h1>
						<p class="preamble">
							Ett domännamn är som en gatuadress på internet och gör att alla nätsurfare enkelt hittar till din sida. Internetstiftelsen ser till så att alla .se- och .nu-domäner fungerar som de ska. Innan du skaffar en egen adress på nätet är det ett par saker som kan vara bra att tänka på.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="js-timeline">
	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-jade" id="1960">1960</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-jade-color">1970</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-jade-color">1964</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-jade-color">1968</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-center asymmetric-sm asymmetric-reversed u-m-b-0 u-m-t-0">

					<div class="grid-18 grid-sm-14 grid-md-12 grid-lg-10">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-jade-color">1969</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-peacock u-align-right" id="1970">1970</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-peacock-color">1970</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-peacock-color">1974</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-peacock-color">1978</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-sandstone" id="1980">1980</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-sandstone-color">1980</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-sandstone-color">1981</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-sandstone-color">1983</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-center asymmetric-sm asymmetric-reversed u-m-b-0 u-m-t-0">

					<div class="grid-18 grid-sm-14 grid-md-12 grid-lg-10">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-sandstone-color">1984</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-sandstone-color">1985</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-sandstone-color">1986</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-sandstone-color">1987</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-center asymmetric-sm asymmetric-reversed u-m-b-0 u-m-t-0">

					<div class="grid-18 grid-sm-14 grid-md-12 grid-lg-10">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-sandstone-color">1989</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-lemon u-align-right" id="1990">1990</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-lemon-color">1991</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-lemon-color">1993</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-lemon-color">1995</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla color-ocean" id="2000">2000</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-ocean-color">2000</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-ocean-color">2002</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-ocean-color">2005</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla color-ruby u-align-right" id="2010">2010</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-ruby-color">2011</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-ruby-color">2014</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-ruby-color">2019</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade">
		<div class="wrapper">
			<h2 class="godzilla color-granit" id="2020">2020</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
								<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w">
								<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg" class="m-card__image m-card__media" alt="Lärare hjälper elev och pekar på dennes dator." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/elever-tyreso-alx-1137-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
								<div class="m-card__content">
									<div class="a-meta"><span class="has-granit-color">2020</span></div>
									<a href="https://digitalalektioner.se/" class="m-card__link" target="_blank">
										<h1 class="beta">Digitala lektioner – inspirerande material för lärare</h1>
									</a>

									<p class="m-card__text">Möt kraven på digital kompetens i skolan med oss! Få ny inspiration genom att lyssna på vår podd eller undervisa med hjälp av våra färdiga lektioner – helt kostnadsfritt.</p>
							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-8 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w">
							<noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg" class="m-card__image m-card__media" alt="Kvinna och bebis tar bild tillsammans med en mobilkamera och skrattar." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/09/soi2018-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/09/soi2018-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-granit-color">2021</span></div>
								<a href="https://internetkunskap.se" class="m-card__link" target="_blank">
									<h1 class="beta">Internetkunskap – bli en säkrare internetanvändare</h1>
								</a>

								<p class="m-card__text">Här kan du lära dig om hur internet egentligen funkar, användbara begrepp och om barns liv på nätet – kunskap om internet helt enkelt.</p>

							</div>
						</article>

					</div>

					<div class="grid-18 grid-sm-12 grid-md-5">

						<article class="wp-block-iis-card m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><span class="has-granit-color">2022</span></div>
								<a href="https://svenskarnaochinternet.se/rapporter/svenskarna-och-internet-2021/digitala-hjalpbehov-och-begrepp/#digitala-begrepp" class="m-card__link" target="_blank">
									<h1 class="beta">Så god kännedom har svenskarna om digitala begrepp</h1>
								</a>

								<p class="m-card__text">Hur många av oss svenskar känner till och kan förklara begrepp som molntjänst, mobilt Bank-id och cybersäkerhet? I vår årliga undersökning Svenskarna och internet får du svaret.</p>

							</div>
						</article>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper u-m-b-8">
	<div class="row">
		<div class="grid-18">
			{{render '@mailchimp'}}
		</div>
	</div>
</div>
{{render '@footer'}}
