{{render '@glider--hero'}}
<div class="o-timeline">
	<div class="o-timeline__progress-bar js-progress-bar"></div>
	<div class="o-timeline__decades-container js-decade-container"></div>
</div>
<div class="js-timeline">
	<div class="o-section o-timeline__decade js-timeline-decade" id="1960">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-jade">1960</h2>
		</div>
		<figure class="o-hero o-hero--video-wide u-position-static">
			<video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" autoplay="false" muted class="o-hero__video"></video>
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>Långt innan internet</strong> läggs de första grunderna för framtidens IT-utveckling. Redan nu börjar Sverige bli bra på datorteknik – bland annat skapar vi en hålremsstans som blir en exportsuccé.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row align-items-center justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="2">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img class="m-card__image m-card__media" src="/assets/images/timeline-item02.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-jade-color">1964</div></div>
								<a href="#2"  data-scroll-ignore class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>
								<div class="o-timeline__item__content">
									<p><a href="#">Arpanet</a> är ett nätverk som är föregångare till dagens internet. Arpanets historia startar på den amerikanska försvarsmyndigheten ARPA där idén till internet först formuleras 1963. Utvecklingen av nätverket pågår sedan under större delen av 1960-talet.</p>

									<p>I september 1969 länkas Arpanets första dator med en sprillans ny, specialbyggd maskin, en IMP – Interface Message Processor (som ni ser på bilden här ovanför). Och några veckor senare, 29 oktober klockan halv elva på kvällen skickar forskargruppen på UCLA, ledd av professor Leonard Kleinrock, iväg ett meddelande till en dator på Stanford drygt 50 mil därifrån. Det innehåller endast bokstäverna L och O (forskarna hade tänkt skriva LOGIN men servern kraschade). </p>

									<p>Arpanet är ett av många nätverk som utvecklas under 60-talet i både USA, England och Frankrike.</p>


									<h2>Vem uppfann internet? Flera personer gjorde betydande insatser</h2>

									<p>På den amerikanska forskningsmyndigheten ARPA (Advanced Research Projects Agency) jobbar datorforskaren Joseph Licklider. Han är den som kläcker idén till det som blir internet, men det finns många andra på myndigheten som gör betydande insatser för att förverkliga planerna.</p>

									<p>Leonard Kleinrock uppfinner kommunikationstekniken ”paketutbyte” (packet switching), Vinton Cerf och Robert Kahn kommer på TCP/IP-protokollet (som fortfarande utgör grunden för det internet vi har i dag).</p>

									<p>En annan viktig upptäckt är tidsdelningssystemen (time-sharing), som innebär att flera personer kan använda samma dator. Det är ju egentligen det man gör på internet, delar datorer med varandra.</p>

									<h2>Första mejlet skickas på Arpanet</h2>

									<p>1971 skickas det första e-postmeddelandet på Arpanet – från en dator till en annan som står precis bredvid. Fler och fler datorer på amerikanska forskningsanstalter och laboratorium kopplas sedan upp, nätet växer och 1973 är det hela fyrtio datorer uppkopplade.</p>

									<h2>Arpanet blir internationellt</h2>

									<p>Samma år kopplas den första utländska datorn upp mot Arpanet utanför USA. Den är norsk och kopplas upp via satellit. Men om vi ska vara lite petiga går faktiskt den första internetkontakten via markstationen i Tanum i Bohuslän, som tar emot signalerna och skickar dem vidare till Norge. Först då blir internet internationellt.</p>

									<div class="o-timeline__item__content__meta">
										{{> @tag text="Arpanet" href="#" }}
										{{> @tag text="Internet" href="#" }}
										{{> @tag text="Outernet" href="#" }}


										<div class="o-timeline__item__content__meta__related">
											<h4 class="gamma">Relaterade artiklar</h4>
											<ul class="u-list-clean">
												<li>
													<div class="row">
														<div class="grid-4">
															<img src="/assets/images/timeline-item01.png">
														</div>
														<div class="grid-14">
															<div class="a-meta"><div class="has-jade-color">1964</div></div>
															<h2 class="delta">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h2>
														</div>
													</div>
												</li>
												<li>
													<div class="row">
														<div class="grid-4">
															<img src="/assets/images/timeline-item02.png">
														</div>
														<div class="grid-14">
															<div class="a-meta"><div class="has-jade-color">1968</div></div>
															<h2 class="delta">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h2>
														</div>
													</div>
												</li>
												<li>
													<div class="row">
														<div class="grid-4">
															<img src="/assets/images/nyancat.gif">
														</div>
														<div class="grid-14">
															<div class="a-meta"><div class="has-jade-color">1969</div></div>
															<h2 class="delta">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h2>
														</div>
													</div>
												</li>
											</ul>
										</div>

									</div>
								</div>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="3">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img class="m-card__image m-card__media" src="/assets/images/nyancat.gif">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-jade-color">1968</div></div>
								<a href="#3"  data-scroll-ignore class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="1">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img class="m-card__image m-card__media" src="/assets/images/timeline-item01.png">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-jade-color">1960</div></div>
									<a href="#1"  data-scroll-ignore class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-center asymmetric-sm asymmetric-reversed u-m-b-0 u-m-t-0">

					<div class="grid-18 grid-sm-14 grid-md-12 grid-lg-10 o-timeline__item js-timeline-item" id="20">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><div class="has-jade-color">1969</div></div>
								<a href="#20" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade" id="1970">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-peacock u-align-right">1970</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>På sjuttiotalet</strong> fortsätter utvecklandet av föregångare till dagens internet, både i Sverige och i USA. I slutet av årtiondet skapar Jacob Palme KOM-systemet, ett slags tidigt chattrum.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="21">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img class="m-card__image m-card__media" src="/assets/images/nyancat.gif">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-peacock-color">1970</div></div>
									<a href="#21" data-scroll-ignore  class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="22">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img class="m-card__image m-card__media" src="/assets/images/timeline-item02.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-peacock-color">1974</div></div>
								<a href="#22" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-12 grid-md-5 o-timeline__item js-timeline-item" id="23">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-peacock-color">1978</div></div>
								<a href="#23" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade" id="1980">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-sandstone">1980</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>Utvecklingen rusar framåt,</strong> inte minst tack vare en rad hårt arbetande eldsjälar. Björn Eriksen registrerar .se-domänen och tar emot det allra första mejlet till Sverige, SVT:s Lars Orup försöker sig på dataintrång och TCP-IP – protokollet som ligger till grund för internets infrastruktur – blir standard.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="24">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-sandstone-color">1980</div></div>
									<a href="#24" data-scroll-ignore  class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="25">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item02.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-sandstone-color">1981</div></div>
								<a href="#25" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-12 grid-md-5 o-timeline__item js-timeline-item" id="26">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/nyancat.gif">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-sandstone-color">1983</div></div>
								<a href="#26" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-center asymmetric-sm asymmetric-reversed u-m-b-0 u-m-t-0">

					<div class="grid-18 grid-sm-14 grid-md-12 grid-lg-10 o-timeline__item js-timeline-item" id="4">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><div class="has-sandstone-color">1984</div></div>
								<a href="#4"  data-scroll-ignore class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-7 o-timeline__item js-timeline-item" id="5">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img m-card__image m-card__media src="/assets/images/nyancat.gif">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-sandstone-color">1985</div></div>
									<a href="#5"  data-scroll-ignore class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-7 o-timeline__item js-timeline-item" id="6">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-sandstone-color">1986</div></div>
								<a href="#6"  data-scroll-ignore class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-center asymmetric-sm asymmetric-reversed u-m-b-0 u-m-t-0">

					<div class="grid-18 grid-sm-14 grid-md-12 grid-lg-10 o-timeline__item js-timeline-item" id="7">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" data-src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media lazyloaded" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" data-srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w"><noscript><img width="700" height="406" src="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg" class="m-card__image m-card__media" alt="En äldre man med jeansjacka sitter vid sin dator och pratar i telefon." loading="lazy" srcset="https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-700x406.jpg 700w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-726x420.jpg 726w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-500x290.jpg 500w, https://internetstiftelsen.se/app/uploads/2021/10/soi2021-3-8x5.jpg 8w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
							<div class="m-card__content">
								<div class="a-meta"><div class="has-sandstone-color">1989</div></div>
								<a href="#7"  data-scroll-ignore class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade" id="1990">
		<div class="wrapper">
			<h2 class="godzilla godzilla--19 color-lemon u-align-right">1990</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>Nu börjar det hända grejer!</strong> Under 90-talet blir internet något som fler och fler både känner till och faktiskt använder. WWW släpps löst på internet, Carl Bildt mejlar med Bill Clinton och 1996 utses internet till årets julklapp.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="8">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-lemon-color">1991</div></div>
									<a href="#8"  data-scroll-ignore class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="9">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item02.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-lemon-color">1993</div></div>
								<a href="#9"  data-scroll-ignore class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-12 grid-md-5 o-timeline__item js-timeline-item" id="10">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/nyancat.gif">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-lemon-color">1995</div></div>
								<a href="#10" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade" id="2000">
		<div class="wrapper">
			<h2 class="godzilla color-ocean">2000</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>Nu börjar vi hänga på communities</strong> och konsumera och dela stora mängder innehåll – roliga bilder, bloggar, nyheter, men också filmer och musik som vi kanske inte alltid fått tag i på lagligt sätt.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="11">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img m-card__image m-card__media src="/assets/images/timeline-item02.png">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-ocean-color">2000</div></div>
									<a href="#11" data-scroll-ignore  class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="12">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/nyancat.gif">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-ocean-color">2002</div></div>
								<a href="#12" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-12 grid-md-5 o-timeline__item js-timeline-item" id="13">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-ocean-color">2005</div></div>
								<a href="#13" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade" id="2010">
		<div class="wrapper">
			<h2 class="godzilla color-ruby u-align-right">2010</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>Smarta telefoner och plattor</strong> innebär att internet är med oss hela tiden. 2010 använder 92 procent av den svenska befolkningen internet och det finns nu över 1 miljon .se-domäner registrerade.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="14">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img m-card__image m-card__media src="/assets/images/nyancat.gif">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-ruby-color">2011</div></div>
									<a href="#14" data-scroll-ignore  class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="15">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-ruby-color">2014</div></div>
								<a href="#15" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-12 grid-md-5 o-timeline__item js-timeline-item" id="16">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item02.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-ruby-color">2019</div></div>
								<a href="#16" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="o-section o-timeline__decade js-timeline-decade" id="2020">
		<div class="wrapper">
			<h2 class="godzilla color-granit">2020</h2>
		</div>
		<figure class="o-hero u-position-static">
			<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
		</figure>
		<div class="wrapper">
			<div class="grid-18 grid-md-12 grid-lg-9 o-timeline__decade__intro">
				<p class="preamble"><strong>Den en gång så positiva synen på internet</strong> har bytts mot en ökad skepsis för digitaliseringens negativa konsekvenser. Coronapandemin gör att allt fler både studerar och jobbar hemifrån vilket driver på digitaliseringen av arbetslivet.</p>
			</div>
			<div class="wp-block-iis-grid">
				<div class="row justify-content-around justify-content-md-between asymmetric-sm asymmetric-reversed u-m-t-4">

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="17">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
								<img m-card__image m-card__media src="/assets/images/timeline-item02.png">
								<div class="m-card__content">
									<div class="a-meta"><div class="has-granit-color">2020</div></div>
									<a href="#17" data-scroll-ignore  class="m-card__link">
										<h1 class="o-timeline__heading">Domännamnssystemet DNS skapas – nu blir det enkelt att hitta rätt på nätet</h1>
									</a>

									<p class="m-card__text o-timeline__card-text">Föreställ dig att du varje gång du ska besöka en webbsida eller skicka ett mejl hade behövt leta reda på rätt nummer i ett register och sedan skriva in en lång sifferkombination i stället för ett domännamn.</p>
							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-8 grid-md-5 o-timeline__item js-timeline-item" id="18">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/nyancat.gif">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-granit-color">2021</div></div>
								<a href="#18" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Det här är TCP/IP – nu uppfinns tekniken bakom internet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">Så hur fungerar internet? Svaret är med protokollen TCP/IP. En teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP skulle bygga internet. </p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

					<div class="grid-18 grid-sm-12 grid-md-5 o-timeline__item js-timeline-item" id="19">
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
						<article class="wp-block-iis-timeline-post m-card o-timeline__parallax js-parallax">
							<img m-card__image m-card__media src="/assets/images/timeline-item01.png">
							<div class="m-card__content">
								<div class="a-meta"><div class="has-granit-color">2022</div></div>
								<a href="#19" data-scroll-ignore  class="m-card__link">
									<h1 class="o-timeline__heading">Filmklipp: en framtidsvision för internet och digitalisering från 60-talet</h1>
								</a>

								<p class="m-card__text o-timeline__card-text">I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</p>

							</div>
						</article>
						<button class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-timeline__item-close js-timeline-item-bottom-close">
							<span class="a-button__text">Stäng</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-close"></use>
							</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{{render '@continue-video-guide'}}
{{render '@mailchimp'}}
{{render '@footer'}}
