<script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>

<div class="site u-z-index-foreground" id="site">
	<div class="site__header" id="siteHeader">
		<div class="u-position-relative">
			<header class="o-header">
				<div class="wrapper">
					<div class="row justify-content-between align-items-center flex-nowrap">
						<div class="grid-auto">
							<a href="/" class="o-header__logo-link">
								<span class="o-header__logo">
									<img class="logotype" src="https://static.internetstiftelsen.se/images/logotypes/internetkollen.svg" alt="logotyp">
								</span>
								<span class="u-visuallyhidden">Till startsidan</span>
							</a>
						</div>

						<div class="grid u-hide-sm">
							<h1 id="portal-title" data-default="Internetkollen" class="u-b-0 u-b-l-1 u-b-solid u-b-concrete display-flex u-p-y-1 u-p-x-2 u-m-y-1 u-font-size-medium u-weight-normal">Test för moderna internetstandarder</h1>
						</div>
						<div class="grid">
							<nav class="a-main-menu" role="image" aria-label="Huvudmeny">
								<ul class="a-main-menu__list">
									<li class="u-hidden-mobile">
										<a href="#" class="a-main-menu__list__link">
											<span class="a-main-menu__list__text">Testa själv</span>
										</a>
									</li>
									<li class="u-hidden-mobile">
										<a href="#" class="a-main-menu__list__link">
											<span class="a-main-menu__list__text">Hälsoläget</span>
										</a>
									</li>
									<li class="u-hidden-mobile">
										<a href="#" class="a-main-menu__list__link">
											<span class="a-main-menu__list__text">Om</span>
										</a>
									</li>
									<li class="u-hidden-mobile">
										<a href="#" class="a-main-menu__list__link">
											<span class="a-main-menu__list__text">Hjälp</span>
										</a>
									</li>
									<li class="u-hidden-mobile">
										<a href="#" class="a-main-menu__list__link">
											<span class="a-main-menu__list__text">Kontakt</span>
										</a>
									</li>
									<li class="u-hide-xl-up">
										<button type="button" class="a-main-menu__list__link" role="image" aria-expanded="false" data-a11y-toggle="dropdown">
											<span class="a-main-menu__list__text">Meny</span>
											<div class="icon-arrow-down"></div>
										</button>

										<ul id="dropdown" class="a-main-menu__subnav a-main-menu__subnav--right-aligned u-box-shadow-card">
											<li class="a-main-menu__subnav__item">
												<a href="#">Testa själv</a>
											</li>
											<li class="a-main-menu__subnav__item">
												<a href="#">Hälsoläget</a>
											</li>
											<li class="a-main-menu__subnav__item">
												<a href="#">Om</a>
											</li>
											<li class="a-main-menu__subnav__item">
												<a href="#">Hjälp</a>
											</li>
											<li class="a-main-menu__subnav__item">
												<a href="#">Kontakt</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>

						</div>
					</div>
				</div>
			</header>
		</div>
	</div>
	<div class="site__main" id="siteMain">
		<div class="wrapper u-p-t-2">
			<div class="row">
				<main class="grid-18 grid-lg-12">
					<div class="row">
						<div class="grid-18 grid-xl-18 u-m-b-6">
							<div data-tab-component>

								<ul class="o-tab-list js-o-tab-list" data-update-url="true">
									<li class="o-tab-list__item">
										<a class="o-tab-list__link" href="#domain-test" id="tab-domain">Testa webbplats</a>
									</li>
									<li class="o-tab-list__item">
										<a class="o-tab-list__link" href="#email-test" id="tab-email">Testa e-post</a>
									</li>
								</ul>

								<section id="domain-test" class="o-tab-panel">
									<div class="row">
										<div class="grid-18 u-p-x-2">
											<div class="u-m-b-4">
												<h2>Resultat för: <span class="color-ocean-dark u-weight-bolder">dn.se</span></h2>
												{{> @progress has_label="true" max="100" value="100" id="progress" additional_classes="a-progress--large"}}
											</div>
											<ul class="u-list-clean u-m-b-4">
												<li class="display-flex align-items-center">
													{{>@icon id="close-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#d9002f" role="image" aria_labelledby="test-result-definition-bad"}}
													<a href="" class="u-link-default color-cyberspace">
														Not reachable via modern internet address, or improvement possible (IPv6)
													</a>
												</li>
												<li class="display-flex align-items-center">
													{{>@icon id="info-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#f99963" role="image" aria_labelledby="test-result-definition-warning"}}
													<a href="" class="u-link-default color-cyberspace">
														One or more recommended security options not set (Security options)
													</a>
												</li>
												<li class="display-flex align-items-center">
													{{>@icon id="check-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="test-result-definition-good"}}
													<a href="" class="u-link-default color-cyberspace">
														Authorised route announcement (RPKI)
													</a>
												</li>
											</ul>
											<ul class="u-list-clean display-flex flex-wrap justify-content-xl-end">
												<li>
													<a href="" class="a-button a-button--lemon-light a-button--icon a-button--small u-m-l-1">
														<span class="a-button__text">Förklara testrapporten</span>
														{{>@icon id="info" additional_classes="a-button__icon u-icon--medium" fill="#ffffff"}}
													</a>
												</li>
												<li>
													<a href="" class="a-button a-button--ocean-light a-button--icon a-button--small u-m-l-1">
														<span class="a-button__text">Länka till resultatet</span>
														{{>@icon id="link" additional_classes="a-button__icon u-icon--medium" fill="#ffffff"}}
													</a>
												</li>
												<li>
													<a href="" class="a-button a-button--icon a-button--small u-m-l-1">
														<span class="a-button__text">Kör testet igen</span>
														{{>@icon id="repeat" additional_classes="a-button__icon u-icon--medium" fill="#ffffff"}}
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="row u-m-t-2">
										<div class="grid-18 background-ash u-border-radius u-p-x-2 u-p-y-3 u-m-b-2">
											<h2 class="display-flex">
												{{>@icon id="close-variant" additional_classes="u-icon--large u-m-r-1" fill="#d9002f" role="image" role="image" aria_labelledby="test-result-definition-bad"}}
												Modern address (IPv6)
											</h2>
											<p>Too bad! Your website is not reachable for visitors using a modern internet address (IPv6), or improvement is possible. Therefore your website is not part of the modern Internet yet. You should ask your hosting provider to fully enable IPv6.</p>
											<h3 class="display-flex align-items-center">
												Name servers of domain
												<button class="a-button a-button--ocean-light a-button--small u-m-l-auto" type="button">
													<span class="a-button__text">Expandera alla</span>
												</button>
											</h3>


											<div class="js-o-accordion o-accordion u-m-b-2">
												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-good"}}
														<span class="u-visuallyhidden">Passed: </span>
														IPv6 addresses for name servers
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-good"}}
														<span class="u-visuallyhidden">Passed: </span>
														IPv6 reachability of name servers
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>
											</div>

											<h3>Web server</h3>

											<div class="js-o-accordion o-accordion u-m-b-2">
												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="unsecure-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#d9002f" role="image" aria_labelledby="subtest-result-definition-bad"}}
														<span class="u-visuallyhidden">Failed: </span>
														IPv6 addresses for web servers
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="unsecure-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#d8d8d8" role="image" aria_labelledby="subtest-result-definition-untested"}}
														<span class="u-visuallyhidden">Not tested: </span>
														IPv6 reachability of web servers
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
													{{>@icon id="unsecure-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#d8d8d8" role="image" aria_labelledby="subtest-result-definition-untested"}}
													<span class="u-visuallyhidden">Not tested: </span>
													Same website on IPv6 and IPv4
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>
											</div>
										</div>

										<div class="grid-18 background-ash u-border-radius u-p-x-2 u-p-y-3 u-m-b-2">
											<h2 class="display-flex">
												{{>@icon id="info-variant" additional_classes="u-icon--large u-m-r-1" fill="#f99963" role="image" role="image" aria_labelledby="test-result-definition-warning"}}
												Security options
											</h2>
											<p>Warning: <em>Not</em> all recommended security options, , i.e. security headers and security.txt, are set for your website (<a href="/faqs/appsecpriv/">Security options</a>). With security headers you can activate browser mechanisms to protect visitors against attacks involving, for example, cross-site scripting (XSS) or framing. Security headers are also relevant for domains with HTTP response codes such as '301 Redirect' and '404 Not Found', because they create their own browsing context (MIME type 'text/html') that may be vulnerable to certain attacks. Through a security.txt file you can provide researchers who have found a vulnerability on your systems, with your contact information and your Coordinated Vulnerability Disclosure policy. Note that HTTPS is a prerequisite for all tested security options. </p>
											<h3 class="display-flex align-items-center">
												HTTP security headers
												<button class="a-button a-button--ocean-light a-button--small u-m-l-auto" type="button">
													<span class="a-button__text">Expandera alla</span>
												</button>
											</h3>


											<div class="js-o-accordion o-accordion u-m-b-2">
												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="info-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#50b2fc" role="image" aria_labelledby="subtest-result-definition-informational"}}
														<span class="u-visuallyhidden">Information: </span>
														X-Frame-Options
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="warning-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#f99963" role="image" aria_labelledby="subtest-result-definition-warning"}}
														<span class="u-visuallyhidden">Recommendation: </span>
														X-Content-Type-Options
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>
											</div>

											<h3>Other security options</h3>

											<div class="js-o-accordion o-accordion u-m-b-2">
												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="info-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#50b2fc" role="image" aria_labelledby="subtest-result-definition-informational"}}
														<span class="u-visuallyhidden">Information: </span>
														Content-Security-Policy
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="warning-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#f99963" role="image" aria_labelledby="subtest-result-definition-warning"}}
														<span class="u-visuallyhidden">Recommendation: </span>
														Referrer Policy
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
													{{>@icon id="warning-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#f99963" role="image" aria_labelledby="subtest-result-definition-warning"}}
														<span class="u-visuallyhidden">Recommendation: </span>
													Same website on IPv6 and IPv4
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>
											</div>
										</div>

										<div class="grid-18 background-ash u-border-radius u-p-x-2 u-p-y-3 u-m-b-2">
											<h2 class="display-flex">
												{{>@icon id="check-variant" additional_classes="u-icon--large u-m-r-1" fill="#25c279" role="image" role="image" aria_labelledby="test-result-definition-good"}}
												Route authorisation (RPKI)
											</h2>
											<p>Warning: <em>Not</em> all recommended security options, , i.e. security headers and security.txt, are set for your website (<a href="/faqs/appsecpriv/">Security options</a>). With security headers you can activate browser mechanisms to protect visitors against attacks involving, for example, cross-site scripting (XSS) or framing. Security headers are also relevant for domains with HTTP response codes such as '301 Redirect' and '404 Not Found', because they create their own browsing context (MIME type 'text/html') that may be vulnerable to certain attacks. Through a security.txt file you can provide researchers who have found a vulnerability on your systems, with your contact information and your Coordinated Vulnerability Disclosure policy. Note that HTTPS is a prerequisite for all tested security options. </p>
											<h3 class="display-flex align-items-center">
												Name servers of domain
												<button class="a-button a-button--ocean-light a-button--small u-m-l-auto" type="button">
													<span class="a-button__text">Expandera alla</span>
												</button>
											</h3>


											<div class="js-o-accordion o-accordion u-m-b-2">
												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279"  role="image" role="image" aria_labelledby="subtest-result-definition-good"}}
														<span class="u-visuallyhidden">Passed: </span>
														Route Origin Authorisation existence
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-good"}}
														<span class="u-visuallyhidden">Recommendation: </span>
														Route announcement validity
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>
											</div>

											<h3>Web server</h3>

											<div class="js-o-accordion o-accordion u-m-b-2">
												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-good"}}
														<span class="u-visuallyhidden">Failed: </span>
														Route Origin Authorisation existence
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
														{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-untested"}}
														<span class="u-visuallyhidden">Not tested: </span>
														Route announcement validity
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>

												<h3 class="js-accordion__header">
													<span class="display-flex align-items-center u-pointer-events-none">
													{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-untested"}}
														<span class="u-visuallyhidden">Not tested: </span>
													Same website on IPv6 and IPv4
													</span>
												</h3>
												<div class="js-accordion__panel">
													<div class="o-accordion__panel__content">
														<h4> Verdict: </h4> <p> Two or more name servers of your domain have an IPv6 address. </p> <h4> Technical details: </h4> <div class="u-m-b-4"> <table> <thead> <tr> <th>Name server</th> <th>IPv6 address</th> <th>IPv4 address</th> </tr> </thead> <tbody> <tr> <td>ns-cloud-d3.googledomains.com.</td> <td>2001:4860:4802:36::6d</td> <td>216.239.36.109</td> </tr> <tr> <td>ns-cloud-d4.googledomains.com.</td> <td>2001:4860:4802:38::6d</td> <td>216.239.38.109</td> </tr> <tr> <td>ns-cloud-d1.googledomains.com.</td> <td>2001:4860:4802:32::6d</td> <td>216.239.32.109</td> </tr> <tr> <td>ns-cloud-d2.googledomains.com.</td> <td>2001:4860:4802:34::6d</td> <td>216.239.34.109</td> </tr> </tbody> </table> </div> <h4> Test explanation: </h4> <div><p>We check if your domain name has at least two name servers with an IPv6 address. </p> <p>This is consistent with the <a href="https://www.sidn.nl/downloads/KwpW_ORWRWetYuoBp5GeYA/7e91faddb53ad85b8c6a2fce15d764cb/Technical_requirements_for_the_registration_and_use_of_nl_domain_names.pdf">"Technical requirements for the registration and use of .nl domain names"</a> d.d. 13 November 2017 by SIDN (.nl TLD registry) that require each .nl domain to have at least two name servers.</p> <p>'IPv4-mapped IPv6 addresses' (<a href="https://www.rfc-editor.org/rfc/rfc4291">RFC 4291</a>, beginning with ::ffff:) will fail in this test, as they do <em>not</em> provide IPv6 connectivity.</p></div>
													</div>
												</div>
											</div>
										</div>

										<div class="background-snow u-border-radius u-p-x-2 u-p-t-2 u-m-b-2">
											<span class="a-meta">Ikonförklaringar</span>
											<h3 class="beta u-m-b-0">Ikoner per testkategori</h3>
											<ul class="u-list-clean u-m-b-3">
												<li class="display-flex">
													{{>@icon id="check-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="test-result-definition-good"}}
													<span id="test-result-definition-good">
														<strong class="u-display-inline">Good</strong>: passed all subtests ⇒ full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="close-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#d9002f" role="image" aria_labelledby="test-result-definition-bad"}}
													<span id="test-result-definition-bad">
														<strong class="u-display-inline">Bad</strong>: failed at least one REQUIRED subtest ⇒ no full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="info-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#f99963" role="image" aria_labelledby="test-result-definition-warning"}}
													<span id="test-result-definition-warning">
														<strong class="u-display-inline">Warning</strong>: failed at least one RECOMMENDED subtest ⇒ full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="info-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#50b2fc" role="image" aria_labelledby="test-result-definition-informational"}}
													<span id="test-result-definition-informational">
														<strong class="u-display-inline">Informational</strong>: failed at least one OPTIONAL subtest ⇒ full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="close-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#8E9297" role="image" aria_labelledby="test-result-definition-error"}}
													<span id="test-result-definition-error">
														<strong class="u-display-inline">Test error</strong>: execution error for at least one subtest ⇒ no result in test category
													</span>
												</li>
											</ul>
											<h3 class="beta u-m-b-0">Ikoner per subtext</h3>
											<ul class="u-list-clean u-m-b-3">
												<li class="display-flex">
													{{>@icon id="security-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#25c279" role="image" aria_labelledby="subtest-result-definition-good"}}
													<span id="subtest-result-definition-good">
														<strong class="u-display-inline">Good</strong>: pass on REQUIRED, RECOMMENDED or OPTIONAL subtest ⇒ first: full score / latter two: no score impact
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="unsecure-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#d9002f" role="image" aria_labelledby="subtest-result-definition-bad"}}
													<span id="subtest-result-definition-bad">
														<strong class="u-display-inline">Bad</strong>: failed at least one REQUIRED subtest ⇒ no full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="warning-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#f99963" role="image" aria_labelledby="subtest-result-definition-warning"}}
													<span id="subtest-result-definition-warning">
														<strong class="u-display-inline">Warning</strong>: failed at least one RECOMMENDED subtest ⇒ full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="info-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#50b2fc" role="image" aria_labelledby="subtest-result-definition-informational"}}
													<span  id="subtest-result-definition-informational">
														<strong class="u-display-inline">Informational</strong>: failed at least one OPTIONAL subtest ⇒ full score in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="unsecure-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#8E9297" role="image" aria_labelledby="subtest-result-definition-error"}}
													<span id="subtest-result-definition-error">
														<strong class="u-display-inline">Test error</strong>: execution error for at least one subtest ⇒ no result in test category
													</span>
												</li>
												<li class="display-flex">
													{{>@icon id="unsecure-variant" additional_classes="u-icon--medium u-m-r-1 u-m-t-05 u-flex-shrink-0" fill="#d8d8d8" role="image" aria_labelledby="subtest-result-definition-untested"}}
													<span id="subtest-result-definition-untested">
														<strong class="u-display-inline">Not tested</strong>, because already failed related parent subtest ⇒ null score
													</span>
												</li>
											</ul>
										</div>
									</div>
								</section>
								<section id="email-test" class="o-tab-panel">
									<div class="m-form-control">
										<div class="row u-m-b-2">
											<div class="grid u-p-r-0 u-m-b-1">
												<label for="email" class="a-label">E-postadress:</label>
												<input type="email" id="email" required placeholder="du@exempel.se" autocomplete="off" class="a-input has-icon">
												<figure class="input-icon">
													<svg class="icon">
														<use xlink:href="#icon-at"></use>
													</svg>
												</figure>
											</div>
											<div class="grid-auto display-flex align-items-end u-p-l-1 u-m-b-1">
												<button type="submit" class="a-button has-loader">
													<span class="a-button__text">Starta</span>
												</button>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</main>
				<aside class="grid-18 grid-lg-6">
					<div class="background-snow u-border-radius u-p-x-2 u-p-y-2 u-m-b-2">
						<h3 class="beta">Mina tester</h3>
						<table class="u-m-b-2">
							<thead>
								<tr>
									<th>Domän</th>
									<th>Resultat</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="" class="u-link-default">dn.se</a></td>
									<td>
										<span class="display-flex align-items-center">
											<svg class="icon u-icon--medium u-fill-ruby-dark u-m-r-1" role="image" aria-label="bad">
												<use xlink:href="#icon-warning-variant"></use>
											</svg>
											<span class="color-ruby-dark">95%:</span>
										</span>
									</td>
								</tr>
								<tr>
									<td><a href="" class="u-link-default">internetstiftelsen.se</a></td>
									<td>
										<span class="display-flex align-items-center">
											<svg class="icon u-icon--medium u-fill-success u-m-r-1" role="image" aria-label="good">
												<use xlink:href="#icon-security-variant"></use>
											</svg>
											<span class="color-success">100%:</span>
										</span>
									</td>
								</tr>
								<tr>
									<td><a href="" class="u-link-default">räksmörgås.se</a></td>
									<td>
										<span class="display-flex align-items-center">
											<svg class="icon u-icon--medium u-fill-ruby-dark u-m-r-1" role="image" aria-label="bad">
												<use xlink:href="#icon-warning-variant"></use>
											</svg>
											<span class="color-ruby-dark">47%:</span>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</aside>
			</div>

			<section class="o-section o-section--white alignfull">
				<div class="wrapper o-section__content o-section__content--Ingen o-section__content--peacock">
					<div class="row">
						<div class="grid-18">
							<h2>Artiklar</h2>
						</div>
					</div>

					<div class="row u-m-b-2">
						<div class="grid-18 grid-lg-6">
							{{> @card is_padded="true"
								modifier="u-m-b-2 m-card--shadow"
								title="Snabbkurser – i förebyggande syfte"
								url="#"
								img_url="https://internetkunskap.se/app/uploads/2022/02/aldre-surfar-pa-smart-mobil-kpa-8949.jpg.webp"
								excerpt="Ta någon av våra snabba kurser i källkritik och säkerhet på nätet. Lär dig att känna igen bedragare, granska information och bli en mer medveten internetanvändare."}}
						</div>
						<div class="grid-18 grid-lg-6">
							{{> @card is_padded="true"
								modifier="u-m-b-2 m-card--shadow"
								title="Guider – om du blivit lurad på nätet"
								url="#"
								img_url="https://internetkunskap.se/app/uploads/2019/01/alx4622-editlosenord.jpg.webp"
								excerpt="Misstänker du att du blivit utsatt för bedragare på nätet? Med hjälp av våra guider kan du som har blivit utsatt för bedragare på nätet få vägledning."}}
						</div>
						<div class="grid-18 grid-lg-6">
							{{> @card is_padded="true"
								modifier="u-m-b-2 m-card--shadow"
								title="Ny version av Bredbandskollen för Android"
								url="#"
								img_url="/assets/images/bredbandskollen.jpg"
								excerpt="Vi har i slutet av augusti släppt en uppdatering för att följa regelverket i Google Play. Appen är nu byggd för att bättre fungera på Android 13. Läs mer här.

"}}
						</div>
					</div>
					<div class="row u-m-b-2">
						<div class="grid-18 grid-lg-6 u-m-b-2">
							<div class="m-card m-card--padded wp-block-iis-visualization background-ocean-light">
								<div class="m-card__content">
									<lord-icon
										src="https://cdn.lordicon.com/tnapqovl.json"
										trigger="in"
										delay=""
										colors="primary:#50b2fc"
										style="width:80px;height:80px">
									</lord-icon>
									<h2 class="wp-block-heading"><a href="#" class="u-link-area">Om testerna</a></h2>
									<p>Hur fungerar testerna, vad mäter vi och hur skall man tolka resultatet?</p>
								</div>
							</div>
						</div>
						<div class="grid-18 grid-lg-6 u-m-b-2">
							<div class="m-card m-card--padded wp-block-iis-visualization background-lemon-light">
								<div class="m-card__content">
									<lord-icon
										src="https://cdn.lordicon.com/ojnjgkun.json"
										trigger="in"
										delay=""
										colors="primary:#ffce2e"
										style="width:80px;height:80px">
									</lord-icon>
									<h2 class="wp-block-heading"><a href="#" class="u-link-area">Hjälp?</a></h2>
									<p>Har du frågor? Sök efter svaret på våra hjälpsidor.</p>
								</div>
							</div>
						</div>
						<div class="grid-18 grid-lg-6 u-m-b-2">
							<div class="m-card m-card--padded wp-block-iis-visualization background-concrete">
								<div class="m-card__content">
									<lord-icon
										src="https://cdn.lordicon.com/mdjanuie.json"
										trigger="in"
										delay=""
										colors="primary:#8E9297"
										style="width:80px;height:80px">
									</lord-icon>
									<h2 class="wp-block-heading"><a href="#" class="u-link-area">Integritetspolicy</a></h2>
									<p>Internetstiftelsen ansvarar enligt gällande dataskyddslagstiftning för de personuppgifter som behandlas i Bredbandskollen.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	{{> @pre-footer }}

	<div class="site__footer">
		{{> @footer footer_text="Bredbandskollen är ett oberoende
								konsumentverktyg som drivs av <a class='o-footer__link' href='https://internetstiftelsen.se'>Internetstiftelsen</a>.
								Internetstiftelsen är en oberoende, affärsdriven och allmännyttig organisation. Vi verkar
								för ett internet som bidrar positivt till människan och samhället. Vi ansvarar för internets
								svenska toppdomän .se och sköter drift och administration av toppdomänen .nu. Intäkterna
								från affärsverksamheten finansierar en rad satsningar i syfte att möjliggöra att människor
								kan nyttja internet på bästa sätt, och stimulera kunskapsdelning och innovation med
								inriktning på internet." ISO_text="Certifierade enligt ISO/IEC<br>27001:2013"
			CC_license="Creative Commons licens<br>Erkännande 4.0 Internationell"
			ISO_image="https://internetstiftelsen.se/app/themes/internetstiftelsen/images/ISO_27001_2013_black_TM.svg"
			ISO_link="https://internetstiftelsen.se/docs/Certifikat_27001_UKAS_sv.pdf"
			contact_1="<ul class='u-list-clean o-footer__info__contact__address'><li class='o-footer__info__contact__address__li'>Internetstiftelsen</li><li class='o-footer__info__contact__address__li'>Hammarby Kaj 10D</li><li class='o-footer__info__contact__address__li'>Box 92073</li><li class='o-footer__info__contact__address__li'>120 07 Stockholm</li></ul>"
			contact_2="<ul class='u-list-clean o-footer__info__contact__address'><li class='o-footer__info__contact__address__li'>E-post: <a class='o-footer__link' href='mailto:info@bredbandskollen.se'>info@bredbandskollen.se</a></li><li class='o-footer__info__contact__address__li'>Telefon: <a class='o-footer__link' href='tel:084523500'>08-452 35 00</a></li><li class='o-footer__info__contact__address__li'>Organisationsnummer: 802405-0190</li></ul>"
			site_description_1="'En årlig studie av svenska folkets internetvanor"
			site_description_2="Internetdagarna är en konferens som arrangeras av Internetstiftelsen"
			site_description_3="Goto 10 är en start- och mötesplats för internetrelaterade frågor som drivs av Internetstiftelsen"
			site_description_4="Bredbandskollen är ett oberoende konsumentverktyg som drivs av Internetstiftelsen"
			site_description_5="Ett digitalt museum som byggts, och kureras av Internetstiftelsen"
			site_description_6="Öppen digital lärresurs med färdiga lektioner för alla stadier i grundskolan"
			site_description_7="Samlad kunskap som hjälper dig att bli en säker och medveten internetanvändare"
			site_description_8="Internetstiftelsen verkar för ett internet som bidrar positivt till människan och samhället"
		}}
	</div>
</div>

