<div class="site__main" id="siteMain">
	<div class="site__main__content">
		<div class="section section--tight">
			<div class="wrapper">
				<div class="row">
					<div class="grid-18 grid-lg-12">
						<main role="main" class="article">
							<h1 class="supersize">Kom igång med CC och<br>GNU-GPL!</h1>

							<div class="article__content">
								<p class="wp-block-preamble preamble">I den här guiden lär du dig…</p>

								{{> @info-box text="<ul><li>Nyttan med öppna licenser</li><li>Att skilja på olika sorters licenser</li><li>Om företagande och öppen källkod</li><li>Hur du använder licenserna i praktiken</li><li>Klargör vilka marknader du riktar dig till och registrera relevanta domäner.</li></ul>"}}

								<ul>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/inledning/">Inledning</a> </li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/upphovsratt-och-licenser/">Upphovsrätt och licenser </a>
										<ul>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/upphovsratt-och-licenser/#borjade">Så började det</a> </li>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/upphovsratt-och-licenser/#nyttan">Vad är nyttan med öppna licenser?</a> </li>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/upphovsratt-och-licenser/#darfor">Därför ska du licensiera ditt material</a> </li>
										</ul>
									</li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/sa-fungerar-en-cc-licens/">Så fungerar en CC-licens</a> 
										<ul>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/sa-fungerar-en-cc-licens/">Så här skaffar du en CC-licens</a> </li>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/sa-fungerar-en-cc-licens/#sju">Sju olika licenser</a> </li>
										</ul>
									</li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/sa-fungerar-oppen-kallkod/">Så fungerar öppen källkod</a></li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/detta-ar-gnu-gpl/">Detta är GNU-GPL </a></li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/gnu-glp-sa-har-licensierar-du/">GNU-GLP – så här licensierar du</a>
										<ul>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/gnu-glp-sa-har-licensierar-du/#borja">Börja här</a> </li>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/gnu-glp-sa-har-licensierar-du/#frivilligt">Frivilligt: Free Software Directory och logotyp</a></li>
											<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/gnu-glp-sa-har-licensierar-du/#bidra">Bidra till ett befintligt projekt</a> </li>
										</ul>
									</li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/ordlista/">Ordlista </a></li>
									<li><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/kallor-och-mer-lasning/">Källor och mer läsning</a> </li>
								</ul>
							</div>
							<div class="row">
								<div class="grid">
									<hr>
								</div>
							</div>
							<div class="row justify-content-between u-m-b-4 u-m-t-2">
								<div class="grid-auto">
									{{> @button href="#" text="Föregående kapitel" modifiers="lemon a-button--icon-left" icon="arrow-backwards"}}
								</div>
								<div class="grid-auto">
									{{> @button href="#" text="Nästa kapitel" modifiers="lemon" icon="arrow-forwards"}}
								</div>
							</div>
						</main>
					</div>
					<div class="grid-18 grid-lg-6">
						<aside class="sidebar u-position-sticky-top-4">
							{{render '@submenu' has_sublevel="true"}}
							<div class="row">
								<div class="grid-18 grid-md-9 grid-lg-18 u-m-b-2">
									<section class="m-card m-card--padded">
										<div class="m-card__content">
											<h1 class="beta">Kapitel</h1>
											<div class="textwidget">
												<ol>
													<li class="page_item current_page_item"><a class="is-active" href="/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl">Innehållsförteckning</a></li>
													<li class="page_item page-item-92709"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/inledning/">Inledning</a></li>
													<li class="page_item page-item-92718"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/sa-fungerar-en-cc-licens/">Så fungerar en CC-licens</a></li>
													<li class="page_item page-item-92712"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/upphovsratt-och-licenser/">Upphovsrätt och licenser</a></li>
													<li class="page_item page-item-92748"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/sa-fungerar-oppen-kallkod/">Så fungerar öppen källkod</a></li>
													<li class="page_item page-item-92753"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/detta-ar-gnu-gpl/">Detta är GNU-GPL</a></li>
													<li class="page_item page-item-92756"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/gnu-glp-sa-har-licensierar-du/">GNU-GLP – så här licensierar du</a></li>
													<li class="page_item page-item-92759"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/ordlista/">Ordlista</a></li>
													<li class="page_item page-item-92762"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/kallor-och-mer-lasning/">Källor och mer läsning</a></li>
													<li class="page_item page-item-92767"><a href="https://old.iis.se/lar-dig-mer/guider/kom-igang-med-cc-och-gnu-gpl/johanna-lundeberg/">Johanna Lundeberg</a></li>
												</ol>
											</div>
										</div>
									</section>
								</div>
								<div class="grid-18 grid-md-9 grid-lg-18 u-m-b-2">
									<section class="m-card m-card--padded">
										<div class="m-card__content">
											<img style="width: 100%;" class="u-border-radius" src="https://internetstiftelsen.se/app/uploads/2017/05/Screen-Shot-2017-05-09-at-12.28.08.png" alt="Guide: Kom igång med CC och GNU-GPL!">
										</div>
									</section>
								</div>
							</div>
						</aside>
					</div>
				</div>

				{{render '@share'}}
			</div>
		</div>
	</div>
</div>
