<nav class="a-main-menu">
	<ul class="a-main-menu__list">
		{{#each item}}
		<li {{#if hide_mobile}}class="u-hidden-mobile"{{/if}}>
			<a href="{{url}}" class="a-main-menu__list__link{{#if is_current}} is-current{{/if}}" {{#if has_expandable}}aria-expanded="false" aria-controls="{{controls}}"{{/if}}><span class="a-main-menu__list__text">{{text}}</span>{{#if icon}}{{> @icon id=icon}}{{/if}}</a>
		</li>
		{{/each}}
	</ul>
</nav>
