@charset 'UTF-8';

input[type='password'],
input[type='text'] {
	+ button.input-icon {
		border: 0;
		border-radius: 0;
		background: transparent;
		cursor: pointer;

		&:hover,
		&:focus {
			box-shadow: none !important;
		}
	}
}

input[type='password'] {
	+ button.input-icon {
		svg {
			fill: $color-granit;
		}
	}
}

input[type='text'] {
	+ button.input-icon {
		svg {
			fill: $color-cyberspace;
		}
	}
}
