@charset "UTF-8";
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;

input[type='password'],
input[type='text'] {
	+ button.#{var.$namespace}input-icon {
		border: 0;
		border-radius: 0;
		background: transparent;
		cursor: pointer;

		&:hover,
		&:focus {
			box-shadow: none !important;
		}
	}
}

input[type='password'] {
	+ button.#{var.$namespace}input-icon {
		svg {
			fill: colors.$color-granit;
		}
	}
}

input[type='text'] {
	+ button.#{var.$namespace}input-icon {
		svg {
			fill: colors.$color-cyberspace;
		}
	}
}
