@charset "UTF-8";
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;

input[type='password'],
input[type='text'] {
	+ button.#{v.$namespace}input-icon {
		border: 0;
		border-radius: 0;
		background: transparent;
		cursor: pointer;

		&:hover,
		&:focus {
			box-shadow: none !important;
		}
	}
}

input[type='password'] {
	+ button.#{v.$namespace}input-icon {
		svg {
			fill: c.$color-granit;
		}
	}
}

input[type='text'] {
	+ button.#{v.$namespace}input-icon {
		svg {
			fill: c.$color-cyberspace;
		}
	}
}
