@charset "UTF-8";
@use "sass:math";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../vendor/grid/breakpoints' as breakpoint;

$guide: #4bffff !default;
$rgba: rgba !default;

@include bem.b(grid-toggle) {
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 60px;
	height: 60px;
	border: 0;
	border-radius: 50%;
	background: colors.$color-ruby;
	color: colors.$color-snow;
	font-size: 0.7rem;
}

@include bem.b(baseline-grid) {
	height: 1000%;
	background-image: linear-gradient(to top, $guide 0, $guide 1px, transparent 1px);
	background-size: 100% math.div(1rem, 2);
}
