@charset 'UTF-8';

$spacing: rhythm(6);

@include organism(section) {
	position: relative;
	padding: $spacing / 1.5 0;

	@include m(white) {
		padding: $spacing 0;
		background-color: $color-snow;

		&::before,
		&::after {
			content: '';
			position: absolute;
			z-index: z_index(background);
			right: 0;
			left: 0;
			height: $spacing;
		}

		&::before {
			top: 0;
			background-image: linear-gradient(to right top, #fff 0, #fff 50%, #ededed 50.1%);
		}

		&::after {
			bottom: 0;
			background-image: linear-gradient(to left top, #ededed 0, #ededed 50%, #fff 50.1%);
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}

	@include bp-up(md) {
		padding: $spacing * 1.25 / 1.5 0;

		@include m('white') {
			padding: $spacing * 1.25 0;

			&::before,
			&::after {
				height: $spacing * 1.25;
			}
		}
	}

	@include bp-up(lg) {
		padding: $spacing * 1.5 / 1.5 0;

		@include m('white') {
			padding: $spacing * 1.5 0;

			&::before,
			&::after {
				height: $spacing * 1.5;
			}
		}
	}

	@include bp-up(xl) {
		padding: $spacing * 2 / 1.5 0;

		@include m('white') {
			padding: $spacing * 2 0;

			&::before,
			&::after {
				height: $spacing * 2;
			}
		}
	}

	@include e(content) {
		position: relative;
		z-index: z_index(middleground);

		@include m(rectangle-left) {
			&::after {
				content: '';
				position: absolute !important; // Stupid IE11 bug requires this
				z-index: z_index(middleground);
				top: 0;
				left: 0;
				width: rem(575px);
				height: rem(575px);
				transform: translate(calc(-100% - #{rem(20px)}), -50%) rotate(-20deg);
				transform-origin: right bottom;
				background-color: $color-peacock;
			}
		}

		@include m(rectangle-right) {
			&::after {
				content: '';
				position: absolute !important; // Stupid IE11 bug requires this
				z-index: z_index(middleground);
				top: 0;
				right: 0;
				width: rem(450px);
				height: rem(166px);
				transform: translate(calc(100% + #{rem(20px)}), 50%) rotate(20deg);
				transform-origin: left bottom;
				background-color: $color-ruby;
			}
		}
	}
}
