@charset 'UTF-8';

@use "sass:math";

$spacing: rhythm(6);

@include organism(section) {
	position: relative;
	padding: math.div($spacing, 1.5) 0;
	background-color: var(--ash-color);

	@include m(white) {
		padding: $spacing 0;
		background-color: var(--snow-color);

		&::before,
		&::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			height: $spacing;
		}

		&::before {
			top: 0;
			background-image: linear-gradient(to right top, var(--snow-color) 0, var(--snow-color) 50%, var(--ash-color) 50.1%);
		}

		&::after {
			bottom: 0;
			background-image: linear-gradient(to left top, var(--ash-color) 0, var(--ash-color) 50%, var(--snow-color) 50.1%);
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}

	@include bp-up(md) {
		padding: math.div($spacing * 1.25, 1.5) 0;

		@include m('white') {
			padding: $spacing * 1.25 0;

			&::before,
			&::after {
				height: $spacing * 1.25;
			}
		}
	}

	@include bp-up(lg) {
		padding: math.div($spacing * 1.5, 1.5) 0;

		@include m('white') {
			padding: $spacing * 1.5 0;

			&::before,
			&::after {
				height: $spacing * 1.5;
			}
		}
	}

	@include bp-up(xl) {
		padding: math.div($spacing * 2, 1.5) 0;

		@include m('white') {
			padding: $spacing * 2 0;

			&::before,
			&::after {
				height: $spacing * 2;
			}
		}
	}

	@include e(content) {
		position: relative;
		z-index: z_index(background);

		@include m(peacock) {
			::selection {
				background-color: $color-peacock-light;
			}

			::-moz-selection {
				background-color: $color-peacock-light;
			}
		}

		@include m(jade) {
			::selection {
				background-color: $color-jade-light;
			}

			::-moz-selection {
				background-color: $color-jade-light;
			}
		}

		@include m(rectangle-left) {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: to_rem(575px);
				height: to_rem(575px);
				transform: translate(calc(-100% - #{to_rem(20px)}), -50%) rotate(-20deg);
				transform-origin: right bottom;
				background-color: $color-peacock;
			}

			// Hide in IE11
			*::-ms-backdrop,
			&::after {
				display: none;
			}
		}

		@include m(rectangle-right) {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				z-index: 2;
				width: to_rem(450px);
				height: to_rem(166px);
				transform: translate(calc(100% + #{to_rem(20px)}), 50%) rotate(20deg);
				transform-origin: left bottom;
				background-color: $color-ruby;
			}

			// Hide in IE11
			*::-ms-backdrop,
			&::after {
				display: none;
			}
		}
	}
}
