<div>
	{{#each sections}}
	<section class="o-section{{#if type}} o-section--{{type}}{{/if}}">
		<div class="wrapper o-section__content {{#if modifier}} o-section__content--{{modifier}}{{/if}}">
			<h1>{{heading}}</h1>
			<p>{{text}}</p>
		</div>
	</section>
	{{/each}}
</div>
