<div class="site__main" id="siteMain">
	<div class="site__main__content">
		<div class="wrapper">
			<div class="row justify-content-center">
				<div class="grid-18">
					<div class="section section--tight">
						<div class="row">
							<div class="grid-18 grid-lg-12">
								<main role="main" class="article">
									<h1 class="supersize">Internetstiftelsens tonalitet och språkbruk</h1>

									<div class="article__content">
										<p class="preamble">Tonaliteten är Internetstiftelsens röst och speglar hur vi vill uppfattas. Det handlar om vilka ord vi väljer och sättet vi komponerar meningar på. Vi strävar alltid efter att skriva tydligt och korrekt.</p>
										<p>Eftersom vi vill inkludera alla och dela med oss av vår kunskap, vill vi att alla ska förstå och tycka att vi skriver på ett lättförståeligt sätt. Därför ska språket vara enkelt och rakt på sak, motsatsen till byråkratiskt. Personliga manér ska inte finnas på Internetstiftelsens webbplats men ibland kan det finnas rum för det i annan extern kommunikation – situationen avgör. För att uppfylla kraven vi har på oss själva är det viktigt att alla förmedlar samma tonalitet genom ett gemensamt språkbruk. Därför har vi några enkla riktlinjer.</p>
										<h2>Skriv enkelt, kort och konkret</h2>
										<p>Skriv raka meningar och förklara svåra begrepp, till exempel alla facktermer som vi är vana vid men inte alla i vår omvärld. Ett exempel på en rak mening är: “Internetstiftelsen anordnar ett seminarium där vi berättar om hur domännamnssystemet, DNS, fungerar”. Jämför med meningen: “Hur DNS fungerar kommer Internetstiftelsen att berätta under ett seminarium”. I den andra meningen har vi inte använt rak ordföljd och inte heller förklarat vad förkortningen DNS är. Det blir följaktligen svårare att förstå vad vi menar.</p>
										<p>Använd aktiva verbformer, till exempel “Internetstiftelsen anordnar...”, “Tjänsten ger...” etcetera. Använd svenska begrepp – inte svengelska, till exempel “publiceringsverktyg” istället för “CMS”.</p>
										<p>Använd vardagligt språk. Vi skriver “ska”, aldrig “skall”. Vi skriver “du” och “ni” med gemen (liten) begynnelsebokstav. Vi använder “du” i tilltal, inte “ni” om det inte avser en grupp personer.</p>
										<h2>Tilltal</h2>
										<p>Tala till läsaren, inte om läsaren. Skriv det som är relevant för läsaren och situationen. Begränsa alltså informationen till det viktiga – utelämna onödiga detaljer. Var inkluderande och undvik att ta saker för givet när det gäller vem läsaren är. Det gäller till exempel läsarens erfarenheter, åsikter, kön och identitet. Utgå inte heller från att läsaren använder en viss typ av enhet när de använder internet.</p>
										<h2>Förkortningar</h2>
										<p>Vi skriver ut förkortningar som “till exempel” och “etcetera”, vi skriver inte “t ex” och “etc”. Vissa vedertagna förkortningar går dock bra att använda. Förkortningen “app” är så pass vedertagen att förkortningen är att föredra framför “applikation” som lätt uppfattas som omständlig. Ibland kan det då vara lämpligt att ge en kortare förklaring: ”App, eller applikation som det är en förkortning av, är helt enkelt ett program som man installerar på sin mobiltelefon. Begreppet appar började användas mer omfattande 2008, när Apple lanserade App Store till Iphone, som är en programbutik för Apples mobiltelefon.”</p>
										<p>Initialförkortningar som utläses som ett ord skrivs med stor begynnelsebokstav och därefter gemener, till exempel: Nato, Dagab, Stim. Initialförkortningar som utläses bokstav för bokstav brukar traditionellt skrivas med versaler för att läsaren ska få en signal om att förkortningen ska utläsas bokstav för bokstav, till exempel: SKF, USA, TCO, MSB.</p>
										<p>Undantaget är om förkortningen anses vara så vanligt förekommande att den är vedertagen. Exempelvis skriver vi inte "IT", "TV" och "WIFI" utan "it", "tv" och "wifi". Det är förstås viktigt att ta ställning till om en initialförkortning är tillräckligt välkänd och blir tillräckligt tydlig för läsaren när den skrivs med små bokstäver. Vet man inte hur det förhåller sig eller om bruket varierar, skriv med stora bokstäver.</p>
										<h2>Skriv ut siffror under tolv</h2>
										<p>Vi skriver ut siffror under tolv med bokstäver i brödtext. I texter med mycket siffror kan man göra undantag för att det ska bli tydligare, till exempel i en ekonomisk redovisning.</p>
										<h2>Svenska ord och uttryck</h2>
										<p>I största möjliga mån ska vi använda svenska ord och uttryck. Exempelvis skriver vi “webbläsare”, aldrig “browser”; “e-post” eller “mejl”, aldrig “e-mail” eller “mail”. Vi skriver heller aldrig “e-brev”. Ordet “e-post” syftar på tjänsten e-post och vi skriver därmed aldrig “ett e-post”. Utan vi skriver “ett e-postmeddelande” eller “ett mejl”. Som verb använder vi “e-posta” eller “mejla”.</p>
										<h2>Korrekt begreppsanvändning</h2>
										<p>På Internetstiftelsen benämner vi webben med ordet “webben” (alltid gement). Aldrig “web” (engelsk stavning), “www” eller “World Wide Web”. Det är viktigt att vi använder ordet “webb” och “internet” korrekt och inser att de inte är synonymer. Vi skriver “webbplats” eller den lite vardagligare benämningen “sajt”, inte “hemsida”. Vi använder inte “hemsida” eftersom det kan syfta på en webbplats startsida och därför skriver vi den mer precisa termen “webbplats”. Vi skriver "internet" och "nätet" med gemen (liten) begynnelsebokstav, inte “Internet” och "Nätet".</p>
										<h2>Produktnamn och företagsnamn</h2>
										<p>Vi följer i möjligaste mån svenska skriftnormer och normaliserar namn som avviker, exempel genom att ha en versal mitt i ordet. Vi undviker stavningssätt som kan uppfattas som textreklam och använder inte företags logotyper eller motsvarande i löpande text. Vi skriver exempelvis inte MatXtra, BankID och YouTube, utan Matextra, Bank-id och Youtube. Vi skriver inte iPhone och iCloud utan Iphone och Icloud.</p>
										<h2>Beskriva Internetstiftelsen</h2>
										<p>När vi pratar om oss själva skriver vi alltid Internetstiftelsen (med stort I). På engelska är motsvarande “The Swedish Internet Foundation”. Vi talar enbart om Internetstiftelsen och använder ingen förkortning. När vi uttrycker genitiv (som beskriver ägande) skriver vi Internetstiftelsens. På engelska är motsvarigheten The Swedish Internet Foundation's.</p>
										<h2>Resurser</h2>
										<p>Vi utgår från TT-språket som grund för våra texter, och Svenska datatermgruppen för specifika tekniska termer. Se dessa för vägledning.</p>
										<p>TT-språket är en samling skrivregler, ord och begrepp till hjälp för alla som skriver. Reglerna är utformade för TT:s egna medarbetare, men de följs i stor utsträckning av svenska medier och av personer som gillar språk.<br><a href="https://tt.se/tt-spraket/" target="_blank">https://tt.se/tt-spraket/</a></p>
										<p>Svenska datatermgruppen är en brett sammansatt grupp som ger rekommendationer om hur aktuella datatermer bör hanteras på svenska.<br><a href="http://dataterm.termado.net" target="_blank">http://dataterm.termado.net</a></p>
										<p>En bra resurs är också Språkrådets klarspråksarbete. Klarspråk är myndighetstexter skrivna på ett vårdat, enkelt och begripligt språk. Språkrådet arbetar med att främja klarspråk på myndigheter, kommuner, regioner, universitet, organisationer och företag.<br><a href="https://www.isof.se/sprak/klarsprak.html" target="_blank">https://www.isof.se/sprak/klarsprak.html</a></p>
									</div>
								</main>
							</div>
							<div class="grid-18 grid-lg-6">
								<aside class="sidebar u-position-sticky-top-4">
									<div class="row">
										<div class="grid-18 grid-md-9 grid-lg-18 u-m-b-2">
											<section class="m-card m-card--padded">
												<div class="m-card__content">
													<h1 class="beta">Brandbook</h1>
													<div class="textwidget">
														<dl>
															<dt>Internetstiftelsen</dt>
															<dd class="u-m-l-0">
																<ol class="u-list-clean u-p-l-2">
																	<li><a href="/components/preview/identitet.html" class="u-link">Identitet</a></li>
																	<li><a href="/components/preview/bildmaner.html" class="u-link">Bildmanér</a></li>
																	<li><a href="/components/preview/tonalitet-och-sprakbruk.html" class="u-link"><strong>Tonalitet och språkbruk</strong></a></li>
																</ol>
															</dd>
															<dd class="u-m-l-0">
																<ol class="u-list-clean">
																	<li><a href="/components/preview/goto10.html" class="u-link">Goto 10</a></li>
																</ol>
															</dd>
														</dl>
													</div>
												</div>
											</section>
										</div>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
