@charset 'UTF-8';

label,
.label-legend {
	display: inline-block;
	margin-bottom: rhythm(0.5);
	font-family: $font-family-headings;
	font-size: rem(16px);
	cursor: pointer;

	&.is-required {
		&::after {
			content: '*';
			color: $color-ruby;
		}
	}
}
