@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;


.js {
	@include mixin.atom(file) {
		@extend %u-visuallyhidden;

		&:focus {
			@extend %input-focus;
		}

		&.has-icon {
			padding-right: rhythm(5);
		}

		&[disabled] {
			@extend %disabled;
		}

		@include bem.m(discreet) {
			@extend %discreet;
		}
	}

	@include mixin.atom(file-text) {
		width: auto;
		max-width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@include mixin.atom(file-preview) {
		position: relative;
		width: 100%;
		height: to_rem(169px);
		margin-bottom: rhythm(1);
		overflow: hidden;
		border-radius: var.$border-radius;
		background-color: colors.$color-concrete;

		&::after {
			content: attr(data-label);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: var.$size-medium;
		}

		> img {
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;

			&[src=''],
			&[src='null'] {
				display: none;
			}
		}

		@include breakpoint.bp-up(sm) {
			max-width: to_rem(300px);
		}
	}
}
