@charset "UTF-8";
@use "sass:color";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/baseline/plumber' as plumber;

@include mixin.atom(textarea) {
	@extend %input;

	min-width: 100%;
	max-width: 100%;
	min-height: func.rhythm(12);

	&:focus {
		@extend %input-focus;
	}

	&[disabled] {
		@extend %disabled;
	}

	@include bem.m(discreet) {
		@extend %discreet;
	}

	@include bem.m(hidden) {
		@include mixin.visuallyhidden;

		min-height: 0;
		min-width: 0;
		width: 100%;
		padding: 0;
	}

	@include bem.m(rich-text) {
		min-height: auto;

		> div {
			min-height: func.rhythm(12);

			p,
			ul,
			ol {
				@include plumber.plumber(
					$font-size: 1.75,
					$leading-bottom: 2
				);
			}

			li p {
				display: inline;
			}
		}
	}

	@include bem.e(toolbar) {
		button {
			@extend %button-toolbar;

			margin-right: func.rhythm(0.5);
			margin-bottom: func.rhythm(1);
		}
	}
}
