@charset 'UTF-8';

@include atom(textarea) {
	@extend %input;

	min-width: 100%;
	max-width: 100%;
	height: rhythm(14);

	&:focus {
		@extend %input-focus;
	}

	&[disabled] {
		@extend %disabled;
	}

	@include m(discreet) {
		@extend %discreet;
	}
}

.ql-editor {
	@extend %input;

	min-width: 100%;
	max-width: 100%;
	min-height: 100px;

	&:focus {
		@extend %input-focus;
	}

	&[disabled] {
		@extend %disabled;
	}

	p {
		font-size: rem(16px);
	}
}

.ql-toolbar {
	button {
		@extend %button-toolbar;

		margin-right: rhythm(0.5);
		margin-bottom: rhythm(1);
	}
}

.ql-clipboard {
	position: absolute;
	top: 50%;
	left: -100000px;
	height: 1px;
	overflow-y: hidden;
}
