@charset 'UTF-8';

@include atom(textarea) {
	@extend %input;

	min-width: 100%;
	max-width: 100%;
	min-height: rhythm(12);

	&:focus {
		@extend %input-focus;
	}

	&[disabled] {
		@extend %disabled;
	}

	@include m(discreet) {
		@extend %discreet;
	}

	@include m(rich-text) {
		min-height: auto;

		> div {
			min-height: rhythm(12);

			p,
			ul,
			ol {
				@include plumber(
					$font-size: 1.75,
					$leading-bottom: 2
				);
			}
		}
	}

	@include e(toolbar) {
		button {
			@extend %button-toolbar;

			margin-right: rhythm(0.5);
			margin-bottom: rhythm(1);
		}
	}
}
