<div class="field-group">
	{{> @label for="message" label="Meddelande" }}
	<textarea class="a-textarea" id="{{id}}" {{#if required}}required{{/if}} {{#if disabled}}disabled{{/if}} placeholder="{{placeholder}}" autocomplete="{{autocomplete}}"{{#if has_help}} aria-describedby="textarea-help"{{/if}} {{#if required}} aria-describedby="textarea-help"{{/if}}></textarea>
	{{#if has_help}}
	<div class="input-help" id="textarea-help">
		V채lj det som passar dig b채st
	</div>
	{{else if required}}
	<div class="input-help" id="textarea-help">
		F채tet 채r obligatoriskt
	</div>
	{{/if}}
</div>
