<div class="field-group">
	{{> @label for="message" label="Meddelande" }}
	<textarea class="a-textarea" id="{{id}}" {{#if required}}required{{/if}} {{#if disabled}}disabled{{/if}} placeholder="{{placeholder}}" autocomplete="{{autocomplete}}"></textarea>
</div>
