<div class="m-sticky-guide">
	<progress-ring class="m-sticky-guide__progressbar" stroke="4" radius="60" progress="70"></progress-ring>
	<img class="m-sticky-guide__image" src="/assets/images/sticky-guide.png" alt="Fortsätt den guidade turen">
</div>
