@charset 'UTF-8';

@include atom(mega-menu-button) {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	background-color: $color-ash;
	background-color: transparent;
	box-shadow: 0 0 0 1px inset transparent;
	color: $color-cyberspace;
	font-family: $font-family-mono;
	font-size: rem(13px);
	text-transform: uppercase;
	-webkit-appearance: none;

	@include e(icon) {
		width: rhythm(7);
		height: rhythm(7);
	}

	&::after {
		content: attr(data-label);
		display: block;
		width: 100%;
		transform: translateY(-#{rhythm(1)});
		text-align: center;
	}

	&:hover,
	&:focus {
		color: $color-ruby;

		svg {
			fill: currentColor;
		}
	}
}
