<button type="button" class="a-mega-menu-button {{js_class}}" data-label="{{text}}">
	{{> @icon id="hamburger" additional_classes="a-mega-menu-button__icon"}}
	<span class="u-visuallyhidden">{{description}}</span>
</button>
