@charset 'UTF-8';

/// @group Links
@include b(archive-link-wrapper) {
	padding: rhythm(2) 0;
	border-bottom: 1px solid $color-cyberspace;
}
@include atom(archive-link) {
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	border: 0;
	color: currentColor;
	font-family: $font-family-headings;
	text-decoration: none;
	hyphens: auto;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	@include e(text) {
		position: relative;
		top: -#{rhythm(0.2)};
		color: $color-cyberspace;
	}

	@include m(icon) {
		justify-content: space-between;
		max-width: rhythm(50);
		padding-right: rhythm(5);
		text-align: left;
	}

	@include e(icon) {
		width: $icon-size-small;
		height: $icon-size-small;
		margin-top: rem(3px);
		margin-left: rhythm(1);
		fill: currentColor;
	}
}
