@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;
@use '../../vendor/grid/grid' as grid;
@use '../../utilities/hide';

@include mixin.molecule(multi-select) {
	position: relative;

	&::before {
		@extend %u-visuallyhidden;

		content: var.$namespace;
	}

	@include bem.e(search) {
		position: relative;
	}

	@include bem.e(suggestions-box) {
		position: absolute;
		border-top: none;
		z-index: func.z_index(foreground);
		top: 100%;
		left: 0;
		right: 0;
		background-color: colors.$color-snow;
		overflow-y: auto;
		max-height: func.rhythm(15);
		border-bottom-left-radius: var.$border-radius;
		border-bottom-right-radius: var.$border-radius;

		@extend %box-shadow;
	}

	@include bem.e(suggestion-btn) {
		padding: func.rhythm(1);
		cursor: pointer;
		background-color: colors.$color-snow;
		border: none;
		border-bottom: 1px solid colors.$color-concrete;
		width: 100%;
		text-align: left;

		&:hover,
		&.autocomplete-active {
			background-color: colors.$color-ocean-dark;
			color: colors.$color-snow;
		}
	}

	@include bem.e(tag){
		margin-bottom: func.rhythm(1);
		background-color: colors.$color-ash;
		text-transform: none;
		font-size: var.$size-medium;

		&:hover,
		&:focus {
			background-color: colors.$color-ash;
			color: colors.$color-cyberspace;
		}
	}
}

/* Selected items container */
@include mixin.molecule(multi-select-selected-items) {
	margin-top: -#{func.rhythm(1)};
	padding: func.rhythm(2) func.rhythm(1) 0 func.rhythm(1);
	border: 1px solid #d4d4d4;
	background-color: colors.$color-concrete;
	border-bottom-left-radius: var.$border-radius;
	border-bottom-right-radius: var.$border-radius;

	&:empty {
		display: none;
	}

	@include bem.e(remove-btn) {
		margin-left: 5px;
		border: none;
		background-color: #d80000;
		color: white;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		width: var.$icon-size-small;
		height: var.$icon-size-small;
		position: relative;
		transform: translateX(func.rhythm(0.5));

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI4LjIuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSI4LDEwIDIsMTYgMCwxNCA2LDggMCwyIDIsMCA4LDYgMTQsMCAxNiwyIDEwLDggMTYsMTQgMTQsMTYgIi8+Cjwvc3ZnPgo=);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: calc(var.$icon-size-small / 2) calc(var.$icon-size-small / 2);
		}

		&:hover,
		&:focus {
			background-color: colors.$color-cyberspace;
		}
	}
}
