<div class="m-multi-select js-m-multi-select">
	<input type="text" class="search-input a-input js-m-multi-select__input" aria-controls="suggestionsBox" aria-autocomplete="list" aria-haspopup="true" role="combobox" placeholder="Search cities..." aria-label="Search cities" aria-describedby="multiSelectDescription"/>
	<div class="m-multi-select__suggestions-box js-m-multi-select-suggestions-box" role="listbox" aria-live="assertive" aria-atomic="true"></div>
	<ul id="selectedItemsContainer" class="selected-items-container" aria-live="assertive" aria-atomic="true"></ul>
	<div class="visually-hidden" id="multiSelectDescription">Use up and down arrows and enter to select items and tab and enter to remove items</div>
</div>
