<div class="m-multi-select js-m-multi-select" data-multi-select-name="cities">
	{{#if default_value}}
		<input type="hidden" name="cities[]" value="{{default_value}}">
	{{/if}}
	<div class="m-multi-select__search">
		<input type="search" class="a-input js-m-multi-select__input" data-multi-select-suggestions="suggestions" aria-expanded="false" aria-controls="multiSelectSuggestionsBox" aria-autocomplete="list" aria-haspopup="listbox" role="combobox" placeholder="Sök städer..." aria-label="Sök städer" aria-describedby="multiSelectDescription"/>
		<div class="m-multi-select__suggestions-box js-m-multi-select-suggestions-box" id="multiSelectSuggestionsBox" role="listbox" aria-live="assertive" aria-atomic="true"></div>
	</div>
	<ul class="m-multi-select-selected-items js-m-multi-select-selected-items" aria-live="assertive" aria-atomic="true" aria-multiselectable="true"></ul>
	<div class="u-visuallyhidden" id="multiSelectDescription">Använd upp och ner-pilarna för att lägga till sökträffar och tabb plus enter för att ta bort valda sökträffar</div>
</div>
{{#if add}}
	<form id="addMultiSelectItem" class="u-p-default background-snow">
		<input class="a-input" placeholder="City nam and enter">
	</form>
	<script>
		document.getElementById('addMultiSelectItem').addEventListener('submit', (e) => {
			e.preventDefault();
			const input = e.target.querySelector('input');
			const name = input.value;
			const select = document.querySelector('.js-m-multi-select');

			if (name) {
				select.multiSelect.addSuggestions([{ name, value: name }]);
				select.multiSelect.addItem({ name, value: name });
				input.value = '';
			}
		});
	</script>
{{/if}}

<script id="suggestions" type="application/json">
	[
		{
		"name":"New York",
		"value": "new-york"
		},
		{
		"name":"Los Angeles",
		"value": "los-angeles"
		},
		{
		"name":"Chicago",
		"value": "chicago"
		},
		{
		"name":"Houston",
		"value": "houston"
		},
		{
		"name":"Phoenix",
		"value": "phoenix"
		},
		{
		"name":"Philadelphia",
		"value": "philadelphia"
		},
		{
		"name":"San Antonio",
		"value": "san-antonio"
		},
		{
		"name":"San Diego",
		"value": "san-diego"
		},
		{
		"name":"Dallas",
		"value": "dallas"
		},
		{
		"name":"San Jose",
		"value": "san-jose"
		},
		{
		"name":"Austin",
		"value": "austin"
		},
		{
		"name":"Jacksonville",
		"value": "jacksonville"
		},
		{
		"name":"Fort Worth",
		"value": "fort-worth"
		},
		{
		"name":"Columbus",
		"value": "columbus"
		},
		{
		"name":"San Francisco",
		"value": "san-francisco"
		},
		{
		"name":"Tokyo",
		"value": "tokyo"
		},
		{
		"name":"Delhi",
		"value": "delhi"
		},
		{
		"name":"Shanghai",
		"value": "shanghai"
		},
		{
		"name":"Sao Paulo",
		"value": "sao-paulo"
		},
		{
		"name":"Mumbai",
		"value": "mumbai"
		},
		{
		"name":"Beijing",
		"value": "beijing"
		},
		{
		"name":"Cairo",
		"value": "cairo"
		},
		{
		"name":"Dhaka",
		"value": "dhaka"
		},
		{
		"name":"Mexico City",
		"value": "mexico-city"
		},
		{
		"name":"Osaka",
		"value": "osaka"
		},
		{
		"name":"Karachi",
		"value": "karachi"
		},
		{
		"name":"Chongqing",
		"value": "chongqing"
		},
		{
		"name":"Istanbul",
		"value": "istanbul"
		},
		{
		"name":"Buenos Aires",
		"value": "buenos-aires"
		},
		{
		"name":"Kolkata",
		"value": "kolkata"
		},
		{
		"name":"Kinshasa",
		"value": "kinshasa"
		},
		{
		"name":"Lagos",
		"value": "lagos"
		},
		{
		"name":"Manila",
		"value": "manila"
		},
		{
		"name":"Tianjin",
		"value": "tianjin"
		},
		{
		"name":"Rio de Janeiro",
		"value": "rio-de-janeiro"
		},
		{
		"name":"Guangzhou",
		"value": "guangzhou"
		},
		{
		"name":"Lahore",
		"value": "lahore"
		},
		{
		"name":"Moscow",
		"value": "moscow"
		},
		{
		"name":"Shenzhen",
		"value": "shenzhen"
		},
		{
		"name":"Bangalore",
		"value": "bangalore"
		},
		{
		"name":"Paris",
		"value": "paris"
		},
		{
		"name":"Bogota",
		"value": "bogota"
		},
		{
		"name":"Jakarta",
		"value": "jakarta"
		},
		{
		"name":"Chennai",
		"value": "chennai"
		},
		{
		"name":"Lima",
		"value": "lima"
		},
		{
		"name":"Bangkok",
		"value": "bangkok"
		},
		{
		"name":"Seoul",
		"value": "seoul"
		},
		{
		"name":"Nagoya",
		"value": "nagoya"
		},
		{
		"name":"Hyderabad",
		"value": "hyderabad"
		},
		{
		"name":"London",
		"value": "london"
		},
		{
		"name":"Tehran",
		"value": "tehran"
		},
		{
		"name":"Chengdu",
		"value": "chengdu"
		},
		{
		"name":"Nanjing",
		"value": "nanjing"
		},
		{
		"name":"Wuhan",
		"value": "wuhan"
		},
		{
		"name":"Ho Chi Minh City",
		"value": "ho-chi-minh-city"
		},
		{
		"name":"Luanda",
		"value": "luanda"
		},
		{
		"name":"Ahmedabad",
		"value": "ahmedabad"
		},
		{
		"name":"Kuala Lumpur",
		"value": "kuala-lumpur"
		},
		{
		"name":"Xi’an",
		"value": "xi-an"
		},
		{
		"name":"Hong Kong",
		"value": "hong-kong"
		},
		{
		"name":"Dongguan",
		"value": "dongguan"
		},
		{
		"name":"Hangzhou",
		"value": "hangzhou"
		},
		{
		"name":"Foshan",
		"value": "foshan"
		},
		{
		"name":"Shenyang",
		"value": "shenyang"
		},
		{
		"name":"Riyadh",
		"value": "riyadh"
		},
		{
		"name":"Baghdad",
		"value": "baghdad"
		},
		{
		"name":"Santiago",
		"value": "santiago"
		},
		{
		"name":"Surat",
		"value": "surat"
		},
		{
		"name":"Madrid",
		"value": "madrid"
		},
		{
		"name":"Suzhou",
		"value": "suzhou"
		},
		{
		"name":"Pune",
		"value": "pune"
		},
		{
		"name":"Harbin",
		"value": "harbin"
		},
		{
		"name":"Houston",
		"value": "houston"
		},
		{
		"name":"Toronto",
		"value": "toronto"
		},
		{
		"name":"Dar es Salaam",
		"value": "dar-es-salaam"
		},
		{
		"name":"Miami",
		"value": "miami"
		},
		{
		"name":"Belo Horizonte",
		"value": "belo-horizonte"
		},
		{
		"name":"Singapore",
		"value": "singapore"
		},
		{
		"name":"Atlanta",
		"value": "atlanta"
		},
		{
		"name":"Fukuoka",
		"value": "fukuoka"
		},
		{
		"name":"Khartoum",
		"value": "khartoum"
		},
		{
		"name":"Barcelona",
		"value": "barcelona"
		},
		{
		"name":"Johannesburg",
		"value": "johannesburg"
		},
		{
		"name":"Saint Petersburg",
		"value": "saint-petersburg"
		},
		{
		"name":"Qingdao",
		"value": "qingdao"
		},
		{
		"name":"Dalian",
		"value": "dalian"
		},
		{
		"name":"Washington, D.C.",
		"value": "washington-dc"
		},
		{
		"name":"Yangon",
		"value": "yangon"
		},
		{
		"name":"Alexandria",
		"value": "alexandria"
		},
		{
		"name":"Jinan",
		"value": "jinan"
		},
		{
		"name":"Guadalajara",
		"value": "guadalajara"
		},
		{
		"name":"Sydney",
		"value": "sydney"
		},
		{
		"name":"Melbourne",
		"value": "melbourne"
		},
		{
		"name":"Montreal",
		"value": "montreal"
		},
		{
		"name":"Ankara",
		"value": "ankara"
		},
		{
		"name":"Recife",
		"value": "recife"
		},
		{
		"name":"Durban",
		"value": "durban"
		},
		{
		"name":"Porto Alegre",
		"value": "porto-alegre"
		},
		{
		"name":"Dusseldorf",
		"value": "dusseldorf"
		},
		{
		"name":"Hamburg",
		"value": "hamburg"
		},
		{
		"name":"Cape Town",
		"value": "cape-town"
		},
		{
		"name":"Stockholm",
		"value": "stockholm"
		}
	]
</script>
