@charset "UTF-8";
@use 'sass:meta';
@use 'colors' as c;

/// Get a shaded version of a color
/// @group Colors
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

/// Get a tinted version of a color
/// @group Colors
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

/// @group Colors
$colors: (
	black: c.$color-black,
	snow: c.$color-snow,
	cyberspace: c.$color-cyberspace,
	dark: c.$color-dark,
	granit: c.$color-granit,
	concrete: c.$color-concrete,
	ash: c.$color-ash,
	ruby: (
		base: c.$color-ruby,
		light: c.$color-ruby-light,
		dark: c.$color-ruby-dark,
		medium-dark: c.$color-ruby-medium-dark
	),
	peacock: (
		base: c.$color-peacock,
		light: c.$color-peacock-light,
		dark: c.$color-peacock-dark,
		medium-dark: c.$color-peacock-medium-dark
	),
	jade: (
		base: c.$color-jade,
		light: c.$color-jade-light,
		dark: c.$color-jade-dark,
		medium-dark: c.$color-jade-medium-dark
	),
	sandstone: (
		base: c.$color-sandstone,
		light: c.$color-sandstone-light,
		dark: c.$color-sandstone-dark,
		medium-dark: c.$color-sandstone-medium-dark
	),
	lemon: (
		base: c.$color-lemon,
		light: c.$color-lemon-light,
		dark: c.$color-lemon-dark,
		medium-dark: c.$color-lemon-medium-dark
	),
	ocean: (
		base: c.$color-ocean,
		light: c.$color-ocean-light,
		dark : c.$color-ocean-dark,
		medium-dark: c.$color-ocean-medium-dark
	)
);

/// Generate color values on attributes e.g @include color_values(c.$colors, 'color', $separator: '-');
/// Generates this: color: color-name;
/// @group Colors
@mixin color_values($map, $attribute, $prefix: '-', $separator: '-', $base: 'base') {
	@each $key, $value in $map {
		&#{if($key != $base, #{$prefix}#{$key}, '')} {
			@if meta.type-of($value) == 'map' {
				@include color_values($value, $attribute, $separator);
			}
			@else {
				#{$attribute}: $value !important;
			}
		}
	}
}

/// Generate color classes with attribute and value and pass optional nested element e.g @include color_classes ($map: c.$colors,$prefix: '-',$attribute: 'fill',$element: 'svg');
/// Generates this: element.color-name element {fill: color-name}
/// @group Colors
@mixin color_classes($map, $attribute, $prefix: '', $separator: '.', $base: 'base', $element: '') {
	@each $key, $value in $map {
		&#{if($key != $base, #{$separator}#{$key}, '')} {
			@if meta.type-of($value) == 'map' {
				@include color_classes($value, $attribute, $prefix: '.', $separator: '-', $element:  $element);
			}
			@else {
				@if ($element != '') {
					#{$element} {
						#{$attribute}: $value;
					}
				}

				@else {
					#{$attribute}: $value;
				}
			}
		}
	}
}

/// Generate wordpress color classes with attribute and value
/// Generates this: .has-colorname-color
/// @group Colors
@mixin wordpress_color_classes($map, $attribute,  $separator: '-', $suffix: '', $base: 'base') {
	@each $key, $value in $map {
		@if meta.type-of($value) == 'map' {
			&#{if($key != $base, #{$separator}#{$key}, '')} {
				@include wordpress_color_classes($value, $attribute, $separator, '-color');
			}
		}
		@else {
			&#{if($key != $base, #{$separator}#{$key}, '')}#{$suffix} {
				#{$attribute}: $value;
			}
		}
	}
}
