@charset "UTF-8";
@use 'colors-functions' as colorFunc;

// Generate wordpress color classes e.g. .has-ruby-color
/// @group Colors
.has {
	@include colorFunc.wordpress_color_classes (
		colorFunc.$colors,
		$attribute: 'color',
		$separator: '-',
		$suffix: '-color'
	);
}
