@charset "UTF-8";

// Generate wordpress color classes e.g. .has-ruby-color
/// @group Colors
.has {
	@include wordpress_color_classes (
		$colors,
		$attribute: 'color',
		$separator: '-',
		$suffix: '-color'
	);
}
