{{> '@filter'}}
{{render '@service-product--list'}}
<div class="a-paging-wrapper">
	<a href="#" class="a-paging">
		<span class="u-visuallyhidden">Föregående sida</span>
		<svg class="icon a-paging__icon">
			<use xlink:href="#icon-arrow-backwards"></use>
		</svg>
	</a>
	<span class="a-paging-wrapper__text">sida 1 av 11</span>
	<a href="#" class="a-paging">
		<span class="u-visuallyhidden">Nästa sida</span>
		<svg class="icon a-paging__icon">
			<use xlink:href="#icon-arrow-forwards"></use>
		</svg>
	</a>
</div>