@include organism(search) {
	border-radius: $border-radius;
	background-color: $color-snow;

	@include e(padded) {
		padding: rhythm(2);
	}

	@include e(border) {
		border-top: 1px solid $color-concrete;
	}

	@include e(icon) {
		display: flex;
		flex-grow: 0;
		width: $icon-size;
		height: $icon-size;
		margin-right: rhythm(2);

		svg {
			fill: $color-snow;
		}
	}

	@include e(status) {
		background-color: $color-jade-light;
		font-family: $font-family-mono;
		font-size: rem($size-medium-plus);
		text-transform: uppercase;
	}

	@include e(input) {
		display: block;
		width: calc(100% - #{rhythm(2)});
		margin-right: rhythm(2);
		padding: rhythm(1) rhythm(2);
		transition: padding 0.25s ease-out;
		border: 0;
		border-radius: $border-radius;
		background-color: lighten($color-ash, 4%);
		letter-spacing: -0.1px;
		-webkit-appearance: none;

		&:focus {
			background-color: $color-snow;
		}

		+ [aria-live] {
			width: calc(100% - #{rhythm(2)});
		}

		@include m(force-focus-look) {
			background-color: lighten($color-ash, 4%);

			&:focus {
				background-color: lighten($color-ash, 4%);
			}
		}
	}

	@include e(submit) {
		flex-shrink: 0;
		padding-right: rhythm(4);
		padding-left: rhythm(4);
	}

	@include bp-down(sm) {
		@include e(submit) {
			padding: rhythm(0.6) rhythm(1);
			font-size: rem($size-small);
		}
	}

	@include m(tight) {
		@include e(submit) {
			padding: rhythm(0.6) rhythm(1);
			font-size: rem($size-small);

			@include bp-up(sm) {
				padding-right: rhythm(3);
				padding-left: rhythm(3);
				font-size: $size-base;
			}
		}

		@include e(icon) {
			width: $icon-size;
			height: $icon-size;
		}

		@include e(input) {
			padding: rhythm(1) rhythm(2);
			font-size: $size-base;
		}
	}
}
