@charset "UTF-8";

@include organism(hero) {
	@include m(dynamic-headline) {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		overflow: visible;
		border-radius: 0;

		@include e(image) {
			max-height: none;
			min-height: 0;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;

			@include bp-up(xxl) {
				object-position: 50% 50%;
			}
		}

		@include e(caption) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: rhythm(3);
			background-image: none;
			position: static;
			z-index: auto;
			color: $color-snow;

			> h1 {
				--minFontSize: 22px;
				--maxFontSize: 200px;
				--scaler: 10vw;

				font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
				font-family: $font-family-bold;
				margin: 0;
				padding: 0;
				line-height: 1.2;
			}

			@include bp-up(sm-xs) {
				padding: rhythm(4);
			}

			@include bp-up(sm) {
				padding: rhythm(5);
			}

			@include bp-up(md) {
				padding: rhythm(7);
			}

			@include bp-up(lg) {
				padding: rhythm(8);
			}

			@include bp-up(xl) {
				padding: rhythm(10);
			}

			&::before {
				display: block;
				content: attr(data-meta);
				font-family: $font-family-mono;
				font-size: 14px !important;
				text-transform: uppercase;

				@include bp-up(sm-xs) {
					margin-left: rhythm(0.5);
				}

				@include bp-up(md) {
					font-size: 18px !important;
					margin-left: rhythm(1);
				}

				@include bp-up(lg) {
					font-size: 20px !important;
				}

				@include bp-up(xl) {
					font-size: 22px !important;
				}

				@include bp-up(xxl) {
					font-size: 24px !important;
					margin-left: rhythm(2);
				}
			}
		}

		@include e(button-continue) {
			position: relative;
			z-index: z_index(middleground);
			align-self: center;
			transform: scale(1) translateY(0);
			animation: pulse infinite 1.5s ease;
			will-change: transform;

			@include bp-up(sm) {
				animation: pulse2 infinite 1.5s ease;
			}

			@include bp-up(xl) {
				animation: pulse3 infinite 1.5s ease;
			}
		}

		@keyframes pulse {
			0% {
				transform: translateY(0);
			}

			50% {
				transform: translateY(-25%);
			}

			100% {
				transform: translateY(0);
			}
		}

		@keyframes pulse2 {
			0% {
				transform: translateY(0) scale(2);
			}

			50% {
				transform: translateY(-25%) scale(2);
			}

			100% {
				transform: translateY(0) scale(2);
			}
		}

		@keyframes pulse3 {
			0% {
				transform: translateY(0) scale(3);
			}

			50% {
				transform: translateY(-25%) scale(3);
			}

			100% {
				transform: translateY(0) scale(3);
			}
		}


	}
}
