@charset 'UTF-8';

@include organism(hero) {
	position: relative;
	z-index: z_index(background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// IE11 Fix
	*::-ms-backdrop,
	[class*='image'] {
		max-height: none !important;
	}

	@include bp-up(sm) {
		overflow: hidden;
		background-color: transparent;
	}

	@include e(image) {
		display: block;
		object-fit: cover;
		width: 100%;
		border-radius: $border-radius;

		@include bp-up(sm) {
			min-height: rem(500px);
			max-height: 50vh;
			border-radius: 0;
		}
	}

	@include e(caption) {
		display: flex;
		align-items: flex-end;
		padding: rhythm(2) 0;
		background-image: none;

		@include bp-up(sm) {
			position: absolute;
			z-index: z_index(middlegroundImportant);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: rhythm(4);
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba($color-black, 0) 55%, rgba($color-black, 1) 100%);
			text-shadow: $text-shadow;
		}

		@include bp-up(md) {
			padding: rhythm(6);
		}

		@include bp-up(lg) {
			padding: rhythm(8);
		}
	}

	@include e(paragraph) {
		@include plumber(
			$font-size: 2.5,
			$line-height: 3
		);
	}

	@include e(tags) {
		margin-top: rhythm(2);

		@include bp-up(lg) {
			margin-top: rhythm(3);
		}
	}

	@include e(buttons) {
		display: flex;
		flex-direction: column;
		margin: -#{rhythm(1)} 0 0 -#{rhythm(3)};

		@include atom(button) {
			margin: rhythm(1) 0 0 rhythm(3);
		}

		@include bp-up(sm) {
			flex-direction: row;
		}
	}

	@include e(text) {
		:last-child {
			margin-bottom: 0;
		}

		@include bp-up(sm) {
			color: $color-snow;
		}

		@include bp-up(md) {
			max-width: 100%;
		}

		@include bp-up(lg) {
			max-width: 70%;
		}

		@include bp-up(xxl) {
			max-width: 60%;
		}
	}

	@include b(a-tag) {
		@include tag;

		@include bp-up(sm) {
			@include tag-light;
		}
	}

	@include e(link) {
		color: $color-cyberspace;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0,;
			bottom: 0;
			left: 0;
			cursor: pointer;
		}

		> p {
			@include plumber(
				$font-size: 2.5,
				$line-height: 3
			);
		}

		@include bp-up(sm) {
			color: $color-snow;
		}
	}

	// Hero without image
	@include m(no-image) {
		background-color: transparent;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;

		@include e(caption) {
			position: static;
			background-image: none;
			text-shadow: none;
		}

		@include e(link) {
			color: $color-cyberspace;
		}

		@include e(text) {
			color: $color-cyberspace;
		}

		@include b(a-tag) {
			@include tag;
		}

		@include bp-up(md) {
			@include e(text) {
				max-width: 85%;
			}
		}

		@include bp-up(lg) {
			@include e(text) {
				max-width: 67%;
			}
		}
	}

	// Hero with earlier mobile breakpoint
	@include m(break-early) {
		@include e(caption) {
			@include bp-up(sm) {
				position: static;
				padding: rhythm(2) 0;
			}

			@include bp-up(md) {
				padding: rhythm(3) rhythm(1);
			}

			@include bp-up(xxl) {
				position: absolute;
				z-index: z_index(middlegroundImportant);
				top: 50%;
				right: 0;
				bottom: auto;
				left: 0;
				padding: rhythm(4);
				transform: translateY(-50%);
				background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba($color-black, 0) 55%, rgba($color-black, 1) 100%);
				text-shadow: 0 0 rhythm(2) rgba($color-black, 0.5);
			}
		}

		@include e(text) {
			max-width: 100%;

			@include bp-up(xl) {
				max-width: 70%;
			}

			@include bp-up(xxl) {
				max-width: 50%;
			}
		}

		@include e(link) {
			color: $color-cyberspace;
			text-shadow: none;

			@include bp-up(xxl) {
				color: $color-snow;
				text-shadow: 0 0 rhythm(2) rgba($color-black, 0.5);
			}
		}

		@include b(a-tag) {
			@include tag;

			@include bp-up(xxl) {
				@include tag-light;
			}
		}
	}

	// Hero without darkened caption
	@include m(clean) {
		@include e(caption) {
			background: none;
		}
	}

	// Hero with border-radius
	@include m(border-radius) {
		border-radius: $border-radius;

		@include bp-up(md) {
			@include e(text) {
				max-width: 100%;

				.supersize {
					@include plumber(
						$font-size: 4.5,
						$line-height: 5,
						$leading-bottom: 1
					);
				}
			}
		}

		@include bp-up(lg) {
			@include e(text) {
				max-width: 90%;
			}
		}

		@include bp-up(xxl) {
			@include e(text) {
				.supersize {
					@include plumber(
						$font-size: 5.5,
						$line-height: 7,
						$leading-bottom: 1
					);
				}
			}
		}

		@include bp-up(xxl) {
			@include e(text) {
				max-width: 80%;

				.supersize {
					@include plumber(
						$font-size: 7,
						$line-height: 8,
						$leading-bottom: 2
					);
				}
			}
		}
	}

	// Hero with video
	@include m(video) {
		margin-top: rem(20px);
		padding-top: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		@include bp-up(lg) {
			margin-top: rhythm(4);
		}
	}

	// Event
	@include m(event) {
		width: 100%;

		@include e(content) {
			padding: rhythm(2) rhythm(3);

			@include bp-up(sm) {
				padding: rhythm(4) rhythm(6);
			}

			@include e(icon) {
				position: relative;
				width: $icon-size-medium;
				height: $icon-size-medium;
				margin-left: rhythm(0.5);
				transform: translateY(rem(1px));
				fill: currentColor;

				@include m(external) {
					width: $icon-size-smallest;
					height: $icon-size-smallest;
				}
			}
		}

		@include e(text) {
			margin-bottom: 0;
			color: $color-cyberspace;
		}

		@include e(spacer) {
			display: inline-flex;
			margin-right: rhythm(1);
		}
	}
}
