@charset 'UTF-8';

@include organism(hero) {
	position: relative;
	z-index: 1;
	background-color: $color-granit;

	@include bp-up(sm) {
		background-color: $color-ruby;
	}

	@include e(image) {
		display: block;
		object-fit: cover;
		width: 100%;
		max-height: 765px;
	}

	@include e(caption) {
		display: flex;
		align-items: flex-end;
		padding: rhythm(4);
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba($color-black, 0) 55%, rgba($color-black, 0.5) 100%);
		text-shadow: 0 0 rhythm(2) rgba($color-black, 0.5);

		@include bp-up(sm) {
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: rhythm(4) rhythm(8);
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba($color-black, 0) 55%, rgba($color-black, 1) 100%);
		}

		@include bp-up(lg) {
			padding: rhythm(8);
		}
	}

	@include e(text) {
		color: $color-snow;

		@include bp-up(md) {
			max-width: 80%;
		}

		@include bp-up(lg) {
			max-width: 65%;
		}

		@include bp-up(xl) {
			max-width: 50%;
		}
	}

	@include e(link) {
		color: $color-snow;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0,;
			bottom: 0;
			left: 0;
			cursor: pointer;
		}
	}
}
