<figure class="o-hero">
	<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
	<img src="/assets/images/tiny-hero.png" alt="hero" class="o-hero__tiny">
	<figcaption class="o-hero__caption">
		<div class="o-hero__text">
			<a href="#" class="o-hero__link">
				<p class="supersize">Missa inte lanseringen av Svenskarna och internet</p>
				<p>Internetstiftelsen lanserar ett nytt innovativt verktyg för att avslöja trollen på internet. Och nu behöver vi behöver din hjälp att jaga trollen.</p>
			</a>
		</div>
	</figcaption>
</figure>
