<figure class="o-hero{{#if additional_classes}} {{additional_classes}}{{/if}}">
	<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">
	<figcaption class="o-hero__caption">
		<div class="wrapper u-p-x-0">
			<div class="o-hero__text">
				<a href="#" class="o-hero__link">
					<h1 class="supersize">{{heading}}</h1>
					<p class="o-hero__paragraph">{{text}}</p>
					{{> @tag is_light=true text="internet"}}
				</a>
			</div>
		</div>
	</figcaption>
</figure>
