<figure class="o-hero{{#if no_image_class}} {{no_image_class}}{{/if}}{{#if has_radius}} o-hero--border-radius{{/if}}">
	{{#if has_image}}<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">{{/if}}
	<figcaption class="o-hero__caption">
		<div class="wrapper u-p-x-0">
			<div class="o-hero__text">
				<a href="#" class="o-hero__link">
					<h1 class="supersize">{{heading}}</h1>
					<p class="o-hero__paragraph">{{text}}</p>
					{{> @tag is_light=true text="internet"}}
				</a>
			</div>
		</div>
	</figcaption>
</figure>
