<div class="site__main" id="siteMain">
	<div class="site__main__content">
		<div class="wrapper">
			<div class="row justify-content-center">
				<div class="grid-18">
					<div class="section section--tight">
						<div class="row">
							<div class="grid-18 grid-lg-12">
								<h1 class="supersize">Identitet for Internetstiftelsen</h1>

								<div class="article__content">
									<h2>Logotyp</h2>
									<svg class="logotype">
										<use xlink:href="#logotype-default"></use>
									</svg>
									<div class="m-info-box">
										<h3>Ladda ner logotyp</h3>
										<p><a href="http://brand.internetstiftelsen.se/wordpress/wp-content/uploads/2019/01/Internetstiftelsen-logotyp.zip" download>Internetstiftelsens logotyp i EPS, SVG och PNG</a>
										<a href="http://brand.internetstiftelsen.se/wordpress/wp-content/uploads/2019/01/Internetstiftelsen-logotyp.zip" class="a-button u-m-l-2" download><span class="a-button__text">Ladda ner</span></a></p>
									</div>

									<h2>Namn</h2>
									<p>Vi använder "Internetstiftelsen" i löpande text. Vi använder inte förkortningar som "IIS" eller "NIC" eller andra tidigare använda begrepp.</p>
									<p>På engelska kallar vi oss "The Swedish Internet Foundation", versaliserat på just detta sätt.</p>
								</div>
							</div>
							<div class="grid-18 grid-lg-6">
								<aside class="sidebar u-position-sticky-top-4">
									<div class="row">
										<div class="grid-18 grid-md-9 grid-lg-18 u-m-b-2">
											<section class="m-card m-card--padded">
												<div class="m-card__content">
													<h1 class="beta">Brandbook</h1>
													<div class="textwidget">
														<dl>
															<dt>Internetstiftelsen</dt>
															<dd class="u-m-l-0">
																<ol class="u-list-clean u-p-l-2">
																	<li><a class="is-active" href="/components/preview/identitet">Identitét</a></li>
																	<li><a href="/components/preview/bildmaner">Bildmanér</a></li>
																	<li><a href="/components/preview/tonalitet-och-sprakbruk">Tonalitet och språkbruk</a></li>
																</ol>
															</dd>
															<dd class="u-m-l-0"><a href="/components/preview/goto10">Goto 10</a></dd>
														</dl>
													</div>
												</div>
											</section>
										</div>
									</div>
								</aside>
							</div>
						</div>
						<div class="row">
							<div class="grid-18">
								<h2>Färger</h2>
								{{render '@colors'}}
							</div>
						</div>
						<div class="row">
							<div class="grid-18 grid-lg-12">
								<div class="article__content">
									<h2>Typografi</h2>
									<div class="row u-m-y-6">
										<div class="grid-md-3 display-flex align-items-md-center align-self-stretch display-flex justify-content-md-center">
											<span class="meta u-m-b-1">Rubriker</span>
										</div>
										<div class="grid-18 grid-md-14">
											<h1>HK Grotesk Semibold</h1>
										</div>
									</div>
									<div class="row u-m-b-6">
										<div class="grid-md-3 display-flex align-items-md-center align-self-stretch display-flex justify-content-md-center">
											<p class="meta">Brödtext</p>
										</div>
										<div class="grid-18 grid-md-14">
											<p>HK Grotesk Regular</p>
										</div>
									</div>
									<div class="row u-m-b-6">
										<div class="grid-md-3 display-flex align-items-md-center align-self-stretch display-flex justify-content-md-center">
											<span class="meta u-m-b-1">Accent</span>
										</div>
										<div class="grid-18 grid-md-14">
											<span class="a-meta">Roboto Mono</a>
										</div>
									</div>
									<div class="m-info-box">
										<h3>Typsnitt för nedladdning</h3>
										<ul>
											<li>
												<a href="https://hanken.co/product/hk-grotesk/">HK Grotesk
													<svg class="icon o-mega-menu__link__icon">
														<use xlink:href="#icon-external-link"></use>
													</svg>
												</a>
											</li>
											<li>
												<a href="https://fonts.google.com/specimen/Roboto+Mono">Roboto Mono
													<svg class="icon o-mega-menu__link__icon">
														<use xlink:href="#icon-external-link"></use>
													</svg>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="grid-18">
								<h2>Undervarumärken</h2>
								<div class="row background-snow u-m-b-4">
									<div class="grid-lg-6 grid-sm-9 grid-18 display-flex justify-content-center align-items-center u-p-4">
										<img alt="Svenskarna och internet" src="https://static.iis.se/images/logotypes/svenskarna-och-internet.svg">
									</div>
									<div class="grid-lg-6 grid-sm-9 grid-18 display-flex justify-content-center align-items-center u-p-4">
										<img alt="Internetdagarna" src="https://static.iis.se/images/logotypes/internetdagarna.svg">
									</div>
									<div class="grid-lg-6 grid-sm-9 grid-18 display-flex justify-content-center align-items-center u-p-4">
										<img alt="Goto10" src="https://static.iis.se/images/logotypes/goto-10.svg">
									</div>
									<div class="grid-lg-6 grid-sm-9 grid-18 display-flex justify-content-center align-items-center u-p-4">
										<img alt="Bredbandskollen" src="https://static.iis.se/images/logotypes/bredbandskollen.svg">
									</div>
									<div class="grid-lg-6 grid-sm-9 grid-18 display-flex justify-content-center align-items-center u-p-4">
										<img alt="Internetmuseum" src="https://static.iis.se/images/logotypes/internetmuseum.svg">
									</div>
									<div class="grid-lg-6 grid-sm-9 grid-18 display-flex justify-content-center align-items-center u-p-4">
										<img alt="Digitala lektioner" src="https://static.iis.se/images/logotypes/digitala-lektioner.svg">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="grid-18 grid-lg-12">
								<div class="article__content">
									<div class="m-info-box">
										<h3>Varumärkeslogotyper för nedladdning</h3>
										<p><a href="http://brand.internetstiftelsen.se/wordpress/wp-content/uploads/2019/01/undervarumarken.zip">Ladda ner logotyper som EPS, PNG och SVG</a>
										<a href="http://brand.internetstiftelsen.se/wordpress/wp-content/uploads/2019/01/undervarumarken.zip" class="a-button u-m-l-2" download><span class="a-button__text">Ladda ner</span></a></p>
									</div>
									<h2>Placering logotyp</h2>
									<img class="u-m-b-4" src="/assets/images/placeringsriktlinjer.png" alt="Placeringsregler för Internetstiftelsens logotyp">
									<h2>Friutrymme, logotyp</h2>
									<img class="u-m-b-4" src="/assets/images/Friutrymme-logotyp.png" alt="Friutrymme för Internetstiftelsens logotyp">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
