<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{#if (fileExists "public/hot")}}
		<!-- CSS injected via hot module replacement in app.js -->
		<style>
			.vite-dev-hide {
				visibility: hidden;
			}
		</style>
	{{else}}
		{{#with (jsonParse (read "public/assets/.vite/manifest.json")) as |manifest|}}
			<link rel="stylesheet" href="/assets/{{manifestCss manifest "src/app.js"}}">
		{{/with}}
	{{/if}}

	<link rel="shortcut icon" href="https://static.iis.se/favicons/favicon.ico">

	<!-- Check for JS support -->
	<script>
		document.querySelector('html').classList.remove('no-js');
		document.querySelector('html').className += 'js light-theme';
	</script>
</head>
