<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/app.min.css">
	<link rel="shortcut icon" href="https://static.iis.se/favicons/favicon.ico">

	<!-- Check for JS support -->
	<script>
		document.querySelector('html').classList.remove('no-js');
		document.querySelector('html').className += 'js light-theme';
	</script>
</head>
