<!--htmlhint id-unique:false, style-disabled:false -->
<!doctype html>
<html class="no-js" lang="sv">
	{{> @head component=true}}
	<body>
		<style>
		@font-face {
			font-family: 'HK Grotesk';
			font-style: normal;
			font-weight: normal;
			src:
				url('https://static.internetstiftelsen.se/internetstiftelsen/fonts/HKGrotesk-Light.woff2') format('woff2'),
				url('https://static.internetstiftelsen.se/internetstiftelsen/fonts/HKGrotesk-Light.woff') format('woff');
			font-display: swap;
		}

		@font-face {
        	font-family: 'HK Grotesk Bold';
        	font-style: normal;
        	font-weight: normal;
        	src:
        		url('https://static.internetstiftelsen.se/internetstiftelsen/fonts/HKGrotesk-Bold.woff2') format('woff2'),
        		url('https://static.internetstiftelsen.se/internetstiftelsen/fonts/HKGrotesk-Bold.woff') format('woff');
        	font-display: swap;
        }

		.icon-file-text {
			font-family: "HK Grotesk", sans-serif;
		}

	    .u-weight-bolder {
	    	font-family: "HK Grotesk Bold", sans-serif;
	    }

		.icons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.icon-wrapper {
			flex-basis: 25%;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 10px;
			position: relative;
			align-items: center;
			display: flex;
		}

		@media screen and (min-width: 500px) {
			.icon-wrapper {
				flex-basis: 16.66%;
			}
		}

		@media screen and (min-width: 1000px) {
			.icon-wrapper {
				flex-basis: 10%;
			}
		}

		.icon-wrapper:after {
			content: ' ';
			display: block;
			padding-bottom: 100%;
		}

		.icon {
			fill: var(--cyberspace-color);
			width: 80%;
			height: 80%;
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		</style>

		<div class="icons">
			{{{ yield }}}
		</div>

		{{> @icon-sprite }}
	</body>
</html>
