<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/assets/style.css">

	<!-- Check for JS support -->
	<script>
		document.querySelector('html').classList.remove('no-js');
		document.querySelector('html').className += 'js';
	</script>
</head>
<body>
	{{{ yield }}}
	<script type="text/javascript" src="/assets/script.js"></script>
</body>
</html>
