<!--htmlhint style-disabled:false -->
<!doctype html>
<html class="no-js" lang="sv-SE">
	{{> @head component=true}}
<body>
<script type="text/javascript" src="https://cdn.cookielaw.org/consent/138f3747-c7bf-4b22-8792-14c0af25dd59/OtAutoBlock.js" ></script>
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="138f3747-c7bf-4b22-8792-14c0af25dd59" ></script>
<script type="text/javascript">
	function OptanonWrapper() { }
</script>
	{{render '@skip' component=true}}
	{{{ yield }}}
	{{> @scripts component=true}}
	{{> @icon-sprite component=true}}
	{{> @logotype-sprite component=true}}
</body>
</html>
