<!--htmlhint style-disabled:false -->
<!doctype html>
<html class="no-js" lang="sv">
	{{> @head component=true}}
<body>
	{{render '@skip' component=true}}
	{{{ yield }}}
	{{> @scripts component=true}}
	{{> @icon-sprite component=true}}
	{{> @logotype-sprite component=true}}
</body>
</html>
