@charset 'UTF-8';

@include molecule(byline) {
	width: 100%;
	max-width: rem(400px);

	[class*='meta'] {
		margin-bottom: rhythm(1);
	}

	@include e(figure) {
		display: flex;
		align-items: center;
	}

	@include e(icon) {
		width: rem(22px);
		height: rem(22px);
		margin-right: rhythm(0.5);
	}

	@include e(link) {
		margin-left: rhythm(-0.5);
	}

	@include e(portrait) {
		display: block;
		width: rem(64px);
		height: rem(64px);
		margin-bottom: rhythm(1);
		border-radius: 50%;

		+ [class*='meta'] {
			margin-bottom: rhythm(0);
		}
	}
}
