@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;

@include m.molecule(byline) {
	width: 100%;
	max-width: to_rem(400px);

	[class*='meta'] {
		margin-bottom: rhythm(1);
	}

	@include m2.e(figure) {
		display: flex;
		align-items: center;
	}

	@include m2.e(icon) {
		width: to_rem(22px);
		height: to_rem(22px);
		margin-right: rhythm(0.5);
	}

	@include m2.e(link) {
		@extend %link-styles;

		margin-left: rhythm(-0.5);
	}

	@include m2.e(portrait) {
		display: block;
		width: to_rem(64px);
		height: to_rem(64px);
		margin-bottom: rhythm(1);
		border-radius: 50%;
		background-color: c.$color-concrete;
	}

	@include m2.e(list) {
		margin: rhythm(2) 0 rhythm(1) 0;
		padding: 0;
		list-style: none;

		@include m2.e(item) {
			padding-top: 0;
			padding-bottom: 0;
			font-size: v.$size-medium-plus;
		}
	}
}
