@charset "UTF-8";
@use '../../configurations/mixins' as mixin;
@use '../../configurations/extends';
@use '../../configurations/bem' as bem;
@use '../../configurations/config' as config;
@use '../../configurations/variables' as var;
@use '../../configurations/functions' as func;
@use '../../configurations/colors/colors' as colors;
@use '../../configurations/colors/colors-functions' as colorFunc;
@use '../../vendor/grid/breakpoints' as breakpoint;

@include mixin.molecule(byline) {
	width: 100%;
	max-width: func.to_rem(400px);

	[class*='meta'] {
		margin-bottom: func.rhythm(1);
	}

	@include bem.e(figure) {
		display: flex;
		align-items: center;
	}

	@include bem.e(icon) {
		width: func.to_rem(22px);
		height: func.to_rem(22px);
		margin-right: func.rhythm(0.5);
	}

	@include bem.e(link) {
		@extend %link-styles;

		margin-left: func.rhythm(-0.5);
	}

	@include bem.e(portrait) {
		display: block;
		width: func.to_rem(64px);
		height: func.to_rem(64px);
		margin-bottom: func.rhythm(1);
		border-radius: 50%;
		background-color: colors.$color-concrete;
	}

	@include bem.e(list) {
		margin: func.rhythm(2) 0 func.rhythm(1) 0;
		padding: 0;
		list-style: none;

		@include bem.e(item) {
			padding-top: 0;
			padding-bottom: 0;
			font-size: var.$size-medium-plus;
		}
	}
}
