<figure class="m-teaser">
	<img src="{{background_image}}" alt="{{alt}}" class="m-teaser__image">
	<figcaption class="m-teaser__caption">
		<a href="{{url}}" class="m-teaser__link">
			<h1 class="m-teaser__headline">
				{{link_text}}
				{{> @icon id=icon additional_classes="m-teaser__headline__icon"}}
			</h1>
		</a>
	</figcaption>
</figure>
