@charset "UTF-8";
@use "sass:math";
@use "sass:color";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;
@use '../../vendor/grid/grid' as g;

@include m.molecule(submenu) {
	margin: 0 0 rhythm(2) 0;
	padding: 0;
	overflow: hidden;
	border-radius: v.$border-radius;
	background-color: c.$color-snow;
	list-style: none;

	@include m2.e(title) {
		background-color: var(--m-submenu-background-color);

		@include m2.e(link) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: rhythm(2);
			color: c.$color-cyberspace;
			font-family: v.$font-family-headings;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;

				> svg {
					animation: up-icon 1.5s infinite linear;
				}
			}

			> svg {
				flex-shrink: 0;
				width: v.$icon-size-small;
				height: v.$icon-size-small;
				margin-left: rhythm(1);
				transform: rotate(-90deg);
			}

			@include bp.bp-up(md) {
				padding: rhythm(2) rhythm(3);

				> svg {
					width: v.$icon-size-medium;
					height: v.$icon-size-medium;
				}
			}
		}
	}

	@include m2.e(item) {
		margin: 0;
		padding: 0;

		& + & {
			border-top: 1px solid c.$color-ash;
		}

		&:last-child {
			> a {
				padding-bottom: rhythm(2);

				@include bp.bp-up(md) {
					padding-bottom: rhythm(3);
				}
			}
		}

		@include m2.e(link) {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: space-between;
			padding: rhythm(1) rhythm(6) rhythm(1) rhythm(2);
			overflow: hidden;
			color: var(--m-submenu-icon-fill-color);
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;

				> svg {
					display: flex;
				}
			}

			> svg {
				display: none;
				position: absolute;
				top: 50%;
				right: rhythm(2);
				flex-shrink: 0;
				width: v.$icon-size;
				height: v.$icon-size;
				margin-left: rhythm(1);
				padding: rhythm(0.5);
				overflow: hidden;
				transform: translateY(-50%);
				border-radius: 50%;
				background-color: var(--m-submenu-icon-background-hover-color);
				fill: var(--m-submenu-icon-fill-color);

				@include bp.bp-up(md) {
					right: rhythm(3);
					width: v.$icon-size * 1.6;
					height: v.$icon-size * 1.6;
					padding: rhythm(1);
				}
			}

			&.is-current {
				font-family: v.$font-family-headings;
				pointer-events: none;

				> svg {
					display: none;
				}
			}

			@include bp.bp-up(md) {
				padding: rhythm(2) rhythm(7) rhythm(2) rhythm(3);
			}

			@include m2.m(has-sublevel) {
				display: flex;
				flex-grow: 1;
			}
		}

		@include m2.e(sublevel) {
			display: flex;
			justify-content: space-between;
		}

		@include m2.e(toggle-button) {
			display: flex;
			position: relative;
			position: relative;
			align-items: center;
			margin: 0;
			padding: rhythm(1) rhythm(3);
			border: 0;
			border-left: 1px solid color.adjust(c.$color-ash, $lightness: -5%);
			background-color: transparent;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: to_rem(22px);
				right: to_rem(25px);
				width: math.div(v.$icon-size-small, 1.5);
				height: 2px;
				transform-origin: center center;
				transition: transform 0.25s ease-out;
				background-color: c.$color-cyberspace;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				right: to_rem(18px);
				transform: rotate(-45deg);
			}

			&[aria-expanded='true'] {
				margin-bottom: -1px;
				background-color: color.adjust(c.$color-ash, $lightness: 3%);

				&::after {
					transform: rotate(-135deg);
				}

				&::before {
					transform: rotate(135deg);
				}
			}

			&:hover {
				background-color: color.adjust(c.$color-ash, $lightness: 3%);
			}

			@include bp.bp-up(md) {
				padding: rhythm(2) rhythm(4);

				&::before,
				&::after {
					top: to_rem(31px);
					right: to_rem(33px);
					width: v.$icon-size-small;
					height: 3px;
				}

				&::after {
					right: to_rem(23px);
				}
			}
		}
	}

	@include m2.e(sublevel) {
		margin: 0;
		padding: 0;
		border-top: 1px solid color.adjust(c.$color-ash, $lightness: -3%);
		background-color: color.adjust(c.$color-ash, $lightness: 3%);
		list-style: none;

		&[aria-hidden='true'] {
			display: none;
			border-top: 1px solid transparent;
		}

		@include m2.e(item) {
			margin: 0;
			padding: 0 rhythm(1.5);

			& + & {
				border-top: 1px solid color.adjust(c.$color-ash, $lightness: -4%);
			}

			/* Support for icon on sublevel */

			@include m2.e(link) {
				> svg {
					display: none;
					padding: rhythm(0.5);
					background-color: c.$color-concrete;

					@include bp.bp-up(md) {
						padding: rhythm(1);
					}
				}

				&:hover,
				&:focus {
					> svg {
						display: flex;
					}
				}
			}
		}
	}
}

@keyframes up-icon {
	0% {
		transform: translateY(0) rotate(-90deg);
	}

	25% {
		transform: translateY(-#{rhythm(0.5)}) rotate(-90deg);
	}

	75% {
		transform: translateY(rhythm(0.5)) rotate(-90deg);
	}

	100% {
		transform: translateY(0) rotate(-90deg);
	}
}
