@charset 'UTF-8';

@import '../components/colors/colors';

html {
	height: 100%;
	min-height: 100%;
	color: $color-cyberspace;
	font-size: percentage($size-base / 16px);
}

body {
	height: 100%;
	min-height: 100%;

	//iPhone X landscape Notch fix
	padding-right: constant(safe-area-inset-right);
	padding-left: constant(safe-area-inset-left);
	font-family: $font-family-base;
	-ms-overflow-style: auto;
	-webkit-overflow-scrolling: touch;
}
