// Inspired by https://github.com/fractures/fractures
@include bem.b(grid) {
	display: grid;

	&-gap { grid-gap: var.$grid-gutter-width; }
	&-gap-y { grid-row-gap: var.$grid-gutter-width; }
	&-gap-x { grid-column-gap: var.$grid-gutter-width; }

	&-cols {
		@for $i from 2 through $grid-columns {
			&-#{$i} { grid-template-columns: repeat($i, 1fr); }
		}

		&-dense { grid-auto-flow: row dense; }
	}

	&-rows {
		@for $i from 2 through 6 {
			&-#{$i} {
				grid-auto-flow: column;
				grid-template-rows: repeat($i, 1fr);

				&.dense { grid-auto-flow: column dense; }
			}
		}

		&-dense { grid-auto-flow: column dense; }
	}

	@for $i from 2 through $grid-columns {
		&-col-start-#{$i} { grid-column-start: $i; }
		&-col-span-#{$i} { grid-column-end: span $i; }
	}
}
