@charset 'UTF-8';

@import '../configurations/colors/colors';

html {
	box-sizing: border-box;
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	background-color: theme_palette('background');
	color: $color-cyberspace;
	font-family: sans-serif;
	font-size: percentage($size-base / 16px);
	-ms-overflow-style: scrollbar;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	margin: 0;

	//iPhone X landscape Notch fix
	padding-right: constant(safe-area-inset-right);
	padding-left: constant(safe-area-inset-left);
	font-family: $font-family-base;
	-ms-overflow-style: auto;
	-webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// HTML5 display definitions
// ==========================================================================

//
// Correct `block` display not defined for any HTML5 element in IE 8/9.
// Correct `block` display not defined for `details` or `summary` in IE 10/11
// and Firefox.
// Correct `block` display not defined for `main` in IE 11.
//

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//

audio,
canvas,
progress,
video {
	display: inline-block; // 1
	vertical-align: baseline; // 2
}

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//

audio {
	&:not([controls]) {
		display: none;
		height: 0;
	}
}

//
// Address
//

address {
	font-style: normal;
}

//
// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

[hidden],
template {
	display: none;
}

// Links
// ==========================================================================

//
// Remove the gray background color from active links in IE 10.
//

a {
	background-color: transparent;

	&:active,
	&:hover {
		outline: 0;
	}
}

// Prevent 300ms click delay
a,
button,
input,
select,
textarea,
label {
	touch-action: manipulation;
}

// Text-level semantics
// ==========================================================================

//
// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
//

abbr {
	&[title] {
		border-bottom: 1px dotted;
	}
}

//
// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
//

b,
strong {
	font-weight: 700;
}

//
// Address styling not present in Safari and Chrome.
//

dfn {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

//
// Address styling not present in IE 8/9.
//

mark {
	background: $color-lemon-light;
	color: $color-black;
}

//
// Remove default italic
//
cite {
	font-style: normal;
}

//
// Address inconsistent and variable font size in all browsers.
//

small {
	font-size: 80%;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

// Embedded content
// ==========================================================================

//
// Remove border when inside `a` element in IE 8/9/10.
//

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

// Images in Google Translate Widget

/* stylelint-disable */
.google_translate_element {
	img {
		width: auto;
	}

	+ p {
		display: none;
	}
}
/* stylelint-enable */

//
// Correct overflow not hidden in IE 9/10/11.
//

svg {
	&:not(:root) {
		overflow: hidden;
	}
}

// Grouping content
// ==========================================================================

//
// Address margin not present in IE 8/9 and Safari.
//

figure {
	margin: 0;
}

//
// Address differences between Firefox and other browsers.
//

hr {
	box-sizing: content-box;
	width: 100%;
	height: 0;
	margin-top: rhythm(2);
	margin-bottom: rhythm(2);
	border: 0;
	border-bottom: 1px solid $color-granit;
}

//
// Contain overflow in all browsers.
//

pre {
	margin-bottom: rhythm(4);
	overflow: auto;
}

//
// Address odd `em`-unit font size rendering in all browsers.
//

code,
kbd,
pre,
samp {
	font-family: $font-family-mono;
}

// Forms
// ==========================================================================

//
// Known limitation: by default, Chrome and Safari on OS X allow very limited
// styling of `select`, unless a `border` property is set.
//

//
// 1. Correct color not being inherited.
//    Known issue: affects color of disabled elements.
// 2. Correct font properties not being inherited.
// 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
//

button,
input,
optgroup,
select,
textarea {
	margin: 0; // 3
	color: inherit; // 1
	font: inherit; // 2
	-webkit-appearance: none; // stylelint:disable-line no-vendor-prefixes
}

//
// Address `overflow` set to `hidden` in IE 8/9/10/11.
//

button {
	overflow: visible;
}

//
// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// Correct `select` style inheritance in Firefox.
//

button,
select {
	text-transform: none;
}

//
// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
//

button,
html input[type='button'], // 1
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button; // 3
}

//
// Re-set default cursor for disabled elements.
//

button[disabled],
html input[disabled] {
	cursor: default;
}

//
// Remove inner padding and border in Firefox 4+.
//

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

//
// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet.
//

input {
	border-radius: 0;
	line-height: normal;
}

//
// It's recommended that you don't attempt to style these elements.
// Firefox's implementation doesn't respect box-sizing, padding, or width.
//
// 1. Address box sizing set to `content-box` in IE 8/9/10.
// 2. Remove excess padding in IE 8/9/10.
//

input,
input {
	&[type='checkbox'],
	&[type='radio'] {
		box-sizing: border-box; // 1
		padding: 0; // 2
	}
}

//
// Fix the cursor style for Chrome's increment/decrement buttons. For certain
// `font-size` values of the `input`, it causes the cursor style of the
// decrement button to change from `default` to `text`.
//

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

//
// 1. Address `appearance` set to `searchfield` in Safari and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
//

input[type='search'] {
	-webkit-appearance: none;
}

//
// Remove inner padding and search cancel button in Safari and Chrome on OS X.
// Safari (but not Chrome) clips the cancel button when the search input has
// padding (and `textfield` appearance).
//

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

// Style placeholders
::-webkit-input-placeholder {
	opacity: 1;
	color: $color-granit;
}

::-moz-placeholder {
	opacity: 1;
	color: $color-granit;
}

:-ms-input-placeholder {
	opacity: 1;
	color: $color-granit;
}

:-moz-placeholder {
	opacity: 1;
	color: $color-granit;
}

::placeholder {
	opacity: 1;
	color: $color-granit;
}

// Remove spinner from fields in Chrome
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-clear-button,
input[type=datetime]::-webkit-inner-spin-button,
input[type=datetime]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

// Remove spinner from number fields in Firefox
input[type=number] {
	-moz-appearance: textfield;
}

//
// Define consistent border, margin, and padding.
//

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

//
// 1. Correct `color` not being inherited in IE 8/9/10/11.
// 2. Remove padding so people aren't caught out if they zero out fieldsets.
//

legend {
	margin-bottom: rhythm(1);
	padding: 0; // 2
	border: 0; // 1
	font-weight: 700;
}

//
// Remove default vertical scrollbar in IE 8/9/10/11.
//

textarea {
	overflow: auto;
}

//
// Don't inherit the `font-weight` (applied by a rule above).
// NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
//

optgroup {
	font-weight: bold;
}

// Tables
// ==========================================================================

//
// Remove most spacing between table cells.
//

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}
