@charset "UTF-8";

// Typography
$font-family-base: 'HK Grotesk', sans-serif !default;
$font-family-headings: 'HK Grotesk Bold', sans-serif !default;

$headings-baseline: 0.198; // HK Bold
$body-baseline: 0.198; // HK Regular
$mono-baseline: 0.122; // Space Mono
$decor-baseline: 0.18; // Georgia Pro

/* Size base */
$size-base: 20px !default;

/* Base units */
$base-unit: $size-base / 2 !default;
$rem-size: rem($base-unit) !default;
$base-unit--text: $base-unit / 2 !default;

// Rhythm
$base-rhythm: 5 !default;
