<div class="site" id="site">
    <div class="site__header" id="siteHeader">
        <div class="u-position-relative">
            <header class="o-header">
                <div class="wrapper">
                    <div class="row justify-content-between align-items-center flex-nowrap">
                        <div class="grid-auto">
                            <a href="/" class="o-header__logo-link">
                        <span class="o-header__logo"><svg class="logotype">
                            <use xlink:href="#logotype-default"></use>
                        </svg>
                    </span>
                                <span class="u-visuallyhidden">Till startsidan</span>
                            </a>
                        </div>
                        <div class="grid">
                            <nav class="a-main-menu">
                                <ul class="a-main-menu__list">
                                    <li class="u-hidden-mobile">
                                        <a href="#" class="a-main-menu__list__link">
                                            <span class="a-main-menu__list__text">Kunskap</span>
                                        </a>
                                    </li>
                                    <li class="u-hidden-mobile">
                                        <a href="#" class="a-main-menu__list__link">
                                            <span class="a-main-menu__list__text">Innovation</span>
                                        </a>
                                    </li>
                                    <li class="u-hidden-mobile">
                                        <a href="#" class="a-main-menu__list__link is-current">
                                            <span class="a-main-menu__list__text">Domäner</span>
                                        </a>
                                    </li>
                                    <li class="u-hidden-mobile">
                                        <a href="#" class="a-main-menu__list__link">
                                            <span class="a-main-menu__list__text">Om oss</span>
                                        </a>
                                    </li>
                                    <li class="u-hidden-mobile">
                                        <button type="button" class="a-main-menu__list__link js-toggle-domain-search" aria-expanded="false" data-a11y-toggle="domain-search">
                                            <span class="a-main-menu__list__text">Sök ledig domän</span>
                                            <div class="icon-arrow-down"></div>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="a-main-menu__list__link js-toggle-mega-menu" aria-expanded="false">
                                            <span class="a-main-menu__list__text">Meny</span>
                                            <div class="icon-hamburger"></div>
                                        </button>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </header>

            {{> @domain-search}}
        </div>

        {{> @mega-menu id="megaMenu"}}
    </div>
    <div class="site__main" id="siteMain">
		<div class="row">
			<div class="grid">
				<ul class="wp-block-gallery columns-2 is-cropped">
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg"><img alt="" class="wp-image-99892 lazyloaded" data-id="99892" data-link="https://internetstiftelsen.se/styrelse-2/ylva/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg 560w, https://internetstiftelsen.se/app/uploads/2019/02/ylva-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/ylva-8x5.jpg 8w" sizes="(max-width: 560px) 100vw, 560px" src="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg 560w, https://internetstiftelsen.se/app/uploads/2019/02/ylva-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/ylva-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99892" data-id="99892" data-link="https://internetstiftelsen.se/styrelse-2/ylva/" sizes="(max-width: 560px) 100vw, 560px" src="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/ylva.jpg 560w, https://internetstiftelsen.se/app/uploads/2019/02/ylva-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/ylva-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Ylva Hambraeus Björling, styrelseordförande, utsedd av ISOC-SE
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg"><img alt="" class="wp-image-99883 lazyloaded" data-id="99883" data-link="https://internetstiftelsen.se/styrelse-2/anna/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg 560w, https://internetstiftelsen.se/app/uploads/2019/02/anna-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/anna-8x5.jpg 8w" sizes="(max-width: 560px) 100vw, 560px" src="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg 560w, https://internetstiftelsen.se/app/uploads/2019/02/anna-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/anna-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99883" data-id="99883" data-link="https://internetstiftelsen.se/styrelse-2/anna/" sizes="(max-width: 560px) 100vw, 560px" src="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/anna.jpg 560w, https://internetstiftelsen.se/app/uploads/2019/02/anna-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/anna-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Anna Caracolias, utsedd av ISOC-SE
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg"><img alt="" class="wp-image-99886 lazyloaded" data-id="99886" data-link="https://internetstiftelsen.se/styrelse-2/henrik/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-8x5.jpg 8w, https://internetstiftelsen.se/app/uploads/2019/02/henrik.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-8x5.jpg 8w, https://internetstiftelsen.se/app/uploads/2019/02/henrik.jpg 1200w"><noscript><img alt="" class="wp-image-99886" data-id="99886" data-link="https://internetstiftelsen.se/styrelse-2/henrik/" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/henrik-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/henrik-8x5.jpg 8w, https://internetstiftelsen.se/app/uploads/2019/02/henrik.jpg 1200w"></noscript></a>
							<figcaption>
								Henrik Bergman, utsedd av Svensk Bankförening
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg"><img alt="" class="wp-image-99889 lazyloaded" data-id="99889" data-link="https://internetstiftelsen.se/styrelse-2/jonas/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-8x5.jpg 8w, https://internetstiftelsen.se/app/uploads/2019/02/jonas.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-8x5.jpg 8w, https://internetstiftelsen.se/app/uploads/2019/02/jonas.jpg 1200w"><noscript><img alt="" class="wp-image-99889" data-id="99889" data-link="https://internetstiftelsen.se/styrelse-2/jonas/" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/jonas-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/jonas-8x5.jpg 8w, https://internetstiftelsen.se/app/uploads/2019/02/jonas.jpg 1200w"></noscript></a>
							<figcaption>
								Jonas Lejon, utsedd av styrelsens medlemmar
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg"><img alt="" class="wp-image-99891 lazyloaded" data-id="99891" data-link="https://internetstiftelsen.se/styrelse-2/peter/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/peter-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/peter-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/peter-8x5.jpg 8w" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/peter-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/peter-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/peter-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99891" data-id="99891" data-link="https://internetstiftelsen.se/styrelse-2/peter/" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/peter-1024x717.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/peter-300x210.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/peter-768x538.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/peter-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Peter Kopelman, utsedd av Svenskt Näringsliv
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg"><img alt="" class="wp-image-99885 lazyloaded" data-id="99885" data-link="https://internetstiftelsen.se/styrelse-2/filippa/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-300x217.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-768x556.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-8x5.jpg 8w" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-300x217.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-768x556.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99885" data-id="99885" data-link="https://internetstiftelsen.se/styrelse-2/filippa/" sizes="(max-width: 1024px) 100vw, 1024px" src="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/filippa-1024x742.jpg 1024w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-300x217.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-768x556.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/filippa-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Filippa Murath, sekreterare
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg"><img alt="" class="wp-image-99884 lazyloaded" data-id="99884" data-link="https://internetstiftelsen.se/styrelse-2/carina/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg 1004w, https://internetstiftelsen.se/app/uploads/2019/02/carina-300x200.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/carina-768x512.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/carina-8x5.jpg 8w" sizes="(max-width: 1004px) 100vw, 1004px" src="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg 1004w, https://internetstiftelsen.se/app/uploads/2019/02/carina-300x200.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/carina-768x512.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/carina-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99884" data-id="99884" data-link="https://internetstiftelsen.se/styrelse-2/carina/" sizes="(max-width: 1004px) 100vw, 1004px" src="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/carina.jpg 1004w, https://internetstiftelsen.se/app/uploads/2019/02/carina-300x200.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/carina-768x512.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/carina-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Carina Lundgren, utsedd av Sveriges Konsumenter
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg"><img alt="" class="wp-image-99888 lazyloaded" data-id="99888" data-link="https://internetstiftelsen.se/styrelse-2/johanw/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg 1004w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-300x199.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-768x509.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-8x5.jpg 8w" sizes="(max-width: 1004px) 100vw, 1004px" src="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg 1004w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-300x199.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-768x509.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99888" data-id="99888" data-link="https://internetstiftelsen.se/styrelse-2/johanw/" sizes="(max-width: 1004px) 100vw, 1004px" src="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/johanw.jpg 1004w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-300x199.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-768x509.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/johanw-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Johan Wallér, utsedd av Svensk Handel
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg"><img alt="" class="wp-image-99890 lazyloaded" data-id="99890" data-link="https://internetstiftelsen.se/styrelse-2/karl-erik/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg 998w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-300x201.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-768x516.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-8x5.jpg 8w" sizes="(max-width: 998px) 100vw, 998px" src="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg 998w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-300x201.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-768x516.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-8x5.jpg 8w"><noscript><img alt="" class="wp-image-99890" data-id="99890" data-link="https://internetstiftelsen.se/styrelse-2/karl-erik/" sizes="(max-width: 998px) 100vw, 998px" src="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg" srcset="https://internetstiftelsen.se/app/uploads/2019/02/karl-erik.jpg 998w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-300x201.jpg 300w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-768x516.jpg 768w, https://internetstiftelsen.se/app/uploads/2019/02/karl-erik-8x5.jpg 8w"></noscript></a>
							<figcaption>
								Karl-Erik Svedin, utsedd av SOF, Sveriges Internetoperatörers Forum
							</figcaption>
						</figure>
					</li>
					<li class="blocks-gallery-item">
						<figure>
							<a href="https://internetstiftelsen.se/app/uploads/2019/02/johans.png"><img alt="" class="wp-image-99887 lazyloaded" data-id="99887" data-link="https://internetstiftelsen.se/styrelse-2/johans/" data-src="https://internetstiftelsen.se/app/uploads/2019/02/johans.png" data-srcset="https://internetstiftelsen.se/app/uploads/2019/02/johans.png 1001w, https://internetstiftelsen.se/app/uploads/2019/02/johans-300x199.png 300w, https://internetstiftelsen.se/app/uploads/2019/02/johans-768x509.png 768w, https://internetstiftelsen.se/app/uploads/2019/02/johans-8x5.png 8w" sizes="(max-width: 1001px) 100vw, 1001px" src="https://internetstiftelsen.se/app/uploads/2019/02/johans.png" srcset="https://internetstiftelsen.se/app/uploads/2019/02/johans.png 1001w, https://internetstiftelsen.se/app/uploads/2019/02/johans-300x199.png 300w, https://internetstiftelsen.se/app/uploads/2019/02/johans-768x509.png 768w, https://internetstiftelsen.se/app/uploads/2019/02/johans-8x5.png 8w"><noscript><img alt="" class="wp-image-99887" data-id="99887" data-link="https://internetstiftelsen.se/styrelse-2/johans/" sizes="(max-width: 1001px) 100vw, 1001px" src="https://internetstiftelsen.se/app/uploads/2019/02/johans.png" srcset="https://internetstiftelsen.se/app/uploads/2019/02/johans.png 1001w, https://internetstiftelsen.se/app/uploads/2019/02/johans-300x199.png 300w, https://internetstiftelsen.se/app/uploads/2019/02/johans-768x509.png 768w, https://internetstiftelsen.se/app/uploads/2019/02/johans-8x5.png 8w"></noscript></a>
							<figcaption>
								Jonas Stenling, suppleant, utsedd av SOF, Sveriges Internetoperatörers Forum
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
		</div>
        {{render '@sections'}}
    </div>
    <div class="site__footer">
        {{render '@footer'}}
    </div>
</div>
