@charset "UTF-8";
@use '../../configurations/mixins' as m;
@use '../../configurations/bem' as m2;
@use '../../configurations/config' as m3;
@use '../../configurations/variables' as v;
@use '../../configurations/colors/colors' as c;
@use '../../configurations/colors/colors-functions' as cf;
@use '../../vendor/grid/breakpoints' as bp;

@include m.molecule(share) {
	@include m2.e(platforms) {
		visibility: visible;
		max-height: 80rem;
		padding: rhythm(1) 0;
		overflow: hidden;
		transition:
			visibility 0s ease-out,
			max-height 0.25s ease-out,
			opacity    0.5s ease-out;
		transition-delay: 0 0.25 0;
		opacity: 1;

		&[aria-hidden='true'] {
			visibility: hidden;
			max-height: 0;
			transition-delay: 0.25s, 0, 0.5s;
			opacity: 0;
		}
	}

	@include m2.e(button) {
		padding-left: 0;
	}

	@include m2.e(icon) {
		margin-right: rhythm(2);
		padding: 0;

		@include m2.b(icon) {
			width: v.$icon-size * 1.5;
			height: v.$icon-size * 1.5;

			&.icon-facebook {
				fill: c.$color-facebook;
			}

			&.icon-twitter {
				fill: c.$color-twitter;
			}

			&.icon-linkedin {
				fill: c.$color-linkedin;
			}
		}
	}

	@include m2.m(inline) {
		display: inline-flex;
		align-items: center;
	}
}
