@charset "UTF-8";
@use '../../configurations/colors/colors' as c;

// IE Specific animation
_:-ms-lang(x),
.spinner {
	width: 100%;
	height: 100%;
	overflow: hidden;

	svg,
	g {
		animation: spin 2s linear infinite;
	}

	g {
		transform-origin: center center;
	}

	circle {
		stroke: c.$color-ocean;

		+ circle {
			stroke-dasharray: 100;
			stroke: c.$color-ocean-light;
		}
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
