<div class="wrapper">
	{{> @hero no_image_class="o-hero--no-image" heading="Gå en guidad tur!" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, ipsum at porta porta, eros ligula finibus arcu, id placerat augue justo sed mi."}}
</div>
<div class="wrapper">
	<div class="row justify-content-between">
		<div class="grid-18 grid-sm-9 grid-lg-4">
			{{> @card title="Den stora berättelsen om internets historia" img_url="/assets/images/ALX_0876.jpg" url="#"}}
		</div>
		<div class="grid-18 grid-sm-9 grid-lg-4">
			{{> @card title="Datadamer, kvinnorna som digitaliserade världen" img_url="/assets/images/ALX_7251.jpg" url="#"}}
		</div>
		<div class="grid-18 grid-sm-9 grid-lg-4">
			{{> @card title="Emojins historia" img_url="/assets/images/KPA_0996.jpg" url="#"}}
		</div>
		<div class="grid-18 grid-sm-9 grid-lg-4">
			{{> @card title="Internet för unga" img_url="/assets/images/bildmaner.jpg" url="#"}}
		</div>
	</div>
</div>