<div class="wrapper" data-video-guide>
	<div class="o-video-guide">
		<figure>
			<div class="o-video-guide__inner-wrapper">
				<div class="o-video-guide__video-container">
					<div class="o-video-guide__subtitles js-subtitles-container"></div>
					<video class="o-video-guide__video js-video-guide is-loading" disablePictureInPicture disableRemotePlayback playsinline preload="metadata" data-featured-image="/assets/images/sticky-guide.png">
						<source src="{{videoSrc2}}" type='video/mp4; codecs="hvc1"'>
						<source src="{{videoSrc}}" type="video/webm">
						<track id="video-subtitles" kind="metadata" src="/assets/video/guidad-tur-nar-internet-kom-till-svenska-hem-undertexter.vtt" srclang="sv" default>
						<track id="video-chapters" kind="chapters" label="Kapitel" src="/assets/video/guidad-tur-nar-internet-kom-chapters.vtt" srclang="sv">
						<track id="video-metadata" kind="metadata" label="timeLineItems" src="/assets/video/guidad-tur-nar-internet-kom-metadata.vtt" srclang="sv">
					</video>
					<ul class="u-list-clean">
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image is-current" data-id="95494">
							<div class="o-video-guide__timeline-item__text" data-video-headline-tpl>
								<h1 class="o-video-guide__timeline-item__text__headline">När internet kom till våra svenska hem</h1>
							</div>
							<img width="1920" height="1080"
								 src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag.jpg"
								 class="attachment-full size-full" alt="" decoding="async" loading="lazy"
								 srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-omslag-8x5.jpg 8w"
								 sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95497">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-introgif.gif"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95463">
							<img
							width="1728" height="1200"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang.jpg 1728w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-300x208.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-1024x711.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-1536x1067.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-605x420.jpg 605w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-418x290.jpg 418w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-838x582.jpg 838w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-426x296.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-pc-gang-8x5.jpg 8w"
							sizes="(max-width: 1728px) 100vw, 1728px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95461">
							<img
							width="2048" height="1536"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3.jpg 2048w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-300x225.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-1024x768.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-1536x1152.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-700x525.jpg 700w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-560x420.jpg 560w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-387x290.jpg 387w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-776x582.jpg 776w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-426x320.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem3-8x5.jpg 8w"
							sizes="(max-width: 2048px) 100vw, 2048px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95475">
							<img
							width="2560" height="1920"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack.jpg 2560w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-300x225.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-1024x768.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-1536x1152.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-2048x1536.jpg 2048w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-700x525.jpg 700w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-560x420.jpg 560w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-387x290.jpg 387w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-776x582.jpg 776w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-426x320.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-telefonjack-8x5.jpg 8w"
							sizes="(max-width: 2560px) 100vw, 2560px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95459">
							<img
							width="2047" height="1365"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1.jpg 2047w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-300x200.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-1024x683.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-1536x1024.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-630x420.jpg 630w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-435x290.jpg 435w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-873x582.jpg 873w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-426x284.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-modem1-8x5.jpg 8w"
							sizes="(max-width: 2047px) 100vw, 2047px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95450">
							<img
							width="1200" height="814"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon.jpg 1200w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-300x204.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-1024x695.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-619x420.jpg 619w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-428x290.jpg 428w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-858x582.jpg 858w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-426x289.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-gammal-telefon-8x5.jpg 8w"
							sizes="(max-width: 1200px) 100vw, 1200px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="76402">
							<img
							loading="lazy" width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam.jpg"
							class="attachment-full size-full wp-post-image" alt="" decoding="async"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-algonetreklam-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="76293">
							<img
							width="1846" height="1038"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp.jpeg"
							class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp.jpeg 1846w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-300x169.jpeg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-1024x576.jpeg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-1536x864.jpeg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-726x408.jpeg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-500x281.jpeg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-1035x582.jpeg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-426x240.jpeg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-internet-arets-julklapp-8x5.jpeg 8w"
							sizes="(max-width: 1846px) 100vw, 1846px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="80889">
							<img
							width="1024" height="680" src="https://ny.internetmuseum.se/app/uploads/6275-M20.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/6275-M20.jpg 1024w, https://ny.internetmuseum.se/app/uploads/6275-M20-300x199.jpg 300w"
							sizes="(max-width: 1024px) 100vw, 1024px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95472">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet4-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95471">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-swipnet3-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="90431">
							<img
							width="1184" height="427" src="https://ny.internetmuseum.se/app/uploads/annicatiger.jpg"
							class="attachment-full size-full wp-post-image" alt="Annica Tiger svensk internetpionjär"
							decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/annicatiger.jpg 1184w, https://ny.internetmuseum.se/app/uploads/annicatiger-300x108.jpg 300w, https://ny.internetmuseum.se/app/uploads/annicatiger-1024x369.jpg 1024w, https://ny.internetmuseum.se/app/uploads/annicatiger-726x262.jpg 726w, https://ny.internetmuseum.se/app/uploads/annicatiger-500x180.jpg 500w, https://ny.internetmuseum.se/app/uploads/annicatiger-426x154.jpg 426w"
							sizes="(max-width: 1184px) 100vw, 1184px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95464">
							<img
							width="500" height="352"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-slowimage.gif"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95448">
							<img
							width="2047" height="1365"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps.jpg 2047w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-300x200.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-1024x683.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-1536x1024.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-630x420.jpg 630w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-435x290.jpg 435w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-873x582.jpg 873w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-426x284.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-50k-005mbps-8x5.jpg 8w"
							sizes="(max-width: 2047px) 100vw, 2047px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="76309">
							<img
							width="1168" height="547" src="https://ny.internetmuseum.se/app/uploads/Lunarstorm1.jpg"
							class="attachment-full size-full wp-post-image" alt="Lunarstorm hemsida" decoding="async"
							loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/Lunarstorm1.jpg 1168w, https://ny.internetmuseum.se/app/uploads/Lunarstorm1-300x140.jpg 300w, https://ny.internetmuseum.se/app/uploads/Lunarstorm1-1024x480.jpg 1024w, https://ny.internetmuseum.se/app/uploads/Lunarstorm1-726x340.jpg 726w, https://ny.internetmuseum.se/app/uploads/Lunarstorm1-500x234.jpg 500w, https://ny.internetmuseum.se/app/uploads/Lunarstorm1-426x200.jpg 426w, https://ny.internetmuseum.se/app/uploads/Lunarstorm1-8x5.jpg 8w"
							sizes="(max-width: 1168px) 100vw, 1168px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95456">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-lunarstorm-12m-users-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="76300">
							<img
							width="1264" height="711" src="https://ny.internetmuseum.se/app/uploads/nick_borgen.jpg"
							class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/nick_borgen.jpg 1264w, https://ny.internetmuseum.se/app/uploads/nick_borgen-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/nick_borgen-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/nick_borgen-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/nick_borgen-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/nick_borgen-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/nick_borgen-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/nick_borgen-8x5.jpg 8w"
							sizes="(max-width: 1264px) 100vw, 1264px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95447">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-10procent-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="80888">
							<img
							width="1280" height="738" src="https://ny.internetmuseum.se/app/uploads/skrivbord.jpg"
							class="attachment-full size-full wp-post-image" alt="Dator på skrivbord i lego"
							decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/skrivbord.jpg 1280w, https://ny.internetmuseum.se/app/uploads/skrivbord-300x173.jpg 300w, https://ny.internetmuseum.se/app/uploads/skrivbord-1024x590.jpg 1024w, https://ny.internetmuseum.se/app/uploads/skrivbord-726x420.jpg 726w, https://ny.internetmuseum.se/app/uploads/skrivbord-500x288.jpg 500w, https://ny.internetmuseum.se/app/uploads/skrivbord-1009x582.jpg 1009w, https://ny.internetmuseum.se/app/uploads/skrivbord-426x246.jpg 426w, https://ny.internetmuseum.se/app/uploads/skrivbord-8x5.jpg 8w"
							sizes="(max-width: 1280px) 100vw, 1280px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="80747">
							<img
							width="828" height="360" src="https://ny.internetmuseum.se/app/uploads/flash.jpg"
							class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/flash.jpg 828w, https://ny.internetmuseum.se/app/uploads/flash-300x130.jpg 300w, https://ny.internetmuseum.se/app/uploads/flash-726x316.jpg 726w, https://ny.internetmuseum.se/app/uploads/flash-500x217.jpg 500w, https://ny.internetmuseum.se/app/uploads/flash-426x185.jpg 426w"
							sizes="(max-width: 828px) 100vw, 828px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="84790">
							<img
							width="254" height="195"
							src="https://ny.internetmuseum.se/app/uploads/2016/12/ansiktsburk.gif"
							class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy"></li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95455">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-logocollage-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="80637">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq.png"
							class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq.png 1920w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-300x169.png 300w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-1024x576.png 1024w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-1536x864.png 1536w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-726x408.png 726w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-500x281.png 500w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-1035x582.png 1035w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-426x240.png 426w, https://ny.internetmuseum.se/app/uploads/2015/11/guidad-tur-nar-internet-kom-icq-8x5.png 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95477">
							<img
							width="1920" height="1080"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-iphone-8x5.jpg 8w"
							sizes="(max-width: 1920px) 100vw, 1920px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95466">
							<img
							width="2560" height="1440"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-scaled.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-scaled.jpg 2560w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-2048x1152.jpg 2048w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-1920x1080.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers2-8x5.jpg 8w"
							sizes="(max-width: 2560px) 100vw, 2560px">
						</li>
						<li class="o-video-guide__timeline-item js-timeline-post js-timeline-post js-timeline-image" data-id="95467">
							<img
							width="2560" height="1440"
							src="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-scaled.jpg"
							class="attachment-full size-full" alt="" decoding="async" loading="lazy"
							srcset="https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-scaled.jpg 2560w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-300x169.jpg 300w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-1024x576.jpg 1024w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-1536x864.jpg 1536w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-2048x1152.jpg 2048w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-726x408.jpg 726w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-500x281.jpg 500w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-1035x582.jpg 1035w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-426x240.jpg 426w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-1920x1080.jpg 1920w, https://ny.internetmuseum.se/app/uploads/2023/01/guidad-tur-nar-internet-kom-smartphoneusers3-8x5.jpg 8w"
							sizes="(max-width: 2560px) 100vw, 2560px">
						</li>
					</ul>
				</div>
				<div class="o-video-guide__controls">
					<figcaption class="o-video-guide__chapters">
						<span class="o-video-guide__title delta"><span class="o-video-guide__totaltime js-totaltime"></span>Den stora berättelsen om internet</span>
						<ol class="o-video-guide__chapters__list js-chapters">
							<li id="0" class="is-current-item">
								<a tabindex="0" rel="0">Kapitel 1 / 7: Introduktion</a>
							</li>
							<li id="32">
								<a tabindex="0" rel="32">Kapitel 2 / 7: Minns du ditt första möte med
								internet?</a>
							</li>
							<li id="139">
								<a tabindex="0" rel="139">Kapitel 3 / 7: Tidiga internet i hemmet</a>
							</li>
							<li id="225">
								<a tabindex="0" rel="225">Kapitel 4 / 7: De första hemsidorna</a>
							</li>
							<li id="360">
								<a tabindex="0" rel="360">Kapitel 5 / 7: Lunarstorm och nätet innan sociala
								medier</a>
							</li>
							<li id="502">
								<a tabindex="0" rel="502">Kapitel 6 / 7: Flash-explosionen</a>
							</li>
							<li id="577">
								<a tabindex="0" rel="577">Kapitel 7 / 7: 2000-talet</a>
							</li>
						</ol>
					</figcaption>
					<div class="o-video-guide__buttons">
						<button type="button" class="o-video-guide__button js-previous-chapter" title="Föregående kapitel">
							<span class="u-visuallyhidden">Föregående kapitel</span>
							{{>@ icon id="step-backwards" additional_classes="o-video-guide__rewind-icon"}}
						</button>
						<button type="button" class="o-video-guide__button o-video-guide__button--play js-play-btn" title="Play/Pause">
							<span class="u-visuallyhidden">Play/Pause</span>
							{{>@ icon id="play" additional_classes="o-video-guide__play-icon js-play-icon"}}
							{{>@ icon id="pause" additional_classes="o-video-guide__play-icon js-pause-icon is-hidden"}}
						</button>
						<button type="button" class="o-video-guide__button o-video-guide__button--next js-next-chapter" title="Nästa kapitel">
							<span class="u-visuallyhidden">Nästa kapitel</span>
							{{>@ icon id="step-forwards" additional_classes="o-video-guide__forward-icon"}}
						</button>
						<div class="o-video-guide__countdown js-countdown"></div>
						<button type="button" class="o-video-guide__button o-video-guide__button--subtitles js-subtitles-btn" title="Undertexter">
							<span class="u-visuallyhidden">Undertexter</span>
							{{>@ icon id="subtitles" additional_classes="o-video-guide__subtitles-icon"}}
						</button>
					</div>
				</div>
				<a href="/components/detail/video-guide--list" target="_parent" class="o-video-guide__button-abort a-button a-button--small a-button--peacock js-abort-guide">
					<span class="a-button__text color-snow u-nowrap">Avsluta</span>
				</a>
			</div>
			<nav class="o-video-guide__timelineposts js-timeline-posts">
				<button type="button" class="a-button a-button--standalone-icon a-button--icon a-button--standalone-icon--white o-video-guide__timelineposts__button-navigation js-show-timelineposts">
					<span class="a-button__text">Visa navigering</span>
					<svg class="icon a-button__icon">
						<use xlink:href="#icon-arrow-backwards"></use>
					</svg>
				</button>
				<dl class="u-list-clean o-video-guide__timelineposts__list">
					<dl class="u-list-clean o-video-guide__timelineposts__list">
						<dt>Fördjupa dig</dt>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/algonet/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="76402" data-label="Läs mer">1994 - Internetleverantören Algonet tar vanliga svenskar ut på nätet
							</a>
						</dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/internet-ar-arets-julklapp/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="76293" data-label="Läs mer">1996 - Internet blir årets julklapp
							</a>
						</dd>
						<dd>
							<a
							href="https://ny.internetmuseum.se/tidslinjen/annica-tiger-lar-svenskarna-att-bygga-egna-hemsidor/"
							class="o-video-guide__timelineposts__link js-timeline-post" data-id="90431"
							data-label="Läs mer">1996 - Annica Tiger lär svenskarna att bygga egna hemsidor
							</a>
						</dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/lunarstorm/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="76309" data-label="Läs mer">1996 - Lunarstorm (Stajl Plejs) blir ett av världens första webbcommunityn
							</a>
						</dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/nick-borgen-sjunger-om-world-wide-web/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="76300" data-label="Läs mer">1997 - Nick Borgen sjunger "World Wide Web" i Melodifestivalen
							</a>
						</dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/hem-pc-reformen-snabbar-pa-utvecklingen/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="80888" data-label="Läs mer">1998 - Hem-pc-reformen kickar igång: Nu ska alla kunna ha en dator hemma
							</a>
						</dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/alskade-hatade-flash/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="80747" data-label="Läs mer">1996 - Älskade hatade Flash
							</a>
						</dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/ansiktsburk-gor-succe/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="84790" data-label="Läs mer">2001 - Ansiktsburk – här är Sveriges första virala succé</a></dd>
						<dd>
							<a href="https://ny.internetmuseum.se/tidslinjen/snabbmeddelanden-borjar-skickas-med-icq/"
							   class="o-video-guide__timelineposts__link js-timeline-post"
							   data-id="80637" data-label="Läs mer">1996 - Snabbmeddelanden börjar skickas – med ICQ
							</a>
						</dd>
					</dl>
				</dl>
			</nav>
		</figure>
	</div>
	{{> @continue-video-guide additional_classes="u-visuallyhidden"}}

</div>
